[2022-01-28 19:42] varshaan commented on #3272
An update, I have a change in review to address this. Will comment back here once it is submitted.

[2022-01-31 12:28] ConverJens commented on #4537
Great! I'll happily test it as soon as a nightly build with the fix is out.

[2022-01-31 12:37] ConverJens commented on #3272
Great! I'll happily test it as soon as a nightly build with the fix is out.

[2022-01-31 18:26] #4198 closed

[2022-02-01 23:00] jay90099 opened #4634 "TFX 1.6.0 Issues"
Please comment or link any issues you find with TFX 1.6.0

Thanks.

[2022-02-02 01:31] #3272 closed

[2022-02-02 01:57] varshaan commented on #4537
The change to optionally import tensorflow-io was submitted today [1]. Could you please test with a tfx-nightly build that contains that commit and get back to me whether it works?

[1] https://github.com/tensorflow/transform/commit/15ad9a01cfe4da036b126886cb331425ecaa90b5

[2022-02-02 01:59] varshaan commented on #3272
Hi, the commit to address this was submitted earlier today [1]. Feel free to re-open this issue if you find that that didn't solve your problem.

[1] https://github.com/tensorflow/transform/commit/718e394762805106a48711df027f82e31e928df9

[2022-02-02 11:07] ConverJens commented on #4537
@varshaan I ran a test with Transform from nightly (version ) and I no longer get the s3 file system error which is great. I do however get another error:

[code]

And when checking in s3, the directory is indeed missing. Any ideas as to why?

[2022-02-02 12:05] ConverJens commented on #4537
@varshaan Apparently it didn't end there. The previous test was run with `force_tf_compat_v1=True, disable_statistics=True` . When setting `force_tf_compat_v1=False, disable_statistics=False` I once again get the s3 file system error:

[code]

[2022-02-02 22:07] zhitaoli commented on #4542
Recent commit 010e94d731fe3a90a048cb0c4fdc31a8f7ec5648 should have fixed this

[2022-02-02 22:07] #4542 closed

[2022-02-03 10:39] pindinagesh commented on #1864
@srinivasaraov

Closing this issue due to inactivity. Please feel free to reopen if this still persists. Thanks

[2022-02-03 10:39] #1864 closed

[2022-02-03 15:42] pindinagesh commented on #922
@schmidt-jake

Closing this issue. Please feel free to reopen if this still persists, can you please refer [documentation](https://www.tensorflow.org/tfx/transform/api_docs/python/tft/TFTransformOutput#transform_features_layer) and [Transform](https://github.com/tensorflow/transform/blob/master/examples/census_example_v2.py#L344-L356). Thanks

[2022-02-03 15:42] #922 closed

[2022-02-03 19:27] varshaan commented on #4537
Thanks, I have a hypothesis for why the second issue is happening, but the first one is confusing.

@jiyongjung0 - Could you take a look at [1] above and let me know your thoughts?

[1] https://github.com/tensorflow/tfx/issues/4537#issuecomment-1027828634

[2022-02-03 19:37] 1025KB commented on #4587
The fix is in and will be in next release

[2022-02-04 00:46] jiyongjung0 commented on #4634
There is an issue with `Pusher` that `Pusher` misses some files other than `saved_model.pb`. We are working on a fix at https://github.com/tensorflow/tfx/pull/4642 and will release a patch shortly.

Sorry for inconvenience.

[2022-02-04 02:42] jiyongjung0 commented on #4537
I don't understand the first issue, either.

Cloud storages like s3 or GCS don't have actual *directories*. They just pretend that there are directories only if there are some content under the corresponding directory path. So if all children files/directories were deleted, the directory disappears silently.

If I read [the related code](https://github.com/tensorflow/transform/blob/e418703be60a2eb

[2022-02-04 18:56] utibeng commented on #4634
In my case Pusher ignores the variables and assets folder, as well as the keras_metadata.pb file. Whats the recommended walkaround in the interim? Other than checking the new model is blessed and manually copying the files over?

[2022-02-07 02:47] jiyongjung0 commented on #4634
@utibeng Thank you for sharing your case. Please use 1.5.0 for now. We will publish a patch ASAP, possibly early this week.

[2022-02-08 06:44] jeongukjae opened #4660 "resolver strategies' examples using the `instance_name` parameter should be updated."
## URL(s) with the issue:

https://www.tensorflow.org/tfx/api_docs/python/tfx/v1/dsl/experimental/SpanRangeStrategy
https://www.tensorflow.org/tfx/api_docs/python/tfx/v1/dsl/experimental/LatestArtifactStrategy
https://www.tensorflow.org/tfx/api_docs/python/tfx/v1/dsl/experimental/LatestBlessedModelStrategy
https://github.com/tensorflow/tfx/blob/30691627766b4da7ac9e30fe68cac6db04f26a9e/tfx/dsl/inpu

[2022-02-08 18:17] varshaan commented on #4537
There aren't any more files when `rmtree` is called. It is only to remove the empty path. This logic hasn't been modified recently, so I'm not sure how it worked before.

@ConverJens - Can you please confirm that Transform worked in TFX < 1.3 on S3?

[2022-02-09 00:30] jiyongjung0 commented on #4634
TFX 1.6.1 was released with the `Pusher` fix. Thank you for your patience.

[2022-02-09 07:37] MsAlEhR opened #4667 "ValueError: memoryview assignment: lvalue and rvalue have different structures"
System information

- Python : 3.7.11
- TensorFlow version: 2.3.1
- TFX Version: 1.3.1
- Apache Beam : 2.34.0

Describe the current behavior

I run my pipeline on a spark cluster which stores each pipeline's component data on the HDFS; I see the following error when I increase the  size of my data. In first component (ImportExampleGen), I handle to overcome this issue by increasing the number of p

[2022-02-10 07:17] pindinagesh commented on #4667
@MsAlEhR

We recommend you to install TF 2.4 or later. Older versions are no longer supported and since it's not related to TFX, could you please post this issue to Apache-beam SDK repo?

[2022-02-10 11:53] ConverJens commented on #4537
@varshaan It did. But more over, TFX 1.6 also works if one force installs tensorflow 2.5.1 which is the last version where filesystem support was still a part of tensorflow.

[2022-02-10 13:26] ConverJens commented on #2014
@ScottHCL @sumitbinnani
Did any of you manage to find a work around or solution to this?

[2022-02-10 21:04] zijianjoy commented on #3732
Sounds good to me for extending `mlpipeline_ui_metadata.json` as it supports multiple visualizations in `outputs`.

[2022-02-11 08:48] jeongukjae opened #4677 "StatisticsGen cannot accept UnionChannel"
**System information**

- Have I specified the code to reproduce the issue (Yes, No): Yes
- Environment in which the code is executed (e.g., Local(Linux/MacOS/Windows),
  Interactive Notebook, Google Cloud, etc): Linux, but I specified reproducible code with Colab.
- TensorFlow version:2.7.0
- TFX Version: 1.6.1
- Python version: 3.7.12
- Python dependencies (from `pip freeze` output): You can che

[2022-02-11 15:38] pindinagesh commented on #4667
@MsAlEhR

Can you have a look at this [Gist](https://github.com/aaronlelevier/apache_beam_examples/blob/3afa0e411676c22734e7a2189602eda611938597/notebooks/MNIST-all-data-and-partition-fn.ipynb) about tfrecords with apache_beam. Thanks

[2022-02-11 20:11] gstamatakis commented on #4537
Any updates on this?

[2022-02-11 22:41] varshaan commented on #4537
I'm still working on it. I'll have something out by early next week.

[2022-02-15 02:38] jeongukjae opened #4682 "Helper function to detect which runner the component is using"
**System information**

- TFX Version (you are using): 1.4.1
- Environment in which you plan to use the feature (e.g., Local
  (Linux/MacOS/Windows), Interactive Notebook, Google Cloud, etc..): Local, KubeFlow, Interactive
- Are you willing to contribute it (Yes/No): Yes

**Describe the feature and the current behavior/state.**

To detect the runner in the component, we have to pass a custom param

[2022-02-15 11:36] ConverJens commented on #3094
@neuromage @numerology @axeltidemann
What is the status on this? Is it possible to export metrics and custom metadata with TFX in KubeFlow nowadays?

[2022-02-15 11:38] ConverJens commented on #4537
@varshaan Let me know you have a fix and I will test it.

[2022-02-15 11:49] axeltidemann commented on #3094
No progress from my side, when I have time I'd like to re-try the suggestions I outlined above, just to verify.

[2022-02-15 12:46] jiyongjung0 commented on #4677
I believe that this is intentional limitation of StatisticsGen, because we thought every Examples artifact should be validated separately. @1025KB Do you have any other idea behind this restriction?  (CC @caveness)

[2022-02-15 13:25] jiyongjung0 commented on #4682
I think that this is only useful (and usable) for function based custom component. For example, container based components might not have tfx (or Python) in it.

However, this is needed even in standard components. So there is [an internal utility function to check whether they are in
 Kubeflow Pipelines](https://github.com/tensorflow/tfx/blob/8785c6eebdcaa5ab84d14477bcad74735c4c59c7/tfx/utils/kub

[2022-02-15 13:31] The-Grand-Zand opened #4685 "Skew/Drift Calculation is unclear."
## Description of issue (what needs changing):
I have been receiving odd skew results even though the data has a normal standard deviation as well as similar mean, median, missing. From what I have read, the skew is calculated using the L-Infinity norm and Jensen-Shannon Divergence. I have tried to use these two equations to manually calculate the skew/drift of specific features to try and derive

[2022-02-15 22:33] jinnovation commented on #2424
This issue is nearly two years old now.

Presumably the issues here are addressed by the [cache context mechanisms](https://github.com/tensorflow/tfx/blob/master/tfx/orchestration/portable/cache_utils.py#L72-L105) on `master`.

Is cache context the intended solution moving forward for determining whether a pipeline node is a cache hit/miss? If so, @rcrowe-google et al, shall we close this particul

[2022-02-16 15:14] pindinagesh commented on #4097
@yrianderreumaux

Can you please confirm if your issue is resolved so that we can close this issue? Thanks!

[2022-02-17 02:28] jiyongjung0 commented on #4685
This seems like an issue in [Data Validation](https://github.com/tensorflow/data-validation). @caveness could you take a look?

[2022-02-17 03:52] pindinagesh commented on #4682
@jeongukjae

Could you please close this issue if it's resolved your blockage or can we keep this issue open for other use cases also?

[2022-02-17 04:02] jeongukjae commented on #4682
@pindinagesh
It is okay to close this issue.
Thanks :)

[2022-02-17 04:02] #4682 closed

[2022-02-17 13:18] The-Grand-Zand commented on #4685
Thank you for looking into it, I am happy to help with more granular graphs/data if need be.

[2022-02-17 18:02] paulgc commented on #1549
TFDV currently provides top-k frequency counts for categorical features which can help with calculating class weights. But the actual computation of weights should happen outside of TFDV.

[2022-02-21 13:28] avelez93 commented on #3317
Hello,
I am running example_gen library in windows.
As you mentioned in this post I have implemented window specific logic. However I still have some problemes.

First I add my below:

_data_root = os.path.join('data_csv','Prueba_Span','')
inputs = proto.Input(splits=[
                example_gen_pb2.Input.Split(pattern='data_{SPAN}\\*')])
example_gen = CsvExampleGen(input_base=_data_root,input_co

[2022-02-21 13:28] jiyongjung0 commented on #4685
Or it might be better to report the issue to [Data Validation repository](https://github.com/tensorflow/data-validation/issues) directly. Because TFX itself is a thin wrapper over various Data Validation APIs.

Thanks!

[2022-02-21 15:07] The-Grand-Zand commented on #4685
I'll do that. Thanks anyways!

[2022-02-21 15:07] #4685 closed

[2022-02-22 04:57] varshaan commented on #4537
Just an update, I'm still working on this. I'll post an update here in a couple of days.

[2022-02-22 05:25] chongkong opened #4693 "Known Issue: cannot import name 'soft_unicode' from 'markupsafe'"
Hi, currently old version of `jinja2<3` is broken due to breaking change introduced from `markupsafe` 2.1.0. Unfortunately, we cannot upgrade it easily as `apache-airflow` 2.2.3 (latest) depends on `flask<2` which transitively depends on `jinja2<3`.

Recommended workaround is to add `constraints.txt` file that prevents the bad `markupsafe` version:

[code]

Later we expect apache-airflow to upgrad

[2022-02-22 05:26] #4693 closed

[2022-02-22 05:38] chongkong commented on #4677
Not pretty, but valid workaround is to use multiple `StatisticsGen` components without using channel union. (don't forget to change component ID using `component.with_id('statsgen2')` otherwise duplicated ID errors will be raised.)

Internally there is `ForEach` statement under development, but it is NOT likely to be supported by common orchestrators other than in-house orchestrator we build.

[2022-02-22 05:40] chongkong commented on #4660
Oops I made a mistake on PR description; it is closed by #4668.

[2022-02-22 05:40] #4660 closed

[2022-02-22 06:06] jeongukjae commented on #4677
@jiyongjung0 @chongkong
Thank you! I clearly understood the intention of StatisticsGen :)
Then I have another question about, although I can work around with the current version as well, is there any plan to support the `ForEach` statement that you mentioned for public orchestrators like LocalDagRunner or KubeflowDagRunner?

Also, closing this issue because I think this isn't a bug.
Thanks.

[2022-02-22 06:06] #4677 closed

[2022-02-22 12:26] chongkong commented on #4677
Unfortunately there's no plan to support ForEach in LocalDagRunner nor KobeflowDagRunner.

[2022-02-24 03:48] EdwardCuiPeacock opened #4700 "TFX 1.5.0 and 1.6.1 image cuda version incompatible with tensorflow 2.7"
Both the tfx 1.5.0 and 1.6.1 prebuild docker images (https://hub.docker.com/r/tensorflow/tfx/tags) comes with
* Python 3.7.12
* Tensorflow 2.7.0
* Cuda 11.3

However, [this page](https://www.tensorflow.org/install/source#gpu) indicates that Tensorflow 2.7.0 are only compatible with Cuda 11.2.

When I try to build a TFX pipeline using these two versions of the TFX images and try to run a training j

[2022-02-24 05:36] sanatmpa1 commented on #2478
@snehpandya123,

Closing this issue due to lack of recent activity, Please feel free to reopen the issue with more details if the problem still persists. Thanks!

[2022-02-24 05:36] #2478 closed

[2022-02-24 11:04] OmarAlsaqa opened #4701 "Scikit-learn Example Evaluator Error."
I tried to run the [Penguin Classification Scikit-learn Example](https://github.com/tensorflow/tfx/tree/master/tfx/examples/penguin/experimental) but the Evaluator raise an error.

**System information**

- Notebook to reproduce the issue: [Coab](https://colab.research.google.com/drive/1cvs5vQKk0I9HHY2UCVEHltXUTQG_rRwH?usp=sharing)
- Environment: Linux and Colab
- TensorFlow version: 2.7.0
- TFX V

[2022-02-24 18:06] 1025KB commented on #4701
Hi, for [this](https://github.com/tensorflow/tfx-addons/tree/main/examples/sklearn_penguins), does it work with latest tfx version? We moved the example to tfx add-on, and this example here should be removed

[2022-02-24 23:54] varshaan commented on #4537
@ConverJens - Could you try with a nightly post https://github.com/tensorflow/transform/commit/6f082654050dc6b49b8c3e2549445487c30f3c75 and let me know if that works?

[2022-02-25 02:56] EdwardCuiPeacock opened #4705 "Passing results from a custom component to Transform component"
I want to use the size of the vocabularies as a parameter for my transformations. For example,

[code]

This `vocab_size` needs to be predetermined. Therefore, it's probably not possible to use `tft.compute_and_apply_vocabulary` inside the `preprocessing_fn` to determine the vocabulary and then the vocabulary size. So I created a custom component that extracts the size of the vocabularies from `St

[2022-02-25 03:17] pindinagesh commented on #4667
@MsAlEhR

Closing this issue as it has been inactive for more than 2 weeks. Please add additional comments for us to open this issue again. Thanks!

[2022-02-25 03:17] #4667 closed

[2022-02-25 11:37] OmarAlsaqa commented on #4701
@1025KB Thank you for your reply.

Not working on TFX 1.6.0, with the following error:

[code]
See the error on [colab for 1.6.0](https://colab.research.google.com/drive/1m9veA5B71MM3ReO2IDdy_T7ui0JJN4SF?usp=sharing).

Also tried TFX 1.6.1 with the same error. [colab for 1.6.1](https://colab.research.google.com/drive/1nc2scZPkuaCWg5SRfvpIC33OFF0rA7KZ?usp=sharing)

[2022-02-25 16:49] OmarAlsaqa commented on #4705
I am not sure if this would help but you can pass anything to Transform using `custom_config`. see [docs](https://www.tensorflow.org/tfx/api_docs/python/tfx/v1/components/Transform)

[code]

[2022-02-25 23:43] 1025KB commented on #4701
Sorry TFX addon is not up to date, created

https://github.com/tensorflow/tfx-addons/pull/112
https://github.com/tensorflow/tfx-addons/pull/113

I tested local e2e test and it works, would you mind sync the PR and try again?

[2022-02-25 23:50] 1025KB commented on #4701
the sklearn example under tfx/ should work with TFMA head

Note that there is a [fix/change](https://github.com/tensorflow/tfx/commit/2e11b28da00950ae4eaeef7caa1205cb25cbdb61) recently to this code, so might be the version not align, TFMA next release should work with current head sklearn under tfx/

[2022-02-27 14:25] MsAlEhR commented on #4667
Thank you for your response @pindinagesh

I solved my problem by creating a new component to increase the number of partitions .

`
from tfx.dsl.component.experimental.decorators import component
import apache_beam as beam
from tfx.types import artifact_utils
from tfx.utils import io_utils
from apache_beam.options.pipeline_options import PipelineOptions

@component
def TFRPartitionorComponent(

[2022-02-27 20:17] EdwardCuiPeacock commented on #4705
This would require vocab_size to be computed outside of the pipeline / before pipeline deployment. The goal is to pass the computed result from another component to the Transform component, much like the “example” or “schema” channel, which are lazily evaluated. This means, the uri of these channels won’t be materialized until runtime. As I described in the main description, I tried to pass the ar

[2022-02-28 02:09] OmarAlsaqa commented on #4705
I used the same idea (if i understood right) but in the Trainer component. In this [example](https://github.com/tensorflow/tfx/blob/master/tfx/examples/penguin/experimental/penguin_utils_sklearn.py#L49) I passed the Transformed Schema as an input to `run_fn`, `_input_fn` as:

See, `custom_config` here:
[code]
You can see down here how it is passed to `run_fn` first which is passed to `_input_fn`:

[2022-02-28 07:33] jiyongjung0 commented on #4705
I think that there is no clean and recommended way to pass an additional data to Trainer as of now.

However, IIUC, the vocab_size value is also needed to calculate `inputs["id_feature"]`. So I think that it should be fixed even before the input data is generated. How about converting your raw data input `inputs["id_feature"]` inside `preprocessing_fn` with `tft.compute_and_apply_vocabulary` or so

[2022-03-02 20:49] EdwardCuiPeacock commented on #4705
@jiyongjung0 @OmarAlsaqa Thank you both for the suggestions.

The difficulty is still due to the fact that each component is lazily evaluated and it won't run until it is deployed and a run is triggered. The `context.run` approach would only work if we are using interactive mode to run locally, which a lot of TFX tutorial uses. In production, we have to deploy the model to GCP and run inside Googl

[2022-03-02 21:09] EdwardCuiPeacock commented on #4700
Thanks, @jiyongjung0. I think your hypothesis that, this is more of a problem with GCP images, is correct. A `nvidia-smi` output from one of my runs of the `Trainer` component shows:

[code]

The GPUs are definitely there, but the GCP image had CUDA 11.0 installed. It's possible that their GPU driver version is only compatible up to CUDA 11.0.

When using TFX 1.0.0 docker image as base with TF 2.5

[2022-03-03 00:03] Rishabh-Choudhry opened #4714 "tfx ImportExampleGen Payload_format issue"
- Have I specified the code to reproduce the issue (Yes, No): No
- Environment in which the code is executed (e.g., Local(Linux/MacOS/Windows),
  Interactive Notebook, Google Cloud, etc): Google Cloud
- TensorFlow version: 2.7.0
- TFX Version: > 1.5.0
- Python version: 3.7
- Python dependencies (from `pip freeze` output):

**Describe the current behavior**

When using 'example_gen_pb2.PayloadForma

[2022-03-03 00:20] jiyongjung0 commented on #4705
@zoyahav @varshaan Could you give some advice on the correct use of TFT regarding the above answer? I think that `tft.compute_and_apply_vocabulary` will compute the vocab_size more efficiently, but wanted to get a correct answer. 😄

[2022-03-03 04:36] sanatmpa1 commented on #1801
@redramen,

Closing this issue due to lack of recent activity, Please feel free to reopen the issue with more details if the problem still persists. Thanks!

[2022-03-03 04:36] #1801 closed

[2022-03-03 15:10] montanier commented on #4587
Hello,

Thanks for the fix. We gave it a try and it works nicely for the multiple worker case. However, in the single worker case, we are still hitting the same bug. We are using the following spec for both single and multiple worker cases:
[code]

Should we do something different for the single worker case ?

[2022-03-04 03:13] casassg opened #4719 "Using MLMD filter query to filter in `get_cached_outputs`"
In https://github.com/tensorflow/tfx/blob/master/tfx/orchestration/metadata.py#L823 we use `get_executions_by_context` directly, this means that all historical executions are being pulled. This causes issues with long running pipelines to sometimes error due to too many executions being pulled. Instead we could retrieve an N arbitrary of latest executions to avoid this issue.

[2022-03-04 03:34] casassg commented on #4719
@1025KB not sure how to best solve this (internally we have fixed an issue here increasing the bytes to be received by MLMD client, but we are seeing repeated errors again on reaching max size even after increase)

[2022-03-04 04:31] hartofdaniel commented on #4097
@zion-b Did you manage to solve this issue? I have been fighting with it over the last month with no success :(

[2022-03-07 11:43] pindinagesh commented on #3610
@manger719

Could you please respond on @casassg's comment and take a look at above mentioned [PR](https://github.com/tensorflow/tfx/pull/4433). let us know if it's resolved your issue so that it can be closed. Thanks!

[2022-03-07 16:48] zion-b commented on #4097
Yes (with help), not sure if this is the intended solution because it's a bit cumbersome - so would very much appreciate feedback.

This is what I use:

You need to create a tf serialized_example, use `serialize_example` from [here](https://www.tensorflow.org/tutorials/load_data/tfrecord#creating_a_tftrainexample_message).

Once you have the proper example tensor you need to encode it as base64, s

[2022-03-08 00:35] 1025KB commented on #4714
Zohar, do you know if TF_SEQUENCE_EXAMPLE is supported by Transform?

[2022-03-08 05:37] pindinagesh commented on #1377
@jesand

Can you please share the standalone code to reproduce the issue from our end? Thanks!

[2022-03-08 18:25] varshaan commented on #4537
Thanks,
I'll look into the first error. The second error is likely from a version mismatch between TFX and potentially TFDV. Was TFX installed at some version and the other TFX libraries independently installed at a different version? Could you instead try using a tfx-nightly build?

[2022-03-08 18:26] zwestrick commented on #4537
Regarding `force_tf_compat_v1=False, disable_statistics=False`, I believe the issue is that `tensorflow-data-validation` should also be at 1.7. Can you confirm what version you have installed?

[2022-03-09 03:00] hartofdaniel commented on #4097
@zion-b Thank you for pointing me in the right direction. I have tried many similair solutions including that one and I seem to keep getting exception when posting to the Vertex AI endpoint:

[code]

All methods seem to return the same error unfortunately. Any ideas on what I should do or how I can debug it? It does not seem to have any relating logs in the endpoint.

[2022-03-09 10:41] zoyahav commented on #4705
Yes, please have a look at [`tft.experimental.get_vocabulary_size_by_name
`](https://www.tensorflow.org/tfx/transform/api_docs/python/tft/experimental/get_vocabulary_size_by_name) and [`tft.get_num_buckets_for_transformed_feature`](https://www.tensorflow.org/tfx/transform/api_docs/python/tft/get_num_buckets_for_transformed_feature), both of these should help achieve what you're looking for, which

[2022-03-09 10:54] molejnik-mergebit commented on #2805
What about this issue? Can we have some update? Is there a workaround for this?

[2022-03-09 18:47] zion-b commented on #4097
I've used the same serving function from the [example tutorial](https://www.tensorflow.org/tfx/tutorials/tfx/components_keras), can you share a snippet of the request you're sending and the parsing to instances?

[2022-03-09 20:55] ConverJens commented on #4537
@varshaan @zwestrick I had TFDV 1.6 installed. Will test with 1.7.

FYI: TFX 1.7.0rc0 seems to have broken the compilation for the KubeFlow runner.

[2022-03-10 09:11] ConverJens commented on #4537
@varshaan @zwestrick
I re-ran my pipeline with `force_tf_compat_v1=False, disable_statistics=False` and both tft and tfdv at 1.7.0 and that fixed the AttributeError. I now get the same s3 related error on both code paths. See log below.

@varshaan Would it be an option to first check if the path exist and only then delete it or perhaps even sjip this line in the event of using an s3 file path?

[c

[2022-03-10 17:19] sanatmpa1 commented on #2484
@nadgirsanket,

Closing this issue due to lack of recent activity, Please feel free to reopen the issue with more details if the problem still persists. Thanks!

[2022-03-10 17:19] #2484 closed

[2022-03-10 17:36] ianloron00 opened #4732 "Problem trying to run a simple example. KeyError: 'HOME'"
Hi! I am trying to run a simple tutorial for running tfx locally [tfx tutorial for beginners](https://kirenz.github.io/codelabs/codelabs/tfx-pipeline/#5).

I followed the tutorial step-by-step since the installations. However, I am receiving the following error when I run the local_runner.py file:

`
2022-03-10 13:30:33.578547: W tensorflow/stream_executor/platform/default/dso_loader.cc:64] Could

[2022-03-10 19:04] rtg0795 opened #4733 "TFX 1.7.0-rc0 Issues"
Please comment or link any issues you find with TFX 1.7.0-rc0.

Thanks.

[2022-03-10 19:17] varshaan commented on #4537
Thanks @ConverJens. Yes, I can check if the path exists, but that will only hide the problem. The good news is that `force_tf_compat_v1=False, disable_statistics=False` case is also seeing the same `NotFoundError` as opposed to the `UnimplementedError` you were seeing before. That means the problem is now further down in the pipeline. I submitted https://github.com/tensorflow/transform/commit/265d

[2022-03-10 22:23] casassg commented on #4295
@rcrowe-google  any chance to tag this to Twitter ?

[2022-03-10 22:32] 1025KB commented on #4295
For long queries, there are multiple limitations, e.g., mlmd exec properties field size, tfx ir size etc.
Consider create a custom component that instead of passing in the query, it passes the file path with query in it, maybe name the file with its fingerprint or sth to make sure caching still work properly.

[2022-03-11 05:08] pindinagesh commented on #4732
@ianloron00

Since TFX is not supported on windows, try using docker container for the same and please have a  look at this [issue](https://github.com/tensorflow/tfx/issues/1229) for tracking

[2022-03-11 10:10] ianloron00 commented on #4732
@pindinagesh
Thank you very much for your response. I haven't found this information in documentation. Anyways, closing issue.

[2022-03-11 10:10] #4732 closed

[2022-03-11 11:43] ConverJens commented on #4537
@varshaan
I ran another attempt with `tensorflow-transform==1.8.0.dev20220311` but still get the same error for both paths:

[code]

[2022-03-12 19:09] youquzhiji opened #4737 "ImportError: cannot import name 'shared' from 'tfx_bsl.beam'"
**System information**

- Have I specified the code to reproduce the issue (Yes, No): Yes
- Environment in which the code is executed: Windows 10,
  Interactive Notebook, Google Cloud, etc): None
- TensorFlow version: 2.7.1
- TFX Version: 1.5.0
- `tfx-bsl` Version: 1.5.0
- Python version: 3.8.10

<details>
  <summary>Python dependencies (from `pip freeze` output)</summary>

[code]
</details>

**De

[2022-03-12 19:10] youquzhiji commented on #4737
`tfs_bsl.beam.shared` was removed in this commit: https://github.com/tensorflow/tfx-bsl/commit/2a6a42c64d12310577806a0a810edb6896bff3fb

[2022-03-14 07:02] 1025KB commented on #4737
Could you try 1.6.1?

Sanjay, do you know why 1.5 test didn't catch this?

[2022-03-14 21:36] entrpn commented on #4097
@zion-b take a look at this notebook on deploying TFHub models to Vertex AI endpoints and call it from apis and curl. Might have what you are looking for https://github.com/GoogleCloudPlatform/vertex-ai-samples/blob/main/notebooks/community/vertex_endpoints/tf_hub_obj_detection/deploy_tfhub_object_detection_on_vertex_endpoints.ipynb

[2022-03-14 22:59] zion-b commented on #4097
Thanks @entrpn!
I think that example is the image version of the solution I described.
I was surprised that there's no tabular data example for like the [Taxi Keras tutorial](https://www.tensorflow.org/tfx/tutorials/tfx/components_keras#trainer) , but with VertexAI deployment..

[2022-03-15 18:39] rcrowe-google commented on #4295
Would a [stored procedure](https://cloud.google.com/bigquery/docs/reference/standard-sql/scripting-concepts) be a workable solution for long queries?  It would allow for the complexity of the query to be saved and invoked with a shorter query.

[2022-03-15 19:37] casassg commented on #4295
We have been using views as an alternative yes. But it makes for versioning difficult as one needs to update those separately.

Regarding uploading it works, however the issue is we need to fork and retrieve the file on driver as we still need to resolve fields in the SQL query. So it's problematic

[2022-03-16 08:38] iain-stitt-by commented on #4295
Following up on this thread to post our updated solution given recent activity.

We looked at the various options discussed here, such as VIEWS etc, but decided against those since as @casassg  rightly points out versioning is very important and would be lost using this mechanism. Another thing we considered was compressing/decompressing the query string to reduce length, but this impacts the easy

[2022-03-16 16:49] rcrowe-google commented on #4295
@iain-stitt-by that sounds like a useful approach that others might benefit from.  Would you consider contributing it to [TFX-Addons](https://github.com/tensorflow/tfx-addons)?

[2022-03-17 01:55] jay90099 opened #4748 "TFX 1.7.0 Issues"
Please comment or link any issues you find with TFX 1.7.0.

Thanks.

[2022-03-17 07:37] jeongukjae opened #4750 "Cannot customize resolver strategy after TFX 1.7.0"
**System information**

- Have I specified the code to reproduce the issue (Yes, No): Yes
- Environment in which the code is executed (e.g., Local(Linux/MacOS/Windows),
  Interactive Notebook, Google Cloud, etc): Local(MacOS, Linux)
- TensorFlow version: tensorflow==2.8.0
- TFX Version: tfx==1.7.0
- Python version: Python 3.8.7
- Python dependencies (from `pip freeze` output):

**Describe the curr

[2022-03-17 07:52] jeongukjae commented on #4750
And just a quick question.

Isn't it recommended way to customize ResolverStrategy? In my case, I customized it to resolve the latest artifact before some time offset (N days).

[2022-03-17 08:58] jeongukjae commented on #4748
I wrote an issue with TFX 1.7.0 in the below link :) Thank you

https://github.com/tensorflow/tfx/issues/4750

[2022-03-18 08:13] iain-stitt-by commented on #4295
Sure @rcrowe-google , we can look into adding some of our custom components to the TFX-Addons project

[2022-03-19 05:01] venu608 commented on #1422
when i am using tensor board its shows the error

Reusing TensorBoard on port 6008 (pid 659), started 0:44:54 ago. (Use '!kill 659' to kill it.)

[2022-03-22 03:55] chongkong commented on #4750
Hi, I'm the person who made the change.. I'm trying to make a fix for this.
For KubeflowDagRunner, it is user's responsibility to package the code containing the custom `Component` or custom `ResolverStrategy` definition passing `--build_image` flag to the CLI.

[2022-03-22 08:59] jeongukjae commented on #4750
@chongkong Thanks :) but just one thing to say is that my name is not Jeonguk, it's Ukjae (욱재) (It's because of the name order in Korea 😅)

[2022-03-22 21:04] jinnovation opened #4757 "Updated and maintained roadmap for TFX"
The [TFX roadmap](https://github.com/tensorflow/tfx/blob/master/ROADMAP.md) has not been meaningfully updated since the [end of 2020](https://github.com/tensorflow/tfx/commits/master/ROADMAP.md). Case in point, its scope does not extend beyond Q1 2021, which we are long past now:

When this particular point seemed to last come up in #675 in 2019, the message was that the roadmap would be updated q

[2022-03-23 06:14] pindinagesh commented on #1480
Hi @lipinski

Can you please respond to @yantriks-edi-bice's comment above and let us know if this issue is resolved. Thanks!

[2022-03-23 12:42] liumilan opened #4759 "can it possible improve the tf serving performance"
Now I train a recommend nn model offline ,and then predict it by tf serving on cpu online machine. There are 8 cores i just applied, and found it cost slow when predict it. More than 0.4% it costs 100ms when predict. The batch size request is 50. There are 167 one hot features and 3 full-connected layers.And the usage of cpu is also slow, it is only 20% usage.
How can i analyze the bottleneck of s

[2022-03-23 17:47] 1025KB commented on #4757
thanks, will do

[2022-03-24 00:59] bli00 opened #4764 "No module named 'user_module_0' kubeflow using DataflowRunner"
If the bug is related to a specific library below, please raise an issue in the
respective repo directly:

[TensorFlow Data Validation Repo](https://github.com/tensorflow/data-validation/issues)

[TensorFlow Model Analysis Repo](https://github.com/tensorflow/model-analysis/issues)

[TensorFlow Transform Repo](https://github.com/tensorflow/transform/issues)

[TensorFlow Serving Repo](https://github

[2022-03-24 02:26] bli00 commented on #4764
For reference I see these two issues are still not resolved:[[1](https://github.com/tensorflow/tfx/issues/3772), [2](https://github.com/tensorflow/tfx/issues/3761#issuecomment-853340260)]]

I tried the solutions suggestion by setting `force_tf_compat_v1=True`. Still got the same error.

[2022-03-24 05:33] pindinagesh commented on #4759
Hi @liumilan

I have already responded to the same issue in serving repo. Kindly respond to the same

[2022-03-24 09:52] pindinagesh commented on #1377
Hi @jesand

Can you take a look at the workaround proposed in this [issue](https://github.com/tensorflow/tfx/issues/1915) and see if it helps in resolving your issue?. Closing this issue for now due to inactivity and please feel free to open if this exist. Thanks

[2022-03-24 09:52] #1377 closed

[2022-03-24 15:49] ConverJens commented on #4537
@varshaan Any news on this?

[2022-03-24 19:26] bli00 commented on #4764
@pindinagesh is this a known issue? I don't see any other discussions on it but I happens to me on both `1.6.1` as well as `1.7.0`.

[2022-03-24 19:35] 1025KB commented on #4764
Is your module file on GCS (accessible by cloud)?

[2022-03-24 19:39] bli00 commented on #4764
You mean the dataflow job don't have access to the GCS bucket?

If so, it's possible, but I also don't see any logs stating that. I'm assuming there'd be obvious permission error logs.

[2022-03-24 19:40] bli00 commented on #4764
For context it only happens when I'm running it with `DataflowRunner`. The direct runner completes just fine so I don't see why the permission wouldn't be provisioned to the dataflow runner.

[2022-03-24 19:49] bli00 commented on #4764
So I tried setting `force_tf_compat_v1=True` it didn't work for me

[2022-03-24 19:53] bli00 commented on #4764
It also seem like, from the issue you linked. That it happened when op used `import_utils.import_func_from_source`. im not using that.

[2022-03-24 19:57] bli00 commented on #4764
Yes

[2022-03-24 20:04] 1025KB commented on #4764
Just curious, is [this](https://github.com/tensorflow/tfx/blob/master/tfx/examples/penguin/penguin_pipeline_kubeflow.py) example (Kubeflow instead of Vertex) working for you

[2022-03-24 20:06] bli00 commented on #4764
Can you link me the colab? I can try it.

[2022-03-24 22:12] bli00 commented on #4764
@1025KB I tried the example. I did not work. I got the same error. But it's worth noting that I had to switch the DAG runner from kubeflow to kubeflowV2. Did it because the V1 runner generates a yaml that vertex ai for some reason dont accept. Maybe that's a easy fix to that but didn't have time to dig into it.

[2022-03-24 22:16] bli00 commented on #4764
Also I have a corporate gcp account and I had to manually push the data root to my own gcs bucket. I dont have permission other wise

[2022-03-24 22:22] 1025KB commented on #4764
The kubeflowDagRunner should work because of [this](https://github.com/tensorflow/tfx/blob/master/tfx/orchestration/kubeflow/kubeflow_dag_runner.py#L391)

I created a [PR](https://github.com/tensorflow/tfx/pull/4766) to add that to kubeflowDagRunner V2, but currently there is a bug in PR sync so the PR status became weird.

what I did is I added the following to KubeflowV2DagRunner.run():

    for

[2022-03-24 22:33] bli00 commented on #4764
Hmm. Sounds like I just need to switch `kubeflowDagRunner` to `KubeflowV2DagRunner`? Could you give me a quick summary of what's going here?

Also not sure if vertex ai just dont support `kubeflowDagRunner` or im missing something here but the pipelines on vertex ai only supports json. And kubeflowDagRunner don't seem to produce that.

[2022-03-24 22:39] 1025KB commented on #4764
KubeflowDagRunner is for Kubeflow
KubeflowV2DagRunner is for Vertex

KubeflowDagRunner should work, and we found a potential fix[1] for KubeflowV2DagRunner.
But you mentioned you saw the same "No module named 'user_module_0'" error on both Kubeflow and Vertex, that I'm not sure what's happening...

[1]
Adding this to KubeflowV2DagRunner.run function:

for component in pipeline.components:
  # TODO

[2022-03-24 22:40] bli00 commented on #4764
I didn't. I'm strictly using vertex here.

[2022-03-24 22:41] 1025KB commented on #4764
I see, them I misunderstand.

For Vertex, before our PR is in, you can try add that code to KubeflowV2DagRunner.run, and retry?

[2022-03-24 23:40] bli00 commented on #4764
Ok can confirm it works. Do you know when the change will be released?

[2022-03-24 23:42] 1025KB commented on #4764
next release about a month

[2022-03-25 06:45] bli00 commented on #4764
@1025KB So im now running into:

[code]

It might just be my own code here, but I can't find what could possibly non-deterministic here and this only appears when I add the `--runner=DataflowRunner` flag. For reference, my `beam_pipeline_args` looks like:

[code]

And my `preprocessing_fn` (redacted for conciseness):

[code]

[2022-03-25 16:15] 1025KB commented on #4764
Could you open a separate issue under [tft](https://github.com/tensorflow/transform)? Thanks!

[2022-03-26 23:02] eyadgaran opened #4770 "TFX interest in integrating with SimpleML"
Hi dev team, Elisha, author of SimpleML here. I wanted to reach out to see if there is any interest in integrating parts of SimpleML into the broader TFX ecosystem. The use cases don't necessarily overlap (TFX is enterprise scale first whereas SimpleML is local developer/small team centric), but I see a lot of shared vision in the implementation and would be happy to adapt components already devel

[2022-03-26 23:51] rcrowe-google commented on #4587
@1025KB Are we aware of any problem with the single worker case for the Tuner?

[2022-03-27 04:35] 1025KB commented on #4587
For the single worker case, you can use Tuner (run in the same worker as component) instead of CloudTuner (a remote job)

[2022-03-28 01:33] 1025KB commented on #4770
It would be a good candidate for TFX-[addons](https://github.com/tensorflow/tfx-addons)

[2022-03-28 03:05] liumilan commented on #4759
who can help to support this  issus

[2022-03-28 03:16] 1025KB commented on #4759
Hi, could you reply to [this](https://github.com/tensorflow/serving/issues/1989) thread? thanks

[2022-03-28 16:29] varshaan commented on #4537
Sorry, I'm still looking into options. I'll try and give you an update by end of week.

[2022-03-28 23:14] rcrowe-google commented on #4770
@1025KB - I agree, this sounds like a great project for [TFX-Addons](https://github.com/tensorflow/tfx-addons)!

[2022-03-29 05:41] #4750 closed

[2022-03-29 11:17] ConverJens commented on #4537
@varshaan No worries, thanks for the update.

[2022-03-30 00:55] bli00 opened #4782 "Document the output of transform when materialize=True and how to interpret this output"
It's unclear to me what `tfx.components.Transform` outputs when `materialize=True` and how to interpret this output. I'm guessing it's bytes of serialized ExampleProto but I cannot understand raw bytes. It's a very common use case to examine this materialized output to debug and understand what happened in `preprocessing_fn` and to so it would be great if the following can be documented:

1. Expan

[2022-03-31 01:52] Rishabh-Choudhry opened #4786 "tfx transform Op type not registered issue"
I am currently facing a related issue on vertex ai platform as well as on dataflow when using tfx library. The tfx pipeline works fine locally but it fails on dataflow and vertex ai training platform.

Overview: Issue arises while using tensorflow_io library in tfx transform 'preprocessing_fn' component. Is there any correct way to load external libraries such as 'tensorflow_io' while using datafl

[2022-03-31 04:32] jiyongjung0 commented on #4782
Thank you for raising this issue.

The output of Transform is yet another `Examples` artifact. So It is basically the same as output of `ExampleGen`, but we don't have nice document about the internal of Examples artifact, either. You might be able to get some hint from [the interactive tutorial](https://www.tensorflow.org/tfx/tutorials/tfx/components_keras#examplegen) where we examine outputs of

[2022-03-31 07:22] pindinagesh commented on #4759
Hi @liumilan

Closing this issue here, you can track this issue in [TF serving](https://github.com/tensorflow/serving/issues) repo. Thanks!

[2022-03-31 07:22] #4759 closed

[2022-04-01 03:58] pindinagesh commented on #4786
Hi @Rishabh-Choudhry

Can you share the standalone code to reproduce the issue from our end? Thanks!

[2022-04-04 09:00] nroberts1 opened #4791 "Tuner intermittently failing"
If the bug is related to a specific library below, please raise an issue in the
respective repo directly:

[TensorFlow Data Validation Repo](https://github.com/tensorflow/data-validation/issues)

[TensorFlow Model Analysis Repo](https://github.com/tensorflow/model-analysis/issues)

[TensorFlow Transform Repo](https://github.com/tensorflow/transform/issues)

[TensorFlow Serving Repo](https://github

[2022-04-04 20:37] cattuna opened #4792 "Document distributed training and the DataAccessor class"
All of [tutorial pages](https://www.tensorflow.org/tfx/tutorials) cites using the `DataAcessor` class, something like this:

[code]

It's not clear to me what this does and whether if it has built in support for distributed/multi-worker training. There's a gap between Tensorflow's [distributed training tutorials](https://www.tensorflow.org/tutorials/distribute/keras) and the usage of this class.

[2022-04-05 05:27] chongkong commented on #4750
TFX 1.7.1 is also released including the patch! thanks

[2022-04-05 05:29] jeongukjae commented on #4750
@chongkong Thanks!

[2022-04-05 05:35] pindinagesh commented on #4791
@nroberts1

Can you share the complete standalone code to reproduce the issue from our end? Thanks!

[2022-04-05 08:26] nroberts1 commented on #4791
Unfortunately not. This is part of a application built to automate the building of multiple pipelines that breaks down the end to end process allowing user interaction at different stages rather than something I can put into a notebook to run. I would try reproducing by taking the TFX demo for Vertex and setting the above parameters and see if that reproduced the issue. I'll try and get to this ar

[2022-04-06 16:26] IanTayler opened #4797 "Python 3.9 support"
**System information**

- TFX Version (you are using): affects all
- Environment in which you plan to use the feature (e.g., Local
  (Linux/MacOS/Windows), Interactive Notebook, Google Cloud, etc..): local linux, local MacOS, Google Cloud
- Are you willing to contribute it (Yes/No): yes

**Describe the feature and the current behavior/state.**

Feature: add python 3.9 support.
Current state: only

[2022-04-07 05:17] jiyongjung0 commented on #4797
Thank you for your interest! Yes. We are eager to support Python 3.9, too. We are targeting it for the next release (1.8.0) which should be delivered in a month from now. I think that we can start publishing nightly packages for Python 3.9 soon.

[2022-04-07 10:42] pindinagesh commented on #2556
Hi @anineharto

Closing this issue based on @ConverJens's comment and lack of inactivity, Can you take a look at the workaround proposed in this [issue](https://github.com/kubeflow/pipelines/issues/4592) and see if it helps in resolving your issue? Also you can refer [doc](https://www.tensorflow.org/tfx/tutorials/tfx/cloud-ai-platform-pipelines). Please feel free to reopen if this still exist. Tha

[2022-04-07 10:42] #2556 closed

[2022-04-07 11:02] pindinagesh commented on #1480
Hi @lipinski

Closing this issue due to inactivity and please have a look at this issue [63831410](https://stackoverflow.com/questions/63831410/how-do-i-save-a-tensorflow-estimator-created-with-tf-keras-estimator-model-to-es), Please feel free to reopen if this still exist. Thanks

[2022-04-07 11:02] #1480 closed

[2022-04-07 17:16] bli00 commented on #4792
@pindinagesh any updates on this?

[2022-04-07 19:08] cattuna opened #4804 "Add reduction server support to tfx-oss-public/tfx"
From what I can gauge, the `gcr.io/tfx-oss-public/tfx:1.7.1` container as of `1.7.1` does not have `google-reduction-server` installed. I tried installing the package manually according to the documentations:

[code]

But got the following error:

[code]

Should reduction servers be supported?

[2022-04-08 08:46] tanguycdls commented on #4791
we have i think a very similar bug: for us it happens when you have a search space which is smaller than the number of workers you started: one of the worker might not do anything so then when the oracle says it's finished the process the worker is asked to give its best hpt: it does get_best_hpt but since there have been no trials in that worker it breaks in here: https://github.com/tensorflow/tf

[2022-04-08 11:41] ConverJens commented on #4537
@varshaan Any updates?

[2022-04-08 16:27] varshaan commented on #4537
Hi, can you try with the latest nightly, and if it fails, can you fetch the worker logs? I added some log statements in that should help debug further.

[2022-04-11 06:46] #3610 closed

[2022-04-11 11:52] ConverJens commented on #4537
@varshaan Mostly great news: the issue in tf Transform seems to be resolved!

@jiyongjung0 Slightly worse news: similar issue is still present in Evaluator (see log below). Can someone look at this ASAP? This is the issue as in Transform before so  a simple `import tensorflow_io` will probably do the trick.

 This is the final component so when this is fixed, TFX is officially S3 certified again.

[2022-04-11 11:54] ConverJens commented on #3272
@varshaan This issue now seems to be resolved. Thank you very much for your help!

[2022-04-11 22:24] cattuna opened #4814 "DataAccessor tf_dataset_factory extremely slow"
Correct me if I'm wrong, I'm fairly certain the tutorial examples that call `data_accessor.tf_dataset_factory` with a `tfxio.TensorFlowDatasetOptions` is using this [here](https://github.com/tensorflow/tfx-bsl/blob/182918aaefd5287e7669d87bfc818155470315aa/tfx_bsl/tfxio/tf_example_record.py#L298) that's calling [`make_tf_record_dataset`](https://github.com/tensorflow/tfx-bsl/blob/7d2d9136336b858183

[2022-04-11 23:51] iindyk commented on #4814
They are not used in that particular util, but are used in other places (including some internal code). They may have been added after introducing the `TensorflowDatasetOptions` and only used in the functionality that they were added for.

Feel free to send out PR that updates `make_tf_record_dataset` with the parameters you mentioned and add me. I don't think there's good reason for not using the

[2022-04-12 00:08] bli00 commented on #4814
In particular I think it could use a `.cache()` call somewhere.

[2022-04-12 00:35] jiyongjung0 commented on #4537
@ConverJens Thank you so much for raising this issue!

Considering the trace, it seems like you are using TFMA 0.37.0 or before. @varshaan has already added [import statement in the model_util.py](https://github.com/tensorflow/model-analysis/blob/7c3cd97b38a4f1dc5800b998b709a26e2269887e/tensorflow_model_analysis/utils/model_util.py#L42-L45) and it was included in 0.38.0 release. Could you check th

[2022-04-12 00:52] jiyongjung0 commented on #4804
Thank you for the report. This seems like an issue of `google-reduction-server`.

Your error message shows that the package collide with `google-fast-socket` and it seems like some guide recommends uninstalling them first. (For example, https://cloud.google.com/blog/topics/developers-practitioners/optimize-training-performance-reduction-server-vertex-ai ) What kind of document are you referring?

[2022-04-12 10:25] ConverJens commented on #4537
@jiyongjung0 @varshaan Indeed, I used TFMA 0.37.0 and when upgrading to 0.38.0 it worked! Thank you very much for your time and effort! I consider this issue closed.

[2022-04-12 10:25] #4537 closed

[2022-04-12 14:29] strangemonad commented on #4797
One suggestion, as the list of supported zenml extensions grows, the problem of version compatibilities will only get worse. Would it make sense to package additions separately? e.g. `zenml` vs `zenml[tfx] or `zenml[all-additions]`?

[2022-04-13 03:01] davidcavazos commented on #649
This still happens with tensorflow 2.8.0. I have tensorflow as a requirement and I still get this error. Is there any reason to keep the `--no-binary` option?

I've had many issues with that, including that it takes a really long time to recompile every single direct and indirect requirement. I've had timeouts at startup on Flex Templates as well because most Google client libraries depend on pyar

[2022-04-13 21:52] bli00 commented on #4804
@jiyongjung0 yeah I'm able to get it installed but I think it'd be better to have this be supported natively by tfx

[2022-04-14 00:24] jiyongjung0 commented on #4804
Thank you for your suggestion. Basically TFX images are built on top of [Deep learning container](https://cloud.google.com/deep-learning-containers) which brings TF to the image. So I think that this should be included in that image instead of TFX layer. Let me check the plan on this and get back to you.

[2022-04-18 10:27] pindinagesh commented on #4786
Hi @Rishabh-Choudhry

Closing this issue due to inactivity. Please feel free to reopen if this still exists. Thanks

[2022-04-18 10:27] #4786 closed

[2022-04-21 04:57] rishabhChd commented on #4748
I am getting the following error after upgrading tfx to 1.7.0. The pipeline was working fine with tfx 1.6.1. I am using GCP VM Notebook platform.

[2022-04-21 15:19] aondra17 commented on #2802
I had same problem, and this worked as solution (i had only int):

[2022-04-24 01:03] EdwardCuiPeacock commented on #4748
Trainer failed but training job is still running on Vertex AI: In the screenshots below, we see that the pipeline dag and the corresponding logs indicate the training job failed. But when I checked the list of running jobs, the training jobs are still running. However, it appears two jobs of exactly the same name are running, with one being in the pending state. Pipeline creation / training job su

[2022-04-26 00:07] oonisim opened #4828 "Bus error (core dumped) at importing CsvExampleGen"
**System information**

- Have I specified the code to reproduce the issue (Yes, No): yes
- Environment in which the code is executed (e.g., Local(Linux/MacOS/Windows),

[code]

**Describe the current behavior**

Python kernel get killed with **Bus error (core dumpled)** when importing CsvExampleGen.

[code]

**Describe the expected behavior**

**Standalone code to reproduce the issue**

Providing

[2022-04-26 05:01] pindinagesh commented on #4828
Hi @oonisim

Can you share the standalone code to reproduce the issue from our end? Thanks!

[2022-04-26 07:38] oonisim commented on #4828
@pindinagesh, it is literally just import that cause the problem.

[code]

FYI: Packages installed in the python built-in venv.
[code]

[2022-04-26 07:49] oonisim opened #4830 "What is example_gen_pb2 and where is it documented?"
## URL(s) with the issue:
https://www.tensorflow.org/tfx/guide/examplegen

Please provide a link to the documentation entry, for example:
https://www.tensorflow.org/tfx/guide/examplegen

## Description of issue (what needs changing):

[The ExampleGen TFX Pipeline Component][1] has the example code which uses **example_gen_pb2** but cannot find out the documentation which explains it and how to use

[2022-04-26 11:37] pindinagesh commented on #4828
Hi @oonisim

Could you please refer to a similar [issue](https://github.com/tensorflow/tfx/issues/631) about importing CsvExampleGen

[2022-04-26 22:16] oonisim commented on #4828
@pindinagesh , Kindly provide the system requirements (OS distributions and versions, Python versions, etc) for TFX. The linked issue says Python 3.6.8, hence would like to confirm Python 3.6.8 is the system requirement for TFX.

[2022-05-03 06:30] ConverJens opened #4835 "https://pypi-nightly.tensorflow.org can't install nightly packages"
TFX nightly pypi repository (https://pypi-nightly.tensorflow.org/) seems to be down and has been for at least a week.

Are you working on this or have you moved the nightly builds somewhere else?

[2022-05-03 06:51] ConverJens commented on #4835
Ping @jiyongjung0 Any info about this?

[2022-05-03 08:05] jiyongjung0 commented on #4835
@ConverJens Thank you for the report!

Yes, we have changed the backend of the pypi repository about 2 weeks ago, and it should be transparent for most of users. But it seems not.. Could you share the particular commands/behavior that was broken?

We are aware of that we have lost the root page ( https://pypi-nightly.tensorflow.org/ )
But you can still browse packages individually like https://pyp

[2022-05-03 08:08] jiyongjung0 commented on #4835
Actually, I found that our example command at the [guide](https://www.tensorflow.org/tfx/guide) is wrong. (I'm not sure how it worked until now. Maybe there was some fallback mechanism in the previous repository.)

Please use `--extra-index-url` instead of `-i`(which means index-url). Because we need to install packages from the regular pypi.

For the detail, we used [pypicloud](https://pypicloud.

[2022-05-03 08:50] ConverJens commented on #4835
@jiyongjung0 Verified. Changing
`python3 -m pip install -i https://pypi-nightly.tensorflow.org/simple/ tfx-bsl` to
`python3 -m pip install --extra-index-url https://pypi-nightly.tensorflow.org/simple/ tfx-bsl` worked.
Thanks!

[2022-05-03 08:50] #4835 closed

[2022-05-05 04:26] pindinagesh commented on #3257
Hi @ConverJens

Could you please verify this [PR](https://github.com/tensorflow/tfx/pull/3580) and let us know if this resolves your issue. Thanks!

[2022-05-05 18:32] SylvainGavoille commented on #4791
To complete the issue, here is an example of code reproducing the problem. The phenomenon is random and occurs one time over 6 pipeline runs with the code presented in this [notebook](https://drive.google.com/file/d/1vB5VK1OUVZzhWzgR8FJ1WfbfMhENB74l/view?usp=sharing).

Thank you for your help.

[2022-05-06 00:00] 1025KB commented on #4830
The API doc is [here](https://www.tensorflow.org/tfx/api_docs/python/tfx/v1/proto)

but since it's proto file, the easiest way is checking the [definition](https://github.com/tensorflow/tfx/blob/master/tfx/proto/example_gen.proto) itself, which has comment for the data structure

[2022-05-06 11:31] ConverJens commented on #3257
@pindinagesh That is my submitted PR and indeed it works now. See this issue for others that had similar issue that was solved by this: https://github.com/tensorflow/tfx/issues/3893.

[2022-05-06 11:31] #3257 closed

[2022-05-08 02:03] TimbroadhurstUK opened #4852 "What is the tensor being passed to transform component of TFX pipeline"
I am trying to get a pipe up and running, using the MNIST dataset (as numpy array)

I have converted to tf-record using the following code:

[code]

I am then getting to writing the "def preprocessing_fn(inputs):" function.

I am understanding that I can operate on features for example

[code]

Works fine, but I a struggling to operate on the image data which is in bytes. This is because I can't u

[2022-05-12 01:13] TimbroadhurstUK commented on #4852
I believe I have resolved using

[code]

As this code now runs but if I try and output as so

[code]
I get an error

[code]

[2022-05-13 02:12] TimbroadhurstUK commented on #4852
Further to this I can do

[code]

But get error

[code]

Which shows I'm decoding fine (size 28,28 is the original size) but coming a cropper on the transform function specifics somehow

[2022-05-16 08:48] tanguycdls commented on #4791
Hello @pindinagesh, could you take a look @SylvainGavoille did a reproducible example that fails one over 6 pipeline runs. Can you take a look and tell us if it's an issue in KerasTuner side or here ? but the current python code fails in TFX side.

Thanks,

[2022-05-16 08:59] TimbroadhurstUK commented on #4852
For any future viwers solved using

[code]

The key was using map as the parse doesnt work on whole set, Then making sure to specify the output of the ma as a tensor of correct size

[2022-05-16 15:40] EdwardCuiPeacock commented on #4226
Unless I am missing something, couldn't this be solved by looking at the newest artifact based on the timestamp?

We currently set up external retry with

[code]
and append this function to the `pipeline_operator_funcs` argument of `kubeflow_dag_runner.KubeflowDagRunnerConfig`, which seems to work when the step failed. This at least serves as a safe guard for components failed due to network timeo

[2022-05-17 04:26] jiyongjung0 commented on #4852
I think the problem was solved already. Could we close this issue then?

[2022-05-17 08:30] mlopsbegineer commented on #210
Hi, Is there any update on the windowing features in TFX ?
I want to use time-series data in rolling window input data and use LSTM layers for my model.

[2022-05-17 18:20] 1025KB commented on #210
we don't support streaming data processing. We support t[raining based on rolling window of spans](https://github.com/tensorflow/community/blob/master/rfcs/20210115-tfx-periodic-training.md).

But I guess you want to sessionize some raw logs into training examples, consider using custom component or custom examplegen.

[2022-05-18 03:13] rtg0795 opened #4877 "TFX 1.8.0-rc0 Issues"
Please comment or link any issues you find with TFX 1.8.0-rc0.

Thanks.

[2022-05-18 06:39] Asphalt2017 commented on #210
That was dissapointing!
1. Are there any  other alternatives to load the data for rolling window needed for time series? In case of rolling windows of span suppose i want to feed hourly the last ten hours of feed. So i have to create hourly an tf record of 10 hr of feed, then feed then together? Is my understanding correct?
2. Moreover, tf-record doesn't support muti-dim arrary. Do they?
3. How do

[2022-05-18 10:01] htahir1 commented on #4877
Installing it on Python 3.9, I got:

[code]
 Seems like the pre-release still depends on ml metadata < 1.8, which doesnt support 3.9. Or am i missing something here?

[2022-05-18 20:55] rwbeauchemin commented on #4877
I'm also experiencing this issue. And on this page, it seems it was supposed to be <=1.8.0 for that req
<img width="853" alt="Screen Shot 2022-05-18 at 4 55 02 PM" src="https://user-images.githubusercontent.com/102995525/169154233-6c469c3a-3eee-4be0-9f3f-cf4ce5e66940.png">
:

[2022-05-18 21:13] rwbeauchemin commented on #4877
dependencies.py seems to usually update with each new release for ml-metadata, but not in this version yet it seems. Could an update here fix it?

r1.6.0
-----
'ml-metadata' + select_constraint(
          # LINT.IfChange
          default='>=1.6.0,<1.7.0',
          # LINT.ThenChange(tfx/workspace.bzl)
          nightly='>=1.7.0.dev',
          git_master='@git+https://github.com/google/ml-metadat

[2022-05-19 05:05] rtg0795 commented on #4877
Hi. This issue has been resolved. Thanks for pointing this early.

[2022-05-19 06:06] Asphalt2017 commented on #210
Thanks for the reply.
1. Could you elaborate about log processing pipeline?
2. I have to predict next hour of data from last 10 hrs of data. A batch consist of multiple inputs and each input consist of 10hrs of data.
3. The solution is either rolling windows function or a multi dimension array as inputs. I don't seem either two of them working as 1. I don't where and how to apply windowing and 2.

[2022-05-19 12:36] rwbeauchemin commented on #4877
Thanks @rtg0795, when can we expect the update to make it to pypi?

[2022-05-20 00:38] amoat7 commented on #4530
@hasanrafiqatgoogle @msteiner-google  did you find a solution to  the `raise RuntimeError('Temp path not available')` error?

[2022-05-20 03:06] rtg0795 commented on #4877
I don't think we are going to release this RC0 again in PyPI. We have to wait for final release which is estimated on 24th May (next week).
@jiyongjung0 - Please correct me if I am wrong here.

Thanks.

[2022-05-20 03:13] jiyongjung0 commented on #4877
Thank you all for the feedbacks! There is no hard policy on whether we release new RCs. But we *try* to build RCs before the final release, to capture as much as feedback possible.

@rtg0795 is working on RC1 for now. I'll share again once the wheel is ready on PyPI.

[2022-05-20 18:01] #4515 closed

[2022-05-20 18:07] #4472 closed

[2022-05-20 18:08] venkat2469 commented on #4451
No Active issues found on nTFX 1.4.0-rc0. will reopen if any issues found in future.

[2022-05-20 18:08] #4451 closed

[2022-05-20 18:10] venkat2469 commented on #4465
No Active issues found. will reopen if any issues found in future.

[2022-05-20 18:10] #4465 closed

[2022-05-20 18:11] venkat2469 commented on #4349
No Active issues found. will reopen if any issues found in future.

[2022-05-20 18:11] #4349 closed

[2022-05-20 18:14] venkat2469 commented on #4159
No Active issues found on TFX 1.2.0. will reopen if any issues found in future.

[2022-05-20 18:14] #4159 closed

[2022-05-20 18:15] venkat2469 commented on #4078
No Active issues found on TFX 1.0.0. will reopen if any issues found in future.

[2022-05-20 18:15] #4078 closed

[2022-05-20 18:16] venkat2469 commented on #3849
No Active issues found on TFX 1.0.0-rc1. will reopen if any issues found in future.

[2022-05-20 18:16] #3849 closed

[2022-05-20 18:16] venkat2469 commented on #3761
No Active issues found on TFX 0.30.0. will reopen if any issues found in future.

[2022-05-20 18:16] #3761 closed

[2022-05-20 18:17] venkat2469 commented on #3506
No Active issues found on TFX 0.29.0. will reopen if any issues found in future.

[2022-05-20 18:17] #3506 closed

[2022-05-20 18:18] venkat2469 commented on #3353
No Active issues found on TFX 0.28.0. will reopen if any issues found in future.

[2022-05-20 18:18] #3353 closed

[2022-05-20 18:19] venkat2469 commented on #3193
No Active issues found on TFX 0.27.0. will reopen if any issues found in future.

[2022-05-20 18:19] #3193 closed

[2022-05-20 18:20] venkat2469 commented on #2500
No Active issues found on TFX 0.23.0. will reopen if any issues found in future.

[2022-05-20 18:20] #2500 closed

[2022-05-21 04:45] rtg0795 opened #4887 "TFX 1.8.0-rc1 Issues"
Please comment or link any issues you find with TFX 1.8.0-rc1.

Thanks.

[2022-05-21 04:47] rtg0795 commented on #4877
TFX 1.8.0-rc1 is released in PyPI. Please feel free to test and share your feedback if any issues arise at
https://github.com/tensorflow/tfx/issues/4887

Thanks @jiyongjung0 @rwbeauchemin @htahir1 .

[2022-05-26 18:52] rtg0795 opened #4902 "TFX 1.8.0 Issues"
Please comment or link any issues you find with TFX 1.8.0

Thanks.

[2022-05-26 23:17] #4877 closed

[2022-05-26 23:18] #4733 closed

[2022-05-26 23:19] #4615 closed

[2022-05-26 23:19] #4634 closed

[2022-05-26 23:19] #4887 closed

[2022-05-27 08:41] #4251 closed

[2022-05-27 23:14] alexanderkainsky commented on #4902
Currently, both black and flask package have a dependency of

  click>=8.0.0 (from black==22.3.0->-r requirements-dev.in (line 19))
  click<8,>=7 (from tfx==1.8.0->-r requirements.in (line 50))
  click>=8.0 (from flask==2.1.2->-r requirements.in (line 77))

What is in the way of allowing click>=8?

[2022-05-27 23:31] alexanderkainsky commented on #4902
There are also version conflicts with the latest scikit-learn:

  joblib>=1.0.0 (from scikit-learn==1.1.1->librosa==0.9.1->-r requirements.in (line 24))
  joblib<0.15,>=0.12 (from tensorflow-data-validation==1.8.0->tfx==1.8.0->-r requirements.in (line 49))

Could tfx use joblib v1?

[2022-05-27 23:39] alexanderkainsky commented on #4902
Finally, just tfx **all by itself** results in the following conflicts when using pip-compile:

[code]

[2022-05-28 17:37] bli00 commented on #4764
@1025KB is this fixed in the latest release?

[2022-05-31 10:09] pindinagesh commented on #3213
Hi @macoun

Could you please give us the status of this issue? Thank you!

[2022-05-31 10:27] pindinagesh commented on #4385
Hi @axeltidemann

Could you please move this issue to closed status, since PR is merged. Thank you!

[2022-05-31 11:25] axeltidemann commented on #4385
@pindinagesh with pleasure.

[2022-05-31 11:26] #4385 closed

[2022-05-31 20:52] rcrowe-google commented on #3213
The 0.26.1 version of TFX is very old, and was still beta, so my first recommendation would be to try this with the current version, which is 1.8.0.  Second, the reason for using `force_tf_compat_v1` is to use Transform with version 1.X TensorFlow code, which is also very old.  Could you update to TensorFlow 2.X?

[2022-06-01 15:39] msteiner-google commented on #4530
No from my side. Sorry!

[2022-06-01 16:09] pindinagesh commented on #4852
Hi @TimbroadhurstUK

Can you please respond to @jiyongjung0's comment?

[2022-06-01 17:29] htahir1 opened #4911 "Extremely slow performance using remote MLMD CloudSQL instance"
Hello. I initially created an issue in the ML Metadata repository (https://github.com/google/ml-metadata/issues/157) but have subsequently realized that this is more of an issue with the `launcher.Launch` logic in TFX. I believe the querying happening in the driver code and preparing each component before each run is very unoptimized for certain use-cases.

Our team has been trying to use ml-metad

[2022-06-01 18:08] #4852 closed

[2022-06-01 18:09] TimbroadhurstUK commented on #4852
Apologies yes pls close

[2022-06-02 14:13] #4797 closed

[2022-06-02 16:44] stfines-clgx commented on #4757
+1 for us at Corelogic as well

[2022-06-03 08:19] ConverJens commented on #4444
@lukesolo This is because your tensorflow_io import only exists in your pipeline definition file, not in the ExampleGen component which is run in another process or container.

This is fixed in TFX 1.8.

[2022-06-06 13:25] intrainepha opened #4921 "Issue with `model.tft_layer` when using `custom_config` in `preprocessing_fn`."
System information

- Environment: Linux 5.13.0-41-generic #46~20.04.1-Ubuntu
- TensorFlow version: 2.8.0
- TFX Version: 1.8.0
- Python version: 3.8.13
- Python dependencies:
absl-py                         1.0.0
alembic                         1.7.7
anyio                           3.5.0
apache-airflow                  2.2.5
apache-airflow-providers-ftp    2.1.2
apache-airflow-providers-http   2.1

[2022-06-07 00:37] jiyongjung0 commented on #4911
This seems like an interesting report. @1025KB could you take a look?

[2022-06-07 00:53] 1025KB commented on #4911
for the 60s, can we confirm if that is taken by MLMD?
There are some costs for e.g., container setup if running on Cloud.

Which DagRunner are you using?

[2022-06-09 12:16] axeltidemann commented on #3863
@chongkong I tried not to have any pipeline-level beam arguments, instead specifying it for each component. Similar to @revathijay , I wanted the Transform component to run with DataflowRunner, the others with DirectRunner. However, the Transform component would still run with DirectRunner. Re-opening in case anyone can shed some more light on this.

[2022-06-13 22:38] EdwardCuiPeacock commented on #4902
I tried `tfx==1.8.0` with `apache-beam==2.38.0` or `apache-beam==2.39.0`, `BigQueryExampleGen` step will get stuck for 1 hour and gets killed due to no activity. Reverting back to `tfx==1.7.2` with `apache-beam==2.36.0` makes the pipeline work again. I am not really sure if this is an issue with beam or with TFX `BigQueryExampleGen`. Dataflow with Beam's [compatibility page](https://cloud.google.c

[2022-06-14 04:29] jiyongjung0 commented on #4921
@iindyk @zoyahav This seems odd. Could you take a look?

[2022-06-16 09:58] jccarles opened #4948 "Transform component, running beam with Flink Runner. Flink job fails with ModuleNotFoundError."
**System information**

- Have I specified the code to reproduce the issue (Yes, No): No
- Environment in which the code is executed (e.g., Local(Linux/MacOS/Windows),
  Interactive Notebook, Google Cloud, etc): Linux
- TensorFlow version: 2.5.3
- TFX Version: 1.2.0
- Python version: 3.7
- Python dependencies (from `pip freeze` output):

Docker image for sdk workers built from

FROM apache/beam_py

[2022-06-16 13:28] pindinagesh commented on #4828
Hi @oonisim

Closing this issue due to inactivity. Please feel free to reopen if this still exists. Thanks

[2022-06-16 13:28] #4828 closed

[2022-06-17 13:42] sapphire008 commented on #4424
This is an old thread. But I was able to save the model by `tfa.register_all()` before saving to register all the add ons.

[2022-06-20 13:08] aurelienmorgan commented on #4474
FYI, in tfx\orchestration\portable\outputs_utils.py, `self._pipeline_run_id.replace(':', '_')` fixes the issue in the `get_stateful_working_directory` function

[2022-06-20 13:12] aurelienmorgan commented on #4559
@see [issues/4474](https://github.com/tensorflow/tfx/issues/4474)
In tfx\orchestration\portable\outputs_utils.py, `self._pipeline_run_id**.replace(':', '_')**` fixes the issue in the `get_stateful_working_directory `function

[2022-06-20 13:18] aurelienmorgan commented on #4559
@see [tfx/issues/4474](https://github.com/tensorflow/tfx/issues/4474)
In tfx\orchestration\portable\outputs_utils.py, self._pipeline_run_id.replace(':', '_') fixes the issue in the get_stateful_working_directory function

[2022-06-21 05:43] pindinagesh commented on #4149
Hi @stromal

Please confirm the comment from @chongkong and suggest whether this can be closed. Thank you.

[2022-06-21 05:46] pindinagesh commented on #4000
Hi @cah-aswini-jalla

Please confirm the comment from @1025KB and suggest whether this can be closed. Thank you!

[2022-06-21 13:16] pindinagesh commented on #3459
Hi @ConverJens!
Could you refer to the above [comment ](https://github.com/tensorflow/tfx/issues/3459#issuecomment-896962635)to make changes in your containers.
Thank you!

[2022-06-27 16:40] #4530 closed

[2022-06-28 01:06] 0xleowang opened #4970 "`mlmd.errors.InternalError` raised when duplicate entries found in metadata store."
**System information**

- Have I specified the code to reproduce the issue (Yes, No): No
- Environment in which the code is executed (e.g., Local(Linux/MacOS/Windows),
  Interactive Notebook, Google Cloud, etc): AWS with Amazon RDS as the metadata store
- TensorFlow version: 2.5.2
- TFX Version: 1.2.0
- Python version: 3.8
- Python dependencies (from `pip freeze` output):

[code]

**Describe the c

[2022-06-28 20:42] #3459 closed

[2022-06-28 20:43] ConverJens commented on #2889
@1025KB Do you know if this functionality is now supported in both TFX and KFP?

[2022-06-28 20:46] 1025KB commented on #2889
Available on KFP but not KFPv2

[2022-06-29 14:30] Daard opened #4977 "LocalDagRunner vs AirflowDagRunner: how to setup Artifact names?"
**System information**

- Linux
- TensorFlow version: 2.8
- TFX Version: 1.8
- Python version: 3.8

**Problem**

I have created tfx pipeline  and run it via LocalDagRunner().run(pipe) and AirflowDagRunner(AirflowPipelineConfig(AIRFLOW_ARGS)).run().

I have noticed that AirflowDagRunner saves artifacts in such format in the metadata store:

name
post_transform_stats
pre_transform_stats
statistics

[2022-06-29 16:51] sugatoray opened #4978 "Add `tfx` and `ml-pipeline-sdk` to conda-forge"
Applications that use `tfx` or `ml-pipeline-sdk` cannot make themselves available on conda-forge channel to install with conda. This could be an impediment for adoption of certain MLOps packages that depend on `tfx`.

Requesting you to add `tfx` and `ml-pipeline-sdk` to conda-forge. PyPI wheel files cannot be used in adding python libraries to conda-forge.

- https://pypi.org/project/tfx/#files: `

[2022-06-29 16:55] sugatoray commented on #4978
cc: @jiyongjung0 @tfx-copybara

[2022-07-04 06:36] pSN0W opened #4993 "Problems running the pipeline given in tfx tutorials ( https://www.tensorflow.org/tfx/tutorials/tfx/penguin_tfdv )"
If the bug is related to a specific library below, please raise an issue in the
respective repo directly:

[TensorFlow Data Validation Repo](https://github.com/tensorflow/data-validation/issues)

[TensorFlow Model Analysis Repo](https://github.com/tensorflow/model-analysis/issues)

[TensorFlow Transform Repo](https://github.com/tensorflow/transform/issues)

[TensorFlow Serving Repo](https://github

[2022-07-04 10:24] jiyongjung0 commented on #4977
@1025KB This seems like a bug in the Apache Airflow orchestrator. Although we don't support Airflow officially, this seems like a rather critical issue... Have we got any reports around this problem before?

[2022-07-05 14:39] nroberts1 commented on #4993
I'm soooo glad to say a work around this hasn't proved very hard to track down. The stack trace heavily pointed towards Apache Beam. Looking at Apache Beam it has a release to 2.40.x a few days ago. I've pinned Apache Beam to 2.39.0 and now this issue has gone away.
Not a fix but should get you running the demo example okay. I think the clue was when I saw your post was yesterday and only with a c

[2022-07-05 18:37] pSN0W commented on #4993
Thank You! so much works now.

[2022-07-05 19:58] jaymon0703 opened #4995 "Vertex AI Pipeline tutorial from Google Colab (notebook in this repo) stuck in pending state"
Running the Colab here - https://colab.research.google.com/github/tensorflow/tfx/blob/master/docs/tutorials/tfx/gcp/vertex_pipelines_vertex_training.ipynb#scrollTo=_445qeKq8e3- and the Vertex AI Pipeline is stuck in a Pending state.

No logs.

Anyone experiencing the same issue with this Colab?

Thanks!

[2022-07-06 01:55] jiyongjung0 commented on #687
I believe that the initial request has been delievered. Please reopen if you need.

[2022-07-06 01:55] #687 closed

[2022-07-06 01:56] jiyongjung0 commented on #362
We added runtime parameter support a while ago. For example, you can use runtime parameters including TFX CLI after 1.3.0. https://github.com/tensorflow/tfx/blob/master/RELEASE.md#version-130

Let me close this for now. Please reopen if you need.

[2022-07-06 01:56] #362 closed

[2022-07-06 02:06] jiyongjung0 commented on #531
I'm sorry for the late comment but we added runtime parameter support a while ago. For example, you can use runtime parameters including TFX CLI after 1.3.0. https://github.com/tensorflow/tfx/blob/master/RELEASE.md#version-130

Let me close this for now. Please reopen if you need.

[2022-07-06 02:06] #531 closed

[2022-07-06 02:10] jiyongjung0 commented on #663
ModelValidator was deprecated and we have Evaluator which accepts variety of configurations. Let me close this issue. Please reopen if you need.

[2022-07-06 02:10] #663 closed

[2022-07-06 02:11] jiyongjung0 commented on #781
Sorry for the late reply. You can use runtime parameters including TFX CLI after 1.3.0. https://github.com/tensorflow/tfx/blob/master/RELEASE.md#version-130

Let me close this for now. Please reopen if you need.

[2022-07-06 02:11] #781 closed

[2022-07-06 02:29] jiyongjung0 commented on #905
I believe that we don't add `pipeline_name` to artifacts or executions any more. We changed the behavior before we publish 1.0 and it would be backward compatible after that.

Please re-open if you need. Thanks!

[2022-07-06 02:29] #905 closed

[2022-07-06 05:19] Rupesh-rkgit commented on #4993
Can you please share the requirments.txt as I have the same issue ?

[2022-07-06 11:11] nroberts1 commented on #4993
@Rupesh-rkgit depends how you do your pip install for dependencies. If you have a requirements.txt in the base of the project then just make sure it contains:
....
apache-beam==2.39.0
....
in it, this way it will use this version rather than getting the latest which is the one which causes TFX to break as above.
It you don't use requirements.txt then just use the command:
pip install apache-beam==

[2022-07-06 20:21] robertwb commented on #4993
The root cause is an incorrect type declaration in `WriteStatsOutput`. Hopefully this will be fixed in the next version of TFX.

[2022-07-07 03:58] pindinagesh commented on #4993
Hi @pSN0W

Could you please move this issue to closed status as it is resolved. Thank you!

[2022-07-07 04:48] #4993 closed

[2022-07-07 05:51] jiyongjung0 commented on #4970
This seems like an issue in MLMD side although the version is a bit outdated. @briansong Could you take a look?

[2022-07-07 17:16] BrianSong commented on #4970
Thanks for bringing this up.

MLMD raised this as `InternalError` as the query execution failed. I can add another layer on top of the query executor and let it return `AlreadyExistsError`. May I know for "Transform component tires to insert an entry", which domain entity of MLMD(e.g., `Execution`, `Context`, ..) is actually inserted?

[2022-07-07 20:27] jaymon0703 commented on #4995
Apologies this is not an issue. Will close accordingly. Just had to be patient with the run. Was not getting logs so perhaps was a delay in spawning the resources.

[2022-07-08 01:28] pindinagesh commented on #4000
Hi @cah-aswini-jalla

Closing this issue as it has been inactive for more than 2 weeks. Please add additional comments for us to open this issue again and can you look at these examples [sklearn_penguins](https://github.com/tensorflow/tfx-addons/tree/main/examples/sklearn_penguins). Thank you!

[2022-07-08 01:28] #4000 closed

[2022-07-08 01:58] pindinagesh commented on #4149
Hi @stromal

Closing this issue due to inactivity. Please feel free to reopen if this still exist. Thank you!

[2022-07-08 01:58] #4149 closed

[2022-07-08 16:40] mygithubid1 opened #5011 "fix colab notebook for tfx - downgrade apache-beam"
**System information**

- Have I specified the code to reproduce the issue (Yes, No):

The code for this issue comes from the sample notebook in [this](https://www.tensorflow.org/tfx/tutorials/tfx/components_keras) document page.

- Environment in which the code is executed (e.g., Local(Linux/MacOS/Windows),
  Interactive Notebook, Google Cloud, etc):

Google colab

- TensorFlow version:

2.8.2

-

[2022-07-08 17:54] rtg0795 opened #5012 "TFX 1.9.0-rc0 Issues"
Please comment or link any issues you find with TFX 1.9.0-rc0.

Thanks.

[2022-07-11 00:48] jiyongjung0 commented on #4970
Thanks! The code linked by @0xleowang was the place inserting an "Execution". Please correct me if it is not the case @0xleowang !

[2022-07-11 02:18] 0xleowang commented on #4970
Thanks for looking into this. This is indeed the case. @jiyongjung0 @BrianSong

[2022-07-11 10:35] pindinagesh commented on #1062
Hi @Ambiavi

Could Please confirm the comment from @rcrowe-google and suggest whether this can be closed. Thank you!

[2022-07-11 10:59] pindinagesh commented on #926
Hi @htahir1

Could please tell us what is the status of this issue so that the issue can be discussed further or suggest whether this can be closed. Thank you!

[2022-07-11 18:32] BrianSong commented on #4970
I did some investigations, it seems that for inserting an `Execution`, MLMD 1.2.0 already has a wrapper(`IsUniqueConstraintViolated `) to return `InternalError` with `Duplicate` message as `AlreadyExistsError` shown in [1] and [2].

Thus, I wonder for `136887-tfx_version-1`, is this an `Execution`? The code linked is calling [`put_execution()`](https://github.com/tensorflow/tfx/blob/d8b226c4c13dee

[2022-07-12 01:49] 0xleowang commented on #4970
Here are some additional logs. Hope these can help to identify the issue.
[code]

[2022-07-12 17:43] parham12 commented on #4970
Hi there,
With Apache **Airflow** as the orchestrator, I have the same problem when using **[MLMD]** 1.8.0. A log file related to this issue is attached.
[dag_id=consumer_complaint_pipeline_airflow_run_id=manual__2022-07-12T10_25_40.659461+00_00_task_id=Transform_attempt=1.log](https://github.com/tensorflow/tfx/files/9095522/dag_id.consumer_complaint_pipeline_airflow_run_id.manual__2022-07-12T10_2

[2022-07-12 19:56] dvaldivia opened #5020 "Authentication against other engines is not clear"
I'm trying to figure out how to authenticate `tfx cli` against a vanilla kubeflow to use as an engine, the problem is that the cli fails "silently" in what I think is related to authentication issues.

for example, trying to list pipelines, for simplicity, returns empty, since this is the `example kubeflow` deployment, and it's protected by Dex OpenID IDP, I'm expecting some challenge of sorts to

[2022-07-12 23:29] BrianSong commented on #4970
Thanks for the log, I think I might need to log more details in order to figure out the problem. Is there a way for me to reproduce this error? @0xleowang @jiyongjung0

[2022-07-13 14:53] jaymon0703 commented on #1229
Is TFX still not supported in Windows? I am able to run tfx commands such as `tfx template copy` but run into the issue mentioned [here](https://github.com/tensorflow/tfx/issues/4732) with `tfx pipeline create` when using Windows. I see no mention of OS constraints in the docs.

[2022-07-13 15:07] jaymon0703 commented on #4732
Is TFX still not supported in Windows? I am able to run tfx commands such as tfx template copy but run into the issue mentioned here with tfx pipeline create when using Windows. I see no mention of OS constraints in the docs.

[2022-07-14 05:21] jiyongjung0 commented on #5020
Thank you for the question! I agree that we need more improvement on this issue. TFX CLI uses KFP(Kubeflow Pipelines) SDK underneath and all authentication workflow happens in it. Could you take a look at the Kubeflow Pipelines tutorial at https://www.kubeflow.org/docs/components/pipelines/sdk/connect-api/ ?

[2022-07-14 06:23] 0xleowang commented on #4970
Unfortunately, we only encountered this error a few times, didn't find a way to reproduce it.

[2022-07-15 20:17] dvaldivia commented on #5020
I think the problem is here https://github.com/tensorflow/tfx/blob/09490d9ebe6bb6097f17bdfa685415e76eaaba5a/tfx/tools/cli/handler/kubeflow_handler.py#L51

if I was using `kfp` and submitting a pipeline alone, I could get the credentials via curl or requests and then add it to the client
[code]

but since the `kubeflow_handler` instanciates the client as is, `tfx cli` can't submit the pipeline to a

[2022-07-16 14:33] SoheilMehrani opened #5040 "PrestoExampleGen missing values"
Although there is no problem in data and query, PrestoExampleGen generates missing values (some rows of data will be lost).

[code]
![screenshot](https://user-images.githubusercontent.com/36539586/179359149-57d9351e-20de-4c62-9603-8c1ddb13220d.png)

[2022-07-18 00:43] jiyongjung0 commented on #5020
Thank you for the investigation! Then we need to add those arguments to TFX CLI flags. Until then, you might need to use `kfp` CLI instead. https://www.kubeflow.org/docs/components/pipelines/sdk/sdk-overview/#kubeflow-pipelines-cli-tool

You can get the pipeline bundle for kfp from a TFX pipeline using `compile` command. https://www.tensorflow.org/tfx/guide/cli#compile

[2022-07-18 00:59] pindinagesh commented on #4181
Hi @dineshvelmuruga

Could you please look at this [metadata_config](https://github.com/tensorflow/tfx/issues/590) workaround that has been provided. Hope this helps. Thank you!

[2022-07-18 17:47] dvaldivia opened #5049 "How to set environment variables for pipeline stages"
I'm trying to figure out how to set environment variables when creating a pipeline, the use case here is that I want to use S3 and I need to push down the credentials to `tensorflow-io` via environment variables, in previous releases of TFX when using reusable kubeflow components, I could simply add the environment variables, but if I try to use the built-in components and then compile them via DS

[2022-07-18 17:58] dvaldivia commented on #4444
@ConverJens this is still happening in TFX `1.9.0` I'm using `KubeflowDagRunner`

[2022-07-18 19:22] rtg0795 opened #5051 "TFX 1.9.0 Issues"
Please comment or link any issues you find with TFX 1.9.0

Thanks.

[2022-07-19 00:54] jiyongjung0 commented on #926
I believe that this was already fixed and users can specify regions. See https://github.com/tensorflow/tfx/blob/bca8168dfc50d1a28218391c4114081275129da7/tfx/extensions/google_cloud_ai_platform/pusher/executor.py#L61

Feel free to reopen if there is anything missing.

[2022-07-19 00:54] #926 closed

[2022-07-19 00:57] jiyongjung0 commented on #924
We don't have any restriction in split names now. Let me close the issue. Feel free to re-open if needed.

[2022-07-19 00:57] #924 closed

[2022-07-19 01:06] jiyongjung0 commented on #1185
Users can now customize container images using `pipeline_operator_funcs`. https://github.com/tensorflow/tfx/blob/bca8168dfc50d1a28218391c4114081275129da7/tfx/orchestration/kubeflow/kubeflow_dag_runner.py#L182

Let me close this bug for now. Feel free to reopen it if needed.

[2022-07-19 01:06] #1185 closed

[2022-07-19 01:08] jiyongjung0 commented on #1446
We are already using apache beam `>=2.38`.  Let me close this bug.

[2022-07-19 01:08] #1446 closed

[2022-07-20 07:54] chongkong commented on #1229
There are some hard assumptions on the paths that we cannot easily support both posix (/) and windows (\) because TFX pipeline authoring environment and actual runtime environment can be different. We also have to setup all internal testing environments for Windows, but considering it took more than months to stabilize them for MacOS, I'm doubtful someone have enough bandwidth for adding Windows e

[2022-07-20 14:04] jaymon0703 commented on #1229
Thank you @chongkong

[2022-07-20 16:28] jccarles opened #5054 "[Help needed] Pass config to custom executor operator"
Hello ! I am currently trying to migrate from a custom launcher to a custom executor operator as shown here: [Migrate from custom Launcher to custom ExecutorOperator](https://github.com/tensorflow/tfx/blob/master/tfx/orchestration/launcher/README.md) but I have some trouble understanding how to replicate the behavior offered by the previous `component_config` argument of the Launcher class. This a

[2022-07-21 04:26] jiyongjung0 commented on #5011
Thank you so much for creating this issue! Actually the issue was resolved in the latest version of tensorflow-data-validation and tfx(1.9.0) that released a few days ago. I've confirmed that colab works well because it always installs the latest version.

[2022-07-22 02:24] jiyongjung0 commented on #5049
Thank you for the question and it seems like a duplicate of https://github.com/tensorflow/tfx/issues/3326. I believe that @ConverJens is working on this in https://github.com/tensorflow/tfx/pull/4861.

[2022-07-22 07:27] 1025KB commented on #5054
what information are you trying to pass through component_config?

[2022-07-22 11:20] jccarles commented on #5054
I want to pass some strings which helps define the specifications of the distributed computing cluster I want to spawn. You think the type of information is relevant ?

[2022-07-25 13:36] jccarles commented on #5054
Also to be more precise, I would like to use my custom executor operator with the KubeflowDagRunner. I seem to have an additional issue which is to make aware the containerEntrypoint of my new executor operator. As the parameter `custom_executor_operators` is instantiated within the [entrypoint main ](https://github.com/tensorflow/tfx/blob/958a3c45e8c61a2e390dc7457870b9f0d232ce9a/tfx/orchestration

[2022-07-25 16:18] jccarles commented on #5054
I think in the end my issue is with the container_entrypoint.py for kubeflow orchestrated pipelines as it does not expose the parameters `platform_config` and `custom_executor_operators`.

The `platform_config` is not exposed nor passed to the Launcher, while the Launcher supports it. And the `custom_executor_operators` parameter is not exposed, but defined within the main then passed to the Launc

[2022-07-27 11:38] JPXKQX commented on #5051
Issue #5039

[2022-07-28 04:26] sanatmpa1 commented on #4977
@Daard

[PR](https://github.com/tensorflow/tfx/pull/5039) has been submitted to address the artifact naming convention issue. Thank you!

[2022-08-02 04:18] pindinagesh commented on #4181
Hi @dineshvelmuruga

Closing this issue due to inactivity. Please feel free to reopen if this still exists.Thank you

[2022-08-02 04:18] #4181 closed

[2022-08-02 05:07] yonil7 commented on #4474
Is there any update on this?

[2022-08-02 16:03] pindinagesh commented on #1062
Hi @Ambiavi

Closing this issue due to inactivity. Please feel free to reopen if this still exists. Thank you

[2022-08-02 16:03] #1062 closed

[2022-08-04 21:10] #4091 closed

[2022-08-04 21:10] #4055 closed

[2022-08-05 00:10] EdwardCuiPeacock commented on #5051
Still running into problems with Dataflow jobs being stuck and killed after 1 hour. TFX 1.9.1 with Apache Beam 2.40.0, using the TFX docker image `tensorflow/tfx:1.9.1`

Related to https://github.com/tensorflow/tfx/issues/4902#issuecomment-1154518518

[2022-08-05 17:06] gowthamkpr commented on #838
Is it still an issue? As tensorflow does not officially support contib anymore, can we go ahead and close this issue. Thanks!

[2022-08-05 17:14] gowthamkpr commented on #1275
@yynil Heres the [example](https://www.tensorflow.org/tfx/tutorials/transform/census#preprocessing_with_tftransform) where you can preprocess text using Tensorflow Transform. Can you please respond to the [above comment](https://github.com/tensorflow/tfx/issues/1275#issuecomment-899602489) so we can take the discussion forward. Thanks

[2022-08-05 17:28] BuggieCoder opened #5113 "error while running the codes in Colab @ the **Make REST requests** section"
Got the following error while running the codes in Colab and reaching this section (second to last section)

**Make REST requests
Newest version of the servable**

**Cell**:

`# docs_infra: no_execute
!pip install -q requests

import requests
headers = {"content-type": "application/json"}
json_response = requests.post('http://localhost:8501/v1/models/fashion_model:predict', data=data, headers=head

[2022-08-07 11:30] woker001 commented on #2197
This error is caused by reading all files in that directory path. Remove all files other than data in the folder where the data is stored.
e.g. `ls -a & rm -rf {dir_name}`

[2022-08-08 11:17] jiyongjung0 commented on #2497
Sorry for the late follow-up, but we added this feature starting from TFX 0.30.0 published last year.

https://github.com/tensorflow/tfx/blob/master/RELEASE.md#version-0300

Please take a look and re-open the issue if you have any further questions.

[2022-08-08 11:17] #2497 closed

[2022-08-08 11:22] jiyongjung0 commented on #4084
Hi, sorry for the late follow up. We added a concept called "Exit Handler" to Vertex Pipelines and Kubeflow Pipelines. https://github.com/tensorflow/tfx/blob/master/RELEASE.md#version-140 Please take a look.

[2022-08-09 10:45] jiyongjung0 commented on #4434
I'm sorry for the late follow-up. Actually we had some discussion w/ Tensorflow repo maintainers and they also recommended to disable the linter. Let me try changing it to warnings.

Thank you for the suggestions!

[2022-08-09 17:16] gowthamkpr commented on #819
I don't this this issue is valid anymore as the documentation has changed. Can you please close the issue. Thanks!

[2022-08-09 17:30] #819 closed

[2022-08-09 19:50] codesue opened #5126 "Dataflow jobs fail when using the same beam_pipeline_args for InteractiveContext and KubeflowDagRunner"
**System information**

- Have I specified the code to reproduce the issue (Yes, No): Yes
- Environment in which the code is executed (e.g., Local(Linux/MacOS/Windows),
  Interactive Notebook, Google Cloud, etc): Kubeflow Notebooks
- TensorFlow version: 2.5.0
- TFX Version: 1.2.1
- Python version: 3.7
- Python dependencies (from `pip freeze` output): ...

**Describe the current behavior**
Typicall

[2022-08-10 03:26] mhsong21 opened #5127 "BigQueryExampleGen uses cached result for the schema during RowToExample"
If the bug is related to a specific library below, please raise an issue in the
respective repo directly:

[TensorFlow Data Validation Repo](https://github.com/tensorflow/data-validation/issues)

[TensorFlow Model Analysis Repo](https://github.com/tensorflow/model-analysis/issues)

[TensorFlow Transform Repo](https://github.com/tensorflow/transform/issues)

[TensorFlow Serving Repo](https://github

[2022-08-10 03:47] #4001 closed

[2022-08-10 05:14] gowthamkpr commented on #2164
@ntakouris Is it still an issue? Can you please check with latest version of tfx and let me know thanks!!

[2022-08-10 05:27] gowthamkpr commented on #2131
@drzl386 @C45513 Is this issue still valid. Can you please let us know if its still an issue. Thanks!

[2022-08-10 07:49] deep-diver opened #5130 "CloudTuner with error "Internal error occurred for the current attempt""
- Environment in which the code is executed: GCP
- TensorFlow version: 2.8
- TFX Version: 1.9
- Python version: 3.8

**Describe the current behavior**

I have included CloudTuner for TFX Pipeline, but I constantly get `Internal error occurred for the current attempt.` in the logs from AI Platform's Job. I need more detailed error messages to debug my code, but I think this is all I can get.

Below

[2022-08-10 17:48] sanatmpa1 commented on #5113
@BuggieCoder

I guess you're trying to run [this example notebook](https://www.tensorflow.org/tfx/tutorials/serving/rest_simple) and I am able to reproduce the issue when running in colab. I will get back to you after trying on local environment and see if it still happens. Thank you!

[2022-08-10 21:23] BuggieCoder commented on #5113
@sanatmpa1 Thank you for doing that. Yes, I got the error in Colab.

[2022-08-11 09:29] #2164 closed

[2022-08-11 09:30] ntakouris commented on #2180
stale

[2022-08-11 09:30] #2180 closed

[2022-08-11 09:30] ntakouris commented on #2199
so stale, that I moved to pytorch

[2022-08-11 09:30] #2199 closed

[2022-08-11 09:30] #2206 closed

[2022-08-11 09:30] ntakouris commented on #2376
stale

[2022-08-11 09:30] #2376 closed

[2022-08-11 16:58] gowthamkpr commented on #513
@jinnovation @zhitaoli Can you please look into this issue and if its still valid lets continue the discussion else can we please close it. Thanks!

[2022-08-11 17:05] jinnovation commented on #513
Hi, feel free to close this

[2022-08-11 23:27] 1025KB commented on #5126
Hi, InteractiveContext is mainly for local debugging, you can follow https://www.tensorflow.org/tfx/tutorials/tfx/cloud-ai-platform-pipelines

[2022-08-12 00:17] codesue commented on #5126
Yes, we're using InteractiveContext for local debugging. The use case is running components one by one as you iterate on them before running a pipeline end-to-end using LocalDagRunner then KubeflowDagRunner + kfp.Client. The expectation is that you should be able to define beam pipeline args in a constant and reliably use the same args for your components / pipeline at each stage (interactive, loc

[2022-08-12 03:33] #5130 closed

[2022-08-12 16:06] gowthamkpr commented on #1455
@sadeel As mentioned [above](https://github.com/tensorflow/tfx/issues/1455#issuecomment-953972920), the above steps work perfectly. Just make sure you are using the docker image. Please go ahead and close the issue as it has been resolved. Thanks!

[2022-08-12 16:42] gowthamkpr commented on #1549
@lipinski Please use [Addons component for sampling](https://github.com/tensorflow/tfx-addons/tree/main/tfx_addons/sampling) as mentioned [here](https://github.com/tensorflow/tfx/issues/3831#issuecomment-913872664). Also, can you please close the issue as its a duplicate of the issue #3831. Thanks!

[2022-08-12 16:43] #1549 closed

[2022-08-12 17:36] gowthamkpr commented on #1662
@rmgogogo Looks like this is not moved to a different component as you can see [here](https://github.com/tensorflow/tfx/tree/master/tfx/components/trainer/rewriting). Can you please let us know why this should be moved to a separate component. Thanks!

[2022-08-12 20:19] charlesccychen commented on #5126
Thanks! Could you check whether changing the following line fixes this?

Specifically, change this line:

https://github.com/tensorflow/tfx/blob/6429c643233f1c1fca41c7c02e7da966c763c7eb/tfx/orchestration/experimental/interactive/interactive_context.py#L139

to

[code]

[2022-08-12 20:56] 1025KB commented on #5127
TFX has its own cache, if all input artifact & exec properties (in this case, input is just the query) are the same, it will use last component execution's result. you can turn off TFX cache when creating pipeline object

[2022-08-12 22:22] codesue commented on #5126
Changing to `beam_pipeline_args = list(beam_pipeline_args or self.beam_pipeline_args)` fixes this. There are no changes to the original list and the labels are well-formed now.

[2022-08-13 04:43] deep-diver opened #5141 "CloudTuner error"
I have successfully initiated Vizier Job via CloudTuner, but it failed.

I have looked into the logs, but there was no errors occurred, and the training was successfully done. Could you take a look what happened? The logs should be read from bottom to top.

[code]

[2022-08-13 04:59] 1025KB commented on #5141
Hi, Are you using CAIP or Vertex? This CloudTuner currently only support CAIP.

And how many parallel tuning do you have?

[2022-08-13 06:36] deep-diver commented on #5141
@1025KB

I am using CAIP not Vertex. And max_trials and workerCount are set to 6 and 3 respectively

[2022-08-14 00:55] 1025KB commented on #5141
If you run a standalone CloudTuner, does it work?
Or run a Cloud tuning component with RandomSearch tuner, does it work?

[2022-08-14 02:11] deep-diver commented on #5141
Thank you!

I have not tried either of standalone and RandomSeaech version. Could you please drop links that I can take a look?

Here is the repo that I am working on by the way: https://github.com/deep-diver/complete-mlops-system-workflow/tree/fix/cloud-tuner/training_pipeline/pipeline

[2022-08-15 01:24] gbih opened #5145 "tfx.v1 / AirflowDagRunner now inaccessible"
I am using TFX version: 1.9.1

If I use this import statement to access the Public modules for TFX:

`from tfx import v1 as tfx`

I noticed that LocalDagRunner and KubeflowDagRunner are defined here
https://github.com/tensorflow/tfx/blob/v1.9.1/tfx/v1/orchestration/__init__.py

and I can still access them, as in

[code]

However, AirflowDagRunner now seems inaccessible in this v1 namespace.

Is th

[2022-08-15 03:01] deep-diver commented on #5141
@1025KB

Oh you mean using KerasTuner instead CloudTuner? If so, yes it worked fine with `tfx run create --engine=local`.

[2022-08-15 03:52] 1025KB commented on #5141
On Cloud (KubeflowDagRunner + extension.Tuner) you can also just use KerasTuner, e.g., RandomSearch in your tuner_fn.
I want to know if your workflow had issue on CloudTuner or other part of the the workflow

[2022-08-15 04:54] deep-diver commented on #5141
@1025KB

OK, I just tried out `KerasTuner` with `extension.Tuner` component, and it didn't work out.

It seems like the circumstance is the same. I see below from AI Platform Job logs dashboard.
[code]

and I get the following message from the pod in Vertex Pipeline.
[code]

There is an ImportError on `oauth2client`, but I guess this is not the error but warning according to this thread. I am usin

[2022-08-16 17:31] 1025KB commented on #5141
are you able to run the trainer in CAIP? here is the [tutorial](https://www.tensorflow.org/tfx/tutorials/tfx/cloud-ai-platform-pipelines)

for vertex, [this](https://www.tensorflow.org/tfx/tutorials/tfx/gcp/vertex_pipelines_vertex_training) is the tutorial

[2022-08-16 21:13] micahjsmith opened #5148 "Evaluator behavior when no thresholds configured"
**System information**

- Have I specified the code to reproduce the issue (Yes, No): No
- Environment in which the code is executed: Kubeflow
- TensorFlow version: 2.5
- TFX Version: 1.2.1
- Python version: 3.7

**Describe the current behavior**

When running evaluator with an eval config that does not include any thresholds, the entire code path of producing a model blessing is skipped. The mode

[2022-08-16 23:18] deep-diver commented on #5141
@1025KB

I see. My bad on describing the problem wrong.

I used Trainer component for Vertex AI, and I used Tuner component for CAIP. The Trainer component works well without any failure, but the Tuner component fails.

Is this because I tried to hook up between VertexAI and CAIP? If so, TFX doesn't support Tuner component within Vertex Pipeline?

[2022-08-16 23:52] 1025KB commented on #5141
Are you able to run pipeline & Trainer component with CAIP? I wondering if it's your CAIP setup.

[2022-08-16 23:57] deep-diver commented on #5141
Not sure
I am not using CAIP, but included CloudTuner component in Vertex which uses CAIP

[2022-08-16 23:59] 1025KB commented on #5141
you can run extension.Tuner with KerasTuner in tuner_fn on Vertex

only CloudTuner in tuner_fn requires CAIP

[2022-08-17 00:02] deep-diver commented on #5141
Yeah

But KerasTuner failed with the logs that I shared here https://github.com/tensorflow/tfx/issues/5141#issuecomment-1214618023

But it worked successfully with local engine.

[2022-08-17 00:06] 1025KB commented on #5141
are you using CAIP or Vertex, if it's KerasTuners, you can use Vertex (similar custom_config as trainer)

[2022-08-17 00:45] deep-diver commented on #5141
Let me clarify,

I am currently using Vertex Pipeline.

My initial attempt was
: include CloudTuner in the Vertex Pipeline, and it turned out as failure.

My second attempt was
: include KerasTuner in the Vertex Pipeline, and it also turned out as failure ([logs](https://github.com/tensorflow/tfx/issues/5141#issuecomment-1214618023)).
: here is the source code for using KerasTuner, and the full so

[2022-08-17 00:47] deep-diver commented on #5141
Maybe I should modify the `GCP_AI_PLATFORM_TUNER_ARGS` differently for not using CAIP. When using KerasTuner, where does it perform the job? CAIP? Vertex?

[2022-08-17 03:32] 1025KB commented on #5141
If you set up the custom_config to use vertex, it will run KerasTuner on Vertex

[2022-08-17 03:33] deep-diver commented on #5141
so, the `custom_config` should be set similar to what applied to Vertex Training?

[2022-08-17 03:36] 1025KB commented on #5141
yep, need to add ENABLE_VERTEX_KEY & VERTEX_REGION_KEY in additional to TUNING_ARGS_KEY and REMOTE_TRIALS_WORKING_DIR_KEY

[2022-08-17 03:37] deep-diver commented on #5141
Great thanks!

I will let you know how it goes

[2022-08-17 04:12] deep-diver commented on #5141
@1025KB

This configs works for Vertex Training (if replacing `TUNING_ARGS_KEY` to `TRAINING_ARGS_KEY`), but it failed for KerasTuner on Vertex. Could you please take a look?

[code]

[2022-08-17 06:20] deep-diver commented on #5141
Never mind, I figured out! :)

[code]

Thanks for the great support @1025KB

[2022-08-17 06:20] #5141 closed

[2022-08-17 14:35] micahjsmith commented on #5148
to achieve this: "avoid accidentally blessing models when users forget to set thresholds" I think the most reasonable behavior would be to produce a "not blessed", rather than abstain from producing the artifact at all. they have identical effects but my proposal is more explicit I think.

[2022-08-17 17:23] 1025KB commented on #5141
Cool!

[2022-08-18 07:15] singhniraj08 commented on #5011
@mygithubid1,

Can you please take a look at the above comment by @jiyongjung0  and let us know if your issue is resolved. Thank you!

[2022-08-18 10:36] mygithubid1 commented on #5011
Things work now. Thanks.

[2022-08-18 10:36] #5011 closed

[2022-08-18 16:38] #513 closed

[2022-08-18 18:12] purplechem commented on #4561
Facing the same issue, any news regarding this?

[2022-08-18 18:46] rcrowe-google commented on #3772
Is this still an issue?  We have had many pipelines running on KF/Dataflow since before 1.0.0, using module files to load the Transform preprocessing_fn code.  One thing to maybe watch for is that if the file is not in the local filesystem on the K8s node it will try to copy it from the URI - for example, from GCS - which means that it needs to have access.

[2022-08-18 23:28] purplechem commented on #4561
this simple change fixed the issue: use BeamExecutorSpec rather than ExecutorClassSpec in many wrong examples.
custom_executor_spec=executor_spec.BeamExecutorSpec(
            parquet_executor.Executor))

[2022-08-19 17:15] gowthamkpr commented on #838
Closing as stale. Please reopen if you'd like to work on this further.

[2022-08-19 17:15] #838 closed

[2022-08-19 17:15] gowthamkpr commented on #1275
Closing as stale. Please reopen if you'd like to work on this further.

[2022-08-19 17:15] #1275 closed

[2022-08-19 20:40] EdwardCuiPeacock opened #5160 "Expose `num_shards` argument for components using Beam to write TFRecords"
**System information**

- TFX Version (you are using): 1.9.1
- Environment in which you plan to use the feature (e.g., Local
  (Linux/MacOS/Windows), Interactive Notebook, Google Cloud, etc..): Google Cloud
- Are you willing to contribute it (Yes/No): Yes (but perhaps not skilled enough)

**Describe the feature and the current behavior/state.**

Currently, `(BigQuery)ExampleGen` and `Transform` co

[2022-08-22 14:07] singhniraj08 commented on #2785
@RaphRzb

We are checking to see if this is still an issue. Can you kindly inform if the issue is resolved. Thank you.

[2022-08-22 17:10] 1025KB commented on #5160
Can beam support shards count in beam_args?

I think in general beam doesn't want users to control the shard count

https://stackoverflow.com/questions/49519960/controlling-dataflow-apache-beam-output-sharding

[2022-08-22 17:11] gowthamkpr commented on #2182
@ColinCampbell-GBI Please use K8s secret to authenticate the component where this failure happens using kfp gcp extension as mentioned [above](https://github.com/tensorflow/tfx/issues/2182#issuecomment-833790105) and this should solve your issue. Thanks!

[2022-08-23 18:00] gowthamkpr commented on #1957
Closing this issue as it has been fixed and is not valid anymore. Thanks!

[2022-08-23 18:00] #1957 closed

[2022-08-23 18:49] gowthamkpr commented on #2198
@pmccarthy-dstillery This might be the OS fault not the tfx. Were you able to find a solution for this issue?

[2022-08-23 19:23] gowthamkpr commented on #2448
@johnnytshi Is this still an error. Can you explain the usecase where you are trying to use this. Please check with the latest version of tfx and tensorflow and let me know if the issue still persists. Thanks!

[2022-08-23 19:25] gowthamkpr commented on #2470
@kyledef Can you please respond to the above [question](https://github.com/tensorflow/tfx/issues/2470#issuecomment-691285048). Thanks!

[2022-08-23 20:12] gowthamkpr commented on #2474
@sagravat Is this still an issue. You can take a look at the example [here](https://www.tensorflow.org/tfx/tutorials/tfx/components) on how to fee the input to `tf.estimator.build_raw_serving_input_receiver_fn`. Thanks!

[2022-08-23 20:19] gowthamkpr commented on #2549
@DvirDukhan Please close this issue as the solution for the issue is discussed [here](https://github.com/kubeflow/pipelines/issues/4592#issuecomment-705853800). Thanks!

[2022-08-23 20:24] gowthamkpr commented on #2583
@calvinleungyk As mentioned in this [comment](https://github.com/tensorflow/tfx/issues/2506#issuecomment-756993246), this is fixed and should be working now. Please test it and let us know. Thanks!

[2022-08-23 20:33] gowthamkpr commented on #2614
@HarryDunham This is a user error not from tfx. Were you able to solve this issue?

[2022-08-23 20:41] #2549 closed

[2022-08-23 21:56] gowthamkpr commented on #2718
@nroberts1 @entrpn Please try using latest version of tfx and let me know if its still an issue. Thanks!!

[2022-08-24 04:55] jiyongjung0 commented on #1539
Sorry for the late follow-up, but we have moved to GPU enabled image starting from 0.28. https://github.com/tensorflow/tfx/blob/master/RELEASE.md#version-0280 Please try our container image and share your thought. Thanks!

[2022-08-24 04:55] #1539 closed

[2022-08-24 07:46] jiyongjung0 commented on #1505
I'm sorry for the late follow up. Have you tried something like DoFn.setup()?

https://beam.apache.org/releases/pydoc/current/apache_beam.transforms.core.html#apache_beam.transforms.core.DoFn.setup

[2022-08-24 09:23] Asphalt2017 commented on #4505
Has the issue resolved?

[2022-08-25 09:15] ConverJens commented on #5049
@dvaldivia
I don't think it's possible to set any k8s value (resources, env vars, secrets etc) on individual steps but you can set them on the pipeline level using the
[code]
See my answer on this issue:
https://github.com/tensorflow/tfx/issues/3194

cc @jiyongjung0

[2022-08-26 16:33] EdwardCuiPeacock commented on #5160
beam_args are more for the resources that beam will run on. I think this is part of IO for beam.

[2022-08-26 17:03] gowthamkpr commented on #1455
Closing this issue as it has been stale for 2 weeks. Please update response, and we will reopen it again. Thanks!!

[2022-08-26 17:03] #1455 closed

[2022-08-26 17:22] 1025KB commented on #5160
Beam is supposed to decide the best shards count, could you also file an issue at beam side too? Thanks

[2022-08-29 14:34] ConverJens commented on #4782
@bli00 You can read and deserialise these tf examples using the schema that Transform provides for you as well. Visualising this schema is usually a quick way of gaining understanding of your transformed data.

[2022-08-29 14:40] ConverJens commented on #4948
@jccarles Are you using beam as a sidecar to your flink deployment? Is pipeline_functions your own custom code?

[2022-08-29 14:48] jccarles commented on #4948
Yes exactly I am using `beam-worker-pool` as sidecar for all my flink task managers. Yes sorry indeed it is not clear, `pipeline_functions` is my custom module which holds `preprocessing_fn`.

[2022-08-29 17:13] singhniraj08 commented on #4737
Hi @youquzhiji,

Kindly try importing CsvExampleGen using latest version 1.9.1 of TFX and see if this resolves your issue. Thank you.

[2022-08-29 17:45] singhniraj08 commented on #4705
@EdwardCuiPeacock,

Kindly let us know if the above answer by @zoyahav helps in resolving your problem. Thank you.

[2022-08-29 21:09] genehwung commented on #5148
When there is threshold configured, the binary is used as a pure evaluator. This is allowed so that multiple evaluators can be setup for one single model, if we configure it as a model validator, multiple model validators, (some with thresholds, some without thresholds), then we are going to need an extra layer of logic to reason about the final outcomes of the blessing, which is a lot more comple

[2022-08-30 06:29] singhniraj08 commented on #4770
@eyadgaran

Did you got a chance to create PR for adding SimpleML to [TFX-Addons](https://github.com/tensorflow/tfx-addons). Thank you.

[2022-08-30 07:14] ConverJens commented on #4948
@jccarles cc @jiyongjung0
How are you passing your preprocessing code to beam then?
Are you pointing to a module file or function? Can you paste the config of your transform component as well as your beam args?

[2022-08-30 07:19] singhniraj08 commented on #4381
@alexperry-shifu,

Kindly try the possible solutions provided in [link 1](https://stackoverflow.com/questions/47998552/apache-airflow-dag-cannot-import-local-module) and [link 2](https://stackoverflow.com/questions/72913749/modulenotfounderror-while-importing-airflow-dag) and let us know if it helps in resolution. Thank you.

[2022-08-30 12:40] jccarles commented on #4948
I am pointing to a module file. When I was using GCS I used package user modules and `force_tf_compat_v1=False` and it was working fine.

Now with beam on Flink I use the following config for transform (with `UNSUPPORTED_DO_NOT_PACKAGE_USER_MODULES`)

[code]

And `module_file` is the path within my docker image where I saved my module file.

I use the following beam args:

[code]

So "how I pass m

[2022-08-30 13:44] ConverJens commented on #4948
@jccarles
There are two ways to do this, both of them has issues.

1. Package your code into a whl or similar and pass that as an extra package to beam using the `--extra_package` flag or by uploading your code to an internal artifact registry (e.g. an internal pypi) and pass a requirements.txt to beam.
Note: I've had multiple issue with this and if you google tfx and flink you'll find several git

[2022-08-30 14:24] jccarles commented on #4948
O nice I see, were you able to include those custom kubeflow components in a tfx generated pipeline ?

I tried the approach of spawning a Flink cluster for each component which needs it as in previous version of tfx we could write a custom `Launcher` class for each component. This custom launcher was responsible for spawning the Flink cluster, running the component and finally shutting the cluster

[2022-08-30 14:53] ConverJens commented on #4948
@jccarles
Actually, I created tfx python custom components. They are very similar to kubeflow components: https://www.tensorflow.org/tfx/guide/custom_function_component

To make this work I actually created a second pipeline which spawned the flink resources, started the TFX pipeline and waited for it to finish/crash and then tore down flink. In the event of a failure the resources were kept for a

[2022-08-30 15:15] jccarles commented on #4948
Thank you I will try this solution it looks quite elegant !

I might have one last question ! Have you ever experienced Flink job hanging forever I think over a grcp issue ? It happens to us quite randomly, retrying the component make it work in most cases... So I added retry and timeout operator functions to pipeline components to detect when it happens and automatically retry the component but i

[2022-08-30 17:07] alexperry-shifu commented on #4381
Thank you,

I will give it a try.

Regards,

Alex

-----------------------------------------------------------------------------------------------------------------

"The Only Way To Get The Best Of An Argument Is To Avoid It.
An argument is 90% emotion and 10% nonsense. A mature professional avoids
arguments."
-- Dale Carnegie "How to Win Friends and Influence People"

On Tue, Aug 30, 2022 at 3:2

[2022-08-31 07:25] ConverJens commented on #4948
@jccarles
Solution 1 has the upside (if it works) that you only need to deploy one Flink cluster and that can be used for all jobs. This is better if it works, but as I mentioned I had troubles with it.

Not that I recall actually. The issues I have had have usually been about one worker crashing due to some issue, usually data I believe, and then the other workers (processes) eventually fails wit

[2022-08-31 17:16] gowthamkpr commented on #1662
Closing this issue as it has been stale for more than 2 weeks. Please reopen it if you respond to the issue. Thanks!

[2022-08-31 17:16] #1662 closed

[2022-08-31 17:18] gowthamkpr commented on #2131
Closing this issue as it has been stale for more than 2 weeks. Please reopen it if you respond to the issue. Thanks!

[2022-08-31 17:18] #2131 closed

[2022-09-01 07:09] singhniraj08 commented on #1936
@luischinchillagarcia,

I have found a similar closed issue [1](https://github.com/tensorflow/tfx/issues/1216) and [2](https://github.com/cloudpipe/cloudpickle/issues/82) in which resolution is provided for dependency and cloudpickle conflicts. Please let us know if this issue can be closed.

[2022-09-01 10:56] singhniraj08 commented on #2429
@sidharths,

Please create a separate signature function for just the preprocessing and then update the EvalConfig to specify this function under preprocessing_function_names leaving the main signature function for inference as mentioned in this [issue](https://github.com/tensorflow/tfx/issues/2920#issuecomment-946905897) for resolution. Kindly let us know if it works.

[2022-09-01 21:02] hugoferrero opened #5182 "TFX on Windows"
Hi...Just one question: At the moment, does Windows support TFX?.

Thanks in advanced.

[2022-09-02 07:19] singhniraj08 commented on #5182
@hugoferrero,

As per the [similar issue](https://github.com/tensorflow/tfx/issues/950#issuecomment-970793241), there is no plan to support windows. Please stay tuned for future updates on windows support. Hope this answers your question. Thank you!

[2022-09-02 11:40] Longwelwind opened #5184 "Handling images in TFRecord and TFX"
Hello!

I'm trying to use TFX to create a pipeline to train a classification model with images. I'm encountering an issue using TFRecord because I don't know exactly how to put my images inside the TFRecord so that it can be properly used by TFX components. Here is the script I used to create a `.tfrecord` file to be fed into the TFX pipeline:

[code]

The first or the second solution seem to be t

[2022-09-02 12:01] singhniraj08 commented on #5145
@gbih,

As mentioned in latest [commit](https://github.com/tensorflow/tfx/commit/f10d92b21dff9ace1748a96a13a8e796c5d0f762), the latest version of tfx 1.9.1 allows latest apache-airflow 2.x which was blocked in previous tfx release 1.8.0 due to a dependency conflict with kfp.

So you can use old pattern `from tfx.orchestration.airflow.airflow_dag_runner import AirflowDagRunner` for importing Airflo

[2022-09-02 18:28] hugoferrero commented on #5182
Thank you!.

[2022-09-02 18:28] #5182 closed

[2022-09-02 23:14] rcgreen99 commented on #2197
ExampleGen can see .csv files in other directories within the input_base dir so make sure you're in the correct directory. This fixed my issue (I had to go one directory down).

[2022-09-03 06:23] #5145 closed

[2022-09-04 10:39] zhongdai commented on #2357
If we need to push the model to multiple regions, every time it runs the Pusher, it creates a new timestamp as the `model_version`, which cause the same model has different versions in different regions. Is there any suggestions or that?

[2022-09-05 12:21] singhniraj08 commented on #5184
@Longwelwind,

As mentioned for [Evaluator](https://www.tensorflow.org/tfx/api_docs/python/tfx/v1/components/Evaluator) and [BulkInferrer](https://www.tensorflow.org/tfx/api_docs/python/tfx/v1/components/BulkInferrer), they accept examples produced by ExampleGen component.
You can try importing external TFRecord with `tf.Example` directly as mentioned [here](https://www.tensorflow.org/tfx/guide/ex

[2022-09-05 13:42] Longwelwind commented on #5184
I'm already using ExampleGen, the issue is what should I put in my TFRecord or how I should structure my model.

In the meantime, I found this issue, that describes how to make a TF model accepts JPEG-encoded: https://github.com/tensorflow/serving/issues/1869

I'll close since it seems to fix my issue. Thanks!

[2022-09-05 13:42] #5184 closed

[2022-09-06 13:29] deep-diver opened #5191 "Transform eval split to be evaluated in Evaluator"
I am trying to implement TFX pipeline for semantic segmentation task, and I ran into an issue.
- In semantic segmentation, the shape of label data is three dimensional (i.e. [Width, Height, 1])
- I have prepared the data in TFRecord format, so everything is flatten in one dimensional
- I can reshape the training data in `Transform` or `Trainer`, and that goes OK w/o any problem
- However, when `Ev

[2022-09-06 18:55] gowthamkpr commented on #2182
Closing this issue as it has been inactive for more than 2 weeks. Please reopen if you'd like to work on this further.

[2022-09-06 18:55] #2182 closed

[2022-09-06 20:12] gowthamkpr commented on #2198
@pmccarthy-dstillery I am close this issue as it has been inactive for 2 weeks. Feel free to reopen it. Thanks!

[2022-09-06 20:12] #2198 closed

[2022-09-07 12:41] ConverJens commented on #5191
@deep-diver This is because you have only specified an input_fn that can handle your raw data. You need to create an additional one which exposes the transformed data to the model. Like in this example: https://github.com/tensorflow/tfx/blob/e79f4f49ef7eead145189d75ee6a7fc0310cb17e/tfx/examples/penguin/penguin_utils_base.py#L43

[2022-09-07 13:18] deep-diver commented on #5191
@ConverJens

Hi. First of all, thank you!
I don't think it is the problem on model's side. I get the correct shape of Tensor from the prediction, but the problem is the shape of Tensor from the label(`y_true` or ground truth) is in the raw format which is not compatible to compare with the prediction output.

[2022-09-07 13:29] ConverJens commented on #5191
@deep-diver
But then it sounds like you are doing an on-the-fly transformation of your labels in the Trainer? If so, that can definitely cause the issue. But if you have the correct label format after the transform step, then you shouldn't have an issue.

Your second option would be to create a custom component that consumes the data after transform which applies the transformation to your label a

[2022-09-07 13:36] deep-diver commented on #5191
sure,
I mean I have no problem to run `Trainer` and `Tuner` components with `train` and `eval` splits from `Trasnform` component. But why do I have a problem with `Evaluator` even I provide the same splits from `Transform` component?

And, I am not doing an on-the-fly transformation of the labels in the `Trainer`, there is no code that touches the input dataset at all. Below is all I have to handl

[2022-09-07 13:43] ConverJens commented on #5191
I mean that you are missing a serving signature (I think I wrote input_fn before which is an error on my part).

The input_fn is just for training so that won't affect the evaluator. The evaluator loads your model and feeds the data through the selected serving signature. If you haven't specified it, it will use "serving_default". Basically, you have created an input for raw data but not for trans

[2022-09-07 14:29] ConverJens commented on #5191
@deep-diver I believe that you are right but about the labels then.

But you mention that you have flattened your label into a single array in tfrecord format but you also state that the output of your model is 3 dimensional.

You also mention that the metric you want to use in training requires both label and prediction to be on the same form. Are you in someway transforming your predictions to f

[2022-09-07 14:47] rseeto opened #5193 "`Evaluator` fails when orchestrated by Airflow due to no attributes for `component_run_context`"
### System information
- Ubuntu version: 20
- TensorFlow version: 2.9.2
- TFX Version: 1.9.1
- Python version: 3.8
- Airflow version: 2.3.4

### Describe the current behaviour
I've run a pipeline with Airflow once without issue. I've rerun the pipeline (incorporating a blessed model from the first run) but the `Evaluator` component fails due to issues with the `component_run_context`.

I believe t

[2022-09-07 15:34] deep-diver commented on #5191
what does label data to the `Evaluator` has anything to do with the outputs from the model? model doesn't know the label data, but Evaluator does.

Serving spec is no problem, it is just an input signature to the model, not the raw data itself. Like I said, I had no problem with training and tuning, and of course prediction. I have successully deployed the model with the current setting, but now i

[2022-09-08 08:46] ConverJens commented on #5191
@deep-diver

No but Trainer does and uses that in your loss function, right?

The real question here is it working fine in Trainer but not in evaluator. They both use the transformed data and they both use the label and model output. So if it is working in your Trainer code one of two things must happen:

1. You are transforming the label or model output to match the loss function you are using
2.

[2022-09-08 14:26] ConverJens opened #5200 "RuntimeParameters fail when using interactive context"
- Have I specified the code to reproduce the issue (Yes, No):
Yes, minimal example in attached notebook
- Environment in which the code is executed (e.g., Local(Linux/MacOS/Windows), Interactive Notebook, Google Cloud, etc):
Fails in interactive notebook in Jupyter wherever it is run (e.g. local, vertex workbench etc)
- TensorFlow version:  Which ever bundles with TFX 1.9
- TFX Version: 1.9
- Pyth

[2022-09-09 17:43] gowthamkpr commented on #2474
Closing this issue as it has been inactive for more than 2 weeks. Please reopen it if you have any updates. Thanks!!

[2022-09-09 17:43] #2474 closed

[2022-09-09 19:10] micahjsmith commented on #5148
Regardless of how it is conceived, the evaluator already does have the role as "pure evaluator" plus model validator because it produces the blessing. So my question still stands about whether a model that has been "purely evaluated" is blessed or not blessed. I don't feel strongly so making it not blessed is fine.

My concern still stands that this is undocumented behavior. One paragraph of expla

[2022-09-09 22:18] genehwung commented on #5148
There might be some information misleading, the evaluator have the role as evaluator, only optionally the role of model validator, not plus. Ideally, there shouldn't be any blessing artifact when used as a pure evaluator, that might be a bug or feature request for TFX.

Another angle to look at this is: whether to bless or unbless a model without threshold is ambiguous. Blessing by default might b

[2022-09-12 09:01] singhniraj08 commented on #5193
@rseeto,

This issue is already been reported #4977 and a [PR](https://github.com/tensorflow/tfx/pull/5039) is created for the same. Requesting you to close this issue and follow #4977 thread. Thank you!

[2022-09-12 10:15] singhniraj08 commented on #5200
@ConverJens,

As mentioned in  official documentation of [tfx.v1.dsl.experimental.RuntimeParameter](https://www.tensorflow.org/tfx/api_docs/python/tfx/v1/dsl/experimental/RuntimeParameter), currently runtime parameter is only supported on KubeflowDagRunner.

Hope this helps. Thank you!

[2022-09-13 09:15] singhniraj08 commented on #5126
@codesue,

Kindly let us know if this issue can be closed. Thank you!

[2022-09-13 12:20] ConverJens commented on #5200
@singhniraj08

Thanks for the pointer. We have aslo spotted another issue which is that default values are not shown in vertex. This is a real pain point when one tries to pass more data, using the custom_config in trainer and tuner.

Are you aware if this is also a known limitation?

[2022-09-13 13:57] singhniraj08 commented on #5191
@deep-diver,

In order to expedite the trouble-shooting process, please provide a minimal code snippet to reproduce the issue reported here. Thank you!

[2022-09-13 18:17] gowthamkpr commented on #2448
Closing this issue as it has been inactive for more than 2 weeks. Please reopen it if you have any updates. Thanks!!

[2022-09-13 18:17] #2448 closed

[2022-09-13 18:18] gowthamkpr commented on #2583
Closing this issue as it has been inactive for more than 2 weeks. Please reopen it if you have any updates. Thanks!!

[2022-09-13 18:18] #2583 closed

[2022-09-13 18:19] gowthamkpr commented on #2614
Closing this issue as it has been inactive for more than 2 weeks. Please reopen it if you have any updates. Thanks!!

[2022-09-13 18:19] #2614 closed

[2022-09-14 15:28] navie-bp opened #5212 "'.system' directory is not created in s3 path"
**System information**

- Have I specified the code to reproduce the issue (Yes, No):
- Environment in which the code is executed (e.g., Local(Linux/MacOS/Windows),
  Interactive Notebook, Google Cloud, etc): Linux, Amazon EC2
- TensorFlow version: 2.7.0
- TFX Version: 1.6.0
- Python version: 3.7
- Python dependencies (from `pip freeze` output):
absl-py                         1.2.0
aiobotocore

[2022-09-14 19:34] EdwardCuiPeacock commented on #4705
Hi, I am revisiting this issue more recently. I briefly looked at the solution provided by @zoyahav (thank you), and it seems like it can be a partial workaround to the issue I am having. But I am also trying to obtain a vocabulary from the union of 2 or more features.

In my specific use case, I have two features called `history` and `session`. Both are variable length sequences (represented as s

[2022-09-16 09:12] #5212 closed

[2022-09-16 09:12] navie-bp commented on #5212
I confirmed that it was fixed in tfx 1.9.1 version.
Close this issue.

[2022-09-16 14:33] #5193 closed

[2022-09-19 01:24] eyadgaran commented on #4770
Thanks for following up! I've decided to hold off for the moment while I determine the direction of the project. Cheers!

[2022-09-19 05:51] singhniraj08 commented on #4770
@eyadgaran,

Requesting you to close this issue and create a PR in [TFX-Addons](https://github.com/tensorflow/tfx-addons) when you want go ahead with this integration. Thank you!

[2022-09-20 05:08] #4770 closed

[2022-09-21 16:49] singhniraj08 commented on #1888
@IshootLaser,

TFX StatisticsGen component writes the statistics protocol buffer in a TFRecord file. You can visualize the statistics in a Jupyter notebook as follows:

[code]

You can refer [documentation](https://www.tensorflow.org/tfx/tutorials/data_validation/tfdv_basic#compute_and_visualize_statistics) for more details. Thank you!

[2022-09-21 17:18] gowthamkpr commented on #2718
@nroberts1 Estimators are not recommended for new code. Estimators run [v1.Session](https://www.tensorflow.org/api_docs/python/tf/compat/v1/Session)-style code which is more difficult to write correctly, and can behave unexpectedly, especially when combined with TF 2 code. Estimators do fall under our [compatibility guarantees](https://tensorflow.org/guide/versions), but will receive no fixes othe

[2022-09-21 17:18] #2718 closed

[2022-09-21 18:41] gowthamkpr commented on #3002
@RaphRzb This should be fixed in the latest version of tfx. Can you please check and get back to us. Thank you!!

[2022-09-21 18:43] #3002 closed

[2022-09-21 18:48] gowthamkpr commented on #1858
@chrispankow As this is nolonger a blocker, can you please go ahead and close this issue. If you think this usecase is generic and is required for a wider community, then please explain it in detail so we can look into it. Thanks!

[2022-09-21 18:51] gowthamkpr commented on #2470
Closing this issue as it has been inactive for more than 3 weeks. Please respond to the above question and reopen the issue. Thanks!

[2022-09-21 18:51] #2470 closed

[2022-09-21 19:02] rcrowe-google commented on #1888
One thing to note is that the visualization works in Jupyter Notebooks, and IIUC it doesn't work so well in Jupyter Lab (although I think there is a workaround).

[2022-09-21 20:54] #1858 closed

[2022-09-21 21:09] codesue commented on #5126
Hi @singhniraj08, I have a workaround, but it would be nice to have this fix merged. Should I submit a pull request for this?

[2022-09-21 21:16] gowthamkpr commented on #2520
@liutongxuan You can trigger your pipeline on demand, on a schedule, on the availability of new data, on model performance degradation, on significant changes in the statistical properties of the data, or based on other conditions. Please take a look at how to automate your ML pipeline using Kubeflow, tfx and on GCP [here](You can trigger your pipeline on demand, on a schedule, on the availability

[2022-09-21 21:25] gowthamkpr commented on #3116
@ConverJens Please take a look at the solution provided [here](https://stackoverflow.com/questions/68728504/tfx-apache-beam-flink-jobs-hang-when-running-on-more-than-one-task-manager) which should help.  Thanks!

[2022-09-21 21:30] gowthamkpr commented on #3462
@raravena80 Closing this issue as the event is already done and is published [here](https://www.youtube.com/watch?v=zCQ3gzEDdG4). Thanks!

[2022-09-21 21:30] #3462 closed

[2022-09-21 21:44] #3256 closed

[2022-09-21 21:54] gowthamkpr commented on #2939
@anineharto As mentioned [above](https://github.com/tensorflow/tfx/issues/2939#issuecomment-758728009) please check MD Backend where you will find it. Thanks!

[2022-09-21 22:13] gowthamkpr commented on #2810
@suisenkotoba Can you please use the method provided [here](https://github.com/tensorflow/tfx/issues/2810#issuecomment-814267355) as it is not possible to set steps_per_epoch using StatisticsGen. Thanks!

[2022-09-21 22:26] gowthamkpr commented on #2861
@PunyPony Please create an issue in [keras-team/keras](https://github.com/keras-team/keras/issues/new/choose) as this issue is related to keras. Thanks!!

[2022-09-21 22:26] #2861 closed

[2022-09-21 23:24] gowthamkpr commented on #2782
The above solution in link 1 should solve the issue. Closing this issue as it has been inactive for more than a year. Please update the issue with a comment and if its valid will open the issue. Thanks!!

[2022-09-21 23:24] #2782 closed

[2022-09-22 00:26] gowthamkpr commented on #1505
@AnbangZhao Can you please respond to the above [comment](https://github.com/tensorflow/tfx/issues/2782#issuecomment-932294145). Thanks!!

[2022-09-22 00:28] gowthamkpr commented on #4424
@calin-coan As mentioned by the above [comment](https://github.com/tensorflow/tfx/issues/4424#issuecomment-1158885200), can you please register all the addons before saving. Thanks!!!

[2022-09-22 06:24] singhniraj08 commented on #5126
@codesue, Please go ahead to create a PR for the fix. Thank you!

[2022-09-22 09:07] chongkong commented on #2357
We haven't developed alternative [Versioning](https://github.com/tensorflow/tfx/blob/master/tfx/proto/pusher.proto) scheme yet, but we can introduce another one, depending on your purpose and needs. For example we can have external versioning scheme that accepts string version number from another custom components (that you create) to be used. Or versioning based on the pipeline_run which would be

[2022-09-23 23:41] casassg opened #5256 "Cache skipped with same execution properties"
**System information**

- Have I specified the code to reproduce the issue (Yes, No): No
- Environment in which the code is executed (e.g., Local(Linux/MacOS/Windows),
  Interactive Notebook, Google Cloud, etc): Kubeflow Pipelines GKE deployment - KF 1.5 version
- TensorFlow version: 2.5.1
- TFX Version: 1.2.1
- Python version: 3.7
- Python dependencies (from `pip freeze` output):

**Describe the

[2022-09-24 00:27] rcrowe-google commented on #5256
Does the query string change?

Could you try rerunning with exactly the same beam_pipeline_args to see if it caches?

[2022-09-24 06:37] KimuraTian commented on #5051
Running data_view components on Vertex AI throws the same error as the first issue at [4472](https://github.com/tensorflow/tfx/issues/4472#issuecomment-985377682)

[2022-09-26 06:18] singhniraj08 commented on #1312
@robertlugg,

[TFX official documentation](https://www.tensorflow.org/tfx/tutorials/tfx/python_function_component#setup) states that `TFX requires Python 3`. Also, for more info we can refer to [PyPI website](https://pypi.org/project/tfx/) stating Python version requirements for TFX `Requires: Python >=3.7, <3.10`.

Hope this helps. Thank you!

[2022-09-26 06:46] singhniraj08 commented on #2672
@sakinaljana,

Please refer to this [example](https://www.tensorflow.org/tfx/tutorials/transform/simple?hl=en#putting_it_all_together) to pass `preprocessing_fn` function to Transform Beam API and a same [example](https://www.tensorflow.org/tfx/tutorials/tfx/components?hl=en#transform) when working with InteractiveContext.
Thank you!

[2022-09-26 10:27] singhniraj08 commented on #4097
@zion-b, Please refer to this [example](https://www.tensorflow.org/tfx/tutorials/tfx/gcp/vertex_pipelines_vertex_training) for tabular data example on training and serving on Vertex AI. Hope it helps.

[2022-09-26 10:29] singhniraj08 commented on #4097
@yrianderreumaux,

Please let us know if this [answer](https://github.com/tensorflow/tfx/issues/4097#issuecomment-895871854) helps your use case. Thank you!

[2022-09-26 16:56] rtg0795 opened #5263 "TFX 1.10.0-rc0 Issues"
Please comment or link any issues you find with TFX 1.10.0-rc0.

Thanks.

[2022-09-27 05:32] singhniraj08 commented on #4737
Closing this due to inactivity. Please take a look into the answers provided above, feel free to reopen and post your comments(if you still have queries on this). Thank you!

[2022-09-27 05:32] #4737 closed

[2022-09-27 06:33] singhniraj08 commented on #4701
@OmarAlsaqa,

I tried the same colab file with latest version and it worked for me. Please find attached the [gist](https://colab.sandbox.google.com/gist/singhniraj08/4d77e7f7943b29777a94423f4fb17637/tfx_penguin.ipynb#scrollTo=ulGE6uZjOnrn) here.
Could you please confirm with same versions? Thank you!

TensorFlow version: 2.9.0
TFX version: 1.9.1
TensorFlow Data Validation version: 1.9.0
TensorFlo

[2022-09-27 06:42] singhniraj08 commented on #4381
@alexperry-shifu,

Did you got any chance to look into the solution provided above? Thank you!

[2022-09-27 09:09] singhniraj08 commented on #2077
@srinivasaraov,

Kindly let us know if this [resolution](https://github.com/tensorflow/tfx/issues/2077#issuecomment-651970394) helps. Thank you!

[2022-09-27 09:57] singhniraj08 commented on #611
@cyrilthank, Please use this [example](https://www.tensorflow.org/tfx/tutorials/tfx/cloud-ai-platform-pipelines) to use TFX on Kubeflow.

And, Please refer [here](https://www.tensorflow.org/tfx/guide/custom_component), to use the TFX API to build a fully custom component.

Thank you!

[2022-09-27 19:02] OmarAlsaqa commented on #4701
@singhniraj08 Yes it is working now with:
- TensorFlow version: 2.9.0
- TFX version: 1.9.1
- TensorFlow Data Validation version: 1.9.0
- TensorFlow Transform version: 1.10.1

[2022-09-27 21:31] gowthamkpr commented on #3213
@macoun As mentioned [above](https://github.com/tensorflow/tfx/issues/3213#issuecomment-1142629064), please update to tensorflow 2.x  and tfx 2.8.0. I am closing this issue as it has been inactive for months. Please respond to this above comment and will reopen the issue. Thanks!!!

[2022-09-27 21:31] #3213 closed

[2022-09-27 21:49] gowthamkpr commented on #3417
@SaschaHeyer Did [entrypoint config](https://cloud.google.com/build/docs/build-config#entrypoint) of cloudbuild.yaml work for you? Please let me know thanks!!

[2022-09-27 23:07] casassg commented on #5256
Query string stays the same, had to scratch it from gist for privacy reasons but I can assure you it's the same. Also running the same beam_pipeline_args it caches (I cloned the run on UI to validate this).

[2022-09-28 03:52] gowthamkpr commented on #3942
@mxie622 ExampleGen Consumes: Data from external data sources such as CSV, TFRecord, Avro, Parquet and BigQuery. You can look at it [here](https://www.tensorflow.org/tfx/guide/examplegen)

[2022-09-28 05:55] jiyongjung0 commented on #2195
Sorry for the late follow-up. But in this case, you can just pass `latest_model_resolver.outputs['latest_model']` and an empty will be just ignore at the Trainer.

We have conditional for some orchestrators now, please check [examples](http://google3/third_party/py/tfx/examples/penguin/penguin_pipeline_local.py;l=324;rcl=463128542) for use cases.

[2022-09-28 06:02] jiyongjung0 commented on #3409
Sorry for the late follow-up. We have expanded to include some more types like proto, list[proto], and list[str].(See the [related code](https://github.com/tensorflow/tfx/blob/e5d43b348d233d885b5fac32ae78c2c03cdf653e/tfx/orchestration/data_types_utils.py#L240)) But still you have to serialize / deserialize for certain types yet.

[2022-09-28 06:19] singhniraj08 commented on #4701
@OmarAlsaqa,

Thank you for the confirmation. Requesting you to close this issue.

[2022-09-28 06:36] jiyongjung0 commented on #3188
Sorry for the late follow-up. I think that it makes sense and we need to add more documentation and early-warnings about the shape of input / transformed-inputs.

@mdreves Do you have any ideas on this?

[2022-09-28 16:19] gowthamkpr commented on #2520
Closing this issue as there is no response for a week. Please reply to the above comment and we can open this issue again. Thanks!!!

[2022-09-28 16:27] gowthamkpr commented on #2810
@suisenkotoba Closing this issue as there is no response for a week. Please reply to the above comment and we can open this issue again. Thanks!!!

[2022-09-28 16:27] #2810 closed

[2022-09-28 18:51] gowthamkpr commented on #4830
As mentioned [above](https://github.com/tensorflow/tfx/issues/4830#issuecomment-1119149761), since its a protofile, you can look at the definition to understand it and so its not added in docs. Closing this issue as its expected. Thanks!!

[2022-09-28 18:51] #4830 closed

[2022-09-28 20:48] gowthamkpr commented on #4424
Closing this issue as it has been inactive for a while. Please add additional comments to reopen this issue. Thanks!!

[2022-09-28 20:48] #4424 closed

[2022-09-28 20:49] gowthamkpr commented on #2939
Closing this issue as its is not a bug and is inactive for a while. Please add additional comments and we can reopen this issue. Thanks!!

[2022-09-28 20:49] #2939 closed

[2022-09-28 21:24] mdreves commented on #3188
TFMA is moving away from supporting using the keras model directly for inference. Instead all the inputs need to be defined via signatures. The transformations themselves also need to be defined using signatures. There are examples for how to export a model with proper signatures in the penguin example:

https://github.com/tensorflow/tfx/blob/78cfa243d9da756ddd2597fed27eaf15578e4f98/tfx/examples/p

[2022-09-29 05:18] jeongukjae commented on #3409
@jiyongjung0 That's enough for my use case. Thanks for the follow-up!

[2022-09-29 05:18] #3409 closed

[2022-09-29 10:33] singhniraj08 commented on #2194
@umusa,

You can try using [get_statistics_html](https://www.tensorflow.org/tfx/data_validation/api_docs/python/tfdv/get_statistics_html) that generates the HTML objects and calling those instead of the visualize functions. Then, visualize those functions with the DataBricks [displayHTML](https://docs.databricks.com/notebooks/visualizations/html-d3-and-svg.html) function.

Hope this helps. Thank y

[2022-09-29 10:36] singhniraj08 commented on #2223
@umusa,

You can try using [get_statistics_html](https://www.tensorflow.org/tfx/data_validation/api_docs/python/tfdv/get_statistics_html) that generates the HTML objects and calling those instead of the visualize functions. Then, visualize those functions with the DataBricks [displayHTML](https://docs.databricks.com/notebooks/visualizations/html-d3-and-svg.html) function.

Hope this helps. Thank y

[2022-09-29 23:33] gowthamkpr commented on #4173
You could run it either in a VM or in a containerized environment like [Kubernetes on Azure 9](https://azure.microsoft.com/en-us/overview/kubernetes-on-azure/). You could probably also run it on [Airflow 9](https://azure.microsoft.com/en-us/blog/deploying-apache-airflow-in-azure-to-build-and-run-data-pipelines/). However I haven’t tried either of these things. Please take a look at the solution pr

[2022-09-29 23:33] #4173 closed

[2022-09-29 23:40] gowthamkpr commented on #4151
@sumitbinnani As mentioned [above](https://github.com/tensorflow/tfx/issues/4151#issuecomment-921430045), please register that as an artifact of that type (in supported format). Closing this issue as it has been inactive for a long time. Thanks!!

[2022-09-29 23:40] #4151 closed

[2022-09-30 03:06] gowthamkpr commented on #3417
Closing this issue as it has been inactive for a long time. Please add additional comments for us to open this issue again. Thanks!!

[2022-09-30 03:06] #3417 closed

[2022-09-30 03:25] #3942 closed

[2022-09-30 04:45] singhniraj08 commented on #1936
Closing this due to inactivity. Please take a look into the answers provided above, feel free to reopen and post your comments(if you still have queries on this). Thank you!

[2022-09-30 04:45] #1936 closed

[2022-09-30 04:47] singhniraj08 commented on #2429
Closing this due to inactivity. Please take a look into the answers provided above, feel free to reopen and post your comments(if you still have queries on this). Thank you!

[2022-09-30 04:47] #2429 closed

[2022-09-30 04:52] singhniraj08 commented on #2785
Closing this due to inactivity. Please take a look into the answers provided above, feel free to reopen and post your comments(if you still have queries on this). Thank you!

[2022-09-30 04:52] #2785 closed

[2022-10-03 07:05] singhniraj08 commented on #4105
@sayakpaul,

Please refer to example [Vertex AI Training and Serving](https://www.tensorflow.org/tfx/tutorials/tfx/gcp/vertex_pipelines_vertex_training) code's [Write a pipeline definition](https://www.tensorflow.org/tfx/tutorials/tfx/gcp/vertex_pipelines_vertex_training#write_a_pipeline_definition) section. This example showcases Pusher with custom_config argument. Thank you!

[2022-10-03 08:41] strider2022 opened #5290 "Cannot find KubeflowDagRunner.run() in kubeflow_v2_runner.py"
If the bug is related to a specific library below, please raise an issue in the
respective repo directly:

**System information**

- Environment in which the code is executed: Google Cloud Vertex AI

- TensorFlow version: 2.8.3
- TFX Version: 1.8.0
- Python version: 3.7
- Python dependencies (from `pip freeze` output):
absl-py==1.2.0
aiohttp @ file:///home/conda/feedstock_root/build_artifacts/aioh

[2022-10-03 10:16] singhniraj08 commented on #4313
@davidxia,

In the official tutorial, the enable Vertex AI and Cloud storage API step has been mentioned in [setup section](https://www.tensorflow.org/tfx/tutorials/tfx/gcp/vertex_pipelines_simple#set_up). Also, the [vertex documentation](https://cloud.google.com/vertex-ai/docs/pipelines/configure-project) link in setup section guides us to grant permissions for pipeline run and cloud storage acce

[2022-10-04 08:54] singhniraj08 commented on #5290
@strider2022,

Can you please upgrade to TFX 1.9.1 and run the below command as mentioned in [Copy a template into your project directory](https://www.tensorflow.org/tfx/tutorials/tfx/cloud-ai-platform-pipelines?authuser=1#6_copy_a_template_into_your_project_directory) section for example notebook to download a basic scaffold of files that build a pipeline. This should resolve your ModuleNotFound

[2022-10-04 09:48] StriderDM35 commented on #5290
@singhniraj08

I have upgraded TFX top 1.9.1 and have made sure that the KFP cluster has permissions to access the Google Cloud APIs. I am also following this current tutorial on creating a TFX pipeline: https://www.tensorflow.org/tfx/tutorials/tfx/template
However, during step 8 which was to try KFP with Dataflow, the pipeline would eventually fail at the **Transform** segment, with the error mes

[2022-10-04 10:37] singhniraj08 commented on #5290
@StriderDM35,

Yes as mentioned in the [README.md](https://github.com/tensorflow/tfx/tree/master/tfx/experimental/templates/taxi) file for Taxi pipeline template, `models directory contains ML model definitions which is required by Trainer, Transform and Tuner components.`

Regarding the error, I saw a similar [issue](https://github.com/tensorflow/tfx/issues/3761#issuecomment-843576953), and the s

[2022-10-04 14:32] StriderDM35 commented on #5290
@singhniraj08
I have attempted to pass the image name to KubeflowDagRunnerConfig directly as shown below, but the same error still occurs (at the transform stage).
`runner_config = tfx.orchestration.experimental.KubeflowDagRunnerConfig(
      kubeflow_metadata_config=metadata_config,
      tfx_image='gcr.io/rapid-stream-364400/my_pipeline_4') #configs.PIPELINE_IMAGE)`

The 'configs.PIPELINE_IMAGE'

[2022-10-05 15:48] codesue commented on #5126
Hi @singhniraj08, I just opened a PR with the fix.

[2022-10-05 18:06] gowthamkpr commented on #4559
@miroC911 As mentioned [above](https://github.com/tensorflow/tfx/issues/4559#issuecomment-1160433081), this issue is specific to windows path and a workaround is mentioned [here](https://github.com/tensorflow/tfx/issues/4474#issuecomment-1160428019). Lets close this issue and track it [here](https://github.com/tensorflow/tfx/issues/4474). Thanks!!

[2022-10-05 18:39] gowthamkpr commented on #3692
@rclough Can you use the latest version of tfx as this issue should be fixed by now. Please let me know if you run into any issues. Thanks!!

[2022-10-05 20:50] gowthamkpr commented on #495
@jinnovation Can you please try using Kubeflow as we are no longer actively supporting airflow. Thanks!!

[2022-10-05 20:52] #495 closed

[2022-10-06 02:44] jeongukjae commented on #3409
Writing here what I found

* example using proto execution param in component spec:
  * https://github.com/tensorflow/tfx/blob/f1f8dedf221ed2e8365c0092c4bcc09407dcd53e/tfx/types/standard_component_specs.py#L159-L164
* example using proto execution param in executor
  * https://github.com/tensorflow/tfx/blob/f1f8dedf221ed2e8365c0092c4bcc09407dcd53e/tfx/components/evaluator/executor.py#L139-L142

[2022-10-06 09:08] singhniraj08 commented on #5290
@StriderDM35,

I can see similar [issue](https://github.com/kubeflow/pipelines/issues/4592) on kubeflow repo and #2556.

As a suggested resolution, your code needs to be in the image you use in your component.

Please try below steps and let me know if it works.

[2022-10-06 09:29] StriderDM35 commented on #5290
@singhniraj08
Thanks for your reply. What files should I copy over and where should I write that line?

Do the following lines (from the provided config.py file) not ensure that?
`
GCP_AI_PLATFORM_TRAINING_ARGS = {
    'project': GOOGLE_CLOUD_PROJECT,
    'region': GOOGLE_CLOUD_REGION,
    'masterConfig': {'imageUri': 'gcr.io/rapid-stream-364400/my_pipeline_4'},
}`

[2022-10-06 09:41] singhniraj08 commented on #5290
@StriderDM35,

The taxi template path containing Models, Pipeline folders shall be copied to the image and the path should be added to environment variable as shown [here](https://stackoverflow.com/a/3402196). Hope this helps. Thank you!

[2022-10-06 10:20] StriderDM35 commented on #5290
@singhniraj08
Thank you for your reply.
Just to check, that will mean the following lines right?
`sys.path.append('my_pipeline_4/')`
`sys.path.append('my_pipeline_4/models/')`
`sys.path.append('my_pipeline_4/pipeline/')`

[2022-10-06 14:23] singhniraj08 commented on #5290
@StriderDM35, Yes, Please try to add these lines and let us know if it helps in fixing the issue. Thank you!

[2022-10-06 17:26] venkat2469 opened #5314 "TFX 1.10.0 Issues"
Hello everyone TFX 1.10.0 is released with all the dependency libraries.

Please comment or link any issues you find with TFX 1.10.0

Thanks.

[2022-10-07 00:41] strider2022 commented on #5290
@singhniraj08
I have added those lines to both the kubeflow_runner.py and pipeline.py files, as well as the notebook right before I ran step 9, but the same error still occurs. Am I adding them wrongly?

My files are arranged as such:
-template.ipynb (this is the tutorial notebook)
-my_pipeline_4 (the name of my pipeline)
     -data
     -models
          -estimator_model
          -keras_model

[2022-10-07 10:17] singhniraj08 commented on #2637
@ConverJens,

`slice_functions` is deprecated and you can use `experimental_slice_functions` to generate slice keys. Please refer [tfdv.StatsOptions](https://www.tensorflow.org/tfx/data_validation/api_docs/python/tfdv/StatsOptions). Thank you!

[2022-10-08 11:16] azizderbel commented on #4732
@jaymon0703 the issue with 'tfx pipeline create' command is you need to define a HOME environment variable where a TFX folder will be saved.However, when you run 'tfx run create --pipeline_name' command,you will encounter a Windows related issue in terms of path interpertation. I don't know exactly what is probleme but from what I read in most blogs its related to forward and backslashes interpret

[2022-10-08 11:39] azizderbel opened #5330 "Windows path incompatibility"
I encountered this issue when following the guide example for building TFX pipeline locally : build_local_pipeline.
According some blogs TFX is not compatible yet with windows due to issue related to path interpretation, but there is not confirmation in the official documentation.
Is there any solution to work around thaht in windows env ?
INFO:absl:MetadataStore with DB connection initialized
INF

[2022-10-08 12:38] jaymon0703 commented on #4732
Thank you. You are correct and I have encountered the error, and ended up using Debian Python 3.8 container.

[2022-10-10 07:55] singhniraj08 commented on #5330
@azizderbel,

As per [similar issue](https://github.com/tensorflow/tfx/issues/950#issuecomment-970793241), currently there is no plan to support TFX on Windows.

Although, the root for this issue looks like path difference between Linux and Windows OS. The fix is to use the platform-appropriate path separators while setting up directories via `os.path.join` rather than hard-coding forward slashes.

[2022-10-10 20:40] zhitaoli commented on #3692
Suggesting to close this issue since new version of TF(X) are available now.

Please discuss with @1025KB if more work is necessary.

[2022-10-10 20:40] #3692 closed

[2022-10-11 16:09] zhitaoli commented on #4559
Agree to close the issue. Please send any follow up request to @ruoyu90

[2022-10-11 16:09] #4559 closed

[2022-10-11 16:10] zhitaoli commented on #4126
@1025KB @rcrowe-google  Can you help to coordinate relevant imports?

[2022-10-12 13:34] #5126 closed

[2022-10-13 08:16] NarasimmanSaravana1994 commented on #5330
@azizderbel

Same issue I'm also facing,

INFO:absl:Using deployment config:
 executor_specs {
  key: "CsvExampleGen"
  value {
    beam_executable_spec {
      python_executor_spec {
        class_path: "tfx.components.example_gen.csv_example_gen.executor.Executor"
      }
    }
  }
}
custom_driver_specs {
  key: "CsvExampleGen"
  value {
    python_class_executable_spec {
      class_path: "tfx.

[2022-10-13 22:16] gowthamkpr commented on #2219
@umusa This looks like the apache beam and python version mismatch. Also can you please use the latest version of tfx and let me know if the issue still persists. Thanks!!

[2022-10-14 04:42] singhniraj08 commented on #4434
@casassg,

linter failure is changed to warnings and github CI action will continue to run even if linter fails as per above [comment](https://github.com/tensorflow/tfx/issues/4434#issuecomment-1209218191).
Kindly let us know if this issue can be closed. Thank you!

[2022-10-14 04:45] singhniraj08 commented on #5330
@NarasimmanSaravana1994, @azizderbel

This happens because in windows the character : is not allowed to be used in file/folder names. I have found a similar [issue](https://github.com/tensorflow/tfx/issues/4474#issuecomment-1160428019) where the workaround is suggested by adding `self._pipeline_run_id.replace(':', '_')`  in the `get_stateful_working_directory` function in `in tfx\orchestration\por

[2022-10-14 05:44] NarasimmanSaravana1994 commented on #5314
AttributeError: module 'tfx.v1' has no attribute 'orchestration'

@venkat2469

[2022-10-14 10:01] azizderbel commented on #4732
Thank you @jaymon0703

[2022-10-14 10:31] singhniraj08 commented on #4474
@yonil7,

This happens because in windows the character : is not allowed to be used in file/folder names. As mentioned in above comments,  suggested workaround is by adding `self._pipeline_run_id.replace(':', '_')` in the `get_stateful_working_directory` function in `tfx\orchestration\portable\outputs_utils.py` file.

Kindly let me know if it helps. Thank you!

[2022-10-18 08:34] #5200 closed

[2022-10-18 22:28] rcrowe-google commented on #4126
Given that the last comment is over a year old I'm closing this bug.

[2022-10-18 22:28] #4126 closed

[2022-10-19 19:14] davidxia commented on #4313
I see. I must've missed those steps. Thanks

[2022-10-19 19:14] #4313 closed

[2022-10-20 10:05] axeltidemann opened #5404 "Custom component with file output fails on Vertex"
**System information**

- Have I specified the code to reproduce the issue: Yes.
- Environment in which the code is executed: Vertex AI
- TensorFlow version: 2.6.5, 2.8.2, 2.9.2
- TFX Version: 1.4.0, 1.8.0, 1.10.0
- Python version: 3.7
- Python dependencies (from `pip freeze` output): N/A

**Describe the current behavior**

I have a custom TFX component that writes an HTML file. The custom compone

[2022-10-20 10:11] singhniraj08 commented on #4340
@entrpn, Could you please try with latest TFX release 1.10.0 and see if the string value works of your GPU works in 'accelerator_type' param. Thank you!

[2022-10-21 09:18] gaikwadrahul8 commented on #5113
@BuggieCoder

It seems like duplicate issue like [#2054](https://github.com/tensorflow/serving/issues/2054) and As workaround please comment this line : `!{SUDO_IF_NEEDED} apt-get install tensorflow-model-server `line and add below 03 lines of command to install Tensorflow serving 2.8.0 in section : **Install TensorFlow Serving**

[code]

Sharing the working [gist file](https://colab.research.goog

[2022-10-24 21:29] BuggieCoder commented on #5113
Thank you for your response. Will close the issue.

[2022-10-24 21:29] #5113 closed

[2022-10-25 07:44] axeltidemann commented on #5404
@singhniraj08 are you able to reproduce the issue?

[2022-10-26 17:45] davidxia commented on #5314
Is `pip-compile` expected to work?

[code]

[related issue from 1.8.0](https://github.com/tensorflow/tfx/issues/4902#issuecomment-1140105394)

aside: Why does `pip install -r requirements.in` work when `pip-compile requirements.in` fails? Is this expected? 🤔

[2022-10-27 04:10] gowthamkpr commented on #4119
@zoyahav Can you PTAL?

[2022-10-27 05:41] singhniraj08 commented on #5020
@dvaldivia,

You might use kfp CLI instead of TFX CLI as per above [comment](https://github.com/tensorflow/tfx/issues/5020#issuecomment-1186647392). Hope this helps. Thank you!

[2022-10-28 03:08] davidxia commented on #4977
This can be closed, right?

[2022-11-01 17:54] Daard opened #5445 "KeyError: 'model_run' when running on premise"
**System information**

- Have I specified the code to reproduce the issue : Yes
- Environment in which the code is executed : Local Linux
- TensorFlow version: 2.9.2
- TFX Version:1.10.0
- Python version:3.8.10

**Current behavior**

I have deployed Kubeflow via [Charmed Kubeflow guide](https://charmhub.io/topics/kubeflow/quickstart)

Also enable gpu for mincrok8s and deployed mlmd via juju.

[co

[2022-11-02 03:09] entrpn commented on #4340
@singhniraj08 it works with 1.9.0. I'm not able to run my pipeline with 1.10.0. Getting some other errors. Thanks

[2022-11-02 03:09] #4340 closed

[2022-11-02 11:16] gaikwadrahul8 commented on #5445
@Daard

Hi @Daard Can you take a look at this [article](https://neptune.ai/blog/deep-dive-into-ml-models-in-production-using-tfx-and-kubeflow) and please follow all instructions mentioned in that article. As per your project do necessary changes and see if it helps in resolving your issue?

I would also suggest you to check compatibility matrix for Kubeflow and TFX [here](https://www.kubeflow.org/

[2022-11-02 11:23] gaikwadrahul8 commented on #4501
Hi, @DgXRo , @SamWoodruf

Can you take a look at this [article](https://neptune.ai/blog/deep-dive-into-ml-models-in-production-using-tfx-and-kubeflow) and please follow all instructions mentioned in that article. As per your project do necessary changes and see if it helps in resolving your issue?

I would also suggest you to check compatibility matrix for Kubeflow and TFX [here](https://www.kubef

[2022-11-03 09:24] Daard commented on #5445
Hi @gaikwadrahul8.

The [article](https://neptune.ai/blog/deep-dive-into-ml-models-in-production-using-tfx-and-kubeflow) is not relevant, cause I am working on my own infrastructure and deployed kubeflow locally via juju and microk8s ( [charmed kubeflow](https://charmed-kubeflow.io/) from official installation [page](https://www.kubeflow.org/docs/started/installing-kubeflow/). I tried this TFX [gu

[2022-11-04 06:01] singhniraj08 commented on #5049
@dvaldivia,

I see a PR #4861  merged which addresses this issue by enabling env. variables in beam_args through placeholders. This will be part of upcoming release. Please try the latest nightly build of TFX and let us know if this resolved your issue. Thank you!

[2022-11-04 06:13] singhniraj08 commented on #3326
@vaskozl,

I see a PR #4861  merged which addresses this issue by enabling env. variables in beam_args through placeholders. This will be part of upcoming release. Please try the latest nightly build of TFX and let us know if this resolved your issue. Thank you!

[2022-11-04 17:11] Daard commented on #5445
So I checked my custom LoaderGen container:

This is folder content:

[code]

tfx-vol is mounted persistent volume. I tested adding to this volume during attaching it to the Notebook and it works fine:

[code]

I assume that tfx-vol directory should contains this test file inside container. I was searching for trouble with mlmd, but you can see index of range_config value is 103, so metadata base

[2022-11-07 09:45] Daard commented on #5445
I found the problem. I configured volumes claims, but the mounted roots were wrong, thus artifacts and data were not shared between containers.

[code]

[2022-11-07 09:45] #5445 closed

[2022-11-07 11:15] singhniraj08 commented on #4782
@bli00,

As suggested above, you can visualise the schema and get a better understanding.
You can also create a [convenience utility](https://www.tensorflow.org/tfx/tutorials/tfx/recommenders#create_inspect_examples_utility) to inspect your dataset and visualise data as shown in [example notebook](https://www.tensorflow.org/tfx/tutorials/tfx/recommenders#create_schemas_for_movies_and_ratings).

Th

[2022-11-07 16:51] Daard opened #5462 "For ExampleGen, start and end span numbers for RangeConfig.StaticRange must be equal"
**Describe the current behavior**

I have got this exception:

[code]

cause input_processor has this check:

[code]

But the documentation says :

Describes a static window within the specified span numbers [start_span_number, end_span_number].

**Describe the expected behavior**

It is a counterintuitive behaviour, cause I supposed that with StaticRange we could set spans from 1 to 10, and each

[2022-11-08 01:54] jiyongjung0 commented on #5314
I'm not an expert on pip-compile, but it seems like pip-compile cannot resolve the required dependency very well.

We only test against `pip install`, so you can make the requirements file using `pip install` and `pip freeze`.

[2022-11-08 06:41] singhniraj08 commented on #2316
@lyschoening,

There is a PR #5308 which address your issue. Kindly try with the latest nightly build of TFX and let us know it the issue persists. Thank you!

[2022-11-08 07:43] singhniraj08 commented on #311
@rummens,

I see a PR #4861  merged which addresses this issue by enabling env. variables in beam_args through placeholders. This will be part of upcoming release. Please try the latest nightly build of TFX and let us know if this resolved your issue. Thank you!

[2022-11-08 10:24] singhniraj08 commented on #4587
@montanier,

Kindly let us know if using Tuner instead if CloudTuner helps in resolving the bug in single worker scenario as mentioned in above comment.

Thank you!

[2022-11-09 16:59] jlopezpena opened #5472 "Support for Python 3.10"
Apache Beam now supports python 3.10, are there any plans to enable it for TFX soonish?
Particularly interested on the support for `ml-metadata` and `ml-pipelines-sdk`, as upgrading dependencies on those would enable to build other 3rd party tools like zenml on python 3.10

[2022-11-09 19:25] gaikwadrahul8 commented on #5472
@jlopezpena

I would like to inform you that, TFX 1.10.0 supports Python 3.7,3.8 and 3.9 currently. 3.10 will be supported in the next release ,at the moment we don't have ETA but coming soon.

Thank you!

[2022-11-10 12:25] Daard opened #5475 "Poor artifact visualization"
**System information**

- Have I specified the code to reproduce the issue : Yes
- Environment in which the code is executed : Local Linux
- TensorFlow version: 2.9.2
- TFX Version:1.10.0
- Python version:3.8.10

**Deploy**

I have deployed Kubeflow via [Charmed Kubeflow guide](https://charmhub.io/topics/kubeflow/quickstart)

Also enable gpu for mincrok8s and deployed mlmd via juju.

[code]

**Beh

[2022-11-10 14:07] sfujiwara commented on #4084
Thanks, I will try it.

[2022-11-10 14:07] #4084 closed

[2022-11-10 15:47] singhniraj08 commented on #5475
@Daard,

Following the guide you shared, I came across a patch to fix visualization problem in the Result and Analysis section of the [guide](https://medium.com/@robertf99/mlops-with-tensorflow-extended-tfx-and-tensorflow-decision-forest-tf-df-part-2-e02f3649259). Hope you have applied the patch in your pipeline.

Regarding the compatibility issue, please refer to the [compatibility matrix](https:

[2022-11-10 21:27] gaikwadrahul8 commented on #3563
@aivanou

Have you tried above solution which is provided by @1025KB if not please try that once and let us know, Is it working for you or not ?

I have tried to run same example with TFX pipeline on Google Colab and it's working fine. I have added Gist file [here](https://colab.research.google.com/gist/gaikwadrahul8/b9b4f422cc8848f0b2c9f6486993223b/copy-of-components.ipynb) for your reference and

[2022-11-14 04:46] singhniraj08 commented on #4757
@jinnovation,

Please find the updated [ROADMAP](https://github.com/tensorflow/tfx/blob/master/ROADMAP.md) here.
Kindly let us know if this issue can be closed. Thank you!

[2022-11-14 04:54] singhniraj08 commented on #4977
@Daard,

Could you please try the [suggested solution](https://github.com/tensorflow/tfx/pull/5039#issuecomment-1222038745), by running the following method after the TFX installation and let us know if it works.
`sed -i 's/artifact.name = name/artifact.name = f"{name}:{pipeline_info.run_id}"/' /opt/conda/lib/python3.7/site-packages/tfx/dsl/components/base/base_driver.py`

Thank you!

[2022-11-14 06:14] singhniraj08 commented on #4700
@EdwardCuiPeacock,

Kindly raise this issue on [GCP support](https://cloud.google.com/support-hub) for better resolution and let us know if this issue can be closed. Thank you!

[2022-11-14 08:56] BikiniBottomsVeryOwn opened #5485 "A more verbose response from InfraValidator"
Original issue that led me to submit this feature request:

https://stackoverflow.com/questions/74426589/infravalidator-component-not-blessing-my-model?noredirect=1#comment131387450_74426589

Ubuntu 22.04 LTS

More verbosity from the infraValidator would be extremely helpful. I get my model is not passing, but I'm having a really hard time figuring our why. I am able to run https://www.tensorflow.

[2022-11-15 06:31] IzakMaraisTAL commented on #5314
Using `pip-compile` 6.10.0 and specifying the `--resolver=backtracking` option resolves the above error.

[2022-11-15 07:09] gaikwadrahul8 commented on #4561
@jasonbrancazio

We're really sorry for late response and I have reproduced the same code without error, you've to use `BeamExecutorSpec() `rather than `ExecutorClassSpec()` so I would request you to please change below code and everything will work as expected even for your reference, I have added Gist file [here](https://colab.research.google.com/gist/gaikwadrahul8/e223750cd73da37e0920c7a640e033

[2022-11-15 08:32] axeltidemann commented on #5404
@1025KB any thoughts from your side? I don't understand how the AI Platform insists on the move to Vertex AI, when it cannot run even such a simple custom component?

![Screenshot 2022-11-15 at 10 29 21](https://user-images.githubusercontent.com/6352118/201869222-494b93f4-3087-43a8-ae96-b5abb690c357.png)

[2022-11-15 14:36] gaikwadrahul8 commented on #5485
@BikiniBottomsVeryOwn

I have tried to reproduce the same error on google colab and I found there was some connection error with TF serving library  so I have added few lines of code and I'm able to get over that error so for your reference, I have added gist file [here](https://colab.research.google.com/gist/gaikwadrahul8/58f16f18eb8eed6cddf94d4ca85cecfd/infra-validator-component.ipynb) and unfor

[2022-11-16 07:38] BikiniBottomsVeryOwn commented on #5485
![Screenshot from 2022-11-16 01-36-07](https://user-images.githubusercontent.com/38847726/202116488-18088d56-c1c5-4037-8c77-7106d348a1fc.png)

I entered the commands into my terminal and added that if else statement to my pipeline file. Still isn't passing.

Thank you for your help, I hope we can figure out what is going on! I would love to explore TFX in more depth!

[2022-11-16 13:56] davidxia commented on #5314
@IzakMaraisTAL it does, thank you! So the `pip-compile` error I had above was actually incorrect dep resolution behavior from legacy `pip-compile` resolver logic.

— https://pypi.org/project/pip-tools/

[2022-11-16 14:01] davidxia commented on #4902
@alexanderkainsky `pip-compile`'s legacy resolver is wrong. Use `pip-compile` ≥ 6.10.0 and specify `--resolver=backtracking`. [See comment](https://github.com/tensorflow/tfx/issues/5314#issuecomment-1314836136)

[2022-11-16 19:35] alexanderkainsky commented on #4902
Thank you for clearing this up

[2022-11-17 23:54] gowthamkpr commented on #2219
Closing this issue as it has been inactive for more than a month. Please add additional comments for us to open this issue again. Thanks!!

[2022-11-17 23:54] #2219 closed

[2022-11-18 02:15] BikiniBottomsVeryOwn commented on #5485
@gaikwadrahul8 I also tried running your collab notebood and got this error on the last cell:

KeyError                                  Traceback (most recent call last)

[/usr/local/lib/python3.7/dist-packages/pkg_resources/__init__.py](https://localhost:8080/#) in requires(self, extras)
   2738             try:
-> 2739                 deps.extend(dm[safe_extra(ext)])
   2740             except

[2022-11-18 04:31] BikiniBottomsVeryOwn commented on #5485
I'm just kind of frustrated why it's not telling me why the model isn't getting validated.

[2022-11-18 05:19] BikiniBottomsVeryOwn opened #5510 "There is no Matrix Channel/Discord Channel. We really need one."
I think it would be really helpful for the community if there was a matrix/discord for questions.  I am having a tough time getting feedback/advice in this community. I don't like coming to github and submitting an issue every time I have a question. My pipeline isn't working because of the infravalidator component, and I feel like I'm talking to a wall. I have been in smaller communities that hav

[2022-11-18 15:10] hugoferrero opened #5511 "Is "tfx.extensions.google_cloud_ai_platform.Trainer" component compatible with Vertex Pipelines?"
Hi. I'm training a model using Vertex pipelines. I'm using TFX. I have the following components:  ExampleGen, StatisticsGen, SchemaGen, Trainer and Pusher. ExampleGen, StatisticsGen and SchemaGen works fine, but Trainer Fails. The trainer component i'm using is this "tfx.extensions.google_cloud_ai_platform.Trainer".  However if i work with "tfx.components.Trainer" instead, the entire pipeline work

[2022-11-18 16:57] hanneshapke opened #5512 "KubeFlowRunnerV2 support for InfraValidator"
**Describe the feature and the current behavior/state.**
The `InfraValidator` component seems to be highly valuable for production use cases (e.g. generating warm-up files, testing infra config). Is there any plan from the TFX team to support `KubeFlowRunnerV2` in the near future? The runner doesn't seem to be supported at this point. What's the bottleneck? Could we contribute from the OSS side?

[2022-11-18 19:27] rcrowe-google commented on #5512
Certainly if support for KubeFlowRunnerV2 could be added by creating a new component, then developing one in [TFX-Addons](https://github.com/tensorflow/tfx-addons) would be an option.  Before doing that let me explore why it hasn't been done already, and whether there are plans to do it in the near future.

[2022-11-18 22:15] rothn commented on #1584
That link probably works for some TFX models. For my TFX model, which takes a single BYTES input, I needed to use something slightly different:
[code]

In this case, the model was exported by TFX for use with [Servomatic (Google Cloud AI Blog Link)](https://cloud.google.com/blog/topics/developers-practitioners/automating-self-service-tech-support-with-tensorflow/). Closely related: [SavedModel for

[2022-11-20 11:58] gaikwadrahul8 commented on #4561
@jasonbrancazio, @purplechem

Thank you for your confirmation and noticing the mistakes in our examples so we'll take care of those mistakes in the Examples and will correct those mistakes very soon in the TFX code docstrings as well as in the documentation, I really appreciate your efforts and valuable time

Could you please confirm if this issue is resolved for you? Please feel free to close the

[2022-11-20 15:07] gaikwadrahul8 commented on #243
@martin-laurent

Apologies for the delay and we have updated our official documentation with respect to `tfdv.StatsOptions()` [here](https://www.tensorflow.org/tfx/data_validation/api_docs/python/tfdv/StatsOptions) so could you please have a look once and let us know you're looking the exact thing or different ?

Thank you!

[2022-11-21 08:13] chongkong commented on #5512
Sorry I am little bit lost here. What is blocking for using `InfraValidator` + `KubeflowV2DagRunner`? Is it only the infra-validator that lacks the KubeFLow v2 (i.e. Vertex AI Pipelines) support?

[2022-11-21 08:22] chongkong commented on #5512
Oh nevermind I think I found it. IIUC it's the `infra_validator.proto` `KubernetesConfig` not supporting the kubeflow v2 (at least from the docstring), right?

I was the original author of the most codes of the TFX InfraValidator; if you ask me what is the bottleneck for this, is that I don't have a good understanding of the vertex ai pipelines to come up with the reliable implementation of infra

[2022-11-21 13:30] gaikwadrahul8 commented on #1701
@ismail-dinar

Apologies for the delay and just to confirm, are you still facing the same issue while running custom component with the help of Airflow ? if yes could you please help me with your minimal code to reproduce the same error with Airflow ? As you have confirmed above you're able to run custom component with the help of Apache Beam with single thread and if you're looking to try with mu

[2022-11-21 15:46] Daard commented on #5462
I can get around this limitation via Resolver component and its span range config strategy:
[code]
[Documentation](https://www.tensorflow.org/tfx/api_docs/python/tfx/v1/dsl/Resolver)

[2022-11-21 15:46] #5462 closed

[2022-11-21 16:40] #4561 closed

[2022-11-21 18:07] hanneshapke commented on #5512
Hi @chongkong ,
Thank you for your reply and the context. Understandable a heavy lift to get the component to spin up an endpoint in GCP (within the same VPC, access to GCR, passing IP address back to the Infra component, etc.).

We do have an immediate need for this component, since we generated our warm up files with the component and we have a use case to test models before deploying them.

Wil

[2022-11-22 02:13] ziadloo opened #5518 "Running the classify_local.sh crashes the tensorflow serving container"
**System information**

- Have I specified the code to reproduce the issue (Yes, No): **Yes**
- Environment in which the code is executed (e.g., Local(Linux/MacOS/Windows),
  Interactive Notebook, Google Cloud, etc): **Local (Linux)**
- TensorFlow version: **2.9.3**
- TFX Version: **1.10.0**
- Python version: **3.8.15**
- Python dependencies (from `pip freeze` output):

[code]

**Describe the curr

[2022-11-22 04:29] ziadloo commented on #5518
I can also add that training the model using the Keras script will result in the same issue. All you need to do is to use the following script to train the model:

[code]

But be aware that I had to change a line of code in that script to make it work. Line 48 originally reads:

[code]

And I had to change it to:

[code]

Perhaps, I can make it a PR. Only if someone could help me understand why th

[2022-11-22 06:47] singhniraj08 commented on #5511
@hugoferrero,

`tfx.extensions.google_cloud_ai_platform.Trainer` expects `ai_platform_training_args` dict params and if this dict is `None` it fails. This dict holds the training job parameters to be passed to Google Cloud AI Platform. For more info on `ai_platform_training_args` dict, please refer [here](https://github.com/tensorflow/tfx/blob/049204ae5a017be104e26333cf355681859eed07/tfx/examples/

[2022-11-22 14:18] hugoferrero commented on #5511
Hi @singhniraj08. Thanks for answering. Yes, I'm passing training  job parameters. Here it is:
[code]

[2022-11-22 15:39] singhniraj08 commented on #5191
Closing this due to inactivity. Please take a look into the answers provided above, feel free to reopen and post your comments(if you still have queries on this). Thank you!

[2022-11-22 15:39] #5191 closed

[2022-11-22 16:29] singhniraj08 commented on #1888
Closing this due to inactivity. Please take a look into the answers provided above, feel free to reopen and post your comments(if you still have queries on this). Thank you!

[2022-11-22 16:29] #1888 closed

[2022-11-22 16:29] singhniraj08 commented on #1312
Closing this due to inactivity. Please take a look into the answers provided above, feel free to reopen and post your comments(if you still have queries on this). Thank you!

[2022-11-22 16:29] #1312 closed

[2022-11-22 20:12] Sruinard opened #5520 "Transform component not working with tf.SequenceExample."
As of tfx-1.10.0 tf.SequenceExample should be supported as noted in the release notes. However, it's throwing an exception `AssertionError: read_as_raw_records is specified - must provide raw_record_column_name`. Going through the source code didn't make it very clear how to provide the raw_record_column_name. I have included an example colab. Am I missing anything? Or is this a bug in tfx?

**Sys

[2022-11-23 07:45] singhniraj08 commented on #4368
@pselden,

Support for component level beam pipeline args for Vertex(KFPV2DagRunner) was introduced in TFX v1.4 as mentioned in [TFX release notes](https://github.com/tensorflow/tfx/blob/master/RELEASE.md#version-140).
Could you please try with TFX release >= 1.4 and see if component level arguments are not overridden with the global pipeline args.

Thank you!

[2022-11-23 15:28] gaikwadrahul8 commented on #5485
@BikiniBottomsVeryOwn

Apologies for the delay and I completely understand your situation, InfraValidator focuses on the compatibility between the model server binary (e.g. [TensorFlow Serving](https://www.tensorflow.org/tfx/guide/serving)) and the model to deploy. Despite the name "infra" validator, it is the user's responsibility to configure the environment correctly, and infra validator only i

[2022-11-23 18:30] ziadloo commented on #5518
I managed to get a prediction response successfully by manually editing the CSV file. The CSV file is used to compose the request payload (as the data that is fed into the inference engine). The `tfx/examples/chicago_taxi_pipeline/serving/chicago_taxi_client.py` script which constructs the request, uses the first 3 records of the CSV file by encoding them into a proto-buffer.

So far, all is good.

[2022-11-23 19:01] gaikwadrahul8 commented on #5520
@Sruinard

It currently has basic support, to be extended some time soon. Currently, `SequenceExample()` is supported by providing serialized SequenceExamples as a single feature to the `preprocessing_fn()` which can then be decoded and proceed, here some references which are related to `SequenceExample()` [[1](https://www.tensorflow.org/tfx/tfx_bsl/api_docs/python/tfx_bsl/public/tfxio/TFSequenceE

[2022-11-23 22:42] venkat2469 opened #5525 "TFX 1.10.0 Issues"
Hello everyone TFX 1.11.0 is released with all the dependency libraries.

Please comment or link any issues you find with TFX 1.11.0

Thanks.

[2022-11-24 07:08] jeongukjae opened #5527 "How about export `_KUBEFLOW_TFX_CMD` in `tfx/orchestration/kubeflow/v2/kubeflow_v2_dag_runner.py`?"
If the feature is related to a specific library below, please raise an issue in
the respective repo directly:

[TensorFlow Data Validation Repo](https://github.com/tensorflow/data-validation/issues)

[TensorFlow Model Analysis Repo](https://github.com/tensorflow/model-analysis/issues)

[TensorFlow Transform Repo](https://github.com/tensorflow/transform/issues)

[TensorFlow Serving Repo](https://gi

[2022-11-24 07:14] singhniraj08 commented on #5511
@hugoferrero,

I was able to replicate the issue with the above training job parameters and looks like some parameters are not working. I tried the below code and it worked for me. Can you please try the below code? Thank you!

Setup used:

Trainer Code:

[code]

[2022-11-24 08:56] Sruinard commented on #5520
Not sure if that fully answers the question. So to clarify, in case of using `SequenceExample()` the `tfx Transform` component is not supported? Or should I add some sort of custom configuration to have it **not** parse examples automatically? Or should I build a custom component for this to work?

In particular, you mention: _by providing serialized SequenceExamples as a single feature to the pre

[2022-11-24 10:20] #4948 closed

[2022-11-24 10:28] gaikwadrahul8 commented on #5518
Hi, @ziadloo

Apologies for the delay and Good to hear that you're able to solve your issues with Tensorflow serving and certainly we'll look into it and will make sure our examples upto date and working, thank you for your valuable suggestions, We really appreciate your efforts and time

If you're looking to explore more things with TFX end to end pipeline, [here](https://neptune.ai/blog/deep-div

[2022-11-24 11:04] jccarles opened #5528 "Issue when using exit_handler with Kubeflow orchestrator"
Environment:

Python 3.7.7
tfx==1.8.1
kfp==1.8.13
kfp-pipeline-spec==0.1.16
kfp-server-api==1.8.1

Issue description:

I have a tfx pipeline orchestrated by kubeflow pipeline. I upgraded tfx to version 1.8.1 in order to try to use the exit_handler support which was introduced in tfx 1.8.0.
I manage to build and compile my tfx pipeline in a kubeflow pipeline, but it looks like when we use the exit_

[2022-11-24 15:32] gaikwadrahul8 commented on #5527
@jeongukjae

Thank you so much for reaching out – that is a great proposal and I appreciate you explaining how it would help you out so I would request you to please create PR for that feature and we'll take follow up on it and our Google Engineering team will look into your proposal and they will take appropriate action or probably they'll approve your PR request if everything goes well without a

[2022-11-25 06:11] gaikwadrahul8 commented on #1856
@yantriks-edi-bice

Apologies for the delay and We have updated our official documentation about `tf.train.SequenceExample()` so kindly have a look into it [here](https://www.tensorflow.org/api_docs/python/tf/train/SequenceExample) and for your reference [here](url) is one good article so I hope it will help you to resolve your issue

If issue still persists please let us know if possible help us

[2022-11-25 13:56] hugoferrero commented on #5511
@singhniraj08 thanks for the advice. I did the same, but didn't work...and the logs are not helping. May be the problem is elsewhere, besides "Trainer" parameters. Below are the files of my pipeline: configs.py, pipeline.py, model.py, kubeflow_v2_runner.py and some extra info as well (logs, dockerfile, requirements.txt). Thanks in advance.

Pipeline image:
![pipeline](https://user-images.githubuse

[2022-11-26 02:52] jeongukjae commented on #5527
Oh, thanks for the kind response! I will create a PR for this soon :)

[2022-11-26 19:04] Sruinard commented on #5520
So there happens to be a way to pass SequenceExamples to the transform component. I'm leaving this example for others (hope it helps).

[code]

[2022-11-27 14:14] gaikwadrahul8 commented on #5527
@jeongukjae

You're welcome and thank you for the confirmation and once you create PR it will be traced automatically and even you can monitor PR status through `Pull requests` tab so could you please close this issue if you don't need any further assistance ?

If you need any further assistance please feel free to ask?

Thank You!

[2022-11-28 05:59] singhniraj08 commented on #5511
@hugoferrero,

Hi, I was unable to recreate the issue because I don't have access to Big Query dataset you are referring to. Could you please share the complete stack trace to give us an idea of the issue you are facing? You can go to cloud logging, expand the particular error and share the error.

I would suggest to create a base running pipeline from [official documentation](https://www.tensorfl

[2022-11-28 09:21] singhniraj08 commented on #5528
@jccarles,

As mentioned in [official documentation](https://www.tensorflow.org/tfx/api_docs/python/tfx/v1/orchestration/experimental/exit_handler), `Exit handler is to annotate the component for post actions of a pipeline, only supported in Vertex AI`.

exit_handler is currently supported in Vertex AI only so it won't work with kubeflow pipelines. Hope this answers your query. Thank you!

[2022-11-28 10:33] singhniraj08 commented on #5127
@mhsong21,

You can set `enable_cache: False` while calling while creating create pipeline object in `my_pipeline.py` file as mentioned in above comment. Please refer [Build a custom pipeline](https://www.tensorflow.org/tfx/guide/build_local_pipeline#build_a_custom_pipeline) for more info on pipeline customisation.

Thank you!

[2022-11-28 12:18] axeltidemann commented on #5404
@1025KB please let me know if I can assist in any way.

[2022-11-28 12:47] jccarles commented on #5528
Sorry my issue was not clear I am speaking about the `set_exit_handler` method of the KubeflowDagRunner: https://www.tensorflow.org/tfx/api_docs/python/tfx/v1/orchestration/experimental/KubeflowDagRunner#set_exit_handler not the decorator.
I built my own custom component which I pass to the `set_exit_handler` method of the KubeflowDagRunner instance, I am not using the exit_handler decorator.

[2022-11-28 16:30] gaikwadrahul8 commented on #5520
@Sruinard

Apologies for the delay and I have created one gist file [here](https://colab.research.google.com/gist/gaikwadrahul8/8ffca22607a66bfbdd57de9436548cb0/sequenceexample.ipynb) so please kindly have a look and let us know you're looking the exact same thing if yes then Python strings need to be converted to bytes, (e.g. my_string.encode(‘utf-8’)) before they are stored in a `tf.train.BytesL

[2022-11-29 10:18] gaikwadrahul8 commented on #4501
@SamWoodruf

Closing this issue due to lack of recent activity. Please feel free to reopen the issue with more details if the problem still persists after trying above workaround. Thank you!

[2022-11-29 10:18] #4501 closed

[2022-11-29 10:49] gaikwadrahul8 commented on #5472
@jlopezpena

Closing this issue due to lack of recent activity. Please feel free to reopen the issue, if you need any further assistance or update

Thank you!

[2022-11-30 09:17] gaikwadrahul8 commented on #3776
@RossKohler

Apologies for the delay and I would request you to please have look into one Stack overflow solution and approach [here](https://stackoverflow.com/questions/65879049/multioutput-classification-with-tensorflow-extended-tfx) and even @EdwardCuiPeacock provided some workaround so please let us know, Is it resolving your issue?

TFMA also provides built-in support for converting binary cl

[2022-11-30 09:46] gaikwadrahul8 commented on #3603
@d3rpd3rp

Apologies for the delayed response and We have updated that official documentation so I would request you to please try to follow all the instructions mentioned in this [file](https://github.com/tensorflow/tfx/blob/master/docs/tutorials/tfx/template.ipynb) and even I have attached one good resource with ML Models in Production Using TensorFlow Extended (TFX) and Kubeflow [here](https://