[2019-09-05 20:00] JakeTheWise opened #584 "Pipeline fails with tf.keras.Model subclass"
Running a pipeline throws a `KeyError: user_module while running 'Run[Transform]'` when using a custom tf.Estimator whose `model_fn` references a `tf.keras.Model` subclass. This bug was first tracked by https://github.com/tensorflow/tfx/issues/500 before I figured out what the root cause was. Replacing the subclass with a direct call to tf.keras.Sequential with the same layers works just fine, how

[2019-09-05 20:02] JakeTheWise commented on #500
It appears that this bug is due to using a tf.keras.Model subclass in the pipeline. This is now tracked by https://github.com/tensorflow/tfx/issues/584. Closing.

[2019-09-05 20:02] #500 closed

[2019-09-05 20:57] ruoyu90 commented on #584
@JakeTheWise IIUC you have a custom `tf.keras.Model` subclass and want to use that in your trainer module? If so, where is the definition of the subclass?

[2019-09-05 21:37] JakeTheWise commented on #584
I define my custom class in my pipeline utils file, where preprocessing_fn, trainer_fn etc lives too. The class is instantiated in `model_fn`, which in turn is called in `trainer_fn`

[2019-09-05 22:16] neuromage commented on #500
Thanks for figuring this out! I never could reproduce it, and I did suspect it may have something to do with the utils.py file hierarchy and importing getting confused. Can you paste your module file, exactly as is, but without the code (i.e., just replace code with `pass` or something)?

[2019-09-06 05:26] valeriano-manassero commented on #573
Thank you for pointing me to the right direction, I'm going to try new implementations based on your suggestions.

[2019-09-06 05:26] #573 closed

[2019-09-06 05:57] rmothukuru commented on #438
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-09-06 05:57] #438 closed

[2019-09-06 06:15] zhitaoli commented on #572
This is great work, Valeriano. Thank you for creating these examples.

On Wed, Sep 4, 2019 at 11:44 PM Valeriano Manassero <
notifications@github.com> wrote:

--
Cheers,

Zhitao Li

[2019-09-06 07:02] valeriano-manassero commented on #583
@hongye-sun @ruoyu90 thanks for info, btw I still have doubts about how to deploy a Custom Executor in Kubeflow environment.

Importing the custom class and passing it as a parameter to `ExampleGen` is fine during build:
[code]
Issues arise when pipeline is running on a Kubeflow container that cannot import the class
[code]

[2019-09-06 07:28] hongye-sun commented on #583
@valeriano-manassero

You are right. If you want to run the custom executor in kubeflow, you need to create a new docker image based from tfx docker image and add/install your executor file/package to it. We are working on a solution to make this experience better by automating the image building step in CLI.

/cc @gaoning777

[2019-09-06 07:33] valeriano-manassero commented on #583
@hongye-sun adding a `module_file` option also for `ExampleGen` can be a viable implementation or there are drawbacks?
just guessing :-)

/cc @gaoning777

[2019-09-06 16:55] hongye-sun commented on #583
One drawback of `module_file` approach is that it cannot add extra pip dependencies, which happens more often in custom component and executor use cases.

[2019-09-06 18:28] JakeTheWise commented on #500
[code]

[2019-09-06 18:47] ruoyu90 commented on #584
@JakeTheWise can you share the code (or skeleton of the code)? It'll be easier to debug.

[2019-09-06 18:55] neuromage commented on #584
@ruoyu90 The skeleton is in #500, I asked for it as well :-)

[2019-09-06 18:59] JakeTheWise opened #590 "Need help configuring `default_kubeflow_metadata_config` for GKE"
I'm still new to the world of kubernetes, kubeflow and TFX so sorry for this dumdum question — I'm running TFX on a GCP/GKE deployment of kubernetes (using http://deploy.kubeflow.cloud), and I'm getting the following error in my `ImportExampleGen` component:
[code]

I assume I need to override the `default_kubeflow_metadata_config` in my `pipeline.py` but I don't know how exactly:
[code]

[2019-09-06 19:05] valeriano-manassero commented on #583
@hongye-sun it makes perfectly sense, ty for info. I'm going to create a build to achieve the goal.

[2019-09-06 20:24] ruoyu90 commented on #584
Thanks @neuromage !

@JakeTheWise can you try to use `tf.keras.estimator.model_to_estimator` to convert a keras model to estimator?

[2019-09-07 00:46] ruoyu90 commented on #572
@valeriano-manassero I think it's ok to be KFP specific, as long as those examples identify some new patterns (e.g. your cifar-10 example demonstrate a classical image classification problem). We're happy to absorb these examples in :)

[2019-09-08 19:33] JakeTheWise commented on #584
Yep I'll try that, thanks.

[2019-09-08 19:33] #584 closed

[2019-09-09 02:26] alionkun commented on #571
Add something about ExampleValidator component.
When the schema becomes steady, we don't need to use SchemaGen to build a new one, instead we use ExampleValidator to validate both 'eval' and 'train' split against the steady 'schema', this is the typical user case.
but ExampleValidator only validate the 'eval' split and other splits are ignored for now.
ExampleValidator need to support 'train' spli

[2019-09-09 07:41] valeriano-manassero commented on #572
@ruoyu90 so, I'm going to create a PR asap with probably a MNIST dataset. This is because I can include some data and I will not need to create a custo executor for dowload and this should be better for an easier example.

[2019-09-09 21:23] ruoyu90 commented on #590
@JakeTheWise thanks for the question!
What you got by `metadata_config = kubeflow_dag_runner.get_default_kubeflow_metadata_config()` is a python instance of `KubeflowMetadataConfig` proto. You can modify its value by referring to [this](https://github.com/tensorflow/tfx/blob/master/tfx/orchestration/kubeflow/proto/kubeflow.proto) proto definition.

[2019-09-09 21:50] wsuchy opened #597 "Python 3 support"
I think you might be aware of that, but it seems worth mentioning that Python 2 is going EOL in less than 4 months from now (Jan 1, 2020; https://pythonclock.org/).
Do you plan to switch by then to Python 3, or keep using the old one even though it won't be maintained anymore?

[2019-09-09 21:58] ruoyu90 commented on #597
Hi @wsuchy , TFX already supports Python 3 now (with the upcoming 0.14 release, we will have better support for Python 3.6+).

[2019-09-09 23:16] wsuchy commented on #597
Hi, I am glad to hear that. Actually I saw in many code examples strict checking for Python 2, e.g. here: https://github.com/tensorflow/tfx/tree/master/tfx/examples/chicago_taxi_pipeline, but the readme might have not been updated yet.

[2019-09-09 23:41] ruoyu90 commented on #597
@wsuchy Ah that is an outdated documentation. Will fix them soon.

[2019-09-10 01:33] zhitaoli commented on #571
@alionkun yes your observation is correct and we should do that. I'll keep that as part of this issue.

[2019-09-10 01:41] #597 closed

[2019-09-10 03:46] neuromage commented on #590
@JakeTheWise is this Kubeflow version at least 0.6? It does appear like the environment variable for the metadata db host isn't being set right. Can you kubectl ssh into a pod and see if the environment variable `METADATA_DB_SERVICE_HOST` is defined?

[2019-09-11 17:21] JakeTheWise commented on #590
@neuromage it's kubeflow v0.5.0 built from http://deploy.kubeflow.cloud. Do you happen to know which pod I should look in? There's a lot. Idk if there's a way to grep for environment variables throughout all the pods in a cluster?

[2019-09-11 18:44] neuromage commented on #590
@JakeTheWise Metadata support in Kubeflow is only available from v0.6 onwards. This version deploys a KF Metadata server with a UI, and the default pipeline settings are pointing to this deployed DB. Can you deploy a later version to try this out?

You can still run the pipeline with 0.5, and point to the existing mysql service, but you won't be able to access the metadata with any UI. If you want

[2019-09-12 06:16] valeriano-manassero opened #603 "Docker image 0.14.0 missing"
After release of `0.14.0` version, pipelines not specifying the image version will fail due to missing image with this tag in dockerhub repo (atm there's only `0.14.0rc1` available).

[2019-09-12 23:52] rcrowe-google opened #610 "RFP 001: Adding non-Transform feature engineering"
### _TFX RFP 001 - Request for community comments and proposals_

# Adding Non-Transform Feature Engineering

_An explanation of a specific critical user journey (CUJ) for windowing, and a general discussion of the need_

_robertcrowe@ 12 September 2019_

## Dataset and Modeling Goal

As part of creating training for TFX we received a sample of data which contains tracking of services by number of

[2019-09-13 06:00] cyrilthank opened #611 "How to 'bring into TFX flow' a custom pkl file generated 'outside of TFX'"
can you please advise me on some way in which TFX can be used for custom models or whether the custom pkl file can be 'saved as' TFX compatible

Requesting since my hopes were raised after i read the below

![image](https://user-images.githubusercontent.com/4562436/64840640-d950fa00-d619-11e9-85b1-cd0217fcee81.png)

https://www.tensorflow.org/tfx/guide

[2019-09-13 15:35] ucdmkt commented on #571
Here is a brief plan to address unlock this scenario.

1.  SchemaGen to optionally accept a fixed `Schema` artifact, which may be user-provided. If it is provided, SchemaGen passes through it. By doing it, schema is a tracked artifact in MLMD in the same way regardless of inferred or user-given, while SchemaGen's exec_properties differentiates how it was made.
2. A mechanism to 'import' a user-imp

[2019-09-13 18:08] ruoyu90 commented on #603
Hi @valeriano-manassero thanks for the patience! it's [available](https://hub.docker.com/layers/tensorflow/tfx/0.14.0/images/sha256-b608a71f505376bd0091c759cc171b874a4bc42cb2f0a5102a22d80411603095) now

[2019-09-13 18:24] #603 closed

[2019-09-14 02:18] ucdmkt commented on #571
#577

[2019-09-14 11:48] ageron opened #618 "Simplify package names"
I love TFX, but the package names are unnecessarily long. For example:

[code]

Could just be:

[code]

Why repeat "evaluator" and "component" twice?

The same goes for all other components of course:

[code]

could just be:

[code]

At that point users might even use `tfx.components.CsvExampleGen` directly in their code, no need for imports.

There are similar repetitions in other package names,

[2019-09-14 18:01] zhitaoli commented on #618
Thanks for your comment.

The part of components makes sense to me, given that we can still easily distinguish TFX component (first party) with custom or third party components (in the sense that they should have different prefix).

For utils, I'm not fully convinced that merging all functions into one `utils` modules is better than `xyz_utils`, since latter helps us to keep different functionalit

[2019-09-14 18:36] dagrimm opened #619 "Tutorial Step 4 - tfx utils error"
I follow the TFX Tutorial and get an error in step 4 for the Transform Task. It failes and in the Logs I have the information, that `user_module` has no attribute `preprocessing_fn`

I'm using Python 3.6
Here is the Log:
`[2019-09-14 20:21:38,457] {base_task_runner.py:101} INFO - Job 11: Subtask Transform   File "/home/user/tfx-env/lib/python3.6/site-packages/tfx/utils/import_utils.py", line 67, i

[2019-09-14 20:14] zhitaoli commented on #619
The transform component takes a path to a python source code file, and this source code must include a `preprocessing_fn`.

See [taxi_utils.py](https://github.com/tensorflow/tfx/blob/55bc47ab4d74d2d0a4e3dd3851d8190607bf1775/tfx/examples/chicago_taxi_pipeline/taxi_utils.py#L106) for an example.

Can you double check your python source code?

[2019-09-14 20:32] dagrimm commented on #619
Thank you - forgot to unmute lines in taxi_utils.py

[2019-09-14 20:32] #619 closed

[2019-09-15 02:26] ageron commented on #618
Thanks for your answer @zhitaoli . Many libraries have a `utils` package (example `keras.utils`), and it's usually composed of stuff that doesn't really belong anywhere else. Sort of a `tfx.miscellaneous` package. Because of that, it's probably best to try to keep it as flat as possible. Indeed, if it starts to contain many functions of the same type (such as I/O functions), then it probably means

[2019-09-16 17:58] JakeTheWise commented on #182
@zhitaoli any update on this? Thanks

[2019-09-16 20:46] rmothukuru commented on #552
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-09-16 20:46] #552 closed

[2019-09-16 21:05] charlesccychen commented on #611
Hi @cyrilthank, we do not have plans to add support for this in the near future.

CC: @zhitaoli @ruoyu90

[2019-09-16 22:57] ucdmkt opened #628 "Support ExampleValidator on all splits"
As raised in #571 by @alionkun, ExampleValidator should perform validation on all splits against a provided schema, regardless of inferred from training split, or user-provided.

[2019-09-16 22:57] ucdmkt commented on #571
For (4), I filed a separate issue #628 because it can be done independently, not blocked on (2) and (3)

[2019-09-16 23:37] wsuchy opened #629 "Schema and statistics in Transform TFX Pipeline Component"
The main entry point in Transform component (`preprocessing_fn`) should also provide computed Stats and Schema next to the inputs. In some scenarios users might want to benefit from the statistics e.g. to eliminate unnecessary features.

[2019-09-17 02:21] cyrilthank commented on #611
Thanks Charles for your patient reply 
I still would like to recommend tfx to customersSo can you please share any way such customers can be on boarded
Can you please share some example of using Pytorch to build models and deploy and monitor in tfx framework?
Thank you
Cyril
    On Tuesday, September 17, 2019, 2:35:39 AM GMT+5:30, Charles Chen <notifications@github.com> wrote:

Hi @cyrilthank, we

[2019-09-17 05:54] hustwzqgit opened #631 "Error importing ‘CsvExampleGen’ on Python 3.5.2 and tfx 0.14.0"
Importing ‘CsvExampleGen’ got the following error on 0.14.0 while it worked on 0.13.1

[code]

[2019-09-17 18:17] gowthamkpr commented on #631
@hustwzqgit I am not able to reproduce this issue on google colab and the colab uses Python 3.6.8 version. Please find the github gist [here](https://colab.sandbox.google.com/gist/gowthamkpr/a54c1606dd42bfdba0f6be2877c37606/untitled143.ipynb). Can you please try using Python 3.6 and let me know if the issue still persists. Thanks!

[2019-09-17 18:33] gowthamkpr commented on #629
@wsuchy Can you please also try posting this issue in the [tensorflow/transform](https://github.com/tensorflow/transform/issues) as this feature also is primarily targeted towards transform component. Thanks!

[2019-09-17 20:40] wsuchy commented on #629
I've created related issue: https://github.com/tensorflow/transform/issues/136

[2019-09-17 20:47] charlesccychen commented on #618
We are keeping 1 version of API backwards compatibility, so we will add support for the component aliases but not use them in examples until the next version 0.15 is released.

As for the utils, we will look to pare them down to what we are comfortable exposing as a public API.  For example, we may be able to get rid of the csv_input helper function.

[2019-09-17 20:49] charlesccychen commented on #631
This is a bug in Python 3.5.2 (see https://github.com/python/typing/issues/266).  Please update your Python version and let us know if it persists.

[2019-09-17 20:56] charlesccychen commented on #611
Hey @cyrilthank, you can look into writing your own component for adding the functionality you need.  You can see examples of how to do this with the standard TFX components (https://github.com/tensorflow/tfx/tree/master/tfx/components) and with the custom components examples here (https://github.com/tensorflow/tfx/tree/master/tfx/examples/custom_components).

[2019-09-17 20:59] ruoyu90 opened #634 "`transform_output` not truely optional in 0.14.0 release"
`transform_output` not truely optional for Trainer in 0.14.0 release. Culprit code is [here](https://github.com/tensorflow/tfx/blob/r0.14/tfx/components/trainer/executor.py#L148).

[2019-09-17 21:34] robertlugg commented on #610
Could you add a brief definition of "CUJ" to your RFP?  Am I summarizing the problem statement correctly as:  "There are operations we need to apply to the dataset which cannot be expressed using a Tf.Transform().  How might we represent such operations so that those same operations are performed both during training and during inferencing?"

[2019-09-17 21:39] robertlugg commented on #498
Hi @zhitaoli, it is possible to filter data based on some criteria?  This criteria usually is defined in terms of your data.  But, it wouldn't have to be.  You could just create a component with a parameter "switch" that makes your decision.  This component could output all the data, some of the data, none of the data, or even output some data in one output channel and the other data in a differen

[2019-09-17 21:41] rcrowe-google commented on #610
CUJ == Critical user journey

Yes, that is essentially the problem statement.  I might add "... during inferencing in TF.Serving, and ideally also TF Lite, and TFJS deployments."

[2019-09-17 21:50] robertlugg opened #636 "Question: Interactive use of TFX and TFRecords?"
For moderately sized data, manual work may be wanted.  For instance, I might wish to inspect all my training images and delete some of them.  Or, I might want to change annotations (that I would have saved in TFRecords).  I'm wondering if TFRecords are the right format when I both want scalable workflows and interactive workflows.  If TFRecord files can only stream, any interactive operation would

[2019-09-19 03:10] hustwzqgit commented on #631
It works well on Python 3.6.8. Thanks!

[2019-09-19 03:10] #631 closed

[2019-09-19 20:12] andrewsmartin opened #649 "Dataflow workers not able to install tfx from requirements file due to `no-binary` option from beam stager"
When no Beam packaging arguments are provided by the user, TFX [generates a requirements file](https://github.com/tensorflow/tfx/blob/0.14.0/tfx/utils/dependency_utils.py#L71 ) with the `tfx` package inside.

This ends up failing on Dataflow, because the Beam stager uses pip's `--no-binary` flag: https://github.com/apache/beam/blob/v2.15.0/sdks/python/apache_beam/runners/portability/stager.py#L483

[2019-09-19 20:55] #634 closed

[2019-09-19 21:50] charlesccychen commented on #649
Thanks @andrewsmartin.  I think we can consider this to mainly be a bug in Beam.  We currently do not upload the source package to PyPI and it is currently not trivial to set up the correct environment to build the package from source.

@angoenka: is there a particular reason we use --no-binary at the line here (https://github.com/apache/beam/blob/v2.15.0/sdks/python/apache_beam/runners/portabilit

[2019-09-19 22:23] rmothukuru commented on #560
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-09-19 22:23] #560 closed

[2019-09-19 23:17] zoyahav commented on #560
Note: this was fixed by @rcrowe-google in https://github.com/tensorflow/tfx/commit/7be98e99384f03b18e0be04006bac4352af06b8f

[2019-09-20 09:22] mesaverde0207 opened #657 "Trainer component crashed in an execution on Kubeflow on GCP"
/kind bug

I was running [the TFX ml pipeline of the Chicago taxi example](https://github.com/tensorflow/tfx/blob/master/tfx/examples/chicago_taxi_pipeline/taxi_pipeline_kubeflow.py) on Kubeflow 0.6.2 which was deployed to GCP by the UI deployment tool. I used TFX 0.14.0 for compiling DAG dsl. When it came to the trainer component execution,  the component crashed.

The logs in Kubeflow says:
[cod

[2019-09-20 14:06] andrewsmartin commented on #649
Hi @charlesccychen, thanks for the response! Agreed that this seems more of an issue in Beam itself. I raised here just because the default behaviour in TFX does not work.

I was able to work around this by providing a minimal setup file with `install_requires=["tfx==0.14.0"]`, so this isn't a blocker or anything. It would just be nice to be able to use a requirements file, and let TFX take care o

[2019-09-20 21:03] charlesccychen commented on #657
CC: @zhitaoli @neuromage

[2019-09-21 00:22] neuromage commented on #657
Thanks @mesaverde0207 for filing this issue!

Something went wrong with our internal image release process. We're fixing it. In the meantime, we've pushed the image `gcr.io/tfx-oss-public/tfx:0.14.0`, so custom containers on AI Platform training should work. Would you be willing to try this again and let us know if this works for you? Thanks!

[2019-09-23 09:35] jinnovation opened #662 "TFX 0.14.0 on PyPI did not strip type hints for Py2"
It seems that latest release of TFX on PyPI ([0.14.0](https://pypi.org/project/tfx/0.14.0/#files)) did not create a Py2-compatible version with stripped type hints. Presumably related to it being a universal wheel.

[code]

[2019-09-23 14:13] martin-laurent opened #663 "The ModelValidator implementation is effectively useless"
Hi,
Given today's implementation of the [ModelValidator's Executor](https://github.com/tensorflow/tfx/blob/master/tfx/components/model_validator/executor.py), it does not make a lot of sense to use it. There are two major problems with it.

1. The implementation for `_pass_threshold` is `return True`. In https://github.com/tensorflow/tfx/pull/652 I propose that the user could pass a `threshold_con

[2019-09-23 16:44] zhitaoli commented on #662
@ruoyu90 Something went wrong in our release process: https://pypi.org/project/tfx/0.14.0/#files and https://pypi.org/project/tfx/0.14.0rc1/#files have inconsistent files.

I'm going to see how much we can fix this in place. If not we might need to release a new tag for 0.14.1.

Sorry for the problem.

[2019-09-23 17:52] jinnovation commented on #662
@zhitaoli: No worries; it happens. Thanks in advance for addressing.

[2019-09-23 18:34] 1025KB commented on #628
currently the schema is auto generated from train split so we only validate eval split, we are planing to support user schema, after that, we can make it available for all splits, let's keep this as a feature request, thanks!

[2019-09-23 18:38] 1025KB commented on #636
TFRecord is just a file format like csv or txt, what do you mean by streaming only? it should be able to work just like all other file format

[2019-09-23 18:40] neuromage commented on #216
Since 0.14.0, TFX on Kubeflow Pipelines uses the same metadata-driven orchestration as the Airflow version, so caching should now work. I'll close this issue given that this is now done.

One missing piece is ensuring the container version is recorded as part of the execution metadata, so that caching will take this into account. We're working on adding that.

[2019-09-23 18:40] #216 closed

[2019-09-23 19:05] angoenka commented on #649
The corresponding issue similar to this is tracked at https://jira.apache.org/jira/browse/BEAM-4032
The reason is that binary packages are environment dependent. The packages are downloaded on the client machines and then shipped to the worker machines and hence might not be compatible with the worker machine.

We can look into it but at the moment its not prioritized.

[2019-09-23 19:31] mdreves commented on #663
Agreed it is not useful. We are currently working on merging the Evaluator and ModelValidator components into a single component. This merged component will have an enhanced config both for setting more evaluator configuration options but also for configuring the model validation thresholds, etc.

[2019-09-23 20:10] martin-laurent commented on #663
@mdreves Interesting! In our company, we also have our own implementation of the Evaluator component to make it configurable. I'd be interested to have more details into what the implementation of this combined component will look like so that we can maybe start to make ours closer to what you came up with?

[2019-09-23 20:19] 1025KB commented on #663
Hi, Martin, internally we have a proto config for define threshold but this one doesn't available in oss, the oss version of threshold config are WIP now

[2019-09-23 20:40] ruoyu90 commented on #662
Hey @jinnovation we just updated the [wheels](https://pypi.org/project/tfx/#files). Hopefully it will work now :)

[2019-09-23 21:00] robertlugg commented on #636
What I really should have described it as is random access versus serial access.  Consider the case of an image viewer.  I want to take a look at my ML examples.  I may wish to add or modify labels.  Or, I might want to exclude a particular image for some reason.  I might have an image view with a "next" and "previous" button.  If access is only serial (like TFRecord, csv, and text), I really can'

[2019-09-23 21:18] 1025KB commented on #636
So you would edit a certain tf example instead of the entire dataset if I understand correctly,
like a tfrecord editor (similar to txt editor)?

currently we don't have plan to support such use case for file based input data, what we do is basically import all data, convert to tf examples and use it for training.

Transform can be used for tf example modification, but it will apply the same functi

[2019-09-23 21:40] jinnovation commented on #662
Perfect, LGTM. Thanks for taking care of this.

[2019-09-23 21:40] #662 closed

[2019-09-23 23:00] rmothukuru commented on #239
@riyersk ,
Sorry for the delayed response. Is your issue resolved now? If it still persists, can you please create a new Virtual Environment and try reproducing the issue and share the details with us. Thanks!

[2019-09-25 00:16] ruoyu90 commented on #322
Yes this is the convenient function for the purpose. Actually we might consider removing the optional `artifacts` parameter in Channel init function and merge the `as_channel` function to channel.py

Do you mean the `upstream_nodes` and `downstream_nodes` defined in `BaseNode` / `BaseComponent`? I believe they are having the same meaning as you suggested?

[2019-09-25 17:10] JakeTheWise opened #673 "Model Validator cannot find Trainer output"
The error in ModelValidator is: `Could not find directory gs://.../Trainer/output/12/eval_model_dir`. Looks like the Trainer wrote to `gs://.../Trainer/output/150/eval_model_dir`...

Running on GKE with kubeflow version 0.6.2. Not using any custom components.

[2019-09-25 22:15] jmugan commented on #185
@rummens Do you remember what was causing that error with not being able to open the database file? I'm getting that error now on the taxi example.

[2019-09-26 00:04] 1025KB commented on #673
ModelValidator is trying to find previous blessed model to compare with current model, it looks like previous model are deleted

[2019-09-26 02:43] rummens commented on #185
Yes the path that I was using was just wrong or not accessible because of privilege problems. Change the metadb root variable and make sure the path is okay.

[2019-09-26 03:02] jmugan commented on #185
Dang, that's not my problem. The path seems fine. It just starting doing that out of the blue. I'll keep digging, thanks.

[2019-09-26 03:05] rummens commented on #185
Changed permissions? Keep in mind that the airflow path might differ from your development path (except if you are developing in ~/airflow.
Maybe delete DB file and let TFX create a new one?
I also had some issues with multiple reads to the DB causing an issue but the error message was different.

[2019-09-26 03:15] jmugan commented on #185
Oh, wait, it looks like they changed it where you need to put the db name on the end of the path and not just pass the path. Hallelujah! Thanks!

[2019-09-26 09:09] mesaverde0207 commented on #657
Thank you for pushing a new container image!
The master_config.image_uri Error does no longer happen.

[2019-09-26 18:10] robertlugg opened #675 "TFX Team provide more information on project plans and roadmaps"
This request is for the Google TFX team to provide more planning information to the community.  This will help us 3rd parties manage our usage of TFX .

I realize that TFX will change a lot and I'm happy to see that.  However, I would also like to develop using TFX.  Knowing more about your plans for TFX will make my usage easier.

[2019-09-26 18:28] 1025KB commented on #675
Hi, thanks for the advice!

for roadmap, please check [here](https://github.com/tensorflow/tfx/blob/master/ROADMAP.md), this will be updated quarterly

for detailed changes, please check [here](https://github.com/tensorflow/tfx/blob/master/RELEASE.md)

for designs, we started to publish [rfc](https://github.com/tensorflow/community/tree/master/rfcs) under tensorflow community

for user DSL API, we

[2019-09-26 20:38] zhitaoli commented on #675
To augment what Jiayi said above, another way to ensure upcoming changes of TFX does not break your system is to helping out in RC testing phase. We will announce each RC to our user group (tfx@tensorflow.org) and wait for at least one week before finalizing a release, and any issues discovered in the process will be fixed before we finalize the release. So please consider joining the user group a

[2019-09-26 20:45] #675 closed

[2019-09-27 12:53] JakeTheWise commented on #673
Right, I cleared my tfx output directories because I didn't think it would affect subsequent pipeline runs. Is there a way to fix this model referencing issue without nuking my kubeflow deployment?

[2019-09-27 17:23] #657 closed

[2019-09-27 17:24] 1025KB commented on #618
added components to top level as suggested

[2019-09-27 17:24] #618 closed

[2019-09-27 17:27] 1025KB commented on #673
one hack way to fix this is copy the current trainer ouput eval model to the blessed model path recorded in metadata, or drop the entire metadata (you will lose all tracking information)

[2019-09-27 17:44] neuromage commented on #153
Just wanted to update this issue and point out that Kubeflow Pipelines now tracks both execution and artifact metadata, so the visualizations should just work. Closing this issue. But feel free to re-open if there are any outstanding issues about this.

[2019-09-27 17:44] #153 closed

[2019-09-27 17:46] neuromage commented on #38
Duplicate of #362

[2019-09-27 17:46] #38 closed

[2019-09-28 19:24] tejaslodaya commented on #649
Hi @andrewsmartin and @charlesccychen

I was not able to use both of your workarounds. I am still trying to play around with Chicago Beam pipeline - on spark.

I tried using --extra_package  argument and point it to wheel file like this-
[code]

[2019-09-28 19:38] tejaslodaya commented on #649
Hi @andrewsmartin and @charlesccychen

I was not able to use both of your workarounds. I am still trying to play around with Chicago Beam pipeline - on spark.

I tried using --extra_package  argument and point it to wheel file like this-
[code]
I got this error:
`Output from execution of subprocess: b'Collecting tfx==0.14.0
ERROR: Could not find a version that satisfies the requirement tfx==0.14.0

[2019-09-30 20:20] rclough opened #687 "Passing custom parameters to Trainer and Transform"
A common need from TFX users in my organization (using TFX on KFP) is to have the ability to pass custom parameters to their module files for TFT and Trainer to make iteration and experimentation easier. While the Trainer component has `hparams` in the `trainer_fn` you use, there doesn't seem to be support for adding anything outside of the TFX DSL (for example, if you wanted to change `num_dnn_la

[2019-09-30 20:31] numerology commented on #687
I think this is very relevant to #362 . While we are working towards pipeline paramterization, it is definitely a blocker that some TFX components are currently accepting pb as their arguments.
cc @ruoyu90

[2019-10-01 07:05] rmothukuru commented on #611
@cyrilthank,
Can you please let us know if @charlesccychen's comment has helped you in resolving your issue. Thanks!

[2019-10-01 08:13] cyrilthank commented on #611
@rmothukuru  Thanks for your reply

However, it is precisely over this feature we abandoned TFX in favor of kubeflow.

Thank you

cyril

[2019-10-01 10:47] darisettysuneel opened #691 "tfx apache beam with spark - setup_beam_on_spark - not running"
I tried running chicago taxi simple DAG in airflow - Successfull

But

When I tried to test apache beam with spark implementation I am unable to run it. Please find the below attachments for reference

Error:

[2019-10-01 15:45:20,572] {logging_mixin.py:95} INFO - [[34m2019-10-01 15:45:20,572[0m] {[34mstager.py:[0m486} INFO[0m - Executing command: [1m['/home/administrator/SuneelDriveA/tfx/en

[2019-10-01 10:54] darisettysuneel commented on #691
Note:
I have already installed tfx==0.14.0 but subprocess in apache_beam/utils/processes.py is  throwing error.

[2019-10-01 14:54] rclough commented on #687
What we have for the trainer is a relatively simple implementation in the executor, for the user-supplied hparams, we simply grab them from the `exec_properties` (`user_hparams = exec_properties.get("hparams", "{}")`) and  pass them into the hparam constructor [here](https://github.com/tensorflow/tfx/blob/master/tfx/components/trainer/executor.py#L182-L200) as `**user_hparams**`.  For transform th

[2019-10-01 17:41] gowthamkpr commented on #691
Similar to issue mentioned in this [comment](https://github.com/tensorflow/tfx/issues/649#issuecomment-536219717)

[2019-10-01 17:47] rclough commented on #687
What we have for the trainer is a relatively simple implementation in the executor, for the user-supplied hparams, we simply grab them from the `exec_properties`:
[code]

and  pass them into the hparam constructor [here](https://github.com/tensorflow/tfx/blob/master/tfx/components/trainer/executor.py#L182-L200) as `**user_hparams`.  For transform there's just changes needed to add `hparams` as an

[2019-10-01 18:27] ruoyu90 commented on #687
Thanks @rclough and @numerology ! Actually there is a `custom_config` field in the trainer [interface](https://github.com/tensorflow/tfx/blob/r0.14/tfx/components/trainer/component.py#L112) that can be used for passing more parameters. We can also make the change to pass through the config to the user function. For transform we do not have such flexibility but we can definitely add one. Let me kno

[2019-10-01 18:34] 1025KB commented on #691
are you able to see the job in spark UI? what's your beam and spark version?

[2019-10-01 19:21] rclough commented on #687
The docs claim this is specifically for CMLE (which we do want to use, but will not always be what we use), but if they could be accessible in the user's `trainer_fn ` that would probably suffice, looks like it would function the same way we use our custom hparams. Also assuming CMLE wont have issues unexpected config values.  Same solution would then suffice for transform.

[2019-10-02 00:28] andrewsmartin commented on #649
Hi @tejaslodaya, for the second case (trying with a provided setup.py file), do you have a more detailed stacktrace? Can you also share the full contents of your setup.py?

[2019-10-02 05:30] darisettysuneel commented on #691
@1025KB
Thanks much for your response. I've changed my virtualenv  inside the setup beam on spark file through os module. It works.

Python 3.6
spark-2.4.4-bin-hadoop2.7.tgz

@gowthamkpr
Thanks for your reference.

[2019-10-02 13:16] darisettysuneel commented on #691
@1025KB
Update:
when I ran second time same dag it was not visible in spark UI. is it same with you?

[2019-10-02 16:05] 1025KB commented on #691
that is because the second run are cached, so it doesn't go through beam calculate, you can change the input, so it won't cache

if you use the taxi_pipeline_beam.py  example I mentioned above, you can notice the cached run only takes second to finish, airflow needs extra time to bring up component so it's not that obvious for small dataset

[2019-10-03 09:33] darisettysuneel commented on #691
Thanks @1025KB
My airflow master is shutting down when I am running my spark job even when I decrease no of cores and increased memory per executor. Is there any parameters to change from tfx end to avoid this kind of situation?

[2019-10-03 17:26] ruoyu90 commented on #687
@rclough we'll update the doc to reflect that is not used specifically by CMLE. Will keep this thread opened as a FR for that.

[2019-10-04 17:15] 1025KB commented on #691
you mean airflow scheduler? is there any logs?

[2019-10-04 17:20] ruoyu90 commented on #663
Leaving this open as a FR for more full-featured ModelValidator.

[2019-10-08 06:16] ucdmkt opened #712 "AI Platform Pusher fails on 2nd run"
I am imitating `_ai_platform_serving_args` of [taxi_pipeline_kubeflow.py](https://github.com/tensorflow/tfx/blob/46bb4f975c36ea1defde4b3c33553e088b3dc5b8/tfx/examples/chicago_taxi_pipeline/taxi_pipeline_kubeflow.py#L85)

When I execute the Pusher for 2nd time, it fails on the following error, as opposed to creating a new version under the same model name.

[code]

 I would expect that a new versio

[2019-10-09 03:40] rmothukuru commented on #239
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-10-09 03:40] #239 closed

[2019-10-09 20:07] #673 closed

[2019-10-10 21:51] zhitaoli commented on #611
@cyrilthank, sorry to hear that. Just to educate us, which solution on Kubeflow satisfied your need in this thread? Did you ended up using your own container image, or an existing open source component?

[2019-10-11 04:00] alionkun opened #740 "hdfs url feed to Apache.Beam should not contain the <hostname:port> part"
I used HDFS as the distribute file system to hold training dataset and pipeline_root.
My HDFS directory struction is something as follow:
1. training dataset files store in hdfs://hdfs-master/my_model/dataset
2. pipeline_root is hdfs://hdfs-master/my_model/pipelines

After i triggered my pipeline dag, i got the following error messages:
[code]
It seems that Apache.Beam treats the **host:port** of

[2019-10-11 18:48] #712 closed

[2019-10-11 21:13] zhitaoli commented on #740
Thanks @alionkun for reporting this. Amazing work for digging into the details of both Tensorflow and Beam code base to understand this.

Let me circular this back into relevant engineers maintaining Beam and Tensorflow gfile API and see whether they should unified their convention first. If that cannot be achieved we can try the url_for_beam patch.

[2019-10-11 21:52] 1025KB commented on #182
Hi, Sorry for the late response, we are working on a tuner [prototype](https://github.com/tensorflow/tfx/pull/723), and we will also provide an e2e example after that.

this is currectly under examples/ folder, after we confirmed a stable interface, we will move it to components folder

[2019-10-14 01:35] alionkun commented on #740
Agree, Beam's API on HDFS is kind of strange

[2019-10-14 07:20] jageshmaharjan opened #754 "No module named 'tfx.orchestration.experimental'"
With tfx version 0.13.0,
I don't seem to find `tfx.orchestration.experimental` module. However, I could see it in GitHub and is updated 4 days ago. Issues while building?
[code]

[2019-10-14 09:51] pingsutw opened #756 "Could pipeline_root in tfx.pipeline set to other file system"
The **pipeline_root** was set in pipeline.Pipeline, but it was set to local file system and gs in tfx example.
Can it set to other file system, like Hadoop or S3, etc.

[2019-10-14 15:48] numerology commented on #754
Can you try to install from HEAD? AFAIK the `experimental` module is very new and is not in any released version.

[2019-10-14 15:54] foohasmallya commented on #754
There's no tfx.experimental in any of the released versions. I think what you saw is the stuff on the branch named "test_272343328". Hope this helped

[2019-10-14 17:17] #691 closed

[2019-10-14 17:32] 1025KB commented on #754
what you are trying is not released yet, you can try install head tfx

[2019-10-14 17:35] 1025KB commented on #756
the file system supported by [tf.io](https://www.tensorflow.org/api_docs/python/tf/io) should be fine,
here is a similar [thread](https://github.com/tensorflow/tfx/issues/740) for hdfs if you are interested

[2019-10-14 21:07] gowthamkpr commented on #754
@jageshmaharjan Please install tfx from head as `tfx.orchestration.experimental` is not available in any of the released versions as you can see here [[0.13]](https://github.com/tensorflow/tfx/tree/r0.13/tfx/orchestration) and [[0.14]](https://github.com/tensorflow/tfx/tree/r0.14/tfx/orchestration) but is only available in the [head](https://github.com/tensorflow/tfx/tree/master/tfx/orchestration)

[2019-10-14 21:07] #754 closed

[2019-10-14 21:13] gowthamkpr commented on #756
Closing this issue as it has been answered. Please add additional information and we can open this issue again. Thanks!

[2019-10-14 21:13] #756 closed

[2019-10-15 01:47] pingsutw commented on #756
Thanks @1025KB @gowthamkpr for the comment.
It's very helpful

[2019-10-15 04:02] jageshmaharjan commented on #754
Noted,
It's not in the release branch but only in the master `https://github.com/tensorflow/tfx/tree/master/tfx/orchestration/experimental/interactive`
Thanks.

[2019-10-15 04:47] darisettysuneel commented on #691
@1025KB  thanks for your help! I missed the logs.

[2019-10-15 16:25] zhitaoli commented on #740
@alionkun The Beam team is kind of enough to file https://issues.apache.org/jira/browse/BEAM-8399 to track this fix. Can you voice your thoughts on this one there, especially confirm if a host:port format is guaranteed to be used (i.e, always carries `:`)?

Depending the progress of the other one, let's see whether TFX team should carry a patch like you suggested.

[2019-10-16 18:20] tejaslodaya commented on #649
Hi @andrewsmartin and @charlesccychen

I managed to solve this issue by doing these steps:

1. Go to site-packages inside your virtual environment and go to apache_beam/runners/portability/stager.py file.
2. Go to `_populate_requirements_cache` function and remove these two lines
        '--no-binary',
        ':all:'
3. Reload the package inside your jupyter notebook/ main call.

In my case, I ha

[2019-10-16 18:21] tejaslodaya commented on #649
@andrewsmartin please close this issue

[2019-10-16 18:22] tejaslodaya commented on #691
For anyone who didn't follow the above steps mentioned by @darisettysuneel (maybe because of lack of verbosity), please do this:

1. Go to site-packages inside your virtual environment and go to apache_beam/runners/portability/stager.py file.
2. Go to `_populate_requirements_cache` function and remove these two lines
        '--no-binary',
        ':all:'
3. Reload the package inside your jupyter

[2019-10-16 19:38] rclough commented on #687
I noticed the copybara PR #699 is blocked on CLA signing (strange thing to ask a bot to do 😛), anything left on that?

Additionally, just wanted to poke on what you thought of including the same functionality for Transform as mentioned before.

[2019-10-16 20:37] rclough commented on #687
I noticed that `Transform` got a `custom_config` in the spec in this commit (though I'm not really sure how it was related to the rest of the commit): https://github.com/tensorflow/tfx/commit/1ba6956f2d0fbea2e6f3d1c0b0734c2a59ca371c#diff-51faf1954722449c4cabb94901f737d6L27

But doesn't seem to be used in the component/executor yet

[2019-10-17 11:32] tejaslodaya opened #772 "Beam not able to comminicate with spark master"
Hi,

I am not able to connect to spark master from beam. Further debugging the issue, I got to know that master has an error on its side.

Tried a few solutions online-
1. All 3, master, worker and beam spark have the same version.
2. IP changed from `hostname` to `127.0.0.1` because I'm running in local

Any leads would be appreciated.

Stacktrace of **master**-
[code]

Stacktrace of **beam**-

[

[2019-10-17 14:28] andrewsmartin commented on #649
Hi @tejaslodaya - glad you found a workaround, but it is just that - a workaround. That said I'm going to keep this open.

[2019-10-17 17:03] 1025KB commented on #772
we have a script to setup local beam and spark to try tfx, please check [here](https://github.com/tensorflow/tfx/blob/master/tfx/examples/chicago_taxi_pipeline/setup/setup_beam_on_spark.sh)

[2019-10-18 07:07] tejaslodaya commented on #772
I have followed the same script @1025KB @gowthamkpr

Below are the steps I followed:
1. Created conda virtual environment
2. Run `sh ./setup_beam_on_spark.sh` file. This downloads spark and starts beam with spark as a runner. Spark master is at 127.0.0.1:7077 and Beam jobserver at 8099. This works fine too
3. When I run `taxi_pipeline_portable_beam.py` file, I get the above error when python BeagD

[2019-10-18 09:44] alionkun commented on #740
@zhitaoli I have added a comment on that issue.

But I wonder whether the Beam team will supports this in a short time :)
HDFS is the de facto standard of dfs outside Google, it's good for TFX to popularize if there's a solution with predictable time.

[2019-10-18 14:50] andrewsmartin commented on #571
This should be handled now with the new [importer node](https://github.com/tensorflow/tfx/blob/master/tfx/components/common_nodes/importer_node.py) right?

[2019-10-18 17:10] 1025KB commented on #772
could you verify two things:

1. try without conda, just "virtualenv -p python3.52 test" and "source ./test/bin/activate"
2. after step 2, can you open the [spark UI](https://github.com/tensorflow/tfx/tree/master/tfx/examples/chicago_taxi_pipeline#chicago-taxi-spark-example)?

[2019-10-18 19:28] tejaslodaya commented on #772
Hi @1025KB ,

To answer your 1st question, the problem persists. I tried it with virtualenv instead of conda.

To answer your second question, yes. SparkUI is visible. I can see the master and worker both boot up. Only when I submit job to Beam using `PortableRunner` and give the job endpoint as `localhost:8099`, I get the error above.

Logs of master before submitting the job but after running be

[2019-10-18 21:48] mfjackson opened #778 "CsvExampleGen picking up hidden files and returning UnicodeDecodeError"
**Summary**

TFX seems to be picking up hidden files when running the executor for `CsvExampleGen` on my local MacOS. Specifically, it is picking up the .DS_Store file in the folder that contains the referenced data and is returning a `UnicodeDecodeError`.

I tested to make sure it was the .DS_Store file that was causing the error by removing the file and triggered the same DAG without changing th

[2019-10-18 21:56] 1025KB commented on #778
could you try use the split.pattern to only capture the data file?

[2019-10-18 22:57] ibzib commented on #772
Hello Tejas, thanks for the detailed bug report.

In addition to verifying that the Beam, master, and worker Spark versions all line up, I would `jps -l` to make sure there are no leftover Beam job server or Spark master or worker running besides the ones you want to use, as they can often cause weird errors like this.

I see from the logs that you changed `setup_beam_on_spark.sh` to use Spark 2.4

[2019-10-18 23:25] mfjackson commented on #778
@1025KB I adjusted the above code to change the default input config using info from [here](https://www.tensorflow.org/tfx/api_docs/python/tfx/components/example_gen/utils/make_default_input_config) and [here](https://github.com/tensorflow/tfx/blob/r0.14/tfx/components/example_gen/utils.py#L118-L124):

[code]

However, this returns a broken DAG with the error `Protocol message Split has no "patter

[2019-10-18 23:33] 1025KB commented on #778
here is an [example](https://github.com/tensorflow/tfx/blob/master/docs/guide/examplegen.md#custom-inputoutput-split), input and output config are different protos

[2019-10-19 00:46] mfjackson commented on #778
@1025KB Thanks for the example. The following code seemed to be successful:

[code]

Do you know if this is the only way within the TFX framework to avoid `CsvExampleGen` picking up hidden files on MacOS? The only reason I ask is because it seems like `example_gen_pb2.Input.Split` is primarily for ingesting previously split train/test data, but here I'm only using it to ingest a non-split file.

[2019-10-19 03:00] 1025KB commented on #778
Yep, using Input split config for single split is fine, that's the only way to import input with glob pattern if the input is not organized in a format "folder_path/*"

[2019-10-19 15:49] mfjackson commented on #778
Good to know, thanks for the help! Closing this issue.

[2019-10-19 15:49] #778 closed

[2019-10-21 05:51] LuBingtan opened #781 "Pass the parameters when manually trigger Airflow DAG via CLI?"
As I known, we can pass parameters by cli when using airflow. For example:
#### command line
[code]
#### python operator
[code]

But I did not find how to use this feature in TFX.  I only found this in souce code(https://github.com/tensorflow/tfx/blob/master/tfx/orchestration/airflow/airflow_component.py)

[code]
It seemed that `kwags` is not passed into pipeline args?
So, Is there any way to pass

[2019-10-21 17:48] ruoyu90 commented on #781
Hi @LuBingtan , we're actively working on supporting runtime parameter. Leaving this open as a FR.
/cc+ @numerology who is working on that.

[2019-10-21 19:25] jinnovation opened #784 "ExecutionParameter type-checking does not assert against generics"
I've noticed that while `ExecutionParameter` *accepts* subscripted generics, e.g. `ExecutionParameter(type=Dict[Text, Any], optional=True)` (as in `TrainerSpec`), there's no actual assertion being performed on this value, as evidenced by the definition for `ExecutionParameter.type_check`:
[code]
This relegates the type information in `ExecutionParameter` in such cases to documentation. This is val

[2019-10-21 19:55] zhitaoli commented on #740
I would like to try to fix this from Beam side directly. Discussing with some relevant folks on whether we can fast track this in next version of Beam (since the fix is much more isolated than patching this from TFX side).

[2019-10-22 20:38] charlesccychen commented on #784
Thanks for this issue.  I've filed this as a feature request for a future improvement.

[2019-10-23 01:09] #571 closed

[2019-10-23 03:51] ruoyu90 commented on #571
@andrewsmartin Yes! We just added an [example](https://github.com/tensorflow/tfx/blob/master/tfx/examples/chicago_taxi_pipeline/taxi_pipeline_importer.py) to demonstrate that.

[2019-10-23 07:38] shazamkash commented on #611
@cyrilthank
Can you give a little information on your Kubeflow solution? I am currently struggling with the same issues

[2019-10-23 17:09] cyrilthank commented on #611
sorry @shazamkash i got 'famously' stuck at
https://github.com/kubeflow/kubeflow/issues/4228
https://github.com/kubeflow/kubeflow/issues/4184

both have been marked duplicate

So i take it i have to wait for kubeflow 0.7 version to be released and tested with kubernetes 1.16

In the meanwhile i am trying to demonstrate the MiniKF solution to 'revive' interest in kubeflow
 of course as part of my j

[2019-10-24 15:31] yangju2011 opened #819 "float data type for dropoff_census_tract due to missing values"
in step 4 notebook, for this line in example data"
`"dropoff_census_tract": [12345.0],  # No idea why this is a float`

The reason why this feature is float, rather than int or string, is because pandas dataframe cast `int` to `float` when there are missing values in the column.

[2019-10-25 06:46] gowthamkpr commented on #819
@yangju2011 Can you please explain what the issue here is? Thanks!

[2019-10-25 14:53] yangju2011 commented on #819
@gowthamkpr in this step 4 notebook, there is this inline comment`# No idea why this is a float`
and i think the reason for this is a float is because there are missing values in the column, thus pandas interprets this column as float, rather than int.

[2019-10-25 19:36] Ark-kun commented on #495
Related: Kubeflow Pipelines has support for converting arbitrary Airflow operators to pipeline components https://kubeflow-pipelines.readthedocs.io/en/latest/source/kfp.components.html#kfp.components.create_component_from_airflow_op . Here is the sample demonstrating that function: https://nbviewer.jupyter.org/github/kubeflow/pipelines/blob/f1df367ee42809641187d630d53ae3d7f17e1c62/samples/core/Com

[2019-10-25 21:16] gowthamkpr commented on #819
@yangju2011 Thanks for giving your insight. Will look into it.

[2019-10-26 12:22] foohasmallya opened #831 "Issues with pip install tfx==0.15.0rc0"
Hey folks,
I'm unable to install the RC of 0.15 via pip. Not sure if the package is broken or yet to be updated on PyPI. The main issue seems to be around a Python library called psutil. Has anybody else faced this? If yes, how did you overcome the issue?

[2019-10-26 12:43] foohasmallya commented on #831
I think there are issues with the build dependencies.py too i.e  The requirements haven't been sorted out yet.

[2019-10-28 16:32] zhitaoli commented on #831
pip error is also platform and environment specific. Can you share the failure log, the underlying platform and version (MacOS, Linux, Windows), python version and virtualenv version?

[2019-10-28 16:56] ruoyu90 commented on #819
Thanks @yangju2011 for the feedback!

[2019-10-29 00:01] misterpeddy opened #838 "Using TFX components with TF 1.x contrib ops"
Due to the deprecation of TF contrib ops, any SavedModel produced using contrib ops (or indirectly using for example, tf.Transform ops that used tf.contrib ops underneath the hood such as tft.quantiles, tft.bucketize, etc.) cannot be loaded with TF 2.0.
Is there a migration story for users beyond rewriting our models to use TF core ops?

[2019-10-29 16:31] zhitaoli commented on #838
I would think this is more of a tensorflow question, and @martinwicke or @karmel can probably give some better guidance.

Specifically, I wonder whether there is a list of ops which were previously in contrib but removed in TF 2.0, and where can users find their replacements.

[2019-10-29 16:38] unclepeddy commented on #838
There's been a bunch of documentation published by TF ([ex](https://github.com/tensorflow/community/blob/master/rfcs/20180907-contrib-sunset.md)).

More than providing more solutions, this issue aims to be used as a means of recording problems of TFX users who come to us with issues concerning contrib ops deprecation so that we can track them in a central issue.

[2019-10-29 16:39] martinwicke commented on #838
I never made a list of ops, but the RFC (https://github.com/tensorflow/community/blob/master/rfcs/20180907-contrib-sunset.md) contains a list of what happened to which projects.
 
Many ops moved to core or addons or io, although the ops which were used only in TFT wouldn't have been moved elsewhere.

[2019-10-31 10:59] foohasmallya commented on #831
@gowthamkpr Currently trying to sort this out on my own. Will update in a day or two.

[2019-10-31 20:53] andrewsmartin opened #864 "Is it possible for TFX to generate unique node id when instance_name is not provided?"
Hi! For many users in my organization, it is common to have multiple instances of a component in the same pipeline in order to easily experiment with features. For us this has been a tricky source of errors, because while it is possible to set a unique `instance_name` when initializing the component, the default if left out is to [just use the class name](https://github.com/tensorflow/tfx/blob/0.1

[2019-11-01 23:38] luischinchillagarcia opened #882 "Colab InteractiveContext Unable to Determine ProjectID for BQ"
When trying to use TFX in Colab, specifically the BigQueryExampleGen, there is an issue where we get the following error regarding the GCP project_id:
"Project was not passed and could not be determined from the environment."

`gcloud config list` shows the project is recognized, so the issue is within the last, or second-to-last line.

Perhaps there is a parameter within  `InteractiveContext()` o

[2019-11-04 01:40] iLikeToCodeZ opened #885 "Can't Pip Install TFX: tried different environment setups and python/pip versions"
TFX won't install on my windows machine. It throws this exact same error for all the different standalone packages: tensorflow-data-validation, tensorflow-transform, tensorflow-model-analysis, ml-metadata, etc

Please help! I've been struggling with this for about 3 weeks now. I am running Anaconda with Python 3.7.4, TensorFlow 2.0, on Windows 10. I've tried TFX 0.14.0 and 0.15.0rc0

[code]

[2019-11-04 15:15] andrewsmartin commented on #864
Ideally this would be done in a deterministic, repeatable way so that caching between runs is still possible.

[2019-11-04 18:24] gowthamkpr commented on #885
@iLikeToCodeZ Can you install tensorflow without any issues?

[2019-11-04 18:35] iLikeToCodeZ commented on #885
Yes. It seems it has a problem on Windows only. I just installed everything perfectly on Ubuntu.

[2019-11-04 18:39] ruoyu90 commented on #864
Hi @andrewsmartin , thanks for bringing up this! Actually with [this change](https://github.com/tensorflow/tfx/commit/f03f425af730c13ed3770bf138bb470e165dfb9a), `instance_name` is mandatory if there are multiple component instances for the same component type in a pipeline. It is available in 0.14.

[2019-11-04 21:07] 1025KB commented on #882
Could you try following the instruction [here](https://cloud.google.com/docs/authentication/getting-started) and set up the GOOGLE_APPLICATION_CREDENTIALS in your env?

[2019-11-04 21:09] luischinchillagarcia commented on #882
Yes I did, and it still doesn't seem to work. It seems it's an issue with `InteractiveContext` that the actual credentials. This issue can be replicated in a Colab notebook as well, after you fully authenticate you env.

[2019-11-04 21:17] 1025KB commented on #882
are you able to run the [gcp example](https://github.com/tensorflow/tfx/blob/master/tfx/examples/chicago_taxi_pipeline/taxi_pipeline_kubeflow_gcp.py) without InteractiveContext or Colab?

[2019-11-04 21:19] charlesccychen commented on #882
Can you try setting the following?

[code]

[2019-11-04 21:25] charlesccychen commented on #882
(edited) Can you try setting your project ID with the following code?

[code]

[2019-11-04 21:26] luischinchillagarcia commented on #882
So far, yes. The issue appears only when running this in a notebook with the BigQueryExampleGen. The CsvExampleGen works. Here is the issue that appears, even using the suggestion above.

![image](https://user-images.githubusercontent.com/50338632/68159413-9539f180-ff06-11e9-8d6f-c2d75b0781fe.png)

[2019-11-04 21:26] charlesccychen commented on #882
(edited) Can you try setting your project ID with the following code?

[code]

And then verifying that it shows up with

[code]

[2019-11-04 21:32] charlesccychen commented on #882
Thanks, it looks like the long-term solution will be to pipe in `beam_pipeline_args` through `context.run()`.  A workaround right now is to do the following:

[code]

Note that there is no compatibility guarantee for this workaround.

[2019-11-04 21:35] luischinchillagarcia commented on #882
It seems it does not work. So currently there is no way to add to `beam_pipeline_args` through context.run()? I presume InteractiveContext is using `PipelineOptions()` with a DirectRunner right?

[2019-11-04 21:44] charlesccychen commented on #882
I have proposed https://github.com/tensorflow/tfx/pull/888 to make this work.  With that change, you would be able to do `context.run(..., beam_pipeline_args=['--project', 'my-project'])`.

To be clear on your last comment, are you saying that setting `auth.executing_project` does not work?

[2019-11-04 21:49] luischinchillagarcia commented on #882
"To be clear on your last comment, are you saying that setting auth.executing_project does not work?"

[2019-11-04 21:50] luischinchillagarcia commented on #882
Thank you so much for the prompt responses with this issue.

[2019-11-05 07:39] tejaslodaya commented on #772
Hi @ibzib ,

Sorry for the delay in response. Made sure that all spark versions are in-line. It is apparent in the logs as well.

I tried killing all the process and did a re-run. Still doesn't work

[2019-11-05 08:16] tejaslodaya commented on #772
Upon running `jps -l` while the beam is running with spark runner, I get this output
[code]

Also, I made spark version change to 2.4.4 and beam to 2.16.0 explicitly.

[2019-11-05 16:25] 1025KB commented on #882
#888 is merged into master, could you try again?

[2019-11-05 18:32] gowthamkpr commented on #885
What pip version are you using?

[2019-11-05 18:58] iLikeToCodeZ commented on #885
19.3.1

[2019-11-06 02:26] BryonHance commented on #885
I am having similar issues trying to pip install tfx on Windows 10 Home with Python 3.7.5.
In the first virtual environment, I installed tensorflow 2.0 and pip 19.3.1:
pip install tfx
ERROR: Could not find a version that satisfies the requirement tensorflow-data-validation<0.15,>=0.14.1 (from tfx) (from versions: none)
ERROR: No matching distribution found for tensorflow-data-validation<0.15,>=0.1

[2019-11-06 02:52] BryonHance commented on #885
When I attempt to load a specific version of tfx on tensorflow 1.15.0 and the following command:
python -m pip install tfx==0.14.0
The error message change to ml-metadata:
ERROR: Could not find a version that satisfies the requirement ml-metadata<0.15,>=0.14 (from tfx==0.14.0) (from versions: 0.12.0.dev0, 0.13.0.dev0, 0.13.1.dev0, 0.15.0)
ERROR: No matching distribution found for ml-metadata<0.15,

[2019-11-06 03:21] BryonHance commented on #885
I have made some progress.  Windows 10 Home, Python 3.6.5, pip 19.3.1, and tensorflow 1.15.0.
I am still unable to pip install tfx; however, the installation does progress with
python -m pip install tfx==0.15.0rc0
However, there are still errors that I am concerned about.  The first error occurred while installing tensorflow==1.15.0 with python 3.6.5
ERROR: tensorboard 1.15.0 has requirement setup

[2019-11-06 03:46] andrewsmartin commented on #864
Oh, I see, thanks @ruoyu90!

[2019-11-06 03:46] #864 closed

[2019-11-06 12:45] rclough commented on #182
@1025KB I was looking through the tuner prototype, and had a quick question/clarification- would this tuner essentially be a single threaded HP search? We're currently working on adding support for AI platform HP tuning support in our own (fairly diverged) internal "fork" of TFX, and its a bit painful but we're making progress, but we're also obviously trying to keep an eye on the official HP tuni

[2019-11-06 16:45] 1025KB commented on #182
There are several level of distribution
1) multiple models (with different hyperparameter) tuning in parallel (multiple KerasTuners with a central hp server)
2) for a single model, data parallelism training (single KerasTuner)
3) for a single model, model parallelism training (useful when model is too big to fit into memory, but we will mainly working on 1 and 2)

This prototype tuner is single Ke

[2019-11-06 19:38] charlesccychen commented on #882
@luischinchillagarcia can you try installing `pip install -i https://test.pypi.org/simple/ tfx==0.16.0.dev20191105` and then adding `context.run(..., beam_pipeline_args=['--project', 'my-project'])`?

[2019-11-06 22:40] Ark-kun opened #905 "[Metadata] pipeline_name should be a property of Context, not Artifact or Execution"
From Metadata and DB schema perspective, the "pipeline_name" is a property of Context, not Artifact or Execution.

https://github.com/tensorflow/tfx/blob/9f6412be9e8c6d3b065eb15ea85859ab4604af5e/tfx/types/artifact.py#L117

https://github.com/tensorflow/tfx/blob/92832988691c82c6b142a6251385c46e86c38991/tfx/orchestration/metadata.py#L46

Same with `run_id` and `pipeline_root`.

[2019-11-06 22:47] Ark-kun commented on #513
This seems to be pretty close to the concept of "graph components" in Kubeflow Pipelines. To the pipeline author they look the same as single components (they're loaded and instantiated the same way). https://github.com/kubeflow/pipelines/blob/b79c9e15ebf664cca3d5861c74360ec854f9486f/sdk/python/tests/components/test_python_pipeline_to_graph_component.py#L42

[2019-11-07 11:00] rclough commented on #182
@1025KB Thanks for the clarification on what's here and what's planned!

We're essentially just working on modifying the existing [`Trainer`](https://github.com/tensorflow/tfx/tree/master/tfx/components/trainer) component, so that when you use the AI platform executor [like this](https://github.com/tensorflow/tfx/blob/07f5abbff0d1ebbc8c837043d0284ec63f7b7939/tfx/examples/chicago_taxi_pipeline/taxi

[2019-11-07 11:07] rclough commented on #182
We're considering making this a distinct component though, especially due to the special post-processing of the HP trial results....we try to avoid having copy-pasted code from TFX just to add special functionality since its hard to keep in sync, so keeping it separate from `Trainer` allows us to continue using the default TFX executor, etc. It's not immediately clear to us whether our customers w

[2019-11-07 17:39] iLikeToCodeZ opened #912 "How to use tf.keras.estimator.model_to_estimator in Trainer?"
I'm failing at using an estimator build from keras in the Trainer component. Any examples on how to do this?

TF Version: 2.0.0
TFX Version: 0.15.0rc0

[2019-11-07 18:55] 1025KB commented on #905
agree, we recently add the context concept, and it contains pipeline_name already [[1]](https://github.com/tensorflow/tfx/blob/master/tfx/orchestration/metadata.py#L645), before the context exists, we need the pipeline information in artifacts or execution for caching reason, it should be deprecated in the future

[2019-11-07 18:56] 1025KB commented on #912
we have this [example](https://github.com/tensorflow/tfx/blob/master/tfx/examples/iris/iris_utils.py#L190) using model_to_estimator

[2019-11-07 19:17] #912 closed

[2019-11-07 22:10] luischinchillagarcia commented on #882
It works perfectly! Thank you so much.

[2019-11-08 01:06] ibzib commented on #772
I suspect a Beam version mismatch. The Beam Python SDK and Spark job server (`beam-runners-spark-job-server-2.x.0-SNAPSHOT.jar`) are required to have the same version (this is something we're working to improve in future Beam releases). The former is set [here](https://github.com/tensorflow/tfx/blob/5a7253425c61893164b576862446280cf042871a/tfx/dependencies.py#L23), while the latter is set [here](h

[2019-11-08 01:38] luischinchillagarcia opened #917 "Iterating TFRecordDataset Gives Only First Row of Data"
After performing a simple TFT operation, trying to see the results by decoding a TFRecordDataset using TFExampleDecoder ONLY gives you the FIRST row of the data and its transformations. In other words, when attempting to iterate over this TFRecordDataset, it shows that only the first row exists (none of the transformation functions were aggregate operations).

Is this an issue? Or is there a diffe

[2019-11-08 02:20] Ark-kun opened #918 "ChannelParameter does not retain the type"
ChannelParameter does not retain the type argument passed to it.
This makes retrieving the real type from ComponentSpec instance impossible.

[2019-11-08 04:13] rmothukuru commented on #918
@Ark-kun,
Can you please elaborate the issue.

Also, Please provide details about what platform you are using (operating system, architecture).

Make sure you also include the exact command if possible to produce the output included in your test case. If you are unclear what to include see the issue template displayed in [the Github new issue template](https://github.com/tensorflow/tensorflow/issu

[2019-11-08 12:19] tejaslodaya commented on #772
@ibzib,

I changed the `setup_beam.sh` file to the latest version (2.16)
`BEAM_BRANCH="release-2.16.0"`

And to make sure that apache beam in my virtual environment has the same version, `pip freeze | grep apache-beam` gave me `apache-beam==2.16.0`.

Here are the truncated logs-

[code]

Just to make sure you're on the same page as my, I did these modifications to make it work-
https://github.com/

[2019-11-08 18:17] 1025KB commented on #917
did you check the tfrecord to see how many rows in it? [here](https://stackoverflow.com/questions/40472139/obtaining-total-number-of-records-from-tfrecords-file-in-tensorflow) is some examples about checking row count in tfrecord, both python io way and TFRecordDataset way

[2019-11-08 18:27] ibzib commented on #772
I'm still unable to reproduce this.
- I saw from your previous comment that `beam-runners-spark-job-server-2.14.0-SNAPSHOT.jar` was running. 2.14.0 doesn't look right -- but I suppose that might have been from before you changed BEAM_BRANCH to 2.16.0.
- Check that the Spark master and Beam job server are running the same Java version.
- Which TFX release/commit are you working off of? And it'd be

[2019-11-08 22:57] schmidt-jake opened #922 "Why not call tf_transform_output.transform_raw_features in a tf.keras.Layer subclass?"
The preprocessing function is something that will be applied in training, evaluation, and serving. The current method involves transforming raw features in multiple places (the train, eval and serve `input_fn`s) in the pipeline, violating the DRY principle. I find it easier to subclass `tf.keras.Layer` to hold my single call to `transform_raw_features`, especially since TF2 is moving to keras bein

[2019-11-08 23:33] luischinchillagarcia commented on #917
Yes, it seems the data is store inside. It just iterating over the decoded example that causes the issue.

Calling 'next' after setting it as an iterator shows that only the first row exists. This is inconsistent to the behavior found while iterating over any other tf.Records example.

[2019-11-09 21:22] PingThePeng opened #923 "try to recovery example_gen['examples'] Channel from json got TypeError when run StatisticsGen"
to json code:

def example_channel_to_json(channel:Channel):
    artifact_dicts = [i.to_json_dict() for i in channel.get()]
    return json.dumps({"type_name":"ExamplesPath","_artifacts":artifact_dicts})

-------------------------------------------------------------------------------------------------
to channel code:

def load_example_channel(file_name:str)->Channel:
    with open(file_name,encod

[2019-11-11 17:23] jackhawa opened #924 "After splitting my dataset into train/eval/test splits with CsvExampleGen, StatisticsGen fails to create stats for test set"
I was able to split my dataset sucessfully with CsvExampleGen and produce 3 artifacts:

![image](https://user-images.githubusercontent.com/7749809/68607056-c9b92a80-047d-11ea-9f1d-a5f8551a4721.png)

But StatisticsGen seems to only allow producing stats for train and eval as can be seen with this line (in artifact.py):

![image](https://user-images.githubusercontent.com/7749809/68607098-e190ae80-04

[2019-11-11 18:14] jackhawa commented on #924
Anyway this fix can be made on tfx version 1.14.0?

[2019-11-11 18:26] numerology commented on #924
I think another way to fix this is by manually specifying output when constructing StatisticsGen component.

Something like
[code]

[2019-11-11 19:31] 1025KB commented on #924
The downstream components currently doesn't support splits other than train and eval yet, and yes changing DEFAULT_EXAMPLE_SPLITS would make statistics gen works, but other downstream components would still ignore test split as train and eval is hardcoded in most downstream components

[2019-11-11 19:39] 1025KB commented on #923
Channel doesn't have from_json_dict function in the latest version, that function is for [artifact](https://github.com/tensorflow/tfx/blob/master/tfx/types/artifact.py#L146) not channel, channel contains a list of artifacts.

BTW, could you help us understand what's the need here for serialize channel?

[2019-11-11 19:49] 1025KB commented on #922
preprocessing_fn is used by transform, train and eval doesn't need to write the preprocessing code again, they can directly use the transform's output to make sure it is applied to the same transform logic.

tf transform is currently not supported in keras yet, tensorflow team is working on that, if I remember correctly, implementing tft in keras input Layer is one of the option, could you ask the

[2019-11-11 20:56] Ark-kun commented on #924
I think this might be a design issue.
Is there any effort to deprecate `split` as a property of every artifact?
I think that in most cases a split dataset is analogous to subdirectories of a dataset directory which groups them.

[2019-11-11 21:00] charlesccychen commented on #882
Great, thanks for reporting this issue.

[2019-11-11 21:00] #882 closed

[2019-11-11 21:12] PingThePeng commented on #923
I'm trying to do preprocessing on beam and training on single gpu-machine.So as a newbee thinks maybe i can just cut the pipeline into two part and serialize channel as message then connect them.

Realized it's a wrong way...

[2019-11-11 21:28] 1025KB commented on #917
Sorry I don't quite understand the issue here

for tfrecord in dataset:  <- do you mean this only get one row?
  serialized_example = tfrecord.numpy()
  example = decoder.decode(serialized_example) <- or you mean sth happens here?

in our taxi example, tfrecorddataset works fine for getting tf examples from gzip tf record file, here is the [example](https://github.com/tensorflow/tfx/blob/master/tf

[2019-11-12 00:12] 1025KB commented on #923
it might be doable as channel is [jsonable](https://github.com/tensorflow/tfx/blob/master/tfx/types/channel.py#L26), you need to make sure the two part are using same mlmd, so that the second part can find the information in mlmd and continue,

Normally examplegen and importer is our entry point as those components can register external file into mlmd, but serialized channel should work

[2019-11-12 00:14] 1025KB commented on #924
Currently single Channel contains multiple artifacts, each artifact is represent a split. we are working on make it merged, single channel will contains one artifacts which represent multiple splits.

Add Charles for more details

[2019-11-12 09:19] htahir1 opened #926 "Pusher GAIP Extension unable to push to any region other than us-central1 on Google Cloud Platform"
The runner that creates and deploys models on Google Cloud AI Platform can for now only push to the region 'us-central1'. This is because the 'body' that is used to actually make the model only includes the name of the model and the region is defaulted to us-central1: Reference: https://github.com/tensorflow/tfx/blob/359dcc95e6104e183b685a683d502744305e5eba/tfx/extensions/google_cloud_ai_platform/

[2019-11-12 15:26] tkakantousis opened #928 "BeamDagRunner, Transform deadlock with Python 3.6"
Hi everyone,

Running the `taxi_pipeline_beam` example fails with
[code]
while running Transform https://github.com/tensorflow/tfx/blob/0.14.0/tfx/examples/chicago_taxi_pipeline/taxi_pipeline_beam.py#L85

TFX version is 0.14, Beam is 2.15 and running on Flink 1.8.1.

All works well with Python 2.7. Has anyone encountered this issue before?

Thank you,
Theo

[2019-11-12 17:05] tkakantousis commented on #924
I ran into the same issue with [Taxi Beam Pipeline](https://github.com/tensorflow/tfx/blob/0.14.0/tfx/examples/chicago_taxi_pipeline/taxi_pipeline_beam.py)
 (Python 2.7, TFX 0.14) when using a mysql database for metadata. It works ok with mysqlite.

[2019-11-12 17:53] tkakantousis opened #929 "Taxi_pipeline_beam SchemaGen split train error when using MySQL for metadata."
Hi everyone,

Running the [taxi_pipeline_beam](https://github.com/tensorflow/tfx/blob/r0.14/tfx/examples/chicago_taxi_pipeline/taxi_pipeline_beam.py) example, throws the following error

[code]
when using a MySQL database for metadata. With the default Sqlite it works ok. Artifact and ArtifactType tables are populated in MySQL. Any hints on what could be the issue or where to look at? Thank you!

[2019-11-12 18:16] #917 closed

[2019-11-12 19:16] neuromage commented on #926
Yes, definitely. This should be an easy fix. We'll send one out shortly.

[2019-11-13 02:49] tvalentyn commented on #928
Hi, @tkakantousis. Thanks a lot for reporting this. We have seen an issue [reported](https://lists.apache.org/thread.html/5581ddfcf6d2ae10d25b834b8a61ebee265ffbcf650c6ec8d1e69408@%3Cdev.beam.apache.org%3E) on Beam mailing list, that may be similar in nature, but we have not yet rootcaused it.
Do you know if this error is reproducible in your setup on Python 3.7.3 or higher?

[2019-11-13 10:00] tkakantousis commented on #928
Hi @tvalentyn
Thank you for looking into the issue. Same error with Python3.7.3 but in TFMA this time, it worked for Transform
[code]

[2019-11-13 18:37] iLikeToCodeZ opened #934 "ImportError: undefined symbol"
Has anyone seen the below error? (TF 2.0, Ubuntu 18.04, TFX 0.15.0, Python3.7)

[code]

[2019-11-14 00:44] luischinchillagarcia opened #935 "SchemaGen default_environment Error"
When attempting to create different schema environments for training and serving (serving doesn't have the label feature) while using a schema derived from SchemaGen, the error `AttributeError: 'SchemaGen' object has no attribute 'default_environment'` appears. Is there a way to have this TFDV-like functionality?

A secondary question is more general: what is the relationship between TFDV and TFX

[2019-11-14 01:47] tvalentyn commented on #928
Thanks. I am trying to reproduce this locally, just wanted to double check - how do you launch this example?
I've tried so far ```python tfx/examples/chicago_taxi_pipeline/taxi_pipeline_beam.py``` which worked for me on Python 3.5, 3.7.5, but I believe that does not involve Beam on Flink.
I am working on Beam primarily, and looks like there were a quite a few changes since the last time I played w

[2019-11-14 08:53] karlschriek commented on #19
Looks like Beam support for S3 is close to being implemented (https://issues.apache.org/jira/browse/BEAM-2572).

I would just like to second what has been discussed here. There is a pretty large user community who are interested in TFX and/or Kubeflow but are currently struggling to get into it due to a lack of non-GCP examples (and sometimes core functionality).

A TFX Chicaco Taxi example on Kub

[2019-11-14 09:23] tkakantousis commented on #928
Hi,
I copied the example into an iPython notebook and I ran it from Jupyter. As you suggested it most probably is a Beam issue with Python, maybe I should open an issue on Beam or post on the mailing list? Also the output of the pipeline in my case is saved into HDFS, not the local filesystem. The strange thing is that I see Flink tasks completing successfully, the deadlock occurs between finishin

[2019-11-14 15:09] ucdmkt commented on #19
[taxi_pipeline_kubeflow_local.py](https://github.com/tensorflow/tfx/blob/master/tfx/examples/chicago_taxi_pipeline/taxi_pipeline_kubeflow_local.py) does not depend on GCO or GKE, but only depend on Kubeflow Pipelines deployment (backend) on any k8s.

[2019-11-14 15:41] martin-laurent commented on #784
Hi, Any update on this? It makes tfx effectively incompatible with python 3.7 for us.

[2019-11-14 17:43] tvalentyn commented on #928
Are you sure you are running `taxi_pipeline_beam` example and not `taxi_pipeline_portable_beam`? If you have made changes to the example, and have these changes somewhere on your fork, please share them too. I can open the issue in Beam once I can reproduce it. Also, I've opened  https://issues.apache.org/jira/browse/BEAM-8651  for another issue I mentioned earlier.

[2019-11-14 17:49] tkakantousis commented on #928
I'm not using the portable one and I haven't done any changes. Only change is that the input/output files are in HDFShdfs, not local.

[2019-11-14 17:52] tvalentyn commented on #928
Do you observe the issue when input/output files are local? How about when running the example outside of Jupyter,  using python interpreter directly?

[2019-11-14 18:42] tvalentyn commented on #928
It appears that that taxi_pipeline_beam uses beam orchestrator on Direct runner, so I am not sure how you end up using Flink if you are running  taxi_pipeline_beam...

[2019-11-14 20:09] tkakantousis commented on #928
I haven't tried with local files and outside jupyter. I end up using Beam/Flink because I set the `beam_pipeline_args`, similarly to here https://github.com/tensorflow/tfx/blob/0.14.0/tfx/examples/chicago_taxi_pipeline/taxi_pipeline_portable_beam.py#L140

From what I understand these two examples run the same pipeline, except for the Beam vs Airflow DagRunner and the Direct vs Portable runer. So i

[2019-11-15 00:00] tvalentyn commented on #928
Thanks, that explains your usecase. As I said, I am just trying to replicate the example on my machine, so it's helpful to know which modifications you did, as I am not intimately familiar with chicago_taxi pipeline. By the way, which tensorflow version are you using?

[2019-11-15 00:52] tvalentyn commented on #928
Got the example running on  PortableRunner with the BeamDAGRunner, with Flink 1.8.2, TF 1.14.0, Beam 2.16.0,  but was not able to run it on 2.15.0, are you certain you use Beam 2.15.0?
Also, could you provide the beam_pipeline_args that you set?
Did not repro the error so far.
Looks like it's important to clean up ~/tfx directory before each run, to clean any cached computated results.Otherwise pi

[2019-11-15 01:46] charlesccychen commented on #935
Hey @luischinchillagarcia, this feature of Tensorflow Data Validation isn't yet supported by the SchemaGen component.  I've filed a feature request to support TFDV environments (CC: @1025KB @ruoyu90 @zhitaoli)

At a high level, TFX components like you mentioned are meant to be orchestrated together in a pipeline.  These use the TFDV library (which you can also use yourself directly).  While the TF

[2019-11-15 01:49] charlesccychen commented on #934
Hey there, can you try reinstalling in a fresh virtualenv (https://virtualenv.pypa.io/en/latest/) and if it still doesn't work, send the output of `pip freeze`?

[2019-11-15 01:49] charlesccychen commented on #934
@iLikeToCodeZ  Hey there, can you try reinstalling in a fresh virtualenv (https://virtualenv.pypa.io/en/latest/) and if it still doesn't work, send the output of `pip freeze`?

[2019-11-15 01:51] charlesccychen commented on #929
Hey there, the example you pointed to comes from the 0.14 release.  Version 0.15 was recently released--can you try again with the newer version?  (You may need to remove the existing tables in the database if they are not in a good state).

[2019-11-15 01:51] charlesccychen commented on #929
@tkakantousis Hey there, the example you pointed to comes from the 0.14 release.  Version 0.15 was recently released--can you try again with the newer version?  (You may need to remove the existing tables in the database if they are not in a good state).

[2019-11-15 01:59] charlesccychen commented on #924
@Ark-kun Yes, we will be doing this refactoring to remove split from all artifacts soon, ideally in the next release.  Specifically, in the next release, the output of ExampleGen will be a single artifact with multiple subdirectory splits and we will work to allow subsequent components to process these properly (note that this will be a breaking change).  While the workaround above by @numerology

[2019-11-15 03:01] tvalentyn commented on #928
I can  reproduce this issue on TFX 0.14.0 when increasing parallelism level on Flink Cluster and in  Beam Portable runner as follows:

[code]
Looking further to understand the rootcause.

[2019-11-15 08:41] tkakantousis commented on #928
Thank you for looking into it, it's great you managed to reproduce. I'm on TensorFlow 1.14.0.
My beam_pipeline_args are same as yours except I'm using `environment_type=PROCESS` and `--parallelism=1`

[2019-11-15 19:54] luischinchillagarcia opened #938 "Output_config Argument and _PropertyDictWrapper Path Error"
In order to save TF-Example files from the TFX ExampleGen component to a specific location, you would have to use ComponentOutputs (from tfx.components.base.base_component) as shown below. However, ComponentOutputs seems to be completely gone, and have not found any documentation that points to how to save these ExampleGen TF-Example to a custom location. What is the most optimal manner of doing t

[2019-11-15 22:07] luischinchillagarcia commented on #938
## **Follow up**
Looking deeper, I fixed the modules by doing the following :
1. "base_component.ComponentOutputs class has been renamed to base_component._PropertyDictWrapper"
2. tfx.utils.types.channel was changed to tfx.types.channel

## **However:**
Before, it was expected that a wrapped dict with values of `Channel`(shown below as 'Trial 1') would change the uri of the `ExamplePath` for each

[2019-11-15 22:42] hasansaikat commented on #831
[
![Screenshot (6549)](https://user-images.githubusercontent.com/11005653/68980683-5facd680-082b-11ea-8f5a-1cebd22fcac2.png)
![Screenshot (6550)](https://user-images.githubusercontent.com/11005653/68980686-60456d00-082b-11ea-810f-d5a486853250.png)
![Screenshot (6551)](https://user-images.githubusercontent.com/11005653/68980688-60456d00-082b-11ea-9cc6-e2155784282a.png)
![Screenshot (6552)](https://

[2019-11-15 23:44] iLikeToCodeZ commented on #934
Didn't work. Pip Freeze output below:

[code]

[2019-11-16 00:08] tvalentyn commented on #928
No, it does not - it fails 100% of the time. There are at least 5 different failure modes that I've observed:
[code]
[code]
[code]

These happen during unpickling of a payload within Beam code.  On one occasion, the code had to retry 9 times before `pickler.loads()` call finished without an exception. I plan to further investigate this problem in https://issues.apache.org/jira/browse/BEAM-8651 .

[2019-11-16 09:04] foohasmallya commented on #831
@zhitaoli @gowthamkpr Closing this since v0.15 is now released. @hasansaikat checked out your screenshots. Adding a description and opening a new issue, I think, is a great way to get help on the issue you're facing :)

[2019-11-18 05:46] rmothukuru commented on #772
@tejaslodaya,
Can you please respond to @ibzib's comment. Thanks!

[2019-11-18 07:02] tejaslodaya commented on #772
Hi @ibzib ,

- You're correct. As pointed out by you, I did change the BEAM_BRANCH to 2.16.0 from .14 in order to keep the dependencies in sync. This is evident from the latest logs.
- Yes, the spark master and beam job server are running the same Java version.
`java --version gives `
[code]

- I'm working off of master branch. These are all my dependencies (installed via pip. No modifications exc

[2019-11-19 00:37] ibzib commented on #772
Can you triple-check `jcmd $PROCESS_NUMBER VM.version` for the Spark master, Spark worker, and Beam job server? (Sorry for harping on that, but I saw an issue that looked similar to yours here: https://stackoverflow.com/a/56573685/4400443)

[2019-11-19 00:37] charlesccychen commented on #938
@luischinchillagarcia Hey there, would providing the `pipeline_root` argument to the InteractiveContext solve your problem?  You can provide this as the root path to contain all your artifacts for your execution.

[2019-11-19 00:39] charlesccychen commented on #934
Hey @iLikeToCodeZ, can you activate your new virtualenv?  It looks like this might be your existing non-virtualenv environment, since your shell prompt doesn't include your virtualenv name.  First, you need to create a virtualenv (https://virtualenv.pypa.io/en/latest/userguide/#usage) and then activate it in your shell (https://virtualenv.pypa.io/en/latest/userguide/#activate-script).

[2019-11-19 04:39] luischinchillagarcia commented on #938
Yes, I think this would be a perfect solution!

[2019-11-19 14:58] JakubSido opened #949 "cannot import name 'object_identity' from 'tensorflow.python.util'"
Hello i'm trying to rin iris example from tfx.examples

What am I doing wrong?

Traceback (most recent call last):
  File "/opt/project/tfx_demo/main.py", line 27, in <module>
    from tfx.components import CsvExampleGen
  File "/usr/local/lib/python3.7/dist-packages/tfx/components/__init__.py", line 27, in <module>
    from tfx.components.example_validator.component import ExampleValidator
  File

[2019-11-19 17:34] luischinchillagarcia commented on #938
I would like to add  - Do we expect _propertydictwrapper to act in the same way as ComponentOutputs?

ComponentOutputs was used to create a dict of `Channel` objects. Is that still the case?

[2019-11-19 18:50] hasansaikat opened #950 "Can't install TFX using python 3.7-venv/pip on windows 8.1/10"
Hi,
I recently tried to install TFX on windows 8.1/10 using pip(latest version) & python3.7 inside virtual environment.But it throws dependency error for all the different standalone packages are given below:
tensorflow-data-validation,
tensorflow-transform,
tensorflow-model-analysis,
ml-metadata, etc.

pip install tfx-bsl on windows 8.1/10 using python3.7 also throws the same error.

#885
![Scree

[2019-11-19 19:53] gowthamkpr commented on #949
@JakubSido You have to upgrade the version of Tensorflow you are using as Tensorflow 1.14 doesn't has object_identity.py([here](https://github.com/tensorflow/tensorflow/tree/r1.14/tensorflow/python/util)) but Tensorflow 1.15 has object_identity.py file as you can see [here](https://github.com/tensorflow/tensorflow/blob/r1.15/tensorflow/python/util/object_identity.py). Thanks!

[2019-11-19 20:06] charlesccychen commented on #938
@luischinchillagarcia No, the `_PropertyDictWrapper` is meant to be internal-only and is meant to create a dict-like object of Channels.  We have the wrapper right now for some backwards compatibility reasons, but recommend that you just use a dict instead in your own code.  When you want to specify specific channels as outputs for a component, the component should be passed its appropriate option

[2019-11-19 23:23] luischinchillagarcia commented on #938
Thank you for the quick responses.

To clarify, you mention to use a normal dict but that "there is no longer a unified outputs dictionary passed in". So in the `example_artifacts` argument found in the components (shown below), how can we pass in multiple Channels that require associations to different names. Before you had to specify the training/eval `Artifact` names are keys, and the `Channel`

[2019-11-20 09:00] JakubSido commented on #949
That's it. Thank you.

[2019-11-20 15:23] sarochida opened #954 "TFX function validate_dataset_keys under tensorflow_transform\beam\analyzer_cache doesn't handle windows style path"
file: analyzer_cache.py
function: validate_dataset_keys()
issue: windows style path seperator '\\' is NOT handled
suspect: line 231   regex = re.compile(r'^[a-zA-Z0-9\.\-_]+$')
------------------ Context ---------------------------------------
Leveraging TFX tutorial @ https://www.tensorflow.org/tfx/tutorials/tfx/components
Using MNIST data in csv form and created following flow (aligning to tutor

[2019-11-20 19:40] gowthamkpr commented on #949
I am gonna close this issue as it has been resolved @JakubSido

[2019-11-20 19:40] #949 closed

[2019-11-20 21:06] tvalentyn commented on #928
All errors observed here should be fixed with https://github.com/apache/beam/pull/10167. Feel free to patch this PR. We plan to cherrypick this fix into Beam 2.17.0 that is in the works.

[2019-11-20 22:09] tvalentyn commented on #928
Thanks again, @tkakantousis, for opening this issue.

[2019-11-20 23:59] ucdmkt opened #956 "ImportExampleGen raises ValueError when input is in `gs://...`"
TFX 0.15.0 and its Beam dependency as installed by pip.

[code]

This will cause `ValueError` as follows.
[code]

This is because ImportExampleGen [appends `*` at the end](https://github.com/tensorflow/tfx/blob/60dedacca908ef1fd9f832e479129a9003f49088/tfx/components/example_gen/utils.py#L118), but since GCS is not POSIX file system, it matches with the folder itself.

[code]

Although, Beam [TFRec

[2019-11-21 00:07] 1025KB commented on #956
One potential solution for us is we don't use the 'dir/*' pattern but just get all files ourselves and feed 'file1,file2,file3,...' as pattern to beam

keep this as a feature request

[2019-11-21 00:09] ucdmkt commented on #956
I think the issue comes from the fact that in GCS, there is not distinction between folders and files.

One possible 'fix' is to ignore all matching paths that ends with '/'. This may be a feature request and/or bug fix to Beam.

[2019-11-21 00:25] numerology commented on #956
Is it doable to temporarily branch the logic based on the protocol?
For example:
[code]

[2019-11-21 04:09] rmothukuru commented on #923
@PingThePeng,
Can you please confirm if @1025KB's comment resolved your issue. Thanks!

[2019-11-21 04:11] rmothukuru commented on #929
@tkakantousis,
Can you please confirm if @charlesccychen's comment resolved your issue so that we can close this issue. Thanks!

[2019-11-21 08:59] tkakantousis commented on #929
Hi @charlesccychen and @rmothukuru
Thank you very much for looking into this. I haven't had the chance to try it with 0.15 yet. Maybe you can close the issue and then if I encounter the same issue on 0.15 I can open a new one?

[2019-11-21 09:00] tkakantousis commented on #928
Great, looking forward to the next release :)
Thank you so much @tvalentyn for looking into it.

[2019-11-22 02:37] ruoyu90 commented on #954
Thanks for the feedback @sarochida ! Our windows support is not ready yet but we're working on that and hope to have that ready soon :)

[2019-11-22 02:38] ruoyu90 commented on #950
Hi @hasansaikat thanks for the feedback! Our windows support is not ready yet but we're working on that and hope to have that ready soon :)

[2019-11-22 05:20] rmothukuru commented on #929
Closing the issue as per @tkakantousis's comment. Thanks!

[2019-11-22 05:20] #929 closed

[2019-11-22 13:32] #928 closed

[2019-11-25 05:06] rmothukuru commented on #831
Closing this issue as per @foohasmallya's comments.

[2019-11-25 05:06] #831 closed

[2019-11-26 05:50] rmothukuru commented on #934
@iLikeToCodeZ,
Can you please confirm if you have created a New Virtual Env as per @charlesccychen's comment and if the issue still persists. Thanks!

[2019-11-26 06:06] iLikeToCodeZ commented on #934
It was on a work server that’s been down. I’ll try it when it comes back up. Thanks a lot!

[2019-11-26 20:46] andrewsmartin opened #990 "ComponentSpec equality is broken"
https://github.com/tensorflow/tfx/pull/709 added support for comparing `ComponentSpec` instances via `__eq__`, but the implementation is broken due to a flawed `isinstance()` check. Here's an example to reproduce:

[code]

This is because of the [isinstance check here](https://github.com/tensorflow/tfx/pull/709/files#diff-5255d3b9d52612c19f057d278f08c905R91) on the spec classes, since class object

[2019-11-26 21:19] andrewsmartin commented on #990
PR here: https://github.com/tensorflow/tfx/pull/991

[2019-11-27 01:18] jasonbrancazio opened #994 "overriding project in BigQueryExampleGen executor?"
The executor does not permit explicitly supplying a project when the BigQuery client is instantiated: https://github.com/tensorflow/tfx/blob/1b7db9d5c0081ada72d46bb337f2f34161d63ea0/tfx/components/example_gen/big_query_example_gen/executor.py#L35

We have been having trouble getting a TFX pipeline to see our BQ project, getting a "Missing executing project information" error. While this might not

[2019-11-27 01:23] 1025KB commented on #994
Could you try following the instruction [here](https://cloud.google.com/docs/authentication/getting-started) and set up the GOOGLE_APPLICATION_CREDENTIALS in your env?

[2019-11-27 04:29] rmothukuru commented on #772
@tejaslodaya,
Can you please let us know if your issue is similar to this [Stack Overflow Issue](https://stackoverflow.com/a/56573685/4400443) , as per @ibzib's comments and if the issue is resolved. Thanks!

[2019-11-27 04:30] rmothukuru commented on #923
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-11-27 04:30] #923 closed

[2019-11-27 04:33] rmothukuru commented on #934
Closing the issue for now. Please reopen it in case you encounter the error, even after creating a New Virtual Environment, once your server is working. Thanks!

[2019-11-27 04:33] #934 closed

[2019-11-27 05:40] tejaslodaya commented on #772
We've given up on Beam + Spark combination. Running Beam on Local for now.

[2019-11-27 05:40] #772 closed

[2019-11-27 15:53] jasonbrancazio commented on #994
We resolved our problem yesterday by correctly distinguishing between beam_orchestrator_args and beam_pipeline_args. But the comment above misses the point: Wouldn't there be some utility in specifying the project directly in the BQ client? What if the project specified by GOOGLE_APPLICATION_CREDENTIALS is different than the project where the data resides or where, for whatever reason, the BigQuer

[2019-11-27 18:48] 1025KB commented on #994
I see, in beam_pipeline_args, you need to set up '--project=xxx',
for bigquery, yep we don't support params for bigquery client init yet

currently we only support GOOGLE_APPLICATION_CREDENTIALS for bigquery and dataflow

will keep this as a feature request

[2019-11-28 12:37] rummens opened #1002 "Kubeflow Local Example --> Metadata TypeError"
I experience a TypeError with the Taxi Kubeflow Local Example ([link](https://github.com/tensorflow/tfx/blob/master/tfx/examples/chicago_taxi_pipeline/taxi_pipeline_kubeflow_local.py)).

I run into the following error of the csvexamplegen component:
[code]

As far as I can see, the example configures a metadata-config, so I dont understand why it doesn't work.
Is there anything special I need to d

[2019-11-29 06:59] Mikedu1988 opened #1003 "Kubeflow Local Example--transform error"
GCP is not accessible in my region, so I have to download the data into the pv and run the taxi sample in local mode [taxi_pipeline_kubeflow_local.py](https://github.com/tensorflow/tfx/blob/master/tfx/examples/chicago_taxi_pipeline/taxi_pipeline_kubeflow_local.py)

But I got below error, any idea what might went wrong?

![image](https://user-images.githubusercontent.com/24424690/69849699-6706c200-

[2019-11-29 09:48] Mikedu1988 commented on #1003
after delete some unused column, I now get error:
Instructions for updating:
Schema is a deprecated, use schema_utils.schema_from_feature_spec to create a `Schema`
Traceback (most recent call last):
  File "/tfx-src/tfx/orchestration/kubeflow/container_entrypoint.py", line 321, in <module>
    main()
  File "/tfx-src/tfx/orchestration/kubeflow/container_entrypoint.py", line 314, in main
    execut

[2019-12-02 03:35] rmothukuru commented on #1003
@Mikedu1988,
Can you please specify which columns did you delete. Thanks!

[2019-12-02 19:49] numerology commented on #1003
Hi @Mikedu1988
I think this problem is more related with the incompatibility of your taxi_utils.py and tf 2.0
Can you try update your taxi_utils.py to the [latest](https://github.com/tensorflow/tfx/blob/master/tfx/examples/chicago_taxi_pipeline/taxi_utils.py) or change `tf.is_nan` to `tf.math.is_nan`?

[2019-12-02 21:22] zoyahav commented on #629
Could you please expand on what this feature request is asking for?
Stats and transformed schema are computed by the Transform component, are you asking for easier access?

[2019-12-03 00:39] neuromage commented on #1002
Hi @rummens,

That error happens when it's unable to find the configuration in the cluster. It uses the service name for mysql deployment that is default in KFP's lightweight deployment [1], which is called 'MYSQL', hence all pods have the environment variable MYSQL_SERVICE_HOST. Did you deploy KFP using Kubeflow? In which case the name of the mysql service in the cluster may be different, and you

[2019-12-03 17:03] rclough commented on #687
Pinging for an update

[2019-12-03 17:08] rclough commented on #687
Curious how you're thinking it should be exposed for transform- will the `preprocessing_fn` provide an `hparams` like trainer does, or just directly pass the config?

[2019-12-03 17:10] numerology commented on #687
After this [commit](https://github.com/tensorflow/tfx/commit/1b7db9d5c0081ada72d46bb337f2f34161d63ea0) you can specify things in the `PARAMETERS` section in `ComponentSpec` as `RuntimeParameter`, and provide runtime values for them in KFP UI (and it's currently only supported by KubeflowDagRunner). I am working on an example demonstrating its usage.

That being said, there is still some remaining

[2019-12-03 17:22] rclough commented on #687
@numerology  thank you for the quick response- that would be handy, though our "internal fork" of TFX already allows that; I'm more concerned with the component level implementations, being able to pass custom arguments to the `Trainer` (as with #699 ) and similarly to `Transform`. It sounds like `RuntimeParameter` will help prioritize this, but the specs for either class will need to have a `Runt

[2019-12-03 17:33] numerology commented on #687
@ruoyu90 and @ucdmkt for input re: passing `custom_config`.

[2019-12-03 18:04] numerology commented on #687
IIUC, executor spec is the encouraged way for the users to bringing their own business logic, so I think it'll be pretty okay if proceed with your own version of trainer and transform executor and expose certain argument of the module files to the component.

[2019-12-03 18:19] wsuchy commented on #629
@zoyahav Indeed. Currently in the TFX Transform Pipeline Component the `processing_fn` has a signature of
[code]
and I am proposing to change it as follows:
[code]
or even better, as a higher order function / factory:
[code]
So now my processing function could depend on the stats and schema.
I know I could reach for it Stats and Schema manually, yet it requires me to talk to the SQLite database an

[2019-12-03 18:41] rclough commented on #687
I understand that custom business logic should have its own custom executor, but I would argue that this is something that you'd want to adopt as a core part of the component. Being able to pass parameters to your module files at the pipeline level is arguably a common task. Certainly our customers were confused that it wasn't supported out of the box in TFX (even moreso for trainer than tranform)

[2019-12-05 19:52] frozaken opened #1014 "TFX with non differentiable models"
Hi, i am very new to TFX but i am excited about trying it out. I have only gone through the taxi example so far, but i wanna test it out with some of our production models.

Currently we have a model that is not fully differentiable ( we use tf.math.argmax ), and for that reason we train it in 2 parts, and combine them after training. This requires two different datasets, so my question is if its

[2019-12-05 22:36] numerology commented on #784
Hi, #979 fixed this. Marked as fixed for now.

[2019-12-05 22:37] #784 closed

[2019-12-06 17:06] rummens commented on #1002
Hi @neuromage,

Thanks for the answer. It seems the corresponding environment variables (`mysql_host `etc.) are not even injected into the pod. As you can see below only `WORKFLOW_ID`, `KFP_POD_NAME `and `KFP_NAMESPACE `are injected.
Do I have to do this manually (e.g. using `add_env_from `) or does it happen automatically?

I should be able to get all relevant data from the [default config](https

[2019-12-06 17:19] neuromage commented on #1002
Kubernetes injects those environment variables if the service is called 'mysql':
https://kubernetes.io/docs/concepts/services-networking/service/#discovering-services

What's the service name for your mysql service? KFP deploys one called 'mysql', but your cluster may be set up differently?

[2019-12-06 18:37] rummens commented on #1002
I used the default settings as described in the Getting Started guide.

[2019-12-06 18:48] numerology commented on #1002
Hi @rummens ,

The problem with the local example is that it overrides the pipeline_operator_func [here](https://github.com/tensorflow/tfx/blob/master/tfx/examples/chicago_taxi_pipeline/taxi_pipeline_kubeflow_local.py#L161), where in the default we mount the secret for metadata etc.

I think a workaround here is to manually append the [default op_func](https://github.com/tensorflow/tfx/blob/64676b

[2019-12-06 18:57] rummens commented on #1002
Thanks @numerology. I will give this a try. Will the function fail if I don’t provide the GCP secret because I am outside GCP?
If so I will only add the MySQL configmap and secret.

[2019-12-06 19:00] numerology commented on #1002
Yes if you are outside GCP then skipping gcp_secret_op is necessary.

[2019-12-07 08:20] rummens commented on #1002
This indeed brought me a step closer. This is my runner config now:

[code]

I had to change the names of the default configmap and secret to match the ones deployed by the default kustomize. In addition I had to add the `mysql_host` key to the configmap as it was not present.

Now I run into access denied problems, not sure if I simply used the wrong host address (although I tried the service nam

[2019-12-09 15:24] rummens commented on #1002
@numerology: It kind of works now, there a still some problems but at least the mysql connection works. Here is what I did:
1. It seems the default [kustomize ](https://github.com/kubeflow/pipelines/blob/master/manifests/kustomize/base/metadata/metadata-mysql-secret.yaml)deploys the mysql service with an account _root_ but without PW. However somewhere during the deployment a PW (_test_) is inject

[2019-12-09 16:16] numerology commented on #1002
I might need to dig a little bit into Q1, @neuromage do you have any suggestion?

For Q2, it's mostly likely due to the module file you use. TF2.0 removed tf.is_nan and changed it to tf.math.is_nan, can you upgrade it with the [latest version](https://github.com/tensorflow/tfx/blob/master/tfx/examples/chicago_taxi_pipeline/taxi_utils.py)?

For Q3, that's surprising... TFX [driver](https://github.c

[2019-12-09 16:33] neuromage commented on #1002
For Q1, if you're using the DNS (and not environment variable), then set the service name by value:

https://github.com/tensorflow/tfx/blob/96174ff676a9020cba79c5e8fa2e89dfc5ce8e2d/tfx/orchestration/kubeflow/proto/kubeflow.proto#L23

For example, if the service is called `mysql` and the namespace is `kubeflow`, this should work:
[code]

For Q3, that is surprising. It sounds like it's not talking t

[2019-12-09 17:46] rummens commented on #1002
Thanks @numerology **Q2** was an easy fix, stupid mistake of mine. The utils file was 6 months old ^^

@neuromage: Reg. **Q1**: It seems to work like this, can you explain why it will not work if "mysql.kubeflow" is passed via an env variable?

For **Q3**: I can see the artefacts in the UI, also the logs show:
[code]

### Possible Second SQL Server/Client
I have a hunch though. By accident I disco

[2019-12-09 18:59] ruoyu90 commented on #1014
Hi @frozaken thanks for your interests! IIUC you should be able to reuse the standard TFX components to train the part of the model that is differentiable and you will need to compose your own custom component to combine the two models. Examples of custom components can be found [here](https://github.com/tensorflow/tfx/tree/master/tfx/examples/custom_components). Let me know if that answered your

[2019-12-10 07:32] Sawatdatta commented on #885
Same issue is there for ubuntu 18.04

[2019-12-11 03:21] rmothukuru commented on #1003
@Mikedu1988,
Can you please respond to @numerology's comment. Thanks!

[2019-12-11 03:23] Mikedu1988 commented on #1003
Sorry,  currently our test env is teared down. I'll try the solution later. But we can close this issue for now.
Thanks for your support @numerology

[2019-12-11 03:23] #1003 closed

[2019-12-11 18:47] jasonbrancazio opened #1028 "Using BigQueryExampleGen results in an unnecessary accumulation of temp files"
In order to create TFRecord examples, BigQueryExampleGen must first run a job on BigQuery to materialize query results. A side effect of this process is the creation of a temp dataset and a temp table name. For example, the user will see a WARNING message like this: my-project:temp_dataset_cfae13c3dc3749c8bddd8794bee61557 does not exist so we will create it as temporary with location=US.

Repeated

[2019-12-12 02:13] 1025KB commented on #1028
Hi, we use [beam.io.BigQuerySource](https://github.com/tensorflow/tfx/blob/master/tfx/components/example_gen/big_query_example_gen/executor.py#L74) to execute the query, I checked the beam BigQuerySource api but didn't find a place for setting the QueryJobConfig you mentioned, let me find someone at beam side

[2019-12-12 07:51] lfloretta opened #1029 "Support for deterministic job name generation in the Trainer component"
Support for deterministic job name generation in the Trainer component is needed to smoothly enable [HP tuning on AIP Training](https://cloud.google.com/ml-engine/docs/using-hyperparameter-tuning). Indeed, [retrieving](https://cloud.google.com/ml-engine/docs/monitor-training#checking_job_status) the best run requires the job name.

[2019-12-12 10:22] luischinchillagarcia opened #1030 "BeamDagRunner beam args vs beam_pipeline_args"
`BeamDagRunner` mentions the following,

[code]

It's clear that beam_orchestrator_args are beam arguments, however, it is less clear what arguments beam_pipeline_args and additional_pipeline_args has (and why they are different).

Would it be possible to get the list of arguments for beam_orchestrator_args, beam_pipeline_args, and additional_pipeline_args? In addition, a stronger description to r

[2019-12-12 16:59] numerology commented on #1030
Hi @luischinchillagarcia , to answer your first question: many stock version executors are implemented using beam pipeline, for example, [CsvExampleGen](https://github.com/tensorflow/tfx/blob/master/tfx/components/example_gen/csv_example_gen/executor.py), and the `beam_pipeline_args` is for that. `beam_orchestrator_args` is for the `BeamDagRunner` which orchestrates tasks whose executors can be ar

[2019-12-12 18:34] gowthamkpr commented on #1030
@luischinchillagarcia I hope @numerology answered your question pretty well. Can I close this issue?

[2019-12-12 19:06] luischinchillagarcia commented on #1030
@numerology Thank you for your response. It definitely clears up the difference between `beam_orchestrator_args` and `beam_pipeline_args`.

However, @gowthamkpr, I’m still left unsure about the relationship between ‘additional_pipeline_args` and the latter two arguments.

Secondly, does this mean that, assuming we are using the stock executors, all option arguments should be the exact same ones as

[2019-12-12 19:19] numerology commented on #1030
`beam_pipeline_args` is a field in ‘additional_pipeline_args`. The latter is a nested dictionary. And these two args are 'orthogonal' to `beam_orchestrator_args`. `additional_pipeline_args` can also include other stuff like workflow id when running on KFP, etc.

They are all beam arguments. One thing worth mentioning here is that the legitimacy of arguments can only be considered all together inst

[2019-12-12 21:39] luischinchillagarcia commented on #1030
Perfect. Thank you for your response!

[2019-12-12 21:39] #1030 closed

[2019-12-17 01:15] ruoyu90 commented on #687
@rclough sorry for the delay, does [this](https://github.com/tensorflow/tfx/commit/c9615d82ad62842e35796f0bc788f93cc8cdb8ac) commit solve your problem?

[2019-12-17 03:17] zoomself opened #1036 "Has anyone successfully run the program（chicago_taxi） on windows"
win7
tfx==0.15.0
tf==2.0.0
python==3.5

[code]

[2019-12-17 05:40] rmothukuru commented on #1014
@frozaken,
Can you please respond to @ruoyu90's comment. Thanks!

[2019-12-17 08:39] tywtyw opened #1037 "How to ensure the model the Trainer trained this time is better than the previous model?"
So what is the baseline that we can ensure the model is better than the previous model?

[2019-12-17 23:06] gowthamkpr commented on #1037
@tywtyw Baseline model is nothing but the best performing model that you are using now in production. This is taken care by ModelValidator. ModelValidator compares new models against a baseline (such as the currently serving model) to determine if they're "good enough" relative to the baseline.

For more information you can refer to the link [here](https://www.tensorflow.org/tfx/guide/modelval). T

[2019-12-18 02:05] tywtyw commented on #1037
Thanks for your replying. However, I know that the new model will be compared with the baseline model, what I do not understand is that what metric you are using in comparison? For an example, the AUC or accuracy in classification model, the 'mse' in regression model, that is to say, if the new model has a higher accuracy than the baseline model, we can conclude the new model is the better one. Is

[2019-12-18 02:20] jiyongjung0 commented on #1028
Hi, @jasonbrancazio thanks for the suggestion.

I looked at the beam BigQuerySource code and tried to understand your problem. But it looks like temporary dataset should be cleaned up when the job has completed. [Related source code](https://github.com/apache/beam/blob/master/sdks/python/apache_beam/io/gcp/bigquery_tools.py#L1014)
It could be possible that temporary dataset is not cleaned up if th

[2019-12-18 20:52] gowthamkpr commented on #1037
Model validator works by evaluating both models on an eval dataset and computing their performance on metrics (e.g. AUC, loss). If the new model's metrics meet developer-specified criteria relative to the baseline model (e.g. AUC is not lower), the model is "blessed" and the pusher pushes the model.

You can also refer to the following [issue](https://github.com/tensorflow/tfx/issues/166). Thanks!

[2019-12-18 21:42] martin-laurent opened #1047 "Being able to customize the execution of the Evaluator component with user code / module file"
The only things that can be parameterized today in the Evaluator component is a list of `SingleSlicingSpec` and recently a parameter called `fairness_indicator_thresholds`. Then the actual call to TFMA is using the default extractors and evaluators.

There is so much more parameters that could be set by the user, and also our users want to be able to use custom Extractors and custom Evaluators tha

[2019-12-18 22:19] jasonbrancazio commented on #1028
@jiyongjung0 I believe you're right. We did have several pipeline crashes over the past couple of weeks. Today we successfully orchestrated a few pipelines containing BigQueryExampleGen and saw no temp artifacts on BigQuery when they were done.

[2019-12-19 01:00] jiyongjung0 commented on #1028
@jasonbrancazio Thank you for the confirmation. Let me close this issue, please feel free to reopen or raise an issue again if needed. :smile:

[2019-12-19 01:00] #1028 closed

[2019-12-19 06:22] hj929 commented on #1036
Thanks for the feedback @zoomself :)
Currently window is not supported yet. But this problem not supporting window style path will be fixed in next release in January.

[2019-12-19 06:24] zoomself commented on #1036
ok,thanks

[2019-12-19 06:24] #1036 closed

[2019-12-19 13:57] frozaken commented on #1014
@ruoyu90 Thank you, sorry for the late reply, i understand what you mean, but is there a way to essentially supply two different datasets to the pipeline, could i simply write a custom component for that?

[2019-12-19 17:17] #1029 closed

[2019-12-20 11:21] marcromeyn opened #1053 "ML-metadata increasingly becomes slower as the number of total runs grow"
We use TFX extensively and have an ML-metadata instance that contains over 10k runs. This is becoming a bottleneck since cache resolution is increasingly getting slower. Re-running the taxi-example end-to-end (so that each component returns the outputs from cache) can take more than 10 minutes now.

It seems that the root cause of this is a very [inefficient filtering routine](https://github.com/t

[2019-12-20 13:03] rummens commented on #1002
@neuromage @numerology Any idea?

[2019-12-20 16:38] ucdmkt commented on #1053
\cc @hughmiao @ruoyu90

[2019-12-20 18:30] hughmiao commented on #1053
@marcromeyn . thanks for pointing this out and analyzing the root cause. We are refactoring tfx/metadata.py and the cache resolution to push the unnecessary in-memory filtering to mlmd  layer. The fix should be in the next release.

[2019-12-22 06:29] rmgogogo opened #1055 "taxi_pipeline_beam can't run well due to "base_model" in trainer_fn_args"
In taxi_utils.py, If change warm_start_from = None, it can run.
Otherwise, it will say KeyError: 'base_model'.

In Trainer component document, the sample trainer_fun is using base_models but in codes it uses base_model.

This part can be cleaned. Guess it's due to temp uncompatibility changes.

My env:
tfx                        0.15.0
tfx-bsl                    0.15.3
tf

[2019-12-23 17:43] ucdmkt commented on #1055
@rmgogogo, the examples at master head is not necessarily guaranteed to be compatible with the released TFX (the tfx 0.15.0). You could try `git clone --branch 0.15.0 https://github.com/tensorflow/tfx.git` and exercise pipelines under `./examples/`.

@ruoyu90 can confirm incompatibly between head and released versions.

[2019-12-23 17:52] ucdmkt commented on #1055
\cc yinghsienwu@

[2019-12-23 20:27] ruoyu90 commented on #1055
Thanks @ucdmkt for the explanation. @rmgogogo can you try to follow the instruction from @ucdmkt to see whether it works?

[2019-12-23 20:35] ruoyu90 commented on #1037
Currently our model validator is using a simple [strategy](https://github.com/tensorflow/tfx/blob/r0.15/tfx/components/model_validator/executor.py#L64) to base on accuracy of the model (and assuming it is a single output model). We're working on adding more support to that. Please stay tuned :)

Also leaving this open as a FR for more customization for model validator

/cc @1025KB
/cc @zhitaoli
/c

[2019-12-23 22:41] ruoyu90 commented on #1014
@frozaken yes it is possible to supply two different datasets to the pipeline. You'll essentially create two ExampleGen instances in the pipeline and wire them to different downstream components (Transform, Trainer, etc). One thing to notice is to assign different [instance_name](https://github.com/tensorflow/tfx/blob/r0.15/tfx/components/base/base_node.py#L56) to those two ExampleGens.

[2019-12-23 22:44] ruoyu90 commented on #1037
Actually this is kinda duplicated to #663 . Closing this one now.

[2019-12-23 22:44] #1037 closed

[2019-12-24 01:59] tywtyw commented on #1037
Thanks for replying

[2019-12-24 13:39] Ambiavi opened #1062 "AttributeError: 'DiGraph' object has no attribute 'node'"
Code in Step 3 of the Airflow tutorial returns an error. Tried with a few different IDs as hinted, but no joy:

%matplotlib notebook
store.plot_artifact_lineage(3)

Error message:
AttributeError: 'DiGraph' object has no attribute 'node'

[2019-12-26 03:12] tywtyw opened #1063 "What is the schema_version in MLMD?"
I am confused about the schema version in MLMD. What is the scheme exactly about? Does it refer to changes in relationships between tables in database? Hopefully to get a reply.

[2019-12-26 18:21] gowthamkpr commented on #1062
Can you please let us know what version of Tenosrflow, tfx you are using. Thanks!

[2019-12-26 23:26] gowthamkpr commented on #1063
@tywtyw Can you please be specific as to where you found schema_version in MLMD? Can you point us to the source code? Thanks!

[2019-12-27 06:47] Ambiavi commented on #1062
tensorflow 2.0.0
tfx 0.14.0

[2019-12-27 19:10] ruoyu90 commented on #1063
@tywtyw the `schema_version` refers to the schema of the underlying database schema for MLMD. Instructions for upgrading / downgrading can be found [here](https://github.com/google/ml-metadata/blob/master/g3doc/get_started.md#upgrade-the-database-schema).

[2019-12-27 19:11] ruoyu90 commented on #1063
/cc @hughmiao

[2019-12-30 05:21] rmothukuru commented on #1014
@frozaken,
Can you please respond to @ruoyu90's comment so that we can work towards closure of this issue. Thanks!

[2020-01-02 16:02] valeriano-manassero commented on #1002
I got the same issue and my workaround was to manually patch the configmap `metadata-db-configmap` adding `mysql_host: metadata-db.kubeflow`.

Then I was able to retrieve the config with
[code]

Not elegant I know, but it worked. Pointing the connection to `mysql.kubernetes` will not work since this is not the metadata db.

[2020-01-03 14:36] frozaken commented on #1014
Excellent, Thanks for the help.

[2020-01-03 14:36] #1014 closed

[2020-01-05 21:54] #1053 closed

[2020-01-06 22:51] rclough commented on #687
Solved for trainer, but also looking for the same functionality for transform

[2020-01-07 03:25] HugoPu opened #1100 "AttributeError: module 'tfx.components.base.base_executor' has no attribute 'BaseExecutor'"
Environment:
* ubuntu 16.04
* virenv: Anaconda3
* python:3.6.9
* Tensorflow 2.0.0
* tfx 0.15.0

Description:
I tired to run [TFX Component Tutorial](https://www.tensorflow.org/tfx/tutorials/tfx/components) on my machine with python cmd, but I get the following error, I tried to debug the error and I found if I ran `from tfx.components.base.base_executor import BaseExecutor`  before `from tfx.compo

[2020-01-07 05:51] chongkong commented on #1100
Unfortunately this is not reproduced in my machine.

In your stack trace, I found something weird:

[code]
In the [source code](https://github.com/PythonCharmers/python-future/blob/master/src/future/standard_library/__init__.py#L781) `__import__` is called with one of [`TOP_LEVEL_MODULES`](https://github.com/PythonCharmers/python-future/blob/master/src/future/standard_library/__init__.py#L793) val

[2020-01-07 06:29] HugoPu commented on #1100
Sorry, it's my fault to copy the wrong stack trace, since that time I trid to find out if the error only appeared in `from tfx.components.evaluator.component import Evaluator` and commented it, if I don't comment `from tfx.components.evaluator.component import Evaluator`. The stack trace is as follow:
[code]

The value in `self.modules_names` is `<class 'tuple'>: ('builtins', 'copyreg', 'html', 'h

[2020-01-07 07:11] HugoPu commented on #1100
Oh, I got it! If I change my py file's name from `test.py` to `XXXX.py`(except the value in `self.modules_names`, like `testaaa.py`), the error won't appear. So the `future`  module think `test` is the local module, and read it again and again, right?

[2020-01-07 10:15] chongkong commented on #1100
Yeap I think you got the issue :)

FYI, `tfx/components` reexport all the components it has therefore aforementioned code can be simplified as

[code]

[2020-01-07 10:15] #1100 closed

[2020-01-07 21:42] gowthamkpr commented on #121
I am gonna close this issue as it has been resolved. Please add additional comments and we can open this issue again. Thanks!

[2020-01-07 21:42] #121 closed

[2020-01-07 21:45] gowthamkpr commented on #171
Now, we also support reading Avro and Parquet files using this [method](https://github.com/tensorflow/tfx/blob/master/tfx/components/example_gen/custom_executors/avro_component_test.py). Closing this issue as it has been resolved. Thanks!

[2020-01-07 21:45] #171 closed

[2020-01-07 23:58] gowthamkpr commented on #1063
I am going to close this issue as it has been answered. Please add additional comments and we can open this issue again. Thanks!

[2020-01-07 23:58] #1063 closed

[2020-01-07 23:59] gowthamkpr commented on #1055
@rmgogogo Did it work or Are you still facing the same issue?

[2020-01-08 00:21] luischinchillagarcia opened #1108 "TFX with AI Platform Serving"
When using AI Platform for serving a model, the model requires a JSON in the form {"instances": [...] }.

However, when creating a TFX pipeline, the model only uses Examples as inputs and outputs. This means that in order to get predictions we have to turn every raw input into Examples, turn the Examples into a JSON, and pass them through the model via the AI Platform API client (and also extract

[2020-01-08 00:46] ucdmkt commented on #1108
This is because the default demonstration of Trainer code (the equivalent of [taxi_utils.py](https://github.com/tensorflow/tfx/blob/master/tfx/examples/chicago_taxi_pipeline/taxi_utils.py)), probably yours as well, is implemented in such a way that it exports the model that expects 1-D bytes Tensor with serialized tf.Examples protocol buffer [[code](https://github.com/tensorflow/tfx/blob/980926ea1

[2020-01-08 03:53] xiaochuan-du opened #1111 "tfdv.GenerateStatistics's output"
As example suggest,
[code]
Beam is a parallel processing framework, thus the output of GenerateStatistics should be more than one file that records statistics for different data chunks.
Do we need to merge these statistics before validating the test dataset?  For example, `col1` in data_chunk0  train dataset's legal range is from 0 to 5, `col1`in data_chunk1 legal range is from 1 to 6, thus in gro

[2020-01-08 03:56] xiaochuan-du commented on #1111
According to infer_schema's [doc](https://www.tensorflow.org/tfx/data_validation/api_docs/python/tfdv/infer_schema) ,

[2020-01-08 15:13] caveness commented on #1111
Hi -- GenerateStatistics in the above example will generate a single DatasetFeatureStatisticsList proto, which includes the stats for all of the tf.Examples read into the pipeline and decoded into tf.Examples. You do not need to merge different DatasetFeatureStatisticsList protos.

Unless you are using [slice functions](https://github.com/tensorflow/data-validation/blob/70b3cb2ffbc7381bffd8088a197

[2020-01-08 22:34] xiaochuan-du commented on #1111
That perfectly answers my questions. Many thanks.

[2020-01-08 22:34] #1111 closed

[2020-01-09 00:21] gowthamkpr commented on #203
This has been implemented as a custom component. You can find it [here](https://github.com/tensorflow/tfx/tree/master/tfx/examples/custom_components/presto_example_gen).

[2020-01-09 00:21] #203 closed

[2020-01-09 00:34] gowthamkpr commented on #210
@KamalAman  @htahir1 Did the above comment answer your question?

[2020-01-09 01:20] gowthamkpr commented on #636
Closing this issue as it has been answered. Please add additional comments and we can open this issue again

[2020-01-09 01:20] #636 closed

[2020-01-09 01:52] gowthamkpr commented on #322
@robertlugg Can you please respond to the above question. Thanks!

[2020-01-09 02:02] gowthamkpr commented on #905
@Ark-kun Did the above comment answer your question? Can I close this issue?

[2020-01-09 02:07] Ark-kun commented on #905
@1025KB Will TFX stop adding `pipeline_name` property to the artifacts and executions in near future? What are the backward and forward compatibility implications for this global schema change?

[2020-01-09 16:29] rummens commented on #1002
@valeriano-manassero: Thanks for the hint, fixed it for me as well. Do you also have problem with the Date and workspace not being picked up? It tells me "Invalid Date" in the Artifact Store.

[2020-01-10 11:20] adux6991 commented on #89
Trying to figure out this but the link above is 404. It turns out that output artifacts are published when the corresponding execution is published. [code](https://github.com/tensorflow/tfx/blob/5ee3de9c77a92e904010c7656d6269d3b28744bf/tfx/orchestration/metadata.py#L438)

[2020-01-13 18:15] luischinchillagarcia opened #1134 "RuntimeError: Placeholder Tensor Not Fed"
When changing the ExampleGen component in a pipeline from CsvExampleGen (which successfully runs every time) to BigQueryExampleGen, it fails with the following error:

[code]

This error seems completely absent from CsvExampleGen and only appears when using BigQueryExampleGen, and so it seem unlikely to come from transform.py. Does BigQueryExampleGen require further configurations in the transform

[2020-01-14 02:50] jusingh opened #1140 "Can I use other ML libraries on TFX?"
We build models on different libraries such as TensorFlow, Vowpal Wabbit, Scikit, etc. Is it feasible to use TFX pipeline for models build on other ML libraries?
Specifically, I am interested to use TF Data Validation, TF Model Analysis and ML Metadata libraries for our workflow.

Not sure if I can extend these libraries to serve other models using custom components[1] as in the examples TensorFlo

[2020-01-14 06:38] rmothukuru commented on #1108
@luischinchillagarcia,
Can you please respond to @ucdmkt's comment. Thanks!

[2020-01-14 13:43] DmitriyBaykov commented on #950
Same for me. @ruoyu90 do you have some estimates on adding win 10 support?

[2020-01-14 18:51] luischinchillagarcia commented on #1108
Yes! Thanks for the quick response, and apologies, I was working through another (similar) issue I kept encountering.

This definitely solved the issue and will close this issue. Thanks!

[2020-01-14 18:51] #1108 closed

[2020-01-15 13:23] valeriano-manassero commented on #1002
@rummens I cannot reproduce issues with any kind of "Invalid Date", for me it works, sorry.

[2020-01-15 15:52] jackhawa opened #1144 "Need to run TFX on kubeflow on Azure Cloud"
Currently the tfx kubeflow dag runner example only works in [GCP ](https://github.com/tensorflow/tfx/blob/master/tfx/orchestration/kubeflow/kubeflow_dag_runner.py)(since gcp api is used).
Is it possible to run tfx on kubeflow on Azure cloud? If not, is it part of the plan and when?

[2020-01-15 16:35] numerology commented on #1144
Currently the example with minimal GCP dependency is [the local example](https://github.com/tensorflow/tfx/blob/master/tfx/examples/chicago_taxi_pipeline/taxi_pipeline_kubeflow_local.py), which only requires Kubernetes (@ucdmkt can correct me if I'm wrong)

That being said, in order to run that on AWS, some efforts and tweak might be necessary. First, you need to deploy Kubeflow Pipelines on AWS f

[2020-01-15 20:11] gowthamkpr commented on #1140
Currently most of existing component are tf.example based, if your data is in different format, you won't be able to directly using TFX.

Please take a look at this issue #205 . Thanks!

[2020-01-16 21:12] gowthamkpr commented on #954
@sarochida This issue has been fixed now. You should not face any problem with Windows style paths now. Please try it using the latest version of tfx. Thanks!

[2020-01-16 21:12] #954 closed

[2020-01-17 17:21] robertlugg opened #1156 "Getting Started doesn't work in 2.x"
Update Getting Started page to work in 2.x

I believe the Getting Started guide is correct for 1.x but not for 2.0:
https://www.tensorflow.org/tfx/transform/get_started

It uses tf.FixedLenFeature but in 2.x, you need tf.io.FixedLenFeature, for example.

[2020-01-17 18:54] gowthamkpr commented on #1156
@robertlugg Thanks for pointing out the issue. Yes, the document should definitiely updated for tensorflow 2.x.

[2020-01-20 19:44] jackhawa commented on #1144
Thanks for the reply. I am only interested in Azure for the moment, not AWS. So if I understand correctly, there is no way to publish a TFX pipeline on Azure. Can you confirm this?

If so, when do you think it will be possible?

[2020-01-20 19:47] numerology commented on #1144
Sorry, actually I misread your question. Please see [here](https://www.kubeflow.org/docs/azure/) for deployment on Azure.

[2020-01-20 20:16] jackhawa commented on #1144
Thanks @numerology . The link you have posted is only about working with generic pipelines on kubeflow on Azure and not TFX specifically. In my understanding it needs a special TFX DSL in order for that to work.

Have you guys had the chance to build a TFX DSL that works with Azure?

[2020-01-21 00:52] numerology commented on #1144
The current workflow is `TFX DSL ----KubeflowDagRunner---> Kubeflow pipelines workflow spec` Then one can submit the Kubeflow pipelines workflow spec to a KFP deployment on GCP, AWS or Azure. The TFX pipeline/components DSL won't change.

Indeed, there might be some necessary changes in `KubeflowDagRunnerConfig`, especially regarding the way how pipeline talks to MLMD. Currently we don't have a 'r

[2020-01-21 18:46] gowthamkpr commented on #1156
@zoyahav Can you please take a look at this issue. Thanks!

[2020-01-21 18:49] andrewsmartin commented on #628
Hi, has there been any movement on this? Having ExampleValidator validate the eval set where the schema is inferred from the train set makes sense, but now that user-provided Schema is supported, it would be very valuable to have the option of validating against all splits.

I'm happy to submit a PR for this if there hasn't been any development work done yet.

[2020-01-21 18:50] gowthamkpr commented on #1140
@jusingh I am gonna close this issue for now and lets keep tracking it on #205. Thanks!

[2020-01-21 18:50] #1140 closed

[2020-01-21 19:44] zoyahav commented on #1156
Yes, I will make the appropriate changes and let you know when it's done.

[2020-01-21 21:04] zoyahav commented on #1156
The get_started guide is now updated: https://github.com/tensorflow/transform/commit/fb11520d444db23163d18f7c71ac8ba240de6f65

[2020-01-22 19:31] gowthamkpr commented on #1156
Thank you @zoyahav.

@robertlugg I am closing this issue as it has been fixed. Please add additional comments and we can open this issue again. Thanks!

[2020-01-22 19:31] #1156 closed

[2020-01-27 16:57] misterpeddy opened #1184 "BeamDagRunner cannot run BigQueryExampleGen"
Repro steps:

* Create a simple pipeline with only one component: BigQueryExampleGen
* Instantiate a BeamDagRunner and use it to run the example gen component
* Observe error: "unhashable type: 'Environment' [while running 'Run[BigQueryExampleGen]']"

Colab where I repro this: https://colab.research.google.com/drive/1Nj-BJRS6zFm4w1kXffKyh31VLWpBTHeJ

Note that you will not be able to run the codel

[2020-01-27 17:01] numerology commented on #1184
Hi @misterpeddy , this is a known issue regarding latest release apache beam 2.18. We're drafting the next release very soon to fix this. The temporary fix you can use is to pin the version of beam to be <= 2.17 in your environment.

Please see here for more details: https://github.com/apache/beam/pull/9811#issuecomment-578018838

[2020-01-27 21:54] zhitaoli commented on #19
To capture the discussion: TFX examples can already use HDFS and GCS (although we don't have example for former), and after Beam 2.18 is picked up there is also S3 support.

Azure blob storage support is tracked in Beam side.

We will file a separate feature request for using separate images in each stage and discuss it there.

We will close this issue as won't fix.

[2020-01-27 21:54] #19 closed

[2020-01-27 21:57] zhitaoli opened #1185 "Allow different stages/components use different custom container images"
As we discussed in #19, each step/component could really use a different container image, possibly based off official tfx image.

Leaving this to @numerology @neuromage for further triaging.

[2020-01-27 22:03] zhitaoli commented on #21
Some update: step 1 (supporting a different train/eval ratio) is done in #20. We don't have an estimate on next step yet, but please let us know if you are blocked by it and we will revisit.

[2020-01-27 22:14] zhitaoli commented on #352
Revisiting this issue, I suspect a better way to model this problem is to use **span** and make examples in the same timestamp partition into the same span.

Please see https://github.com/tensorflow/tfx/blob/46bb4f975c36ea1defde4b3c33553e088b3dc5b8/docs/guide/examplegen.md#span for what we have released for span part, and  @ruoyu90 can assist you for our next steps.

I don't feel we have enough in

[2020-01-27 22:19] zhitaoli commented on #117
This is already done: the nightly images are `tensorflow/tfx:latest` on docker hub, and our nightly package is on test-pypi: https://test.pypi.org/project/tfx/

[2020-01-27 22:19] #117 closed

[2020-01-27 22:21] zhitaoli commented on #182
Some update: @1025KB has provided a custom component '[tuner](https://github.com/tensorflow/tfx/tree/b02d7601ee57a952e6edd7d6a475388dafe105df/tfx/examples/custom_components/tuner)' in upcoming release of TFX. Please see [this example](https://github.com/tensorflow/tfx/blob/b02d7601ee57a952e6edd7d6a475388dafe105df/tfx/examples/custom_components/tuner/example/iris_pipeline_tuner.py) on how to use it

[2020-01-27 22:27] zhitaoli commented on #236
@mdreves, can you clarify on your previous comment? It seems like beam is changing batch size unexpectedly in this case, and you don't TFMA user would benefit from such a change? if so, what's the proper follow up item for this one?

[2020-01-27 23:38] krazyhaas commented on #19
@zhitaoli I thought the beam fix won't be integrated until 2.19 per [last update](https://issues.apache.org/jira/browse/BEAM-2572) from Pablo.  Can you confirm it will be available in 2.18?

[2020-01-28 01:48] tholop commented on #1002
I was also missing other configuration values. In case it helps someone, the following worked for me on GCP:

[code]

[2020-01-30 13:09] aaaaahaaaaa opened #1204 "pipenv install tfx==0.15.0 is failing"
Installation of `tfx` via Pipenv is failling because it cannot resolve the dependency version of `pyarrow`.

[code]

From `pipenv graph`:
[code]

[2020-01-31 10:02] htahir1 commented on #352
@zhitaoli I solved it using the approach suggested by @krazyhaas , by using a custom partition function. Spans are also a good way to solve it, but I have not gotten into that yet. If it helps the TFX teams internal processes, i'll go ahead and close the issue. Thanks for your support!

[2020-01-31 10:02] #352 closed

[2020-01-31 17:49] bcdurak opened #1211 "ML Metadata store problem with optional ExecutionParameters"
Hey there,

I am currently developing a pipeline on TFX 0.15 which utilizes numerous components including a bunch of custom components.

In order to make it easier for me to query my metadata store, I would like to define my execution parameters in a granular way instead of merging them into a single execution parameter (such as a dict).

While running different configurations on components with s

[2020-01-31 18:22] hanneshapke opened #1212 "AttributeError: Cannot set unknown property 'run_id' on artifact Artifact(type_name: Examples, uri: , id: 0)."
I am testing the latest 0.21rc and I noticed that the ExampleGen components fail with
[code]

I tried two ExampleGen components. The pipeline setup was working fine under 0.15.

Colab to reproduce: https://colab.research.google.com/drive/1Lod4ll5cW-VPMBmwmTlqBqLiCCNG_umE

Is anyone else experiencing this issue under 0.21rc?

[2020-02-01 00:42] hughmiao commented on #1211
the root cause of this is currently tfx register the execution type on the fly when it sees the first instance, rather than register the schema based on the Parameters defined upfront.

The current MLMD types enforce the type update should be back-ward compatible, i.e.,
{a} --> {a,c} -> {a,b,c} is ok
{a, b} --> {a,c} is not.

A possible solution could be
a) to register {a,b,c} upfront.
b) allow br

[2020-02-01 01:16] ruoyu90 commented on #1211
@hughmiao is right. Our current [logic](https://github.com/tensorflow/tfx/blob/r0.15/tfx/types/component_spec.py#L163-L172) does not populate optional execution properties if not set. One possible solution based on current implementation is to populate default value for unset optional execution properties.

[2020-02-03 02:00] gowthamkpr commented on #1212
@hanneshapke I am running into a bunch of errors with your code. Please take a look at it [here](https://colab.research.google.com/gist/gowthamkpr/380c3e70e2a4b6e948ed7856cf555893/copy-of-example-for-examplegen-error-under-0-21rc.ipynb). Thanks!

[2020-02-03 02:22] hanneshapke commented on #1212
@gowthamkpr Did you restart the Colab runtime engine after installing the required pip packages? If you don't restart the runtime engine, you'll run into the errors. If you restart it, you'll reproduce my initial error.

I think I read that packages installed from inside a Colab session aren't immediately available. Maybe the Python path doesn't update under the hood, not sure.

[2020-02-03 03:30] gowthamkpr commented on #1204
@aaaaahaaaaa As you can see from the error this issue is related to pipenv itself not tfx. It is clearly stated in the last answer of the issue [here](https://stackoverflow.com/questions/51540404/how-to-resolve-python-package-depencencies-with-pipenv).

The best bet would be to create a virtual environment and then installing tfx in it.

[2020-02-03 03:50] gowthamkpr commented on #1212
Yes. I did restart the colab runtime and installed all the dependencies. Here's my [gist](https://colab.research.google.com/gist/gowthamkpr/836dd6e073a553ed508544243dd17abd/copy-of-example-for-examplegen-error-under-0-21rc.ipynb).

[2020-02-03 04:24] luischinchillagarcia commented on #1134
Closing since TFX 0.21.0 addresses the issue.

The error stemmed from using `tf.compat.v1.placeholder` with tf.keras in tfx==0.15.0. Using `tf.data.experimental.make_batched_features_dataset` doesn't cause an issue.

[2020-02-03 04:24] #1134 closed

[2020-02-03 09:56] aaaaahaaaaa commented on #1204
@gowthamkpr Well, the problem does come from tfx dependencies, and pipenv is the "officially recommended Python packaging tool". But no, it's not a blocker :)

[2020-02-03 17:41] hanneshapke commented on #1212
Hey @gowthamkpr
Thank you for looking into this error. I made a [little screencast of executing the Colab notebook](https://youtu.be/ml1oPSFmAIk). It shows that the notebook needs to run twice to be correctly executed.
Your gist showed this error: `NameError: name 'InteractiveContext' is not defined`
Since you imported `InteractiveContext` above, but the object can't be found in the next cell, tha

[2020-02-03 20:27] luischinchillagarcia opened #1216 "TFX with Dataflow Python Version Error"
When running a pipeline with Dataflow, BQExampleGen job always works, however, the statisticsGen, schemaGen, ExampleValidator always fails, saying the python version in the 'setup.py' is the issue. Here is a [Colab file reproducing the issue](https://colab.research.google.com/drive/1BqWY4CLHoTkKF3Xp4zV1KKlWS5jXxtFk#scrollTo=XRyovXmt2hW4).

[This Beam issue](https://issues.apache.org/jira/browse/BE

[2020-02-03 20:51] gowthamkpr commented on #1216
I don't have access to your colab. I just requested it.

[2020-02-03 20:53] gowthamkpr commented on #1212
Its showing that video is unavailable as it is private @hanneshapke. Can you Please take a look at it?

[2020-02-03 20:53] luischinchillagarcia commented on #1216
Just saw this, try it again and there should be no restrictions!

[2020-02-03 21:01] hanneshapke commented on #1212
PLease try again: https://youtu.be/ml1oPSFmAIk

[2020-02-04 16:46] hanneshapke opened #1219 "Latest Beam version causes error under TFX/TFT 0.15"
We have a few frequently run pipelines, and we noticed a recent failure of our pipelines in the Transform component. The pipeline worked fine until the latest execution (we re-created the underlying container, and we currently execute the pipeline in the interactive mode before we export it to KFP). No code changes, nor dependency updates on our side.

However, we notice that a new Apache Beam ver

[2020-02-04 17:40] gowthamkpr commented on #1219
If you are using tfx==0.15 then TFX supports apache-beam versions >=2.16 and <3 as shown [here](https://github.com/tensorflow/tfx/blob/20666f4206b6741d55ed76d9194245600d433da9/tfx/dependencies.py#L23)
`'apache-beam[gcp]>=2.16,<3'`

but if you are using tfx==0.21, then TFX supports apache-beam versions >=2.17 and <2.18 as shown [here](https://github.com/tensorflow/tfx/blob/220dff9cb6a2836aa06e0d802

[2020-02-04 17:52] zoyahav commented on #1219
@hanneshapke Could you please provide a traceback for the TypeError above?

[2020-02-04 18:07] hanneshapke commented on #1219
@gowthamkpr Sorry, my bet. I copied the dependency requirements from the wrong branch (master).

[2020-02-04 18:10] hanneshapke commented on #1219
@zoyahav here is the traceback: https://pastebin.com/ErbR1WBA

[2020-02-04 18:51] gowthamkpr commented on #1212
@hanneshapke I have run into the same error too but this time with chicago taxi example. Heres my [gist](https://colab.research.google.com/gist/gowthamkpr/dd315fd61c901e5a62d4460ab0d72c91/copy-of-example-for-examplegen-error-under-0-21rc.ipynb#scrollTo=yCqN80wsu5jd). Thanks for reporting

[2020-02-04 19:16] gowthamkpr commented on #1204
@aaaaahaaaaa Its not just happening with tfx==0.15.0, its happening with tfx==0.14.0. Heres my [gist](https://colab.sandbox.google.com/gist/gowthamkpr/7f989846c06f26540b9e298c76913bd3/untitled5.ipynb)

[2020-02-04 21:42] jiyongjung0 commented on #1216
Hello, @luischinchillagarcia Thank you for reporting an issue. I tried the colab, but failed to run due to other issues.

By the way, I found [an issue](https://lists.apache.org/thread.html/r97bf207cea60ceb3988f26c4dbe8dcb06b05fa10e0a94d74d15a5e1a%40%3Cuser.beam.apache.org%3E) in the beam mailing thread which looks very similar to this issue. Can you try after pinning cloudpickle version?

[2020-02-04 21:43] luischinchillagarcia commented on #1216
I'll try it now!

[2020-02-04 23:45] luischinchillagarcia commented on #1216
Unfortunately, the suggestions in the beam mailing thread did not resolve the issue. Perhaps a better avenue to ask is: what would be the suggested list of packages and versions to include under the install_requires parameter in the setup.py file required for Dataflow (including the python version since anything 3.7 fails as well)?

Here is a new, cleaned up, [Colab](https://colab.research.google.

[2020-02-05 18:40] aaaaahaaaaa commented on #1204
Great, thanks for the update. Will close now.

[2020-02-05 18:40] #1204 closed

[2020-02-05 21:43] jiyongjung0 commented on #1216
You can find package dependencies in the [Google Cloud documentation](https://cloud.google.com/dataflow/docs/concepts/sdk-worker-dependencies), but when I tried to run your colab, Dataflow workers used Beam SDK version 2.19 which is not listed in the doc. It looks like it uses python 3.6.10.

[2020-02-05 22:28] luischinchillagarcia commented on #1216
I tried running it now with all the compatible versions as shown in the above documentation, and BigQueryExampleGen runs, but the rest doesn't. The logs still show an issue with pickling.

[2020-02-05 22:55] charlesccychen commented on #1216
Can you also paste the result of `pip freeze` on your local machine?  The [link above](https://lists.apache.org/thread.html/r97bf207cea60ceb3988f26c4dbe8dcb06b05fa10e0a94d74d15a5e1a%40%3Cuser.beam.apache.org%3E) pinned a local dependency, not a remote Dataflow one.

[2020-02-05 23:12] luischinchillagarcia commented on #1216
For tfx==0.15.0 and apache-beam==2.17.0, here's what I have

[code]

[2020-02-06 10:04] sakhawath19 opened #1227 "Failed to install tfx=0.15.0 with pyarrow=0.14.0 in windows 10"
System information
OS Platform and Distribution: Windows 10
TensorFlow version: 1.15.0
Python version: 3.7.6
Describe the problem

(CPU_3.7.6_tfx_2) C:\Users\SakhawathHossain\AppData\Local\Continuum\anaconda3\envs>pip install tfx==0.15.0
Collecting tfx==0.15.0
Using cached tfx-0.15.0-py3-none-any.whl (504 kB)
Collecting tensorflow-model-analysis<0.16,>=0.15.2
Using cached tensorflow_model_analysis

[2020-02-06 10:10] sakhawath19 commented on #950
@ruoyu90 does TFX works for windows 10 now?

[2020-02-06 10:49] sakhawath19 opened #1228 "Failed to install tfx=0.15.0 with pyarrow=0.15.0 in windows 10"
(CPU_3.7.6_tfx_2) C:\Users\SakhawathHossain\AppData\Local\Continuum\anaconda3\envs>pip install tfx==0.15.0

Collecting tfx==0.15.0
  Using cached tfx-0.15.0-py3-none-any.whl (504 kB)
Processing c:\users\sakhawathhossain\appdata\local\pip\cache\wheels\46\91\e3\0fced4f5fbc0a051a5667096826186c9ff60f2d0e9bf0f1cdc\absl_py-0.8.1-py3-none-any.whl
ERROR: Could not find a version that satisfies the require

[2020-02-06 11:11] sakhawath19 commented on #1228
tensorflow=0.15.0

[2020-02-06 11:16] sakhawath19 opened #1229 "Failed to install tfx with tensorflow=1.15.0 and 2.0.0, pyarrow=0.14.0/0.15.0 in windows 10"
(CPU_3.7.6_tfx_3) C:\Users\SakhawathHossain\AppData\Local\Continuum\anaconda3\envs>pip install tfx==0.15.0
Collecting tfx==0.15.0
  Using cached tfx-0.15.0-py3-none-any.whl (504 kB)
Requirement already satisfied: tensorflow<3,>=1.15 in c:\users\sakhawathhossain\appdata\local\continuum\anaconda3\envs\cpu_3.7.6_tfx_3\lib\site-packages (from tfx==0.15.0) (2.0.0)
Collecting click<8,>=7
  Using cached

[2020-02-06 11:19] sakhawath19 commented on #1229
python=3.7.6

[2020-02-06 16:30] tvalentyn commented on #1216
@lius

...

Can you please post complete output of pip freeze without filtering any dependencies?

[2020-02-06 17:48] luischinchillagarcia commented on #1216
Local env:
[code]

Colab env:
[code]

[2020-02-06 18:06] tvalentyn commented on #1216
As we can see, both 'dill' and 'cloudpickle==1.2.2' are installed, which may be causing your issue as per the discussion on Beam mailing list.

[2020-02-06 18:14] luischinchillagarcia commented on #1216
I'll create a clean virtualenv and only have dill to see if that works!

Also, when installing the necessary dependencies of tfx onto a clean virtualenv, I get this error. It's strange that it asks for pyarrow to have two incompatible ranges. Perhaps this might lead to something as well.:

[code]

[2020-02-06 18:17] tvalentyn commented on #1216
I would try to use a more recent version of beam and/or tfx to find a combination that does not have these conflicts.[

[2020-02-06 18:21] luischinchillagarcia commented on #1216
The issue is, I have tried with the package combinations listed for tfx 0.14.0, 0.15.0, 0.21.0rc and they all have the exact same error. They run locally, but not in Dataflow specifically, and the error always leads to a pickling issue.

[2020-02-06 18:53] tvalentyn commented on #1216
You are dealing with two separate issues here:
- Dependency conflicts reported by pip (e.g. pyarrow dependency). This is something you can fix by tweaking which tfx/beam dependencies you choose to install.
- Conflict of two picklers (not reported by pypi): https://github.com/cloudpipe/cloudpickle/issues/82. This is a different error. You may be able to work around this error by reinstalling cloudp

[2020-02-06 20:09] gowthamkpr commented on #1227
@sakhawath19 The last error message is legitimate as `tfx 0.21.0` is not yet available in pip distribution. You should install `tfx 0.21.0rc0`. Please find my gist [here](https://colab.sandbox.google.com/gist/gowthamkpr/62d48c866c1e5f88bdc23587cd8970b3/untitled8.ipynb).

I am not facing any issue on my linux system and ubuntu.

I dont have access to my Windows machine now. I will reproduce it in t

[2020-02-06 20:30] gowthamkpr commented on #1228
@sakhawath19 For tfx 0.15.0, you have to use pyarrow 0.14.0 as mentioned [here](https://github.com/tensorflow/tfx#compatible-versions) and from tfx 0.21.0, you can use pyarrow 0.15.

That being said you are also facing issue installing tfx with pyarrow==0.14.0 as given [here](https://github.com/tensorflow/tfx/issues/1227).

Can we close this issue and track the issue #1227 . Thanks!

[2020-02-06 23:22] luischinchillagarcia commented on #1216
A quick update:

The [SDK dependencies](https://cloud.google.com/dataflow/docs/concepts/sdk-worker-dependencies) for apache-beam=2.17.0 (the compatible version to tfx==0.21.0rc) contain a list of  packages already installed Python 3.7.4 for Dataflow workers. However, the only way I got the Dataflow job to work is experiment with different versions of python (and slightly changing pyarrow to 0.15.1

[2020-02-06 23:35] luischinchillagarcia commented on #1216
Here's the pipdeptree for the environment with tfx==0.15.0:

https://pastebin.com/0DYi6PZw

[2020-02-07 07:07] Ambiavi commented on #1062
@rcrowe-google, can you take a look at this issue please? Really struggling to follow the Airflow tutorial with this unresolved.

[2020-02-07 08:14] sakhawath19 commented on #1227
Here is the summary, you could see what I have tried so far. I have tried with python 3.7.5 too. Thanks for the information. I will try and see what happens with tfx 0.21.0rc0

python=3.7.6, tf=1.15.0, pyarrow=0.14.0 installed
failed at tfx 0.14.0
failed at tfx 0.15.0
failed at tfx 0.15.0rc0
failed at tfx 0.21.0

python=3.7.6, tf=1.15.0, pyarrow=0.15.0 installed
failed at tfx 0.14.0
failed at tfx

[2020-02-07 08:18] navneetkrc opened #1233 "Colab Notebook for TF Model Analysis fails due to import error"
TFMA colab Notebook fails due to different dependencies even of same library for example scipy.
Step Install TensorFlow Model Analysis (TFMA) leads to errors and they require different versions of the same library even TF.
Most of the error is related to **tensorflow-federated** installation.
[TFX Tutorial link](https://www.tensorflow.org/tfx/tutorials/model_analysis/tfma_basic)
[Colab Document Li

[2020-02-07 08:51] sakhawath19 commented on #1227
tfx=0.21.0rc0 is getting installed but throwing some error
ERROR: apache-beam 2.17.0 has requirement httplib2<=0.12.0,>=0.8, but you'll have httplib2 0.17.0 which is incompatible.
..................................................................................................................................................................

When I am trying to run taxi example it failed
from tfx.

[2020-02-07 18:41] gowthamkpr commented on #1233
@navneetkrc Thank you for reporting this.

I cannot download the data either from `requests.get('https://storage.googleapis.com/tfx-colab-datasets/eval_saved_models-0.15.0.zip', stream=True)`

[2020-02-07 18:59] tvalentyn commented on #1216
We expect that the pickling issue will be fixed in cloudpickle==1.3.0. Per [1], this release may be available next week.

Once available, you can install the fixed version of cloudpickle until the AI notebook image picks up the new version.

In the meantime, you can uninstall cloudpickle as a workaround.

[1] https://github.com/cloudpipe/cloudpickle/pull/337

[2020-02-07 18:59] tvalentyn commented on #1216
Thanks for reporting this issue, @luischinchillagarcia

[2020-02-07 19:11] luischinchillagarcia commented on #1216
Thanks for all the help! @tvalentyn

[2020-02-08 06:21] luischinchillagarcia commented on #1216
One last question related to this issue that others may also share:

When running a Dataflow job, does Dataflow have containers for different versions of Beam? If so, how do we choose one that is not the latest version?
For instance, (1) do we specify the version of dataflow we want to use on the 'setup.py', or (2) does it match the beam version related container based on the beam version on the m

[2020-02-10 17:53] tvalentyn commented on #1216
You can ask this question on Beam user mailing list (user@beam.apache.org) or via Dataflow customer support channels. TFX bug tracker is not the best forum for this discussion.
Beam automatically chooses the correct container when starting a Dataflow job, that corresponds to Beam version you are using. These containers include following dependencies: https://cloud.google.com/dataflow/docs/concepts

[2020-02-10 19:52] gowthamkpr commented on #1227
@sakhawath19 Please downgrade httplib2 to 0.12 and it should solve your issue. Thanks!

[2020-02-10 23:29] luischinchillagarcia commented on #1216
Thanks for the help and resources!

[2020-02-10 23:29] #1216 closed

[2020-02-12 21:31] gowthamkpr commented on #1227
@sakhawath19 Were you able to solve the issue? Thanks!

[2020-02-13 10:30] yynil opened #1275 "Will it be possible that tfx.transform support NLP text processing directly?"
NLP text processing includes tokenization,vocabulary generation,string2ids encoding,ids2string decoding.
For now, I have to convert string to ids manually before I send the data to tfx pipeline. As you may expect, this process will cause training/serving skew problem.
I'm wondering if it's possible to do this in the near future release or in current release which I'm not aware of.
Thanks a lot in

[2020-02-13 21:54] gowthamkpr commented on #1275
@zoyahv Can you PTAL? Thanks!

[2020-02-13 23:27] 1025KB commented on #1275
Hi, we have a [example](https://github.com/tensorflow/tfx/blob/master/tfx/examples/chicago_taxi_pipeline/taxi_utils.py#L122) for vocabulary in TFT

[2020-02-13 23:54] hanneshapke commented on #1212
@jiyongjung0 @rcrowe-google Just tried the 0.21.0 release and the bug seems to be fixed!
Thank you!

[2020-02-14 01:44] yynil commented on #1275
Yep, This is vocabulary for String2ID. However it's not enough for NLP's String2IDs encoding. I checked tensorflow transform and tensorflow Text, it seems that they are still seperate library.

[2020-02-14 11:48] srikanthjoshi opened #1283 "airflow initdb is giving error - "undefined symbol" in tfx_bsl_extension.so"
Hi,

I am trying to run this project on IBM ppc64 POWER architecture. I have installed tensorflow, tfx, apache-airflow and now starting aiflow initdb, it is giving below error :

[code]

Below are the versions:

[code]

Please let me know how to resolve.

Thanks.

[2020-02-14 16:19] valeriano-manassero opened #1287 "Kubeflow 1.0RC4 metadata config fails"
Kubernetes: 1.15
Kubeflow: 1.0RC4
TFX: 0.21.0

While testing
[code]
I got:
[code]

While in the past TFX versions I had issues described in https://github.com/tensorflow/tfx/issues/1002 , now TFX is getting metadata config via grpc but it's not getting the configs expected (maybe Kubeflow new version is also involved).

[2020-02-14 17:35] misterpeddy commented on #1184
Thank you @numerology - since the final 0.21.0 version was released yesterday [1] I gave it another try.

The original issue is resolved.
However, BeamDagRunner is still unable to run BigQueryExampleGen because it seems when beam tries to shard the BQ source, it fails to find a `split` attribute. Am I misconfiguring this somehow?

Relevant trace:
  File "/usr/local/lib/python3.6/dist-packages/futu

[2020-02-14 17:45] zhitaoli commented on #740
Update: this is being fixed from beam side directly: https://github.com/apache/beam/pull/10223#discussion_r375595989

Once that is merged and released in beam, TFX will pick up in a future release.

For now I'll close this one from TFX side.

[2020-02-14 17:45] #740 closed

[2020-02-14 19:10] numerology commented on #1287
Unfortunately that's a known issue. Kubeflow full-fledge deployment does not have the right MLMD config to use gRPC as in TFX 0.21.0. There are two solution to this issue:

1. Can you try a standalone KFP deployment (this is the only thing you need to run TFX pipeline, if you do not use Kubeflow notebook, katib and so on) with version >= 0.2.1? You can find deploy instruction [here](https://www.ku

[2020-02-14 19:12] 1025KB commented on #1283
Hi, I start with a clean virtualenv, install tfx 0.21 and airflow 1.10.9

it works fine

could you try upgrade all tensorflow related packages?

[2020-02-14 19:27] valeriano-manassero commented on #1287
Hi @numerology and ty for answer.
Unfortunately Katib is a requirement for this testing deployment so I can't avoid it. Atm I'm not sure I have enough time to deep dive into code to issue a PR. Will try if you will not have an implementation before.

[2020-02-14 22:14] gowthamkpr commented on #19
@zhitaoli Can you please take a look at the above [comment](https://github.com/tensorflow/tfx/issues/19#issuecomment-579008613). Thanks!

[2020-02-14 22:27] gowthamkpr commented on #236
@mdreves  Can you PTAL at above comment. Thanks!

[2020-02-14 23:56] yarcyarc commented on #1062
I think I might have the same problem, at [4] in step3.ipynb:

[code]
with versions like this;

[code]

[2020-02-15 01:16] mdreves commented on #236
The issue here is that beam is trying to find the optimal batch size to use. Since we would prefer not to expose the batch_size as an additional knob, we have now added a fallback case in the code to revert to a fixed batch size when errors occur. I'm going to close this bug now, please re-open if you find it does not work as expected.

[2020-02-15 01:16] #236 closed

[2020-02-18 09:25] martin-laurent opened #1288 "Components cannot work with regular expression artifact uris anymore"
Since this change: https://github.com/tensorflow/tfx/commit/66fe1a70a26e6ab9a2d01ffb3b62985752344167 integrated in TFX 0.15, it is not possible anymore to use a regular expression as a artifact uri, because the second check in `verify_input_artifacts` will fail: https://github.com/tensorflow/tfx/blob/936018566cd379c0aa5d1e1535eb052b782135da/tfx/components/base/base_driver.py#L81
However all compon

[2020-02-18 15:33] srikanthjoshi commented on #1283
I got this resolved by building tfx-bsl without -c opt --cxxopt=-D_GLIBCXX_USE_CXX11_ABI=0. It worked fine and I am able to proceed futher.

[2020-02-18 15:33] #1283 closed

[2020-02-18 15:38] srikanthjoshi opened #1289 "airflow dag hangs long time and it is running state from last 2-3 hours"
Hi,

I have installed tfx, apache-airflow, tensorflow and I am able to run airflow webserver and scheduler both.

[code]

I clicked on chicago_taxi_example, it is in running state .

[code]

can u plz advice further ?

[2020-02-18 18:42] gowthamkpr commented on #1229
@sakhawath19 Were you able to solve this issue?

[2020-02-18 18:56] msiegler-google opened #1290 "chicago_taxi.ipynb refers to unreadable eval_saved_models-0.15.0.zip"
Permissions for the saved models appear to have changed or the file has moved and this demo now cannot be run.

[2020-02-18 19:00] andrewsmartin commented on #1288
I want to +1 this and add additional context. In my organization, we often save out additional metadata alongside the `.tfrecord` files, including a snapshot of the schema as well as additional metadata relating to our internal dataset registry. Many of the component executors - as mentioned already by @martin-laurent - use an ["all files pattern"](https://github.com/tensorflow/tfx/blob/0.15.0/tfx

[2020-02-18 20:20] gowthamkpr commented on #1228
I will close this issue for now as the support for tfx on windows is not fully established and we will track this issue [here](https://github.com/tensorflow/tfx/issues/1229). Thanks!

[2020-02-18 20:20] #1228 closed

[2020-02-18 20:21] #1227 closed

[2020-02-19 01:01] #1212 closed

[2020-02-19 18:18] gowthamkpr commented on #1289
@srikanthjoshi Clear everything and start running in a new environment and let me know if the issue still persists. Thanks!

[2020-02-20 07:29] yongzhuo opened #1302 "Is there any example of nlp, like text classification? string input, not other data preprocess outside."
Is there any example of nlp, like text classification? string input, not other data preprocess outside.

[2020-02-20 07:34] yongzhuo commented on #1275
I have the same question, like variable inputs of sequence, like index2label, index2vocab when predict， like filter useless character.

[2020-02-20 10:29] srikanthjoshi commented on #1289
I got to know why it is happening. airflow webserver is deleting psutil periodically :

(srikanth) [root@brazossrik01 ~]# airflow webserver
  ____________       _____________
 ____    |__( )_________  __/__  /________      __
____  /| |_  /__  ___/_  /_ __  /_  __ \_ | /| / /
___  ___ |  / _  /   _  __/ _  / / /_/ /_ |/ |/ /
 _/_/  |_/_/  /_/    /_/    /_/  \____/____/|__/
[2020-02-19 09:28:26,613

[2020-02-20 12:18] chongkong commented on #1229
TFX doesn't support Windows platform at the moment. My recommendation is to try examples in a colab or inside a docker container of ubuntu images.

[2020-02-20 12:18] #1229 closed

[2020-02-20 12:19] chongkong commented on #1290
`tfx-colab-datasets` bucket seems to have problem now. ([census.ipynb](https://github.com/tensorflow/tfx/blob/master/docs/tutorials/transform/census.ipynb) is also suffering the same problem)

Robert, would you be able to give an update?

[2020-02-20 12:48] chongkong commented on #1288
Would you provide more context for using a glob pattern in `Artifact` URI? What I can tell you is that `Artifact` URI should point to the single directory, (not a multiple directories or files via glob) where it contains all the files that are only limited to that single `Artifact` (as we don't have a nested artifact concept yet). You're not supposed to share the directory for storing files from d

[2020-02-20 13:31] chongkong commented on #1302
We don't have an example for NLP use cases yet. Our examples (as you can check in tfx/examples directory) are either structured data (chicago taxi, iris) or a vision data (mnist, cifar10). We'd like to have examples for other domains, but we don't have a plan yet.

[2020-02-20 13:31] #1302 closed

[2020-02-20 18:36] gowthamkpr commented on #1289
I am not able to reproduce this issue @srikanthjoshi

[2020-02-20 20:11] jasonbrancazio opened #1305 "components that depend on TFDV fail to import as a result of the release of TFDV 0.21.2"
This is related to https://github.com/tensorflow/tfx-bsl/issues/3

STEPS TO REPRODUCE (colab)
[code]
observe the following error:
[code]

downgrading to tfdv 0.21.1 resolves the issue.

[2020-02-20 20:50] paulgc commented on #1305
@jasonbrancazio There will be a new tfx_bsl release today which should fix this issue.

[2020-02-21 17:33] zhitaoli commented on #1288
+1 for what @chongkong said: the URI is at least designed to point to a single directory. The system might have allowed other cases to operate so far but I highly suspect once we implement  wipe-out/garbage collection, other assumptions would fail.

You can still use a glob pattern if it operates inside the single directory of the URI safely.

[2020-02-21 17:57] robertlugg opened #1312 "Python version incorrect by default. Add checks and add docs."
This is a real ease-of-use killer, especially for new users (and those of us who don't install new versions often).  Consider this page:
`https://www.tensorflow.org/tfx/tutorials/tfx/components#export_to_pipeline`
It makes no reference that you need a particular version of **python**.  If I use anaconda and try to install using this yaml file:
[code]
This will fail because it can't find a 2.1 vers

[2020-02-21 18:39] 1025KB commented on #1288
example gen's input artifact is a directory, default we will glob every file in that dir, if you want to custom the input pattern, use [input config](https://github.com/tensorflow/tfx/blob/master/docs/guide/examplegen.md#custom-inputoutput-split)

[2020-02-21 20:14] gowthamkpr commented on #1312
@robertlugg Thank you for pointing out this issue.

[2020-02-24 04:37] chongkong commented on #1312
Thanks for your help on perfecting our user experience. We are definitely missing the mention of python version in our docs. We're currently supporting up to python 3.7 as our dependencies don't support python 3.8+ yet. (This includes tensorflow/tensorflow#33374 and `tfx-bsl` package.)

That being said, I wouldn't refer python 3.8 is the *today's default*, one because python doesn't deprecate the

[2020-02-24 14:44] chongkong commented on #1312
It seems like we already have PyPI icon for the python version support in README. I'm closing the PR. Sorry for the confusion.
![image](https://user-images.githubusercontent.com/4899492/75160555-8e591800-575d-11ea-9930-e8a53c6245ec.png)

[2020-02-24 14:55] srikanthjoshi commented on #1289
@gowthamkpr - I am able to consistently recreate this issue.. Are you trying to reproduce with same version(s) which I am using ?

[2020-02-24 17:14] robertlugg commented on #1312
@chongkong:

I don't mean to be too critical.  I know you are at 0.21.  But as TFX matures I think more and more time needs to be spent on your user documentation.

## Python default version
 By default, I mean the one I get when I don't specify a version.  The default is 3.8.1

Please consider this on the python website:
![Image 2733](https://user-images.githubusercontent.com/6054540/75172838-c1a

[2020-02-24 18:03] robertlugg commented on #322
Please ignore my "upstream/downstream" comment from before.  I reviewed this issue thread and everything seems as I'd expect.

[2020-02-24 20:39] rcrowe-google commented on #1290
These tutorials have been updated:

https://www.tensorflow.org/tfx/tutorials/transform/census
https://www.tensorflow.org/tfx/tutorials/data_validation/tfdv_basic
https://www.tensorflow.org/tfx/tutorials/model_analysis/tfma_basic

[2020-02-24 20:39] #1290 closed

[2020-02-24 21:46] MiladShahidi commented on #1305
I was following the [components tutorial](https://www.tensorflow.org/tfx/tutorials/tfx/components#run_tfx_components_interactively) and I was having difficulty with `tfdv.TFExampleDecoder`. Basically (as of February 24) this line

`decoder = tfdv.TFExampleDecoder()`

results in:

I downgraded tfdv==0.21.1 and it now runs as expected.

[2020-02-24 21:48] jasonbrancazio commented on #1305
@MiladShahidi I saw that as well. TFDV removed TFExampleDecoder, but the components tutorial hasn't yet been updated.

[2020-02-24 21:52] MiladShahidi commented on #1305
I see. I'll remove that (and later this) comment then. Thanks.

[2020-02-25 15:04] hanneshapke commented on #19
@zhitaoli @gowthamkpr With Apache Beam 2.19, we still get
[code]
Are there some tfx dependencies? We use tfx 0.21.

[2020-02-25 15:21] MattMorgis commented on #19
I _think_ TFX installs Apache Beam with the `gcp` extras, and to use S3 you'll need to install with the `aws` ones. I also _think_ the only way to do that right now is to rebuild from source.

[2020-02-25 23:05] timatim opened #1337 "Expected way to deal with missing values"
What is the recommended practice to deal with missing values, specific w.r.t. TF transform and TF data validation? As I was working with the two, I notice that my TF transform job fails whenever there's a missing value in a feature, if I specified that feature to be FixLenFeature.

One way to mitigate this is to impute the missing values at the step where I'm generating the raw data. However, this

[2020-02-26 17:31] srikanthjoshi commented on #1289
@gowthamkpr - Any help I can get ?

[2020-02-26 19:45] gowthamkpr commented on #1337
You can impute the missing values using mean, please go through the following [issue](https://github.com/tensorflow/transform/issues/152) where imputing missing values is discussed in depth.

You can also go through the following [doc](https://www.tensorflow.org/tfx/transform/get_started#input_and_output_with_apache_beam) to understand how missing values are being imputed. Thanks!

[2020-02-27 00:08] wjarek2 commented on #94
Heads up @loiccordone  - the support for TF Lite in TFX is improving, more info coming soon but if you'd like to take a look here's the 0.21 release notes: https://github.com/tensorflow/tfx/releases/tag/0.21.0 and more information will be coming soon.

[2020-02-27 04:10] HugoPu opened #1350 "ResourceExhaustedError When Running Evaluator"
I created a bert tfx pipeline project which was based on this [tutorial](https://www.tensorflow.org/tfx/tutorials/tfx/airflow_workshop/), it worked normally until the `Evaluator` steps.

Enviroment:
[code]
The code of `Evaluator` is as follow:
[code]

The error log is as follow:
[code]

Did it mean that the gpu had no enough RAM? But I set both the `train_batch_size` and the `eval_batch_size` to b

[2020-02-27 05:29] numerology commented on #1350
Hi @HugoPu , can you confirm the TFX version you're using (especially the TFMA)? Thanks

[2020-02-27 06:14] HugoPu commented on #1350
Hi @numerology, the version info is as follow:
[code]

[2020-02-27 22:17] jasonbrancazio opened #1355 "Feature request: passing statistics to a Trainer"
Sometimes it might be helpful to use the statistics output by StatisticsGen as metadata for a Trainer. For example, one can intelligently set the number of training steps within the Trainer based on the number of examples in the input data.

Unfortuntely, Trainer is currently not configured to accept a StatisticsGen output channel. Using named arguments, Trainer accepts transformed examples, a tra

[2020-03-02 06:26] HugoPu commented on #1350
It is the same issue which is mentioned in #236, and `1000` is the batch_size. Rewrite the executors of Evaluator and ModelValidator can fix this issure

[2020-03-02 06:26] #1350 closed

[2020-03-02 09:16] HugoPu opened #1376 "Evaluator and ModelValidator will create processes base on number of cpu"
In the [tutorial](https://www.tensorflow.org/tfx/tutorials/tfx/airflow_workshop/), it will create workers base on the number of cpu, which is mentioned in the following code:
[code]
But models are usually trained by gpus, and if it creates workers base on cpus.  It will create mayny works, and may have no enough ram, and will raise the folloing error:
[code]

[2020-03-02 10:25] charlesccychen commented on #1376
CC: @1025KB

Thank you for raising this issue.  We will look into fixing this use case.

[2020-03-02 15:57] jesand opened #1377 "io_utils.copy_dir() does not correctly copy nested subdirectories"
The copy_dir() method does not correctly build destination paths for creating nested subdirectories in the call to tf.io.gfile.makedirs(). It assumes that all subdirectories (recursively) are beneath the original destination directory, dst.  The path should be built similarly to how paths for leaf_files are built: a line like the line defining new_file_path should be inserted before the call to ma

[2020-03-02 18:28] 1025KB commented on #1376
Hi, it's a known issue, a workaround would be try "TF_FORCE_GPU_ALLOW_GROWTH=true" env var, if it still OOM, you can set direct_num_workers=n to use certain number of processes

[2020-03-02 23:40] charlesccychen commented on #1355
CC: @1025KB

Thanks, I filed an internal bug.

[2020-03-03 02:20] HugoPu commented on #1376
Maybe there's something wrong with my description. What I mean is, models are usually trained by gpus, and creating workers base on cpus are strange, expecially in the tutorial. It may mean that running the code of tutorial with tensorflow-gpu will probably get errors.

[2020-03-03 02:20] #1376 closed

[2020-03-03 04:35] nikelite commented on #1355
Thank for reporting this.

Custom configs would not be a good solution to pass the artifacts like StatisticsGen output.
We recommend using Custom TFX Component to tweak input and output channels.

Document:
https://github.com/tensorflow/tfx/blob/master/docs/guide/custom_component.md
Examples:
https://github.com/tensorflow/tfx/tree/master/tfx/examples/custom_components

[2020-03-03 04:41] #1355 closed

[2020-03-03 19:20] jasonbrancazio commented on #1355
@nikelite I agree that custom configs are not a good solution for passing artifacts. But rather than forcing users to make a custom component, why not give further consideration to making statistics an input channel to the standard Trainer? I imagine users would have a variety of use cases for the information provided by running StatisticsGen after a Transform.

In addition, adding statistics as a

[2020-03-03 19:27] gowthamkpr commented on #1275
@zoyahv Can you PTAL. Thanks!

[2020-03-03 22:18] gowthamkpr commented on #1337
@timatim Do you still have any doubts?

[2020-03-04 00:59] nikelite commented on #1355
Thank you for the suggestion. Charles already filed an internal bug on that, and we will discuss that internally.

[2020-03-04 14:51] nielsgroen commented on #1287
Does this block the use of tfx with Kubeflow Pipelines only on local clusters, or also on GCP etc.?

Could you guys perhaps give an indication on the priority of this issue? It would certainly help with decisions going forward on the use of tfx with kubeflow and considering possible alternatives.
Many thanks!

[2020-03-05 11:15] lipinski commented on #1287
This problem applies to version 0.21. The previous version (0.15) works without a problem.

[2020-03-05 21:16] Ambiavi opened #1422 "Failure to launch TensorBoard in component tutorial"
Running the component tutorial on jupyter notebook (with tfx==0.21.0 tensorflow==2.1 tensorboard==2.1 tensorflow-data-validation==0.21.1 ), I get up to the point of launching tensorboard (%tensorboard --logdir {model_dir}) and encounter this error. Seems I've somehow duplicated a tensorboard projector and I'm unsure how remove one. Details:

ERROR: Failed to launch TensorBoard (exited with 1).
Con

[2020-03-06 05:48] rmothukuru commented on #1305
@jasonbrancazio,
From the above comment, we understand that the issue has been resolved. Can you please confirm if we can close this issue. Thanks!

[2020-03-06 05:50] rmothukuru commented on #1288
@martin-laurent,
Can you please respond to @1025KB's comment. Thanks!

[2020-03-06 10:20] Mar-ai opened #1434 "taxi_pipeline_interactive.ipynb: estimator created from keras model does not contain same SignatureDefs as precanned estimator"
The model which is created by running the taxi_pipeline_interacitve.ipynb with the precanned estimator exports the following SignatureDefs:
[code]

I modified the taxi_pipeline_interacitve.ipynb to create an estimator from a keras model (by using tf.keras.estimator.model_to_estimator). The pipeline seems to work fine, but the exported model only contains the serving_default (which is "predict").

[2020-03-06 14:59] martin-laurent commented on #1288
So in my use case, I am not using ExampleGen component in my pipeline. The reason why is that the training and test data comes from independant and relatively sophisticated data pipelines that are executed outside of Kubeflow. Next to the several TBs of tfrecords, we generate a handful of other files relative to data completeness and GDPR compliance. This is a company wide policy I cannot change a

[2020-03-06 19:01] gowthamkpr commented on #1434
@Mar-ai This is related to tensorflow itself. Please take a look at this [issue](https://github.com/tensorflow/serving/issues/1521) and let me know if it helps. Thanks!

[2020-03-08 08:42] Mar-ai commented on #1434
Thanks @gowthamkpr, I'll give changing  [_generate_signatures](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/saved_model/save.py#L466) a try.
I saw that the issue is already tracked on [this issue](https://github.com/tensorflow/tensorflow/issues/34968) so I'll close this for now.

[2020-03-08 08:42] #1434 closed

[2020-03-08 09:09] Jeffwan opened #1446 "Bump Beam dependency version to 2.19.0"
Here's some new features and improvements in 2.19.0 we want to leverage in TFX.

Changlog.
https://beam.apache.org/blog/2020/02/04/beam-2.19.0.html

There's a few breaking changes and I am not sure if TFX have these references. It may not be an easy version upgrade.

- BEAM-8989 Backwards incompatible change in ParDo.getSideInputs (caught by failure when running Apache Nemo quickstart)
- BEAM-8402

[2020-03-08 17:58] Ambiavi commented on #1422
That's correct. There were 2 versions of tensorboard installed. Deleting one as recommended in the link resolved the issue.

[2020-03-08 17:58] #1422 closed

[2020-03-08 21:05] lipinski commented on #1287
To solve the issue, you should change the configuration:

    metadata_config = kubeflow_dag_runner.get_default_kubeflow_metadata_config()
    metadata_config.mysql_db_service_host.value = 'mysql.kubeflow'
    metadata_config.mysql_db_service_port.value = "3306"
    metadata_config.mysql_db_name.value = "metadb"
    metadata_config.mysql_db_user.value = "root"
    metadata_config.mysql_db_password

[2020-03-09 08:50] valeriano-manassero commented on #1287
I can confirm this workaround is good for Kubeflow 1.0 on premise. ty!

[2020-03-09 18:45] drzl386 commented on #1184
Hi @misterpeddy, I had the same question when I run the kubeflow pipeline. Did you solve it?

[2020-03-09 19:11] misterpeddy commented on #1184
No this is still an unsolved issue.

[2020-03-09 19:23] sadeel opened #1455 "How to pass custom component to DataflowRunner?"
I am using TFX on Kubeflow. I have written a custom component that does some work. I want that library (defining the custom_component) to be available on the Dataflow runner. Is there an example of how to do it?

Right now, it is complaining that my "custom_component" does not exist.

[2020-03-09 20:18] neuromage commented on #1455
@sadeel can you use the TFX CLI [1] to package your custom component? See for example the part about building the image with `skaffold` mentioned in [2]. See also the custom component docs in [3]

[1] https://github.com/tensorflow/tfx/blob/master/docs/guide/cli.md
[2] https://github.com/tensorflow/tfx/blob/master/docs/tutorials/tfx/template_beam.ipynb
[3] https://github.com/tensorflow/tfx/blob/mas

[2020-03-09 20:45] sadeel commented on #1455
I've done that and that works well when running just in KFP. However, inside KFP, I need to start a Dataflow job, and the Dataflow job needs to be aware of my custom component - I haven't figured a good way to do that.

[2020-03-09 21:32] neuromage commented on #1455
Got it, this is a missing feature right now. We'll take a look at fixing this.

[2020-03-09 22:54] neuromage commented on #1288
@ruoyu90 @zhitaoli @1025KB @chongkong
It seems ok to me to relax that check. If the file doesn't exist, then the executor will fail at runtime anyway. Reducing file-system checks from default driver seems like a reasonable request, and leads to more portable driver behaviour, so I'm in favour of removing the existence check altogether.

[2020-03-09 22:54] neuromage commented on #1288
/cc @numerology

[2020-03-10 00:51] jiyongjung0 opened #1459 "Remove --disk_size_gb flag in Dataflow Beam pipeline argument."
Currently, the default disk size of dataflow workers is 25GB and it is causing dataflow workers to fail starting on TFX 0.21 when installing python packages due to insufficient disk space.

This happened when running BigQueryExampleGen component. As a workaround, `--disk_size_gb` flags were added to beam pipeline arguments in the example(#1213) and template(#1449) pipelines.

If the default value

[2020-03-10 01:09] jiyongjung0 opened #1461 "Remove `shuffle_mode=auto` flag in Dataflow Beam pipeline argument."
[Example](https://github.com/tensorflow/tfx/blob/b2b0267d8e687c9f1479ee425b904a4308e8552d/tfx/examples/chicago_taxi_pipeline/taxi_pipeline_kubeflow_gcp.py#L101) and [template](https://github.com/tensorflow/tfx/blob/b2b0267d8e687c9f1479ee425b904a4308e8552d/tfx/experimental/templates/taxi/configs.py#L96) pipelines are using `--experiments=shuffle_mode=auto` flag to use [Dataflow Shuffle](https://clo

[2020-03-10 05:28] wendy2003888 opened #1469 "About eager mode in tfx with tf 1.x and future plan"
hi tfx experts,

When tfx 0.21.0 running on tf1.15, can I enable eager mode? Or it is not possible?
 I added tf.executing_eagerly() to the first line under the main function, but it seems to not work.

I am also writing a native Keras pipeline. The Evaluator is not working under tf 1.x
I noticed that the native Keras example indirectly calls tf2 only attributes or apis.  What's the plan of tf 1.x

[2020-03-11 00:10] jasonbrancazio commented on #1305
resolved, thanks!

[2020-03-11 03:57] #1305 closed

[2020-03-11 06:06] rmothukuru commented on #1469
@wendy2003888,
 Can you please try executing the command, `tf.enable_eager_execution()` instead of `tf.executing_eagerly()` to Enable the Eager Execution and let me know how it goes. Thanks!

[2020-03-11 10:58] lipinski opened #1480 "How to run TFX with Katib?"
I am working on TFX 0.21.1. I want to use hyper parameter tuning for TFX using Katib. Is it good idea? Maybe there is another way. Other than KerasTuner.

[2020-03-11 17:09] 1025KB commented on #1480
Hi, we currently don't have support for Katib, you might need a custom component similar to the this [Tuner component](https://github.com/tensorflow/tfx/tree/master/tfx/examples/custom_components/tuner) which uses KerasTuner

[2020-03-12 01:08] wendy2003888 commented on #1469
@rmothukuru
This doesn't work.  I checked that eager mode was enabled before tfx pipeline runs. My guess is inside tfx, it set to run graph mode only.  Or maybe it's related to the apache_beam?

[2020-03-13 07:04] rmothukuru commented on #1337
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2020-03-13 07:04] #1337 closed

[2020-03-13 11:50] valeriano-manassero commented on #1287
After some testing I see grpc config should be enough, at least I didn't notice any issues with this:
[code]

[2020-03-13 19:10] mattmbk commented on #1144
@numerology has this been resolved e.g. via https://github.com/tensorflow/tfx/commit/d396e9fea768956137e339bb43ef1edb8e73127c ?

Thanks!

[2020-03-13 19:19] numerology commented on #1144
Hi @dushyanthsc , does the default gRPC config compatible with the current Kubeflow deployment? Thanks

[2020-03-13 19:26] ucdmkt commented on #1144
The bottom line of [local pipeline example](https://github.com/tensorflow/tfx/blob/master/tfx/examples/chicago_taxi_pipeline/taxi_pipeline_kubeflow_local.py) is that so long as there is MLMD API server is running as a part of Kubeflow Pipelines deployment, and its config map to the server exists, it should work. If such configuration map isn't there, you would need to override it [here](https://gi

[2020-03-14 23:02] rcrowe-google commented on #1062
We've recently updated the Airflow tutorial.  Could you try it and let me know how it goes?

[2020-03-16 16:56] tordsae opened #1495 "Output 0 of type variant does not match declared output type int64 for node node IteratorGetNext"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Standard setup for gcp kubeflow and notebook as in https://www.tensorflow.org/tfx/tutorials/tfx/cloud-ai-platf

[2020-03-16 18:46] jason-brian-anderson opened #1497 "ImportError: cannot import name 'CsvExampleGen' on r0.21. / python 3.6.9 / tf 1.14"
I'm hoping to deploy TFX in product at Garmin and am running into some issues with the [Airflow tutorial](https://www.tensorflow.org/tfx/tutorials/tfx/airflow_workshop)

i'm wondering if my TF version is too old?  i just ran

`/home/tfx/tfx/tfx/examples/airflow_workshop/setup/setup_demo.sh
`

which runs:

`printf "${GREEN}Installing TensorFlow${NORMAL}\n"

pip install tensorflow==1.14.0`

And the

[2020-03-17 02:17] jiyongjung0 commented on #1495
Thank you for raising this issue.
But there is not sufficient information to investigate at this moment.
Can you provide more context, full error messages and/or model definition?

[2020-03-17 09:15] tordsae commented on #1495
Sure, it might also be worth mentioning that I had to rewrite the dataset in input_fn to be a TensorSpec with shape [batchsize,1] from shape [batchsize,None]. Otherwise I get two other errors:
- Last element in shape must be defined
- `TypeError: Failed to convert object of type <class 'tensorflow.python.framework.sparse_tensor.SparseTensor'> to Tensor. Contents: SparseTensor(indices=Tensor("Deser

[2020-03-17 18:54] #1497 closed

[2020-03-17 18:55] jason-brian-anderson commented on #1497
I switched to master as of 3/17/2020 and this problem was resolved.

[2020-03-18 00:26] jiyongjung0 commented on #1495
Thank you for quick response.
It looks like an issue in the TF side. Especially about the type of the given input data. But still I cannot see the detail about what kind of input you gave.

Or you might be able to check the output of SchemaGen or ExampleValidator, whether it inferred all the field correctly. You can check the output from the run diagram in KFP dashboard.

[2020-03-18 10:14] tordsae commented on #1495
Is this what you needed?

- Schema output:
[code]

- Feature spec:
`{'data': VarLenFeature(dtype=tf.int64), 'y': VarLenFeature(dtype=tf.int64)}`

- Dataset:
`<PrefetchDataset shapes: {data: (100, None), y: (100, None)}, types: {data: tf.int64, y: tf.int64}>`

[2020-03-18 12:15] jiyongjung0 commented on #1495
One question in above code. It looks like you have transformed your input data somehow from the part
`features.transformed_name(features.DATA_VALUES)`. However our iris example doesn't have any preprocessing, and there is not `Transform` component in the pipeline.
Can you explain how you transformed your input data?

I used your model code with iris pipeline example and it worked well with dummy d

[2020-03-18 12:47] tordsae commented on #1495
I found the problem.
During the infer schema step of the pipeline infer_feature_shape was set to False. Changing it to True fixed it right away.

[2020-03-18 15:29] jason-brian-anderson opened #1505 "Evaluator in airflow example raises: AttributeError: 'Tensor' object has no attribute 'numpy'"
When going through the airflow tutorial in preparation for standing up TFX as an MLOPS solution for Garmin, I ran into the following failure on the model `Evaluator`:

`Traceback (most recent call last):
  File "apache_beam/runners/common.py", line 780, in apache_beam.runners.common.DoFnRunner.process
  File "apache_beam/runners/common.py", line 441, in apache_beam.runners.common.SimpleInvoker.inv

[2020-03-18 15:43] jason-brian-anderson commented on #1505
If it is the right solution, would it be appropriate to create a pull request for the model-analysis project?  or is there a better way?

[2020-03-18 20:00] mattmbk opened #1507 "Example for using custom beam PTransform in preprocessing_fn"
Hi, I've been trying to execute a pipeline with a custom beam PTransform in the preprocessing_fn with no luck.

Using a notebook with the interactive context I'm running into this error:
python3.6/site-packages/apache_beam/internal/pickler.py in _is_nested_class(cls)
     75           and cls.__module__ != 'builtins'     # Python 3
     76           and cls.__module__ != '__builtin__'  # Python 2

[2020-03-19 02:53] jiyongjung0 commented on #1495
Thank you for sharing your experience. :smile: I'll close this issue.

[2020-03-19 02:53] #1495 closed

[2020-03-19 07:13] jiyongjung0 commented on #1505
Thank you for the report and a suggestion.
It looks like you are running this in TF 1.X.

If that is the case the binary needs to add following code in  __main__ (or equivalent):
[code]
And this change is needed only when you are using TF 1.X.

[2020-03-19 09:32] zoyahav commented on #1507
Have you tried importing the custom PTransform into the notebook with something like this?
`import util as user_module`

[2020-03-19 17:53] mattmbk commented on #1507
Excellent tip, @zoyahav

This seems to have resolved the error I mentioned. Thanks!

[2020-03-19 17:53] #1507 closed

[2020-03-20 15:13] michal-demecki-profil-software opened #1516 "[Pusher][AI Platform Training & Prediction] Unexpected model deploy status"
While going though your tutorial [link](https://github.com/tensorflow/tfx/blob/master/docs/tutorials/tfx/cloud-ai-platform-pipelines.md#try-cloud-ai-platform-training-and-prediction-with-kfp
), I have encountered following error in Kubeflow logs console:
[code]

AI Platform model version shows error (without any further explanation):
[code]
I have no further possibility to debug this with above me

[2020-03-22 15:40] hurutoriya opened #1519 "Over rapped TFX libraries character layout into TensorFlow Serving and Model Server on Docs"
I found one part of the broken image in TFX docs.
But I can't edit this SVG, so I reported as issues.

![image](https://user-images.githubusercontent.com/2786333/77253640-d9a01100-6c9e-11ea-9921-3837d62b76ae.png)

https://github.com/tensorflow/tfx/blob/master/docs/guide/libraries_components.svg

[2020-03-23 00:09] wendy2003888 commented on #1469
hi,
Any update on this question? The error is version related. My code don't have issues running under tf 2.0. Will keras models be supported under tf 1.x?

[2020-03-23 01:36] jiyongjung0 commented on #1519
Thank you for reporting!
Did you see this image in the guide document in https://www.tensorflow.org/tfx/guide ?

Because it renders well in my environment, can you share your browser environment when the image is broken?

[2020-03-23 04:50] rmothukuru commented on #1480
@lipinski,
Can you please respond to @1025KB's comment above. Thanks!

[2020-03-23 06:32] jiyongjung0 commented on #1516
@michal-demecki-profil-software Thank you for reporting.
Can you provide more information about your environment? For example, tensorflow version, python version and GCP region.

FYI, if you followed the tutorial from the start it should be TF 2.1 with python 3.7.

[2020-03-23 08:04] michal-demecki-profil-software commented on #1516
Python: 3.7.6
TF: 2.1.0
TFX: 0.21.0
KFP: 0.2.5

[2020-03-23 09:44] tordsae opened #1520 "Big query runtime parameter"
Hi, I am trying to add runtime parameters to my pipeline. I have added a runtime parameter as in [https://github.com/tensorflow/tfx/blob/master/tfx/examples/chicago_taxi_pipeline/taxi_pipeline_runtime_parameter.py](url). Unlike the example in the link I am using BigQueryExampleGen, but when I try to run I get the following error:
[code]
For CsvExampleGen this works fine. Is it some detail I'm miss

[2020-03-23 15:16] tordsae commented on #1520
Figured it out, the parameter should be given to an input config and not the query argument. Here is an example:

[code]

[2020-03-23 18:08] gowthamkpr commented on #1520
@tordsae Glad that it has been figured out and yes you should pass the parameters through input config.. Can you please close this issue as it has been resolved. Thanks!

[2020-03-24 10:33] #1520 closed

[2020-03-24 10:33] lipinski commented on #1480
KerasTuner doesn't work with Estimators API.

[2020-03-24 10:55] kalpa-subbaiah opened #1531 "dlopen- Symbol not found: ____chkstk_darwin error"
Hi,

    I am trying to implement tfx end to end as per the tfx tutorials
(https://www.tensorflow.org/tfx/tutorials/tfx/components_keras)
On importing tfx.components I am getting below error, can you please let me know how i can resolve this issue.

ImportError: dlopen(/anaconda3/lib/python3.7/site-packages/ml_metadata/metadata_store/_pywrap_tf_metadata_store_serialized.so, 2): Symbol not found: _

[2020-03-24 14:25] sadeel opened #1532 "StatisticsGen doesn't seem to handle custom split"
I have a dataset that has a custom split:

  inputt = example_gen_pb2.Input(splits=[
      example_gen_pb2.Input.Split(name='train', pattern='train*'),
      example_gen_pb2.Input.Split(name='val', pattern='val*'),
      example_gen_pb2.Input.Split(name='test', pattern='test*'),
  ])

  examples = tfrecord_input(_tfrecord_folder_parameter)
  example_gen = ImportExampleGen(input=examples, input_con

[2020-03-24 16:02] 1025KB commented on #1531
just ignore it, it's version issue, It might not effect the tfx execution below, did you try it?

[2020-03-24 16:31] marsbroshok opened #1533 "CsvExampleGen for gzipped csv"
Is it possible to use `CsvExampleGen` component with gzipped csv input file? Files with extension ".csv.gz" are transparently supported by BigQuery and Pandas, so it will be nice to be able to read it with `CsvExampleGen` component as well.

[2020-03-24 16:43] 1025KB commented on #1532
Hi, currently example gen's downstream only support 'train' and 'eval' split, we will fix stats gen to support all splits

[2020-03-24 16:46] sadeel commented on #1532
Ok thanks. Btw, this issue seems to also appear in other components (e.g. trainer)

[2020-03-24 16:51] 1025KB commented on #1532
yep, currently for all other components, we use 'train' and 'eval' splits as training and eval dataset

[2020-03-24 17:49] tordsae commented on #1516
I have the same problem. I have done some digging. It seems like there is some problems extracting the tf version. Even though the pipeline uses tf 2.1.0 the model on ai platform har runtime version 1.15 and framework version 1.15.0.

I hope this info can be of help.

[2020-03-24 18:20] ghost opened #1535 "serving_model is not created for tf.estimator.BoostedTreesRegressor by the tfx Trainer"
Hi,

I used the tfx end-to-end tutorial to use tf.estimator.BoostedTreesRegressor.
We are having the issue that the trainer wouldn't produce the serving model, making it difficult to make inference.

[code]
[code]
Execution doesn't produce any errors but when examining the models directory, the eval_model is available without the graph.

Is this a bug?
Is there a way around it?

[2020-03-24 19:02] gowthamkpr opened #1536 "404 Page not found"
When I try to click on `View Source on github ` for `tfx.components` [here](https://www.tensorflow.org/tfx/api_docs/python/tfx/components), I am getting page not found error.
![image](https://user-images.githubusercontent.com/47574994/77466246-3860aa00-6dc7-11ea-9cba-78f9f9309f2f.png)

This is happening to all the tfx components..!!

[2020-03-24 19:42] gowthamkpr commented on #1533
@marsbroshok Currently ".csv,gz" files are not supported by `CsvExampleGen`

[2020-03-24 20:06] gowthamkpr commented on #1535
@amadeusDataScienceTeam Can you please provide code with data for us to reproduce this issue. Thanks!

[2020-03-24 20:14] 1025KB commented on #1535
[This](https://github.com/tensorflow/tfx/blob/master/tfx/components/trainer/executor.py#L327) is how we train and saved the model, did you set the [model output path](https://github.com/tensorflow/tfx/blob/master/tfx/examples/chicago_taxi_pipeline/taxi_utils.py#L189) ?

[2020-03-25 00:45] jiyongjung0 commented on #1516
Thank you for the report.
It is expected to use 1.15 version of AI Platform runtime, because there was no TF 2 runtime at the time TFX 0.21.0 is released. (It is added recently and will be included in the next release. #1503)
Prediction service should be able to load the saved model even if it is trained in the later version, and this issue still happened when I trained a model in TF 1.15.

I'm st

[2020-03-25 03:33] hurutoriya commented on #1519
@jiyongjung0 Thanks for response 👍

right.

I use Mac OS Chrome 80.0.3987.149.

I see.
My browser render below image in https://www.tensorflow.org/tfx/guide#tfx_libraries

![image](https://user-images.githubusercontent.com/2786333/77499188-c191e280-6e94-11ea-99e9-e174a565ff86.png)

Seem like this issues is not serious.

[2020-03-25 05:32] jiyongjung0 commented on #1519
Thank you for the detail!

I'm using exactly same broswer / version, but it looks good.
But I found that the image looks ugly(as you have shown above) in MacOS Safari 13.0.5.

I think that this can be fixed by using png or other formats.

[2020-03-25 06:59] tordsae commented on #1516
I did try to deploy 2 versions of the same model by using the console in ai playform. When I used framework version 2.1.0 and runtime version 2.1 it deployed fine, but when I changed to 1.15.0 and 1.15 I got the exact same error.

[2020-03-25 08:29] jiyongjung0 commented on #1516
@tordsae Thank you so much for sharing your experience. I did try to deploy the model with TF 2.1 and it worked! So this could be a possible work-around.

@michal-demecki-profil-software You might be able to deploy your model using GCP console Web UI by copy and pasting the model path (gs://...) and selecting TF 2.1.

But it is not clear yet why we cannot load the model in 1.15 even when we used T

[2020-03-25 14:33] sadeel opened #1539 "Unable to import libcuda.so.1 when using TFX on GPUs"
I am running TFX on KFP. I added a [GPU to my workload](https://www.kubeflow.org/docs/gke/pipelines/enable-gpu-and-tpu/#configure-containerop-to-consume-gpus) by doing the following.

[code]

However, when I run this on Kubeflow, I get the following errors:
2020-03-25 14:19:06.119947: W tensorflow/stream_executor/platform/default/dso_loader.cc:55] Could not load dynamic library 'libcuda.so.1'; dle