[2019-03-04 20:26] lynnlangit opened #5 "Link to the example is broken"
From the Readme.md page - the link to the 'Chicago Taxi...' example returns a 404

[2019-03-05 01:53] VikramTiwari commented on #5
@lynnlangit Coming soon! :)

[2019-03-05 04:38] wjarek2 commented on #5
Thank you for the report. We've updated the file. The example is still sparsely documented but in the meantime please check out the [TFX User Guide](https://github.com/tensorflow/tfx/blob/master/docs/guide/index.md)

[2019-03-06 05:48] wjarek2 commented on #5
added Readme to the example so closing this issue - thank you for the repot!

[2019-03-06 05:48] #5 closed

[2019-03-07 00:19] bugra opened #7 "All of the links under this page https://www.tensorflow.org/tfx/guide/serving/ returns 404"
I just saw the announcement in the Tensorflow Summit; and . looking at the serving models portion in the tfx to understand how serving api fits in the TFX, but all of the links:
https://www.tensorflow.org/tfx/guide/serving/api_rest
https://www.tensorflow.org/tfx/guide/serving/api_docs/cc
https://www.tensorflow.org/tfx/guide/serving/architecture

are returning 404.

[2019-03-07 07:33] wjarek2 commented on #7
ack, sorry about that, an issue due to redirects, we're fixing these. In the meantime you can find serving docs here: https://github.com/tensorflow/serving/tree/master/tensorflow_serving/g3doc

[2019-03-07 15:22] mschonwe commented on #7
FWIW, links also 404 in Chicago Taxi Example, eg:
https://www.tensorflow.org/tfx/data_validation

[2019-03-07 17:16] wjarek2 commented on #7
the Guide has been updated, the URL for the Guide is https://www.tensorflow.org/tfx/guide/serving and the links now work properly.

[2019-03-07 17:19] wjarek2 commented on #7
oops, missed the example links report, I have a CL pending to fix this

[2019-03-07 18:12] wjarek2 opened #8 "Include python version information in the User Guide"

[2019-03-07 18:12] wjarek2 commented on #8
context: https://twitter.com/wjarek/status/1103719781830545408

[2019-03-07 18:16] wjarek2 commented on #7
fixed example paths - https://github.com/tensorflow/tfx/blob/master/examples/chicago_taxi/README.md
please note that the latest end-to-end *pipeline* example w/ Airflow is here: https://github.com/tensorflow/tfx/tree/master/examples/chicago_taxi_pipeline

[2019-03-07 18:16] #7 closed

[2019-03-09 17:16] aaronlelevier opened #9 "Had to update LOCAL_MODEL_DIR location for chicago_taxi_pipeline example"
I was following the [tfx/examples/chicago_taxi_pipeline/README.md](https://github.com/tensorflow/tfx/blob/master/examples/chicago_taxi_pipeline/README.md). Everything worked  pretty flawlessly. I did have to make a change to:

https://github.com/tensorflow/tfx/blob/master/examples/chicago_taxi/start_model_server_local.sh#L31

I changed `LOCAL_MODEL_DIR` to:

[code]

It looks like the code in the `

[2019-03-09 18:18] krazyhaas commented on #9
Hi Aaron.  Thanks for the feedback and glad to hear your experience was almost perfect.  A PR would be much appreciated. If you do, my preference would be to have `start_model_server_local.sh`  accept the `LOCAL_MODEL_DIR` argument instead of copying the script.

-K

[2019-03-11 20:12] MattMorgis opened #11 "[Question] How to prevent running entire pipeline"
Hi TFX team,

Amazing work at TF Dev Summit '19. My team has been all in on setting up a TFX pipeline.

We have gotten the Taxi example up and running on AirFlow successfully. However, when we run it, it runs the entire pipeline all the way through.

It was our understanding that TFX would not re-run tasks if the underline component did not change. For instance, when we hit "Trigger DAG", if the d

[2019-03-11 23:23] 1025KB commented on #9
at the end of  [README.md](https://github.com/tensorflow/tfx/blob/master/examples/chicago_taxi_pipeline/README.md), it has instructions about how to modify the start_model_server_local.sh to fit chicago_taxi_pipeline

[2019-03-11 23:32] aaronlelevier commented on #9
So remove the additional `start_model_server_local.sh` file, leave the readme documentation, and just fixup the path where the model is being saved?

[2019-03-11 23:32] 1025KB commented on #11
The previous execution results will be cached if nothing changed, if you check the runtime of each component, it should be smaller than the first run, cache run skips the executor part within each component.

[2019-03-11 23:37] 1025KB commented on #9
the serving and client examples in chicago_taxi dir works for chicago_taxi_pipeline dir excepts some path changes listed in README.md (the current path setup is for chicago_taxi example instead of chicago_taxi_pipeline example)

[2019-03-11 23:40] krazyhaas commented on #11
Hi Matt.  There are two possibilities.

1. Do you have 'enable_cache=True' set in the PipelineDecorator?  That needs to be enabled in order for the component to reuse artifacts created from prior runs.  Also, caching is not supported with BigQuery.
[code]

2. However, I expect you are experiencing a different issue.  Airflow will dutifully run the components even if the artifacts have been cached.

[2019-03-11 23:45] aaronlelevier commented on #9
Ok, I'm going to update the PR. Thanks

[2019-03-12 00:49] aaronlelevier commented on #9
Okay, I updated the PR #10 so the only changes are updating the path where the model is saved in the readme documentation. The programmer can change the path for `LOCAL_MODEL_DIR` in `start_model_server_local.sh` as it was documented before.

[2019-03-12 14:30] MattMorgis commented on #11
Thank you for that great explanation @krazyhaas!

This is precisely what we were experiencing.

I'm going to close this issue, but we should have a few incoming PRs by the end of the week as we continue to work through it.

[2019-03-12 14:30] #11 closed

[2019-03-12 18:03] 1025KB commented on #9
Thanks Aaron!

[2019-03-12 18:03] #9 closed

[2019-03-13 11:44] PedroGFonseca opened #12 "Chicago example model.py: transformed_feature_spec created but not used"
In [build_estimator](https://github.com/tensorflow/tfx/blob/master/examples/chicago_taxi/trainer/model.py#L45) the variable `transformed_feature_spec` is created but seems never to be used in the function.

[2019-03-13 16:10] PedroGFonseca opened #13 "target not being properly removed in the example"
In this example the label is removed with a pop ([here](https://github.com/tensorflow/tfx/blob/master/examples/chicago_taxi/trainer/model.py#L179)), but unless I'm mistaken it doesn't actually get removed.

Instead of

[code]

Should be
[code]

[2019-03-13 16:12] PedroGFonseca commented on #13
Oh wait, my mistake 😅

Pop actually happens first, amazing
[code]

[2019-03-13 16:12] #13 closed

[2019-03-13 20:37] DanlanChen commented on #8
why you do not support tfx in python 3 version, for pip install , it only accept python 2.7

[2019-03-13 20:39] DanlanChen commented on #8
@googlebot

[2019-03-13 20:46] DanlanChen commented on #8
you should upgrade your example to 3.6 , 2.7 is no longer used in 2020,January

[2019-03-13 20:53] DanlanChen opened #14 "setup environment"
is this a warning or requirment?
[code]
after i do `pip install protobuf==3.7.0rc2`
[code]

which one should I follow...

[2019-03-14 16:27] wjarek2 commented on #8
Hi @DanlanChen   - the code in the repo and dependent libraries do support Python 3 already, but we're doing more testing before releasing the Py3 package on PyPI. Thank you for your patience!
PS> Is this a Marie Skłodowska photo? :)

[2019-03-17 02:37] zendevil opened #15 "After installing all dependencies, when I run airflow initdb, I get ImportError: cannot import name evaluator_pb2"

[2019-03-17 02:39] zendevil commented on #15
Full Error:

`[2019-03-16 22:34:09,690] {__init__.py:51} INFO - Using executor SequentialExecutor
DB: sqlite:////home/Prikshet/airflow/airflow.db
[2019-03-16 22:34:13,182] {db.py:338} INFO - Creating tables
INFO  [alembic.runtime.migration] Context impl SQLiteImpl.
INFO  [alembic.runtime.migration] Will assume non-transactional DDL.
WARNI [airflow.utils.log.logging_mixin.LoggingMixin] cryptography

[2019-03-17 15:45] aaronlelevier opened #16 "Can a standard Python `.gitignore` be added?"
Can a standard Python `.gitignore` be added?

This is the one that I usually start off with:

[https://github.com/github/gitignore/blob/master/Python.gitignore](https://github.com/github/gitignore/blob/master/Python.gitignore)

[2019-03-17 16:41] aaronlelevier commented on #15
Google protobuf is used to generate `tfx.proto.evaluator_pb2`

Try running `python setup.py`. You should get:

[code]

I followed this [blog](https://medium.com/@erika_dike/installing-the-protobuf-compiler-on-a-mac-a0d397af46b8) and installed Google protobuf, now `python setup.py` works.

`airflow initdb` worked for me without installing Google protobuf though. Maybe check if you have the `pip` pa

[2019-03-17 21:25] zendevil commented on #15
Upon doing
`pip install proytobuf==3.7.0`, I get the following message:
`tensorflow-model-analysis 0.12.1 has requirement protobuf==3.7.0rc2, but you'll have protobuf 3.7.0 which is incompatible.
tensorflow-transform 0.12.0 has requirement protobuf==3.7.0rc2, but you'll have protobuf 3.7.0 which is incompatible.`
and then upon running `airflow initdb` I get the following error:

`[2019-03-17 17:20

[2019-03-17 21:32] aaronlelevier commented on #15
I'd try reinstalling. It's hard to say where you went wrong

On Sun, Mar 17, 2019, 2:25 PM zendevil <notifications@github.com> wrote:

[2019-03-18 16:28] krazyhaas commented on #15
+1 to reinstalling.  Another option would be to 'pip freeze' and paste the results into here.  Maybe we can reverse-engineer the issue from the packages you have installed.

[2019-03-18 16:32] zhitaoli commented on #15
Hi @zendevil, you need to install protobuf compiler `protoc` (https://github.com/protocolbuffers/protobuf#protocol-compiler-installation) to generate the corresponding protobuf files. I believe the `protobuf` PyPi package only installs python side libraries, but not the compiler part.

You can quickly test whether protoc is available by running `which protoc`.

cc + @ruoyu90 for the setup issue: w

[2019-03-18 16:55] ruoyu90 commented on #15
+1 to @zhitaoli protobuf compiler is needed as well as the PyPi protobuf package. Maybe we should error out setup if no protoc found, in addition to adding more documentation.

[2019-03-18 21:25] #14 closed

[2019-03-18 21:41] hgadig commented on #15
Please find this [link](https://medium.com/@erika_dike/installing-the-protobuf-compiler-on-a-mac-a0d397af46b8) which has clear steps to install protobuf compiler.

[2019-03-18 22:03] hgadig commented on #16
@aaronlelevier  I think tfx repo is not the right place to post this issue ? Please correct me if I'm wrong.

[2019-03-19 01:04] aaronlelevier commented on #16
Ok, enough said. I'm going to close it. Thanks

[2019-03-19 18:37] zhitaoli commented on #16
Hi @hgadig, can you explain why you think this is not the right place to post the issue? I feel that a well curated .gitignore will help whoever develops code on top of the tfx repo and this seems a proper way to report such improvement.

[2019-03-19 20:06] hgadig commented on #16
Okay. Now I got confirmation from you that this has been asked for tfx. I asked to correct me if I am wrong in my previous comment. Apologies if my words misled the user to close it.

[2019-03-19 20:08] hgadig commented on #16
I asked to correct me if it's wrong. Now I got clarity that this was asked for tfx repo.
Apologies if my previous comments misled the user to close it.

[2019-03-20 18:14] aaronlelevier commented on #16
Just curious, what is `tensorflower`?

[2019-03-20 18:20] wjarek2 commented on #16
re: TensorFlower - I don't have a precise definition but I bet @dynamicwebpaige does :)

[2019-03-20 18:21] wjarek2 commented on #16
another reference from @mrry: https://twitter.com/mrry/status/836286124830044160?lang=en

[2019-03-21 03:59] wjarek2 commented on #8
https://github.com/tensorflow/tfx/commit/b5e238338a775ff0b3f7ad457dda94fd7a4c8576 addressed it, supported environment is now shown in the TFX User Guide: https://www.tensorflow.org/tfx/guide

[2019-03-21 03:59] #8 closed

[2019-03-21 13:44] yupbank opened #18 "Is there any dashboard like visualization project for the ml-metadata ?"
It would be amazing if we have that type of project, would win a lot of heart to on board  ml-metadata!

[2019-03-21 16:36] npoly commented on #18
Can you clarify the type of functionality that you would find useful in this dashboard? Would it help to provide tooling/libraries that provide ml-metadata exploration inside a Jupyter notebook?

[2019-03-22 10:29] nidhidamodaran opened #19 "Tfx samples without gcs."
Is tfx using kubeflow pipeline strictly tied with gcs access?

[2019-03-22 15:25] Efaq opened #20 "How to set the size of train-eval split with CsvExampleGen?"
I have been working with a very simple pipeline which loads the iris dataset and generates some statistics about it. But when I run the pipeline, even without specifying a train-eval split anywhere, the folders eval and train are being created under the CsvExampleGen pipeline folder, with tfrecords inside of it, and an apparently predefined split is being applied (namely around 100 training exampl

[2019-03-22 15:34] neuromage commented on #19
Hi @nidhidamodaran,

No, it's not tied to GCS access at all. Kubeflow Pipelines itself is designed to be run on-premise as well as on GKE, so you shouldn't feel the need to use GCP at all. The example TFX chicago taxi pipeline on kubeflow does use GCP services, including GCS for storage, Dataflow for Beam jobs and Cloud ML Engine for training at scale. You can however easily remove these dependenc

[2019-03-22 16:35] zhitaoli opened #21 "Support split config across the pipeline platform"
We need to support specifying a list of splits in various example_gen implementations and corresponding distribution, and make sure all components can select which splits they process.

[2019-03-22 16:37] zhitaoli commented on #20
The current version of TFX pipeline uses two default splits 'train' and 'eval' across all components. There is a feature request #21 to support custom splits and distributions.

Can you let us know your use case further? Do you want to complete opt out of split?

[2019-03-22 16:41] Efaq commented on #20
I think my case is simpler than that: I want to set the value of the split - it may be the same across the whole pipeline - and I just couldn't find how to do it.

So it is OK for me that the default splits are there (train and eval), I just want to set the value of it (say 0.9 - 0.1)

Otherwise, request #21 does seem interesting!

[2019-03-22 17:21] 1025KB commented on #20
Hi, Currently we don't support custom split ratio, but it on our radar, we just need to figure out a generic way of doing it. For now the ratio is fixed 2:1 train:eval, which is defined in the _partition_fn in example_gen component

[2019-03-22 17:26] 1025KB commented on #20
To be more specific, in long term, we will support pre-split input, custom ratio and probably also custom split function

[2019-03-22 20:18] #15 closed

[2019-03-22 21:54] krazyhaas commented on #20
If you're comfortable modifying your version of TFX, you can change the example_gen executor directly.  This will cause all of your pipelines to use the same ratio so buyer beware!  It's not a great experience and we're working to elevate this parameter into the pipeline, but to unblock you in case you really really want to change the ratio to be 9:1 train:eval, make the following change:
_(if you

[2019-03-23 16:53] nidhidamodaran commented on #19
Hi  @neuromage thanks for the reply.

I was trying out chicage taxi sample to get hands-on with tfx.
Below is the sample i tried:

@PipelineDecorator(
    pipeline_name='chicago_taxi_simple',
    log_root='/var/tmp/tfx/logs',
    enable_cache=True,
    additional_pipeline_args={'logger_args': logger_overrides},
    pipeline_root=_pipeline_root)

def _create_pipeline():
    examples = csv_input(_da

[2019-03-23 17:11] neuromage commented on #19
Are you running this in a Kubeflow cluster in GCP? It looks like that's not the case. The error indicates that it was unable to mount the GCP credentials.

I think this brings up an important issue though. We should allow non-gcp usage of the components, and so mounting of GCP credentials should be user-configurable. I'll work on fixing this. In the meantime, if you're truly running on-prem, you c

[2019-03-23 17:16] nidhidamodaran commented on #19
yes @neuromage  I will try that. Thanks.

[2019-03-23 17:19] nidhidamodaran commented on #19
Also, is there any option of using custom image for different pipeline stages in tfx?

[2019-03-25 09:22] Efaq commented on #20
Hi, thank you @1025KB for the explanation and @krazyhaas for the quick fix. I will probably use this workaround until the configuration is possible.

Should I keep this open as it is a feature request?

[2019-03-25 17:51] 1025KB commented on #20
sounds good, thank you!

[2019-03-26 17:07] neuromage commented on #19
Right now, this isn't possible without some work. You'd probably need to write the pipeline using Kubeflow PIpelines SDK instead, which would let you insert custom images/steps into your pipeline. However, this isn't straightforward, as you need to figure out how to pass around the metadata artifacts and use it in your custom step. I am planning to enable this use-case soon though, and will docume

[2019-03-28 09:41] ianhellstrom opened #22 "Improve TFMA guide"
The [TFMA guide](https://github.com/tensorflow/tfx/blob/096457e47bce8fd69566c66538dd56d11fd69c65/examples/chicago_taxi/chicago_taxi_tfma_local_playground.ipynb) shows what charts are available inside a Jupyter notebook, but no such notebook exists in the TFX repository, although there is one for TFDV.

On my own local machine I have done the following to connect to the MLMD:

[code]

I started Jup

[2019-03-28 17:17] pfyang commented on #22
Hi,

The TFMA notebook has been moved under [TFX's examples folder](https://github.com/tensorflow/tfx/tree/master/examples/chicago_taxi) and the notebook can be found [here](https://github.com/tensorflow/tfx/blob/master/examples/chicago_taxi/chicago_taxi_tfma_local_playground.ipynb).

We will update the TFMA guide to point to the new location.

With respect to visualization not rendering, could yo

[2019-03-28 23:44] aaronlelevier opened #23 "base_component.BaseComponent.__str__ method raising KeyError"
I got a `KeyError` when calling this method: `base_component.BaseComponent.__str__`

Here is the code to reproduce:

[code]

The error trace is:

[code]

I looked at the method, it needs use double `{{` and `}}` so change from:

[code]

To:

[code]

[2019-03-29 10:11] ianhellstrom commented on #22
Thanks!

The main problem was that I was missing the TFMA `jupyter nbextension` commands. I did not see these in the TFX repo and therefore did not think to look further and in 'tensorflow/model-analysis' for details.

It might be a good idea to have these included in the TFX installation instructions.

[2019-03-29 13:45] aaronlelevier opened #24 "Document how to run the test suite"
Can it be documented how to run the test suite?

I tried running the tests. I wanted two write a simple test for a code change for #23 to the `__str__` method, but trying to run the test suite as is didn't initially work, so I think I'm doing something wrong.  Here's the commands I tried:

[code]

[2019-04-01 17:49] ruoyu90 commented on #23
Thanks for the finding and the fix! I approved the PR and it will be merged soon.

[2019-04-01 17:49] #23 closed

[2019-04-01 18:07] ruoyu90 commented on #24
To test against the change, you will need to install from source and then test.
`rm -rf ./dist; python setup.py bdist_wheel`

[2019-04-01 19:48] aaronlelevier commented on #23
Thank you. Sounds good.

On Mon, Apr 1, 2019, 10:49 AM ruoyu90 <notifications@github.com> wrote:

[2019-04-03 08:54] ianhellstrom opened #26 "Access TFX logger in module file"
Is it possible to (re-)use the [TFX logger from the pipeline](https://github.com/tensorflow/tfx/blob/master/examples/chicago_taxi_pipeline/taxi_pipeline_simple.py#L77) in the [module file](https://github.com/tensorflow/tfx/blob/master/examples/chicago_taxi_pipeline/taxi_utils.py)?

I have adapted the taxi example for my own use case but I am using `print` to get additional entries for debugging. I

[2019-04-03 15:14] Efaq opened #28 "Improvement: allow many files when using csv_input from tfx.utils.dsl_utils"
When creating a pipeline to load data from csv, the function tfx.utils.dsl_utils.csv_input(uri) is used. Both from the documentation and from own tests, I noticed that it is not possible to have multiple csv files inside the folder.

I think it is a good feature to be able to have an arbitrary number of csv files inside the folder, and the reader function could put the data together. Some check to

[2019-04-03 17:58] ruoyu90 commented on #26
If you want to log in the [module file](https://github.com/tensorflow/tfx/blob/master/examples/chicago_taxi_pipeline/taxi_utils.py), `tf.logging` should be a good choice.
If you want to log in the `@PipelineDecorator`, currently [TFX logger](https://github.com/tensorflow/tfx/blob/master/tfx/utils/logging_utils.py#L97) is not available to use there. You can use `tf.logging` or Python's `logging` mo

[2019-04-04 06:25] zhitaoli commented on #24
https://github.com/tensorflow/tfx/commit/66b80774eaa68157fdf3c4aa3cd71cc04e16eb93 added documentation about how to run all unit tests under tfx.

[2019-04-04 06:25] #24 closed

[2019-04-04 06:48] ianhellstrom commented on #26
Yes, that works fine. Thanks!

[2019-04-04 06:48] #26 closed

[2019-04-04 12:40] aaronlelevier commented on #24
Thank you. This is exactly what I was looking for and it wasn't sure how to do it. Thanks!

[2019-04-05 13:27] MattMorgis commented on #18
Yes, that would be great! We are still working with the examples right now, but have been diving in the the actual sqlite database, but this has been more exploratory. As we continue to move from the examples to our own pipelines I can update with more details about what we'd like to see exposed in some fashion.

[2019-04-05 13:54] MattMorgis commented on #19
I'd love to add that to the docs or maybe even the `README.md` on the tfx examples in the Kubeflow Pipelines repo.

We had found [this PR](https://github.com/kubeflow/pipelines/pull/884) and was wondering if it was possible already possible to pass these artifacts around, if that was encouraged, or if to use the metadata store the pipeline could *only* be constructed of tfx components. Your commen

[2019-04-05 16:25] neuromage commented on #19
Thanks @MattMorgis. Yeah, right now, we record those artifacts and TFX components know how to pass them around in a Kubeflow pipeline, but we haven't made this easily accessible by custom components just yet. I am planning on enabling this over the next few weeks. I'll update this thread with more info then.

[2019-04-06 14:51] aaronlelevier commented on #21
Not sure if here or #20 is better to start the conversation.

From reading the code, it seems like the _split_ information would be needed by `CsvExampleGen.checkcache` because the data may exist but if a new _split_ is being specified, then you'd want to cache bust and run `CsvExampleGen.exec` to avoid re-using an old split with the wrong split percentage

[2019-04-06 14:55] aaronlelevier opened #33 "setup.py creates some generated files that aren't gitignore'd"
Here in `setup.py`:

https://github.com/tensorflow/tfx/blob/master/setup.py#L66-L67

some generated files are being created, but they're not gitignored. I tested it out, and they could be gitignored by:

[code]

Should they be gitignored then?

[2019-04-06 15:19] ryansmith23 opened #34 "Update README links after moving examples"
After moving the location of the examples in the latest commit https://github.com/tensorflow/tfx/commit/7f5df9f2cfb2a41a41dc2f9bc0058f23b82794e4 the link in the README is incorrect.

[2019-04-07 13:58] orechick opened #35 "tfx support for python 3"
Hi
is there an estimation when tfx will be based on python 3 (and not as today - python 2)?

[2019-04-08 14:41] MattMorgis commented on #35
Hi @orechick - We've been compiling/installing from source, and it works on Python 3. There is a [commit](https://github.com/tensorflow/tfx/commit/ae8fbe84e876ad275d9781ab26e391b1bda9cafc#diff-2eeaed663bd0d25b7e608891384b7298) that enables it in `setup.py`. I think it's going to be supported and offered in the next version, `0.13.0`

You'll need `protoc` installed where you do this, and then I bel

[2019-04-08 16:04] zhitaoli commented on #21
There are several levels for custom config:

1) Supporting a different train/eval ratio (which is #20 talking about): I think this should be mostly local to example_gen classes and should be easier to implement;
2) Supporting different split names from hard-coded train/eval: this is what #21 is talking about and would affect all components dealing with examples.

We hope to publish a RFC/design do

[2019-04-08 16:09] ruoyu90 commented on #35
Thanks @MattMorgis for the detailed introduction!
Hi @orechick - tfx package is now Python3 compatible, however we decide to postpone releasing Python3 version on PyPi since there are some bugs to be fixed in our dependency libraries. The good news is we're very close and hope to release 0.13 (including a Python3 version) soon. In the meantime, you can try it out by installing from source. Please

[2019-04-08 22:59] 1025KB commented on #28
Thanks for the suggestion! we are working on it.

Other than supporting multiple files in the directory, we are also working on supporting new data span and data version which seems fit to your use case

[2019-04-08 23:01] #16 closed

[2019-04-09 00:17] 1025KB commented on #22
Hi,

Here is the [TFX Guide](https://www.tensorflow.org/tfx/guide),

And for the taxi example, here is the [instructions](https://github.com/tensorflow/tfx/blob/096457e47bce8fd69566c66538dd56d11fd69c65/examples/chicago_taxi/README.md)

Let me know if you run into any issues, thanks!

[2019-04-09 00:20] #33 closed

[2019-04-09 08:26] Efaq commented on #28
It sounds really great, thank you!

[2019-04-09 17:09] MattMorgis commented on #19
We made some progress running this on AWS with Kubeflow, but we just hit one snag that is going to take a bit to overcome:

[code]

It's interesting because it is successfully connecting to S3 to read the filename, `data.csv`. We simply specify the bucket.

However, I think the error that is raised is related to Apache Beams' Python SDK not having an S3 FileSystem: https://issues.apache.org/jira/b

[2019-04-09 17:40] 1025KB commented on #28
I will keep this open as a feature request, Thanks!

[2019-04-10 07:07] ianhellstrom commented on #34
Can be closed

[2019-04-10 07:23] ianhellstrom opened #37 "Add visualizations for custom pipelines in Kubeflow on GKE"
The example pipeline in Kubeflow in GCP has artifacts (static HTML) that show the various outputs in visual form (e.g. with TFDV and TFMA). I have created my own pipeline by adapting the TFX kubeflow Python module file, but when running it in Kubeflow (on GCP) I see output paths that lead to the data, but no artifacts being generated.

I have been unable to find [output viewers](https://www.kubefl

[2019-04-10 07:28] ianhellstrom opened #38 "Add example with hyperparameters for Kubeflow"
It would be great if there would be an example on how to run TFX pipelines in Kubeflow with hyperparameters. Right now all the parameters are hard-coded, but having these exposed in the Kubeflow Pipelines UI (with defaults) would help with setting up a professional ML pipeline.

It's not entirely clear how to do this, so that `@PipelineDecorator` can pick these up. I presume they need to live in `

[2019-04-10 13:36] #34 closed

[2019-04-11 16:41] neuromage commented on #38
Hi @ianhellstrom

Am I correct in assuming that what you want is not hyperparameters, but that input parameters to a pipeline should be exposed in the Pipelines UI? If so, I definitely agree, and it's on my plate of things to do. Let's keep this as a feature request to track the work.

[2019-04-11 16:42] neuromage commented on #37
Thanks for bring this up. It's actually been asked for by users several times, and it's on my todo list. I should have something to show for this some time over the next few weeks.

[2019-04-11 16:42] neuromage commented on #37
Thanks for bring this up. It's actually been asked for by users several times, and it's on my todo list. I should have something to show for this some time over the next few weeks.

[2019-04-12 17:18] #22 closed

[2019-04-12 19:21] josekidengan opened #40 "Example to send beam jobs to cloud dataflow and training on Cloud ML Engine"
Example shows the bare metal running of ml pipeline using airflow/kubeflow.
However there is no information regarding how to launch the beam jobs to cloud data-flow  and training on ML engine to scale. Also how to serve model on google Cloud ML Engine.

[2019-04-12 19:56] 1025KB commented on #40
Hi, Jose, we are working on an example of data-flow and CLME, it will be released in Q2

[2019-04-12 20:31] ruoyu90 commented on #12
Thanks for bringing up this! This is fixed now :)

[2019-04-12 20:31] #12 closed

[2019-04-16 06:11] orechick commented on #35
when does 0.13 will be released?

[2019-04-16 14:05] Malonl opened #41 "Transforming date values"
Hi.

I have a use case where I want to use date features as input values for a predictive model. I need to transform the date features to be useful.
For example, I need to know the difference between two dates (for example, just the difference in days between 01-04-2019 and 16-04-2019, but the dates can also be months or years apart).
Or just getting the day of the month, the month itself or the y

[2019-04-16 14:22] Efaq commented on #41
Same issue here!

[2019-04-16 15:52] zhitaoli commented on #35
We are waiting for Apache beam 0.12.0 release since there is some python3
bug fixes in that version. Once that is release we will release 0.13.0 asap.

On Mon, Apr 15, 2019 at 11:11 PM orechick <notifications@github.com> wrote:

--
Cheers,

Zhitao Li

[2019-04-16 18:12] ruoyu90 commented on #41
IIUC this is about converting 1 column into several features. You can use the transform component to do this by putting your logic into preprocessing_fn like our chicago taxi [example](https://github.com/tensorflow/tfx/blob/master/tfx/examples/chicago_taxi_pipeline/taxi_utils.py#L110).

[2019-04-16 21:07] hgadig commented on #41
For more information on using preprocessing_fn with an example using TFT, please check [this.](https://www.tensorflow.org/tfx/transform/get_started)

[2019-04-16 23:22] krazyhaas commented on #35
minor correction: we are awaiting Apache beam 2.12.0 to be released.

[2019-04-16 23:26] krazyhaas commented on #19
That's correct.  Until beam's python SDK supports S3, we can't run most of the TFX libraries on S3.  We have a similar challenge with Azure Blob Storage.

[2019-04-17 00:35] MattMorgis commented on #19
I've been working on it. I'm about 50% complete and working with the Beam project/team to get it merged.

According to [the ticket](https://issues.apache.org/jira/browse/BEAM-2572) there is a Google Summer of Code student who may do the Azure Blob Storage file system as well.

[2019-04-17 07:06] Efaq commented on #41
@ruoyu90 I think the issue goes through graph operations with dates, more than just converting one column into three. So:
- task: given two date columns, generate a new column with the difference between them in days.
- if we could use some python library (datetime for example), it would be trivial. Without the library, we would need to implement the knowledge about the calender (number of days in

[2019-04-17 09:32] loiccordone opened #43 "Components not cached in Airflow?"
Hello,

I'm running a TFX pipeline in Airflow, with a Transform component. Each time I trigger my DAG, the CsvExampleGen, StatisticsGen, SchemaGen and ExampleValidator all use their cached outputs since no changes occured, each one takes ~20s on my machine. On the other hand, the Transform component re-compute its outputs at each time (taking ~10min) even though nothing changed.
My preprocessing_f

[2019-04-17 11:38] ianhellstrom commented on #38
Pipeline parameters, yes. Hyperparameters, maybe. What is the suggested approach for hyperparameters if not through the UI?

[2019-04-17 11:51] ianhellstrom opened #44 "How to send proper requests to TensorFlow Serving"
The TensorFlow Serving documentation does not really cover a lot of realistic (i.e. non-MNIST or trivial) cases. The [sample script](https://github.com/tensorflow/tfx/blob/master/tfx/examples/chicago_taxi/chicago_taxi_client.py) for the Taxi example shows how to properly serialize the examples from CSV for requests to the server, but it requires a Python script in the middle that grabs the schema

[2019-04-17 12:15] loiccordone opened #45 "Can't set num_steps to None in Trainer component"
Hello,

In my Airflow pipeline, I can't set num_steps in TrainArgs to None. According to the doc of TrainSpec, max_steps can be set to None (useful for training exactly one epoch)

`trainer = Trainer(module_file=_module_file,  transformed_examples=transform.outputs.transformed_examples, schema=infer_schema.outputs.output, transform_output=transform.outputs.transform_output, train_args=trainer_pb2.

[2019-04-17 16:26] krazyhaas commented on #43
That is definitely not the behavior expected.  Transform should also caching the result if the inputs haven't changed, and evaluator should not be using the cached results if the trainer outputs have changed.  I'll try to recreate this here in the lab.

[2019-04-17 17:19] hgadig commented on #44
You can try with grpc and a client where you can use PredictRequest() using a client.py script. Create a tensor proto and add it to the inputs map of the PredictRequest.
Please take a look at the Sending a request session [here ](https://medium.com/epigramai/tensorflow-serving-101-pt-2-682eaf7469e7)for more information.

[2019-04-17 17:35] 1025KB commented on #44
Here is the [serving instruction](https://github.com/tensorflow/tfx/tree/master/tfx/examples/chicago_taxi_pipeline#serve-the-tensorflow-model) for taxi pipeline example

[2019-04-17 17:45] MattMorgis commented on #19
That is a very good point @zhitaoli. We realized Tensorflow itself had S3 support, and it was able to find the CSV file in the bucket we were pointing to, however we then ran into the Beam unsupported S3 file system error.

I didn't realize Azure Blob Storage wasn't supported in Tensorflow itself either, in addition to Beam. I'll mention that in the ticket.

[2019-04-17 19:00] krazyhaas commented on #45
That's a bug.  I'll work on a fix (second in my queue).

[2019-04-17 19:02] wjarek2 commented on #44
Does using the Saved Model CLI [1] and the TensorFlow Serving documentation [2] help or is that not sufficient?

[1] https://www.tensorflow.org/guide/saved_model#cli_to_inspect_and_execute_savedmodel
[2] https://www.tensorflow.org/tfx/serving/api_rest

[2019-04-17 21:50] krazyhaas commented on #43
I wasn't able to recreate this.  I used the simple pipeline and ran it a few times.  Except for the first run or whenever I deleted the metadata db, it would always use the cached artifacts.  I also didn't experience difference between caching with transform and evaluator.  So, a few followup questions:
- are you working with TFX from 0.12.0 or cloned from github?
- what is the behavior when you r

[2019-04-17 22:01] 1025KB commented on #43
One thing to mention, if taxi_utils.py is changed, cache won't hit for transform and trainer

For evaluator, it takes example gen output and trainer output, if those are changed, it shouldn't hit cache, could you check the pipeline output folder to see if there are new output (new # subfolder under example_gen and trainer) generated from examplegen or trainer?

[2019-04-18 10:07] mwalenia opened #47 "ImportError: No module named tfx.examples.chicago_taxi.trainer on Dataflow"
I'm trying to run the Chicago Taxi Example on Google Dataflow and I ran into a problem with imports. After setting `PYTHONPATH` env in order to make the python files run on my environment, the pipelines fail with

[code]

I don't know how to remedy this - is it possible to set an environmental variable in a Dataflow pipeline?

[2019-04-18 10:32] loiccordone commented on #43
I'm working with TFX 0.12.0. No problem when I run the example. I'll try to modify the Trainer in the example to see if the Evaluator uses its cached results or no.

Thanks, that's exactly what's happening, I've been modifying my model in the utils.py file. I separated the transformation and the model in 2 files + 1 utils file and now it works. Even though I had to add "sys.path.append(path_to_uti

[2019-04-18 18:12] krazyhaas commented on #43
Ok, that sounds like the issue then.  If anything about the component's input changes -- including the injected file's checksum -- then the component is rerun.  If you're modifying the utils.py file and then running the pipeline, it will trigger a new execution of both transform and trainer.

Evaluator should trigger a new execution given the Trainer is probably producing a new model on each itera

[2019-04-18 20:15] krazyhaas commented on #45
Hi Loic -- what are you using as the stop condition for your estimator?  I'm curious how a "runs forever" Trainer configuration behaves in airflow/kubeflow.  If you're raising an error after _n_ passes through the data, the error should abort the remainder of the pipeline execution as well.

[2019-04-18 20:36] loiccordone commented on #45
Well I'm not raising an error, I'm simply defining the num_epoch in my inputs with the Estimator API (I can add precisions tomorrow), and the training stops exactly after num_epoch epochs.

[2019-04-19 01:49] krazyhaas commented on #45
To confirm, your TrainSpec looks something like
[code]
?

[2019-04-19 05:54] loiccordone commented on #45
Yes that's it

[2019-04-19 07:50] loiccordone commented on #43
Yes it's clearer now, thanks for this clarification.

The log is attached. There is indeed some weird lines in the log (lines 64-65), but I still can get the results in a Jupyter notebook and display them.
[1.log](https://github.com/tensorflow/tfx/files/3097421/1.log)

[2019-04-21 23:11] chanshah commented on #41
@tensorflow/transform-team please take a look.

[2019-04-22 14:47] KesterTong commented on #41
Everything @Efaq Says above is correct: this should be done with Transform and must be done with TensorFlow ops (not py_func) so that it can be done in serving.

Please file an issue in the tensorflow/transform repo, and we can further discuss the exact functionality required.

[2019-04-22 22:07] 1025KB commented on #43
Hi, is that possible to send us the entire pipeline log folder in a zip file? we need to check the caching logs and executor logs in each run

[2019-04-23 07:59] Malonl commented on #41
Thanks for all of your replies. I will post an issue in the transform repo.

[2019-04-23 08:25] loiccordone commented on #43
The logs are attached.
The Evaluator checkcache log detect a new Trainer output folder at each run but says the artifacts are the same.
Thanks for the help!
[logs.zip](https://github.com/tensorflow/tfx/files/3106541/logs.zip)

[2019-04-23 16:50] wjarek2 opened #51 "Consider adding Docker-based TFX workshop tutorial"
context: https://twitter.com/uncontainer/status/1119979796224561153

[2019-04-23 17:33] krazyhaas commented on #47
Quick update: I've been able to recreate the problem but haven't yet found the fix.

[2019-04-23 21:07] ruoyu90 commented on #43
Thanks @loiccordone ! This helps to detect a bug in our codebase. I will have a PR soon to address this.

[2019-04-24 17:47] DimitrijeManic opened #54 "Airflow BigQueryExampleGen example"
Hi there,

After going through the workshop tutorial, I am attempting to build my own pipeline ingesting from BigQuery rather than a CSV.

The only example using BigQuery is `taxi_pipeline_kubeflow.py` which assumes execution on GCP.

Is it possible to use the same pipeline as the tutorial where Airflow & AirflowScheduler are running locally but pull data from BigQuery?

How does GCP authenticatio

[2019-04-24 18:03] 1025KB commented on #54
**Is it possible to use the same pipeline as the tutorial where Airflow & AirflowScheduler are running locally but pull data from BigQuery?**

Yes

**How does GCP authentication work in this scenario?**

It works pretty much the same as kubeflow example, you need to have GOOGLE_APPLICATION_CREDENTIALS setup in your env(in airflow scheduler and webserver console), and set '--project=xxx' in your be

[2019-04-24 19:04] DimitrijeManic commented on #54
Got it to work, thanks!

[2019-04-24 19:04] #54 closed

[2019-04-25 03:46] krazyhaas commented on #47
Thanks for the PR!  I’ll check it out tomorrow.

[2019-04-25 11:22] j3soon opened #57 "Workshop tutorial bug: unexpected keyword argument 'components'"
The commit 7541df5 seems to break the [TFX Developer Tutorial](https://www.tensorflow.org/tfx/tutorials/tfx/workshop) in step 2, when executing:

[code]

It outputs the error message:

[code]

My partner following the tutorial last week and it works perfectly. However, when I'm trying to follow the tutorial again on the same machine yesterday, the error occurs.

After replacing the file `/home/j3s

[2019-04-25 14:43] DimitrijeManic opened #58 "Consider adding "connector" components"
It would be beneficial to have core connector components which connect to sources such as BigQuery, CSV, Kafka, S3 ...etc without doing any additional logic and returning either a dict or PCollection.

Reasoning for this is that data sources are not perfect and some transformations may be required prior to `example_gen`. eg, `BigQueryExampleGen` fails if the table contains a `TIMESTAMP` field.

Do

[2019-04-25 15:07] 1025KB commented on #58
tf example fields need to be either integer, float or string
For timestamp in BigQuery, just do "UNIX_SECONDS(trip_start_timestamp) AS trip_start_timestamp," in the query, then return result will be integer

[2019-04-25 15:48] DimitrijeManic commented on #58
Thank you for tip! What are your thoughts on adding connector components?

There are use cases where writing a custom component for transformations would be easier than a SQL query. eg. windowing data and applying some sort of transformations.

what I had envisioned would be using a tfx component to fetch data and a custom component to do the required transformations. Similar to Apache Flinks supp

[2019-04-25 16:05] 1025KB commented on #58
We are still trying to figure out our custom component story, but for now for your need, you can consider writing a custom preprocessor component following the examples under components/, then add that component before example gen in your xxx_pipeline.py file

[2019-04-25 19:40] DanlanChen opened #59 "could i use pytorch model code on tfx"
could i use pytorch model code on tfx

[2019-04-25 20:37] krazyhaas commented on #59
Not very easily, but you're welcome to try and we'll help out where we can.  One of the challenges will be that TFX the intermediate data as TFRecords.  I'm not a pytorch expert but I think you'd need to first convert the TFRecords into torch.Tensors before the pytorch dataloader could consume the output of the upstream components.

[2019-04-26 00:12] gowtham-kp commented on #57
Thanks for reporting this. I tried at my end and found the same error with the latest tutorial version. We will look into it.

[2019-04-26 00:46] ruoyu90 commented on #57
This error is caused by [this](https://github.com/tensorflow/tfx/commit/7541df5f3e4dd9b2237b3105b0784f640249efc4) commit which added an extra argument in the `__init__()` function in `Pipeline`. However, the tutorial still pins to our first release version which is not compatible. We will have a PR to fix this soon.

[2019-04-26 01:04] #57 closed

[2019-04-26 01:22] #43 closed

[2019-04-26 17:24] #45 closed

[2019-04-26 17:26] ruoyu90 commented on #35
TFX [0.13.0rc0](https://pypi.org/project/tfx/0.13.0rc0/) is alive now. Feel free to try it out and let us know for anything :)

[2019-04-26 20:55] #41 closed

[2019-04-29 05:59] thak123 commented on #35
Apache beam 2.12.0 is out
https://github.com/apache/beam/releases

[2019-04-29 09:57] Mageswaran1989 commented on #35
## Error
[code]

While following the [workshop setup](https://www.tensorflow.org/tfx/tutorials/tfx/workshop#step_1_setup_your_environment) on Python 3.7.1 env, Airflow installation is having problem and solution is `pip uninstall enum34` . [Reference](https://stackoverflow.com/questions/43124775/why-python-3-6-1-throws-attributeerror-module-enum-has-no-attribute-intflag)

[2019-04-29 17:15] ruoyu90 commented on #35
@thak123 Yep! We pushed [0.13.0rc0](https://pypi.org/project/tfx/0.13.0rc0/) last week which includes Python 3 support (3.5). Feel free to try it out :)

@Mageswaran1989 Currently we only have fully support for Python 3.5 with 0.13.0rc0. Btw, are you having problems on Mac?

[2019-04-30 04:57] #47 closed

[2019-04-30 07:54] Mageswaran1989 commented on #35
@ruoyu90 I use Ubuntu 18 and this particular issue comes while installing Airflow package, which I had faced in the past also.

[2019-04-30 13:49] R4dlk opened #74 "Adding support for parquet files for exampleGen"
Hi,
Currently the pipeline supports only inputs from CSV and BigQuery.
Is there a chance to add support for parquet files as well?
Perhaps even adding a tutorial on how to generate a custom exampleGen (component, driver, executor).
Thanks!

[2019-04-30 14:43] KamalAman commented on #74
There is a PR opened with Paraquet support, https://github.com/tensorflow/tfx/pull/49
However, it will probably have to wait for `some internal refactoring about example gen`

[2019-04-30 15:52] zhitaoli commented on #51
While I liked this idea and have mentioned it from times to times, we need to determine how much we will keep a docker based tutorial similar to the [step by step workshop ](https://www.tensorflow.org/tfx/tutorials/tfx/workshop). Specifically, if we want to preserve the step oriented progression, how will the workflow looks like for the user?

@rcrowe-google

[2019-04-30 15:56] zhitaoli commented on #51
Also to think about how the development flow will look like if user started the tutorial w/ a simplified docker based tutorial, but decided to proceed to use TFX to solve their own problem (on their own data and code). We want to make sure that the tutorial serves as a step stone towards that.

[2019-04-30 15:57] ruoyu90 commented on #35
@Mageswaran1989 Maybe try a different Python version? Python 3.5 works for me well on Linux. If problem still persists, maybe forward this to Airflow community for better assistant?

[2019-05-01 02:00] JerryKurata opened #76 "no module named 'tfx.executors'"
Attempting to run tfx==0.13rc1 on Ubuntu 18.04

Install threw this error:
pip install tfx==0.13rc1
c-google-iam-v1 googleapis-common-protos backcall tornado prometheus-client pandocfilters pyrsistent
ERROR: apache-beam 2.12.0 has requirement httplib2<=0.11.3,>=0.8, but you'll have httplib2 0.12.3 which is incompatible.

Continuing on Airflow ran into:
Initializing Airflow database
/home/jerry/tfx-

[2019-05-01 15:46] ruoyu90 commented on #76
@JerryKurata What example are you running? We actually don't have the import mentioned in the error message `from tfx.executors.trainer import TrainingSpec`. Can you point us to a codepiece?

[2019-05-01 20:12] geugon opened #77 "Tutorial missing step: airflow initdb"
Never used airflow before, but it appears you need to run:

airflow initdb

before you make the webserver for it to operate correctly.  This command was not listed in the tutorial instructions, please update.

Failure to do so gives an error about None not having at method to create dags, because a get_dag() somewhere in the airflow code returns None.

[2019-05-01 20:31] JerryKurata commented on #76
Sure.  I am a GDE and am executing the workshop tutorial, https://www.tensorflow.org/tfx/tutorials/tfx/workshop using tfx 0.13.rc1 and Python 3.5

[2019-05-01 20:36] 1025KB commented on #77
Hi, Geugon, which tutorial you are checking? I checked [this](https://github.com/tensorflow/tfx/tree/master/tfx/examples/chicago_taxi_pipeline) which contains the airflow initdb

if you are talking about [workshop](https://github.com/tensorflow/tfx/blob/master/docs/tutorials/tfx/workshop.md) , the airflow initdb is within [setup_demo.sh](https://github.com/tensorflow/tfx/blob/master/tfx/examples/w

[2019-05-01 20:50] geugon commented on #77
I was referring to the workshop, and I see you are correct about the airflow initdb being in the setup_demo.sh.

I was getting the error I mentioned above, and I thought adding airflow initdb was what fixed it.  Now I am unsure what the underlying issue was or how it resolved itself....  Regardless, I will close this issue.  Thanks!

[2019-05-01 20:50] #77 closed

[2019-05-01 21:31] ruoyu90 commented on #76
@JerryKurata I checked the tutorial examples and there is no code referring to `tfx.executors.trainer import TrainingSpec`. Looking at your filepath, it seems to be some developing version even before 0.12 release. Can you clean up your machine, especially ~/airflow folder and do the setup again from beginning?

[2019-05-01 21:39] JerryKurata commented on #76
Thanks for looking at this I cleaned before installing, but will try again.

[2019-05-01 21:40] JerryKurata commented on #76
Going to close this for now and will re-open when I can trace it down further.

[2019-05-01 21:40] #76 closed

[2019-05-02 06:47] Mageswaran1989 commented on #35
@ruoyu90 it is just that we are using python 3.7.1 version, and we are currently understanding the example :)

We are working on Image data set and was wondering is there any examples/materials that could help us to start with?

[2019-05-02 10:07] Mageswaran1989 opened #80 "Addding Support for Image Dataset"
Hi,
We are looking for an pipeline example around Mnist or Cifar10 or Coco data sets.
If you could guide us on how to implement one also will do, we would be happy to support.

Thanks.

@thak123 FYI

[2019-05-02 11:24] Mageswaran1989 commented on #80
TFRecords + TFDV @ https://github.com/aaronlelevier/apache_beam_examples/blob/3afa0e411676c22734e7a2189602eda611938597/notebooks/MNIST-all-data-and-partition-fn.ipynb

[2019-05-02 17:50] 1025KB commented on #80
Hi,

We are creating a import example gen for directly import external tfrecord files (with tf example in it) and create train and eval split for downstream component

a custom component is also doable, we are working on creating an example for people to follow

[2019-05-04 15:28] JerryKurata opened #87 "TFX tutorial 0.13rc1 - jupyter notebook cannot connect to kernel"
Environment:
Ubuntu 18.0.4
TFX tutorial
TFX 0.13rc1
Python 3.5
tfx-env virtual environment

When attempting to execute jupyter notebook as part of the tutorial, all notebooks are unable to connect the kernel and therefore cannot be run.   The problem is unique to the tfx-env.  Jupyter Notebooks outside the environment work fine.

This is a known issues with jupyter and tornado 6.0.x (see  https://

[2019-05-04 20:34] richardwu opened #88 "Airflow timeout error in chicago_taxi_pipeline example"
I followed the steps for installing and running the [chicago taxi example](https://github.com/tensorflow/tfx/tree/master/tfx/examples/chicago_taxi_pipeline) and I seem to be getting this timeout error when initializing the DAG in airflow:
[code]

This is my anaconda environment:
[code]

[2019-05-04 21:46] richardwu commented on #88
Seems like the default airflow timeout threshold was set too low: might be a good idea to add to the README that `dagbag_import_timeout` should be bumped to something higher e.g. `100` in `airflow.cfg`.

[2019-05-05 09:09] danielbraun89 opened #89 "Publisher nonexistant?"
The tfx guide explains every component composed of driver, executer and a publisher.
however, looking at the code I can find evidence to the executers and drivers but not the publishers.
Is there an example of an implemented publisher? if not how do the components are saving their artifacts to the mlmd in the current examples?

[2019-05-05 17:00] 1025KB commented on #88
Just curious, does it happen everytime without dagbag_import_timeout change?

[2019-05-05 17:02] richardwu commented on #88
It did for me: the default configuration spawns 4 webserver workers and it seems that all of them each individually attempt to load the dagbag. At least one of them would experience a timeout error upon startup.

I also don't have the beefiest computer (Macbook pro 2015, dual core w/ hyperthreading).

[2019-05-05 17:09] 1025KB commented on #89
Currently it's handled in [airflow runner](https://github.com/tensorflow/tfx/blob/master/tfx/orchestration/airflow/airflow_adapter.py), it publishes output artifacts and execution to mlmd, we don't have a physical class called publisher

[2019-05-06 21:53] 1025KB commented on #87
In the issue you mentioned, it says the bug fixed in notebook 5.7.5, what's your notebook version?

[2019-05-06 22:00] 1025KB commented on #88
Hi, Richard, I noticed that unit of dagbag_import_timeout is second, so 30s should be enough, I also find they have a [discuss](https://issues.apache.org/jira/browse/AIRFLOW-29) related to decrease it further more, they mentioned some case that it might take a long time importing, e.g., scheduler machine is overloaded, it might be the reason

[2019-05-07 04:11] JerryKurata commented on #87
Good catch.  Mine is older that 5.7.5.  I assumed the Demo installed it's own.  Going to close this ticket

[2019-05-07 04:11] #87 closed

[2019-05-07 13:44] loiccordone opened #94 "Serving with TF Lite: "expected names to be a vector, got shape: []" while executing ParseExample"
Hello,

I successfully converted my model trained and served with TFX to TF Lite with the following code:
[code]
I am trying to run the [TF Lite benchmark](https://github.com/tensorflow/tensorflow/tree/master/tensorflow/lite/tools/benchmark), and after having built the TF Lite libraries with the additional TensorFlow ops library ('benchmark_model_plus_flex'), I got the following error when I run t

[2019-05-07 17:49] 1025KB opened #95 "Publish Python3 type hint"

[2019-05-08 11:21] mwalenia opened #98 "Import errors when trying to run Chicago Taxi on Dataflow"
Similarly as in issue [#47](https://github.com/tensorflow/tfx/issues/47), I still have a problem with running CTE on Dataflow. When I use the code with no modifications, the error from previous issue persists - it seems that somehow the `try-except` around the imports doesn't do its job.

When I changed the code to include only the relative import in my fork [here](https://github.com/mwalenia/tfx/

[2019-05-08 11:22] mwalenia commented on #98
@zhitaoli do you have any ideas as to why this happened?

[2019-05-08 15:37] zhitaoli commented on #98
This is likely a problem between our dependency and the Dataflow python SDK
container.
<https://cloud.google.com/dataflow/docs/concepts/sdk-worker-dependencies#beam-2x-python>

Are you using TFX 0.12.0, 0.13.0rc, or a version from GitHub master? Can
you share the pipeline side code (especially beam args)?

On Wed, May 8, 2019 at 4:23 AM Michal Walenia <notifications@github.com>
wrote:

--
Cheers,

[2019-05-08 17:28] gowtham-kp commented on #94
@loiccordone Can you please post this issue in [Tensorflow/Tensorflow](https://github.com/tensorflow/tensorflow/issues). Thanks!

[2019-05-08 21:42] gowtham-kp commented on #89
@danielbraun89 Closing this issue as it has been answered. Pls feel free to add additional comments to open the issue. Thanks!

[2019-05-08 21:42] #89 closed

[2019-05-08 21:51] gogasca commented on #98
I got the same error using the setup.py libraries:

[code]
[code]

[2019-05-09 06:11] mwalenia commented on #98
@zhitaoli I'm using the github master branch version. As for the pipeline, I'm using the one constructed in tfdv_analyze_and_validate_dataflow.sh and running the file with the command:

[code]

[2019-05-09 06:53] gogasca commented on #98
Using:

[code]
In a Python 2.7 virtualenv seems to be working now

[2019-05-09 07:52] mwalenia commented on #98
@gogasca It worked for me too, thanks! What do we do now? Do you want to submit a PR updating the dependencies for chicago_taxi, or should I do it?

Once again, great find

[2019-05-09 10:56] thak123 commented on #80
@1025KB I am eagerly waiting for the example. The preprocessing_fn reads the content of the tfrecord files as sparse tensors. I am unable to convert them to fixedlen features and reshape the image data.

[2019-05-09 13:56] DurivetMatthias commented on #38
I'm also looking for a way to define a value once and have it available in every piece of code. This is especially difficult because the *_utils file is completely separated from the pipeline definition. For now the easiest way is to hard-code your values at the top of the *_utils file, and also do the same in the pipeline definition.

In my case I have a one_hot_encoding that influences the query

[2019-05-09 15:50] neuromage commented on #38
@DurivetMatthias  Ah interesting! Just so I understand correctly, you want an input parameter to a KFP pipeline to be accessible to both the query (which is defined in the pipeline definition file), as well as to some functions defined in the module file that's used as input to Transform?

[2019-05-09 16:07] DurivetMatthias commented on #38
Exactly

[2019-05-09 16:39] zhitaoli commented on #98
There should be a submit from @ruoyu90 soon which will fix this. Thanks for the help.

[2019-05-09 17:49] 1025KB commented on #80
preprocessing_fn is for Transform, so you are able to custom ExampleGen to convert your input source to tf.Examples?

[2019-05-09 17:55] 1025KB commented on #80
if you are talking about custom ExampleGen for reading data file format that we don't support yet, check [this](https://github.com/tensorflow/tfx/issues/80)

you can also do your own conversion before TFX, and use ImportExampleGen to directly import the tf.Examples, check [this](https://github.com/tensorflow/tfx/blob/master/docs/guide/examplegen.md#using-an-examplegen-component)

if your problem i

[2019-05-09 18:40] ruoyu90 commented on #80
@thak123 There are some pending work in the Schemagen to enable our support for fixedlen features. We will keep this thread updated.

[2019-05-09 19:20] gogasca commented on #98
This PR seems to include changes as well https://github.com/tensorflow/tfx/pull/91/files

[2019-05-09 19:45] zhitaoli commented on #98
Yes this is the PR I mentioned. Waiting for @ruoyu90 to submit.

[2019-05-09 20:55] gogasca commented on #98
Thanks, just started training and looks like just some minor updates in task.py and model.py needed in order to avoid import errors. (Added comment in other https://github.com/tensorflow/tfx/pull/91)

[2019-05-10 08:26] thak123 commented on #80
Thanks for showing me the right direction. I am able to train the model now.

[2019-05-10 08:52] mwalenia commented on #98
@ruoyu90 It is necessary to limit the version of scikit-learn to 0.20 in setup.py of the chicago_taxi (and probably in more places), as version 0.21.0 requires python 3.5 since today
[source](https://scikit-learn.org/stable/whats_new.html#version-0-21)

[2019-05-10 12:37] mwalenia commented on #98
@zhitaoli I also seem to have a problem with the `try-except` construct on Dataflow - even if it's included, my Dataflow runner fails with the same ImportError. Do you have any idea why can this happen?

[2019-05-10 16:50] ruoyu90 commented on #98
@mwalenia thanks for the notice! We are close to release 0.13 which will have Python 3.5 support.

[2019-05-10 17:09] gogasca opened #107 "Unable to visualize Model information in chicago_taxi_tfma.ipynb"
Jupyter instance: 8 vCPUs, 30 GB RAM

**Versions:**

[code]

When I run this notebook chicago_taxi_tfma.ipynb in the following step:

[code]

Nothing happens

PATH_TO_RESULT shows 3 files in `eval_result_dir` folder:

[code]

When I run cell, I just get this:

[code]

[code]

I just see this:

[code]

Similar to:

[code]

I see this text only:

[code]

![image](https://user-images.githubuserconten

[2019-05-10 17:31] pfyang commented on #107
Hi Gonzalo,

Have you installed TFMa visualization on Jupyter? If not, please follow instrucitons here:
  https://github.com/tensorflow/model-analysis#installation

Thanks!

[2019-05-10 17:35] npoly commented on #18
I would advise against poking in the internals of the db since those can change.

In the meantime, you can see different ways to browse the metadata from a notebook here: https://www.tensorflow.org/tfx/tutorials/tfx/workshop

[2019-05-10 21:39] gogasca commented on #107
Thanks extensions were not enabled. After enabling the plugins it worked, thanks

[2019-05-10 21:39] #107 closed

[2019-05-13 09:52] benjamintanweihao opened #113 "Eval gets stuck forever in the Trainer Component"
When I'm in the Trainer component, eval gets stuck forever:

[code]

Strangely, if I replace the path eval example path with the training example path, it manages to make progress to the model validator (though it fails model validation).

Any pointers on how to debug this?

[2019-05-13 12:13] DurivetMatthias opened #114 "predictions returns empty array: []"
I have implemented a custom example after working trough the taxi example.

My model takes in a string with stackoverflow tags separated by a |
like : 'javascript|python|java'
In the preprocessing function I split the one input tensor into mutiple tensors using tf.string_split

the model is a regression that should result in a single number.

The custom implementation of the pipeline runs without

[2019-05-13 18:06] 1025KB commented on #114
Does transform output the intended data you want? you can also check the model by TFMA (check Evaluator result) to see if it looks normal?

You can also post this issue in [Tensorflow](https://github.com/tensorflow/tensorflow/issues) , it seems more model related

[2019-05-13 18:07] 1025KB commented on #113
Hi, are you running the taxi example or your own one?

[2019-05-13 23:56] benjamintanweihao commented on #113
I’m using my own one.

[2019-05-14 00:23] ucdmkt opened #117 "[Feature Request] Nightly .whl release and docker image"
For the purpose of development, it would be useful to have a nightly build from head, both for .whl file for package, as well as Docker image for Kubeflow Runner.

[2019-05-14 07:24] DurivetMatthias commented on #114
@1025KB
posted the issue in [Tensorflow](https://github.com/tensorflow/tensorflow/issues/28692#issue-443750400)

Will look into the data stored on the google storage bucket later today.

[2019-05-14 09:38] mwalenia commented on #98
@ruoyu90 Hi, when can I expect a fix for this issue? #91 seems to be stagnant, should I submit my own PR?

[2019-05-14 14:00] ianashmore opened #120 "Is support for k-fold cross-validation on the roadmap?"
Right now, the training/evaluation split is managed by TFX internally. For making sure model parameters are set appropriately and to avoid having a 'lucky' split affecting the model quality, k-fold cross-validation be useful to have baked into TFX. Is this on the roadmap?

Moreover, will there be support for train/evaluation/validation splits, which is especially useful when tuning hyperparameters

[2019-05-14 14:02] ianhellstrom opened #121 "Is support for k-fold cross-validation on the roadmap?"
Right now, the training/evaluation split is managed by TFX internally. For making sure model parameters are set appropriately and to avoid having a 'lucky' split affecting the model quality, k-fold cross-validation be useful to have baked into TFX. Is this on the roadmap?

Moreover, will there be support for train/evaluation/validation splits, which is especially useful when tuning hyperparameters

[2019-05-14 14:03] #120 closed

[2019-05-14 15:59] zhitaoli commented on #120
Hi @ianashmore, I do think this is legitimate use case. While we have not put this on roadmap, do you mind to share why you closed the FR?

Thanks.

[2019-05-14 17:48] 1025KB commented on #113
SchemaGen generate schema based on train split and ExampleValidator validates eval split, could you check schemagen and examplevalidator's output to see if there is anything wrong in the data?

[2019-05-14 17:59] 1025KB commented on #121
Currently for ExampleGen, you are able to customize the input and output split [doc](Update chicago_taxi to keep up with TFX 0.13 release), but downstream components only support train and eval split for now

We don't have a offical support yet, but you can customize the Trainer component for the k-fold and train/evaluation/validation splits, you can think tfx eval split is the validation split yo

[2019-05-14 18:17] #88 closed

[2019-05-14 18:19] #80 closed

[2019-05-15 07:11] benjamintanweihao commented on #113
Thanks for the pointer. So I noticed in the `ExampleValidator` output:

[code]

Could this be causing the problem? Strangely why does it successfully run Training and get stuck in Eval?

[2019-05-15 12:37] DurivetMatthias opened #127 "Add tfx example with custom estimator"
I'm having trouble implementing tfx with a custom estimator.
The pipeline runs start-to-end and creates a new model on ML Engine (AI platform).

However when I try to make a prediction, it returns {'predictions': []}
[link](https://github.com/tensorflow/tfx/issues/114#issue-443364979) to that issue.

I imagine almost everyone trying to seriously implement tfx in a buisness context will use a custo

[2019-05-15 14:53] DurivetMatthias commented on #114
@1025KB i'm continuing in the Tensorflow issues but my problem seems to fit in both. I added what I found out today to the other issue

[2019-05-15 14:53] #114 closed

[2019-05-15 17:28] gowtham-kp commented on #94
Closing this issue due to the lack of recent activity. Please feel free to add additional comments and we will reopen the issue again!

[2019-05-15 17:28] #94 closed

[2019-05-15 17:48] #98 closed

[2019-05-15 22:09] ruoyu90 commented on #35
FYI TFX [0.13](https://pypi.org/project/tfx/) release is alive now with Python 3.5 support.

[2019-05-15 22:15] ruoyu90 commented on #113
@benjamintanweihao Can you attach the log for the trainer component? Assuming you're using Airflow (from your last reply), you can find the log under `$AIRFLOW_HOME/logs/<your_pipeline_name>.trainer`

[2019-05-16 05:42] benjamintanweihao commented on #113
@ruoyu90 Yes, I'm using Airflow. Here you go:
[code]
Additionally, to use tf.print in python 2.7, users must make sure to import
the following:

  `from __future__ import print_function`
[2019-05-15 15:41:20,673] {logging_mixin.py:95} INFO -
[2019-05-15 15:41:20,685] {logging_mixin.py:95} INFO - After Map
[2019-05-15 15:41:20,686] {logging_mixin.py:95} INFO - <DatasetV1Adapter shapes: ({images: (?

[2019-05-16 05:45] benjamintanweihao commented on #113
I'm using `ImportExampleGen` and pointing it to a known TFRecord directory that has been used successfully for training (without TFX)

[2019-05-16 07:17] ianhellstrom opened #134 "Add correlations to TFDV"
TensorFlow Data Validation is a great tool to look at the data. One feature that might make it even better is if it would also compute correlations among the variables, so that if two variables are highly correlated you can avoid multicollinearities by dropping one of the correlated variables. Having that available in the facets visualization would make it easier to spot issues with the data.

[2019-05-16 07:52] benjamintanweihao commented on #113
I think I found the problem! I parsed the `filenames` parameter from `eval_input_fn(filenames, transform_output)` wrongly. It turns out that `filenames` is a string and not a list?

[2019-05-16 10:20] benjamintanweihao opened #135 "Should Evaluator run _before_ ModelValidator?"
![Airflow_-_DAGs](https://user-images.githubusercontent.com/861236/57846258-661fae80-7806-11e9-9e57-5becc507b8d1.png)

Looking at how the pipeline is arranged, it seems like the Evaluator should run before the Model Validator. However, when I run the pipeline, the ModelValidator gets executed first, and consequently fails.

* It seems like the `model_analyzer = Evaluator()` is used only in the ret

[2019-05-16 13:18] DurivetMatthias commented on #127
I have resolved the underlying issue, turns out it wasn't the fault of the custom estimator. That being said I still think its a good idea to have atleast one example with a custom estimator

[2019-05-16 17:21] gowtham-kp commented on #134
@ianhellstrom Thank you for the recommendation. Can you please post the issue [here](https://github.com/tensorflow/data-validation/issues) as this issue is more suited to the TFDV repository. Thanks!

[2019-05-16 17:54] ruoyu90 commented on #135
@benjamintanweihao Evaluator and Model Validator do not depend on each other thus execution order should not matter here. This error seems related to the input function for [eval_input_receiver_fn](https://github.com/tensorflow/tfx/blob/master/tfx/examples/chicago_taxi_pipeline/taxi_utils.py#L218). Can you check whether it's defined properly?

[2019-05-16 18:00] ruoyu90 commented on #127
@DurivetMatthias Thanks for the feedback and glad the issue has been resolved. By custom estimator example, do you mean an example to create custom estimator or an example to use custom estimator? If it's the former one, you might find [this](https://www.tensorflow.org/guide/custom_estimators) link useful. To use a custom estimator in the trainer, all you want to do is to follow the previous link

[2019-05-16 19:56] hanneshapke opened #141 "Is max_threads = 1 required for Airflow on SQLite?"
I have tested the `0.13.0rc2` on Python 3.7 and it worked nicely. Thank you all for porting TFX to Python 3!

The only major tweak I had to make to get the TFX demo project running was limiting the number of threads to 1 since the demo project is running on SQLite.

With the current settings, the `airflow scheduler` won't start up and complain that SQLite can't run with parallel connections. As a

[2019-05-16 20:03] ruoyu90 commented on #113
@benjamintanweihao Thanks for reporting this! Actually this helps surfaced a bug in our trainer [executor](https://github.com/tensorflow/tfx/blob/master/tfx/components/trainer/executor.py#L129). The `train_files` and `eval_files` should have consistent type. Will send a PR to fix this soon.

[2019-05-16 22:23] cfregly opened #146 ""No module named 'numpy.core._multiarray_umath" during install"
python 3.6.5, tf 1.13.1, tfx 1.13.0

following these workshop instructions:  https://github.com/tensorflow/tfx/tree/master/tfx/examples/workshop

error during install:

[code]

error during runtime:
[code]

I upgraded to numpy==1.16 seemed to get me further per https://github.com/alpacahq/pylivetrader/issues/73#issuecomment-455901124

[2019-05-16 22:46] cfregly opened #149 "PipelineDecorator is no longer needed (Warning)"
python 3.6.5, tf 1.13.1, tfx 1.13
[code]

[2019-05-16 23:02] cfregly opened #150 "TFXArtifactTypes.SCHEMA not found in workshop step4"
i run the airflow dag `taxi_solution`,

![image](https://user-images.githubusercontent.com/1438064/57892626-79c21980-77f4-11e9-8865-1fe9ed237e74.png)

then move to the notebooks.

step 3 works fine.  step 4 doesn't work.

![image](https://user-images.githubusercontent.com/1438064/57892414-b0e3fb00-77f3-11e9-9c60-f2a1023e1f4c.png)
![image](https://user-images.githubusercontent.com/1438064/57892502-

[2019-05-16 23:10] cfregly commented on #150
ah, i figured out the issue.  i am using the `taxi_solutions` pipeline.  the examples are using the `taxi` pipeline.

(i skipped ahead to taxi_solutions in the workshop)

[2019-05-16 23:10] #150 closed

[2019-05-17 00:17] ruoyu90 commented on #149
@cfregly This is intended. The decorator is deprecated now. However it will not affect execution.

[2019-05-17 04:19] #113 closed

[2019-05-17 06:24] benjamintanweihao commented on #135
Thanks for the reply!

I think my `eval_input_receiver_fn` is specified correctly, otherwise, the Trainer component wouldn't have passed. (I've tried modifying the `eval_input_receiver_fn` and the Trainer component would fail.

Should I be looking at some other function instead?

[2019-05-17 06:25] ianhellstrom commented on #134
See: https://github.com/tensorflow/data-validation/issues/66

Feel free to close the issue here.

[2019-05-17 15:42] #35 closed

[2019-05-17 15:43] #95 closed

[2019-05-17 15:54] ruoyu90 commented on #146
@cfregly Does `pip install tfx==0.13.0` give you the same error in a clean env?

[2019-05-17 15:58] ruoyu90 commented on #141
@hanneshapke could you attach the error log? From my experience it will complain about parallelism but not error out. This is what I got:
`[2019-05-17 08:56:15,540] {dag_processing.py:729} ERROR - Cannot use more than 1 thread when using sqlite. Setting parallelism to 1`

I was using the original setting of `max_thread=2`

[2019-05-17 17:01] gowtham-kp commented on #134
Thank you @ianhellstrom I'm closing this issue as a new issue has been created in TFDV Repository.

[2019-05-17 17:01] #134 closed

[2019-05-18 16:27] ruoyu90 commented on #135
@benjamintanweihao The `eval_input_receiver_fn` needs to be evaluated along with input so trainer will not fail if it's not specified correctly. And yes you need to use `example_gen.outputs.eval_example` in both Evaluator and ModelValidator. See [this](https://github.com/tensorflow/tfx/blob/master/tfx/examples/chicago_taxi_pipeline/taxi_pipeline_simple.py#L113) one as an example. What input are yo

[2019-05-19 12:26] benjamintanweihao commented on #135
This one uses example_gen.outputs.examples,  which I'm already using. Is
there a simple way in which I can test eval_input_receiver_fn independently
so that I don't have to run the fill pipeline everytime?

On Sun, May 19, 2019 at 12:27 AM Ruoyu Liu <notifications@github.com> wrote:

[2019-05-19 20:36] hanneshapke commented on #149
Hi @cfregly,

I removed the decorator by implementing the pipeline object and extending the `_airflow_config`. Please see the refactored code below.

[code]

[2019-05-20 07:16] DurivetMatthias commented on #127
As someone new to both tfx and custom estimators it was hard for me to distinguish between what code is for the former or the latter. Now I've been trough my project I can see they are completely separate. What happens with this issue is up to you. (I originally meant an example of tfx that uses a custom estimator)

[2019-05-20 09:55] Efaq commented on #20
I just saw that you documented a way of doing that, namely in https://www.tensorflow.org/tfx/guide/examplegen

Should I close this one as done or are you still waiting for something else?

[2019-05-20 15:24] ruoyu90 commented on #135
@benjamintanweihao There are two options you can do that:

1. Use the [run_executor](https://github.com/tensorflow/tfx/blob/master/tfx/scripts/run_executor.py) script.
2. Make use of the unit test like [this](https://github.com/tensorflow/tfx/blob/master/tfx/components/trainer/executor_test.py) one. You will also need to substitute the test data [here](https://github.com/tensorflow/tfx/tree/master

[2019-05-20 16:21] zhitaoli commented on #20
@Efaq I think that's all we planned for this issue. I'm closing this one if it's fine for you. Feel free to reopen if you have further questions.

[2019-05-20 16:21] #20 closed

[2019-05-20 17:25] Svendegroote91 opened #153 "add notebook to visualize output of tfx pipeline steps for taxi pipeline"
Adding a notebook that uses the output files of the tfx pipelines steps, in the taxi_pipeline example, would help a lot to understand what each steps is exactly producing and how to visualize it.

[2019-05-20 18:28] zhitaoli commented on #153
@rcrowe-google I think you said you want to tackle this? Please reassign if not.

[2019-05-20 18:50] rcrowe-google commented on #153
Do the notebooks in the developer tutorial (https://www.tensorflow.org/tfx/tutorials/tfx/workshop) serve this need, or do we need more?

[2019-05-21 07:43] Svendegroote91 commented on #153
Thanks, that already helps when using Airflow. However, I am currently running the Kubeflow pipeline example and in this case the files are stored on GCS bucket. It would help if there is a notebook that hooks into this output bucket to perform similar kind of steps as in the workshop. It does not necessary need to be a separate notebook, a Readme section on kubeflow and the equivalent commands of

[2019-05-21 15:47] zhitaoli commented on #153
@Svendegroote91, unfortunately the Kubeflow based pipeline implementation has not emitted metadata into the database as the airflow example. @neuromage is tracking that work.

Once the artifact is tracked in the metadata, I think we can simply adapt the notebook example pointed by Robert to also work for Kubeflow.

[2019-05-21 20:00] krazyhaas commented on #18
I'm closing this one as a duplicate of https://github.com/google/ml-metadata/issues/8.

[2019-05-21 20:01] #18 closed

[2019-05-21 20:08] krazyhaas commented on #40
Hi Jose.

Take a look at https://github.com/tensorflow/tfx/blob/master/tfx/examples/chicago_taxi_pipeline/taxi_pipeline_kubeflow.py.  You'll see it sets the beam runner to run on Dataflow via beam_pipeline_args, CMLE training via _ai_platform_training_args, and pushes to CMLE serving with _ai_platform_serving_args.  While it uses the KFP runner, the same will work with Airflow.  Is that what you'r

[2019-05-21 20:10] #59 closed

[2019-05-22 06:59] rathnasubramanian2603 opened #163 "tfma.view.render_slicing_metrics not working"
Hi,
     I am following the tutorials of setting up TFX pipeline . All the steps of the airflow pipeline are working without any error. I am able to see the metric results but the render_slicing_metrics returns empty visualization.

[code]
![image](https://user-images.githubusercontent.com/20776844/58153518-db6b0380-7c8c-11e9-823c-7997e1f81a05.png)

But I can see the results....

**[EvalResult(sli

[2019-05-22 07:58] ianhellstrom opened #164 "Airflow webserver does not work with Python >=3.5"
When starting the Airflow web server at http://localhost:8080/admin/ (inside a virtual environment with Python 3), the following error message occurs:

[code]

The problem is here:

[code]

To reproduce, I ran the following commands according to the [instructions](https://github.com/tensorflow/tfx/tree/master/tfx/examples/chicago_taxi_pipeline):

[code]

I see the same behaviour for a Python 3.7 v

[2019-05-22 08:23] Malonl commented on #163
I am having the same problem.

[2019-05-22 12:32] Malonl opened #166 "ModelValidator does not work with regression model"
I have created my own custom pipeline, using the taxi pipeline as basis to branch out from. So this pipeline contains everything from CsvExampleGen to the Pusher.
I am trying to build a DNNLinearCombinedRegressor model. This all works fine until the ModelValidator component. It tries to compare the accuracy of the blessed model with the current model, however since we are running a regressor model

[2019-05-22 12:37] Efaq commented on #166
Also experiencing that. I wonder if there is some possible configuration to be passed to the validator. There is a (not so well) documented input called "eval_spec" in a documentation page but this doesn't seem to be present in the actual code.

documentation page: https://www.tensorflow.org/tfx/guide/modelval

[2019-05-22 12:38] Malonl opened #167 "Results folder in ModelValidator is always empty"
Every time the ModelValidator component runs, two folders get created: a blessing folder and a results folder. Inside results there are the folders for the different runs (i.e. the numbered folders), but the numbered folders are always empty.
Is this the expected outcome or should something get stored there?

[2019-05-22 14:18] ianhellstrom commented on #164
In fact, I built myself a Docker image with TFX (incl. Airflow, TFMA, GCS, and a few other tools I need) based on Python 3.5. When running the Airflow server and accessing the UI it throws this:

[code]

Previously I ran TFX 0.12 and Python 2.7 fine with a similar Docker image.

[2019-05-22 16:00] 1025KB commented on #167
Hi, the head version fixed that issue already (won't generate result folder), but 0.13 release still contains that

[2019-05-22 16:00] #167 closed

[2019-05-22 16:11] 1025KB commented on #166
Hi, currently it's not supported, will keep this as a feature request to support customized model validation

for now, you can change the _pass_threshold() and _compare_eval_result() to do customization

[2019-05-22 16:32] zhitaoli commented on #164
Hi @ianhellstrom , the issues was not expected, although previous we only continuous testing using python3.5 so issues were not caught.

I'll investigate more on this issue.

To confirm my understanding, python 2.7 and python3.5 have been working, but Airflow webserver on python 3.6 and 3.7 consistently fails, right?

[2019-05-22 16:37] zhitaoli commented on #28
Just to clarify, after 0.13.0 CSVExamplegen should be able to handle multiple CSV files for **the same span and version**.

@Efaq, I cannot tell from your last sentence whether you want new csv file be processed with other ones as a whole, or incrementally processing that (which falls into "continuous training" story that we have not released yet). If you think this is enough, we can improve the u

[2019-05-22 16:48] ianhellstrom commented on #164
That is right: 3.6 and 3.7 don't work at all.

I managed to make 3.5 work locally but not inside a Docker image (Ubuntu base with 3.5.7 compiled from source), so that could have been due to missing libraries.

[2019-05-22 16:56] zhitaoli commented on #164
@ianhellstrom Can you share the Dockerfile you used to reproduce the failure?

[2019-05-22 17:15] ianhellstrom commented on #164
It uses our own company-internal base image, so that won't help anyone. I can have a look if I can easily make it generic, but no promises. I can have a look tomorrow.

[2019-05-23 07:04] Efaq commented on #166
@1025KB just to check: the "eval_spec" argument to ModelValidator is in the documentation anyways (https://www.tensorflow.org/tfx/guide/modelval).

Is this documentation wrong (the argument don't exist), or is it outdated (it existed in a previous version but not anymore), or is it referring to some other functionality not related to this issue?

[2019-05-23 07:14] Efaq commented on #28
@zhitaoli The continuous training scenario is interesting, **but** my issue is only about having multiple csv files treated as one, so we don't need to manually join multiple csvs with the same columns. If this is in place for 0.13.0 then it's good enough for me.

Thank you!

[2019-05-23 09:15] ianhellstrom commented on #164
Here's a minimalistic Python 3.5 (Debian) image that reproduces the problem:

[code]

The `# ---` indicates where I would normally split the Dockerfile: one for a Debian + Python3.5 base image and one for TFX add-ons. However, to make it easier I combined the two.

The file `requirements.txt` has the following contents:

[code]

And `entrypoint.sh` is:

[code]

You can simply run it from the code

[2019-05-23 16:56] neuromage commented on #153
@Svendegroote91 Pipelines tracks ml metadata as output by the pipeline, but we lack tracking of execution types (and therefore, we lack lineage tracking). As a result, the notebook visualizations won't work well in KFP right now. However, we are working on improving this story and having parity with Airflow for all metadata tracking. We expect to have something working by end of June.

[2019-05-23 17:15] zhitaoli commented on #28
@1025KB Can you update the docs/guide/examplegen.md to explain how to use multiple CSV files, then close this ticket? Thanks.

[2019-05-23 17:22] zhitaoli commented on #166
@Efaq sorry the documentation was incorrect. I'll work with @rcrowe-google to fix it.

We definitely plan to open up more configurations for model validator in short term future.

[2019-05-24 05:49] Malonl commented on #166
Ok, thanks for all the answers.

We will keep our workaround for now.

[2019-05-24 05:49] #166 closed

[2019-05-24 06:59] Efaq commented on #166
@zhitaoli Ok, thank you for these updates!

[2019-05-24 09:02] benjamintanweihao commented on #135
Thanks for pointing me in the right direction, however, I'm still stuck, though slightly differently.

###  What I've tried:

1. I am using `ImportGen`, where the data contains Images, bounding boxes coordinates, etc.
2. My `preprocessing_fn` does nothing:

[code]

3. My `input_fn` for eval and train both return a `tf.train.Dataset`.
4. My `_eval_input_receiver_fn()` is defined as such:

[code]

`

[2019-05-24 15:39] zhitaoli opened #171 "Support Avro format for Examplegen"
Avro is already a supported format in Apache Beam Python [1], so we should be able to provide an example gen implementation with reasonable cost.

To users: if you find this feature request useful, please comment in this issue to help us better prioritize.

[1] https://github.com/apache/beam/blob/master/sdks/python/apache_beam/io/avroio.py

[2019-05-24 17:23] andrewlarimer commented on #163
I had this problem when using Firefox, but it seemed to render in Chrome. Does viewing in Chrome work for you?

[2019-05-24 17:27] andrewlarimer commented on #40
Does setting the `executor_class=ai_platform_trainer_executor.Executor` in Trainer allow AI Platform to do hyperparameter tuning? That to me seems like the biggest thing missing from TFX at the moment is any mention of hyperparameter tuning (so far as I can find).

[2019-05-24 20:03] zhitaoli commented on #164
Hi @ianhellstrom, thanks for the dockerfile. I copied this locally but still cannot reproduce: the chicago taxi simple pipeline works okay to run inside a container image built from identical Dockerfile content.

Do I need to upgrade to python3.6 in the image to reproduce?

[2019-05-24 20:11] zhitaoli commented on #40
@andrewlarimer Hyper parameter tuning definitely deserves its own thread to discuss, as the this one mainly tracks how to do normal training and data processing using dataflow.

To answer your question:

Assuming https://cloud.google.com/ml-engine/docs/tensorflow/using-hyperparameter-tuning is what you are looking for, I think the work happened so far can be used as a stepping stone, but we need m

[2019-05-25 08:53] ianhellstrom commented on #164
Huh. That causes the crash log I included on my machine. Do you run the DAG from command line or through the Airflow UI?

I may have to check whether I did something wrong on my computer.

[2019-05-27 05:48] rathnasubramanian2603 commented on #163
@andrewlarimer I am using Ubuntu. I tried in Chromium Web Browser. It is not working in Chromium Browser.

[2019-05-27 05:55] Malonl commented on #163
I have been using Chrome on Ubuntu as well, and it's not working.

[2019-05-27 06:28] rathnasubramanian2603 opened #179 "How to get the Confusion Matrix of the Model ?"
As of now the Model evaluator return some metrics a like accuracy etc.  Is it possible to get the confusion matrix of the model? If Yes how ?

[2019-05-27 07:07] Efaq commented on #163
@andrewlarimer In general, the visualizations would only work in Chrome, because of a Facets issue (see very end of github page https://github.com/PAIR-code/facets). But specifically this one is not working even when we use Chrome.

[2019-05-27 07:22] ianhellstrom commented on #164
I should have checked the webserver.log file from Airflow earlier: somehow localhost:8080 does not work anymore but 0.0.0.0:8080 does. If I change the URL to that, I can open Airflow and run DAGs for Python 3.5.

[2019-05-27 12:23] rmothukuru commented on #179
Information regarding Confusion Matrix using Tensorflow Model Analysis is given in this [link](https://github.com/tensorflow/model-analysis/blob/master/tensorflow_model_analysis/frontend/test/tfma-multi-class-confusion-matrix_test.html). Please check if it helps.

[2019-05-28 18:28] andrewlarimer opened #182 "Automatic Hyperparameter Tuning in TFX"
Per @zhitaoli's suggestion a few days ago [here](https://github.com/tensorflow/tfx/issues/40#issuecomment-495774189), I am opening this up as a new thread.

I am wondering what is the best way to search for a model's optimal hyperparameters within TFX.

It sounds like it may be possible to use the Trainer's `executor_class` and specify an AI Platform Executor and even pass the additional arguments

[2019-05-28 20:49] gowtham-kp commented on #146
@cfregly Closing this issue as it has been inactive for more than a week. Please add additional comments and we can open this issue again. Thanks!

[2019-05-28 20:49] #146 closed

[2019-05-28 23:48] zhitaoli commented on #164
@ianhellstrom Thanks. Do you have a reproduce with python 3.6/3.7?

[2019-05-29 04:55] rathnasubramanian2603 commented on #179
I am not able to understand it. I have a trained model..! I give it to the Model Evaluator component of TFX pipeline. How to extract the confusion Matrix from it ? If there are any sample Python Code to get the confusion matrix of a TFX trained model it would help me to understand it a lot. Thanks.

[2019-05-29 06:26] ianhellstrom commented on #164
I have not checked it and since it's not officially supported anyway (due to Beam) I do not see an immediate. We can probably close this issue.

[2019-05-29 06:26] #164 closed

[2019-05-29 13:26] rummens opened #185 "Airflow UI does not pick up TFX component logs"
### Summary
For some reason TFX writes the log files in a different format/path then expected by the Airflow Web UI. Therefore the logs on the UI don't show the really intressting logs (the root cause) but only that something went wrong (example s. below).

So for example, if the log root of Airflow is: `/usr/local/airflow/logs`

### Official Log File

The log that appears on the UI is: `/usr/loca

[2019-05-29 16:52] zhitaoli commented on #185
This is likely because the "CsvExampleGen" component you see in the web UI is actually a [sub-DAG](http://airflow.apache.org/concepts.html?highlight=subdag#subdags) in Airflow, which includes four components (.check_cache, .exec, .publish and .publish_cache).

I am not sure why the documented way of log investigation for sub dag did not work in our case. It may be related to how the sub-dag is cre

[2019-05-29 18:50] rummens commented on #185
Will this happen to all other components as well or is it just the Example Gen?

Is there a way to change the config back to a normal DAG?

[2019-05-29 19:51] krazyhaas commented on #185
We're looking into it.  It's likely related to all components.

[2019-05-29 23:26] krazyhaas commented on #185
I'll likely have a fix for this out tomorrow.  I'd like another day to test the potential change.

[2019-05-30 05:40] rummens commented on #185
Awesome thank you. Happy to test myself, once you have it ready. 👍

[2019-05-30 17:37] ibzib opened #189 "Taxi example: pip not finding tensorflow-metadata 13.1"
When I try to install dependencies for the Chicago taxi example (inside virtualenv), pip can't find the required version 13.1 of `tensorflow-metadata`:

(on head: [5ed8d9ef](https://github.com/tensorflow/tfx/commit/5ed8d9ef1e072a16a42dbd5d040a90c6cb4c974e))

[code]

[2019-05-31 19:12] krazyhaas commented on #189
Fixed with https://github.com/tensorflow/tfx/commit/6a594b7d6657acb05e4f6d28299a9fa3cd145bea.  Sorry for the bug!

[2019-05-31 19:12] #189 closed

[2019-05-31 20:19] krazyhaas commented on #117
Just to give an update -- we're investigating this.  It would be very helpful for development.

[2019-05-31 20:24] 1025KB commented on #58
Hi, we now added an example for [custom component](https://github.com/tensorflow/tfx/blob/master/tfx/examples/custom_components/slack/README.md)

also for file based example gen, you just need to provide a beam PTransform for converting input file source to tf.example, here is the [instruction](https://github.com/tensorflow/tfx/blob/master/docs/guide/examplegen.md#custom-examplegen)

[2019-05-31 20:24] #58 closed

[2019-05-31 20:32] #40 closed

[2019-05-31 20:53] 1025KB commented on #28
the ExampleGen tfx.utils.dsl_utils.csv_input can take folder path now,

also if you want to use regex for path, you can specify the input_config with a single split
check [here](https://github.com/tensorflow/tfx/blob/master/docs/guide/examplegen.md#custom-inputoutput-split) for instruction

[2019-05-31 20:53] #28 closed

[2019-05-31 21:20] mdreves commented on #179
You need to add the confusion matrix as a metric first.  There are a few options.

1) If you want them at training time as well as evaluation time you need to add the underlying TP, TF, etc metrics to your graph using tf.metrics:

tf.metrics.true_positives_at_thresholds(...)
tf.metrics.false_postivies_at_thresholds(...)
...

2) You can add the metrics to the graph post export using TFMA post expor

[2019-05-31 22:16] krazyhaas commented on #141
Closed with https://github.com/tensorflow/tfx/commit/dc9221abbb8dad991d1ae22fb91876da1290efae.  Thanks for the suggestion!

[2019-05-31 22:16] #141 closed

[2019-05-31 22:24] pfyang commented on #163
It would be great if you could provide more information to help debug the issue:
- Version of TFMA
- Version of Chrome
- Any error in the browser? (Press F12 and go the console tab. Please expand the error and paste them here if possible.)

Thanks!

[2019-05-31 22:25] zhitaoli commented on #182
Hi @andrewlarimer, I had some discussion with our internal experts on hyper parameter tuning, and the following is what I think:

1. We had a pre-existing internal component for hyper-parameter tuning (and some other tuning support), but it's going through some changes (especially related to tf.Keras) and we don't feel ready to publish something with long term support immediately;
2. If a stop-gap

[2019-05-31 22:52] andrewlarimer commented on #182
Learning more about custom modules with hyperparameter tuning as a specific example would be excellent, and would definitely make me feel more comfortable pitching TFX as a solution to clients, knowing we could likely build other custom modules as needed.

So yes that would be very useful in the meantime until the official module is ready for primetime again. I imagine others would find this usefu

[2019-06-01 22:02] ruoyu90 commented on #135
@benjamintanweihao Sorry for the delayed reply.

Will it help if we use something like the following:
[code]

[2019-06-03 04:54] rathnasubramanian2603 commented on #163
Version of TFMA : 0.13.2
Version of Chromium : Version 74.0.3729.169 (Official Build)
No Error in Browser.

[2019-06-03 09:44] rummens commented on #185
Any update?

[2019-06-03 12:32] krazyhaas commented on #185
Just waiting for approvals on the code review.

[2019-06-03 17:33] pfyang commented on #163
For clarification, are you using Chrome or Chromium? If you are using Chromium, could you please try Chrome from:
  https://www.google.com/chrome/

What is the environment you are running TFX? eg: single machine vs cloud, OS version, etc.

Do you see any error in other parts of the develoepr console? eg: network tab

If you have access to a different machine, could you please give it a try? You sh

[2019-06-03 17:43] 1025KB commented on #74
PR merged

[2019-06-03 17:43] #74 closed

[2019-06-04 04:58] krazyhaas commented on #185
Quick update -- we're having issues with an unrelated test that's blocking the checkin.  If you want to patch the change into your code, it's literally a two-line change to enable this.

[2019-06-04 05:59] rathnasubramanian2603 commented on #179
Thank You so much for the Help. I am able to get it now.

[2019-06-04 05:59] #179 closed

[2019-06-04 06:21] rathnasubramanian2603 commented on #163
I was using Chromium . Now I installed Chrome Version 74.0.3729.169 (Official Build) (64-bit).

But still the same problem persists. The render slicing metrics returns empty visualization.

I am not seeing errors in any other part. I am using Python 3.6. I am just getting warning from Apache Beam.

My Environment I am using a single machine.

I tried adding custom metrics like true positive, false

[2019-06-04 06:41] rummens commented on #185
I assume you are talking about #188? If so I see your changes and should be able to replicate them. Thanks :-)

[2019-06-04 13:44] rummens opened #199 "MLMD Database locked on AirFlow K8s Deployment"
# Description
I am running into the following error, when executing the taxi example on AirFlow (1.10.2) installation on a K8s cluster.

[code]

I am not sure why this happens since the csv component is the only one running. So there should be no concurrent hits on the sqlite db. The underlying PV is ReadWriteMany, so the file structure supports multiple writes.

Is this a bug or is there an optio

[2019-06-05 01:18] krazyhaas commented on #185
Done!  You should now be able to see both the component/subcomponent logs as well as the actual nodes in the DAG viewer.  Sorry about the delay -- getting the test updated and passing was actually more work than the code change itself.  :)

[2019-06-05 01:18] #185 closed

[2019-06-05 11:27] rummens opened #201 "Kubeflow Runner/BaseComponent dont force inject GCP credentials/secret into pods"
# Description
As many people we don’t deploy Kubeflow on GCP, therefore we don’t need/have GCP cred. Unfortunately the GCP env vars and more annoyingly the secret is hardcoded into the BaseComponent. Therefore no component pod can be started without the required secret (named _user-gcp-sa_ per default).

# Possible Solution
Please make this mount optionally, controlled via an option given to the r

[2019-06-05 13:32] neuromage commented on #201
We'll make this optional. I'll send out a fix shortly.

[2019-06-05 16:18] zhitaoli opened #203 "Presto based ExampleGen"
[Presto](http://prestodb.github.io/) is a very widely analytical query engine. It already has a [python API ](_https://github.com/prestodb/presto-python-client_) which supports 'fetchall' or fetch batch semantics. It will be a good idea if we could have an ExampleGen (possible as a custom component) so user can connect TFX after any analytical engine supported by Presto (hive, hbase, etc)

[2019-06-05 18:00] 1025KB commented on #199
you can pass metadata_connection_config (ml_metadata.proto.ConnectionConfig) when create the pipeline.Pipeline using kwargs, it will be passed to [airflow](https://github.com/tensorflow/tfx/blob/master/tfx/orchestration/airflow/airflow_pipeline.py#L47) and then [metadata init](https://github.com/tensorflow/tfx/blob/master/tfx/orchestration/metadata.py#L43)

[2019-06-05 18:14] raghav20 opened #205 "Could I use scikit learn model on TFX ?"
Few of the models we built are using Scikit learn. I was wondering if we can use that model in TFX.

[2019-06-05 18:31] 1025KB commented on #205
Currently most of existing component are tf.example based, if your data is in different format, you won't be able to directly using TFX,

if scikit can take tf.record with tf.example payload, you can custom a trainer component to fit scikit learn into TFX, but the downstream component of trainer requires a savedModel, I'm not sure if scikit can generate that

[2019-06-05 18:40] 1025KB commented on #199
for your DB locking issue, if you use the default sqlite, check whether a CLI is connecting to the database?

[2019-06-05 19:15] raghav20 commented on #205
We have a model pipeline where multiple models built on different libraries are run. Once the training is complete we pick the best model. Is there anything that can be done in this case ?

[2019-06-05 20:56] wjarek2 commented on #205
Currently TFX works with TensorFlow 1.x which provides a rich set of estimators - https://www.tensorflow.org/guide/estimators, https://www.tensorflow.org/api_docs/python/tf/estimator. TensorFlow also supports custom estimators if you don't see one that fits your problem. Will porting to TensorFlow be an option for you? In the future we're also planning to support TensorFlow 2.0 and greater ease of

[2019-06-05 21:35] KamalAman opened #210 "TFX Use Case - Windowing Raw Data"
Windowing data is one of the key corner stones of data processing on large amounts of data.

Will TFX support the use case to consume from raw data, window the data with Beam, perform statsGen on the windows as well as the raw data, to finally consume the windowed/raw data in Tensorflow to train off of?

In addition, this brings up questions about when the model is deployed. Which version of the d

[2019-06-06 09:46] rummens opened #212 "modelvalidator fails with KeyError"
Hello,

I am running the taxi_simple example on Kubeflow Pipelines. All components run fine, except for the modelvalidator. It fails with a KeyError (s. log). I looked into the file but I can't even find the line that fails (line 137 points to the comment section in executor.py).

The intressting thing is that everything works fine locally on AirFlow.
Can you give me any hint what to look for?

#

[2019-06-06 14:50] rummens commented on #212
Additional information, the pipeline data is shared via PV since this seems to be only way to share stuff outside of GCP because of the [Beam Limatation](https://issues.apache.org/jira/browse/BEAM-2572).

[2019-06-06 17:28] 1025KB commented on #210
Hi, Kamal, currently we support once shot pipeline which can be scheduled daily with different input path as different data window, long term we have plan for continuous training with data span supporting, keep this as a feature request, thanks!

[2019-06-06 17:31] 1025KB commented on #212
Hi, we recently deleted 'results' from modelvalidator, could you check if your code are synced to same version

[2019-06-07 06:38] rmothukuru commented on #149
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-06-07 06:38] #149 closed

[2019-06-07 09:03] rummens commented on #212
I had the same idea yesterday and started a [docker build](https://github.com/tensorflow/tfx/tree/master/tfx/tools/docker) from the master. It fixed the issue, this means however that the current release on pip for 1.13.0 does not work propably.

Also I had to remove the license script from the docker build becaused it failed, missing some licenes for third party software. Nothing terrible, just f

[2019-06-07 09:03] #212 closed

[2019-06-07 11:39] rummens commented on #199
How can I check if a CLI is connecting? I have none open, so if TFX is not doing something I wouldn'´t what else could try connecting.

In the meantime, I deployed a mySQL pod in the cluster and tried to connect the metadata store to it but it fails with a memory leak error.
Any idea what could cause this? Is this a bug in tf metadata?

This is my config (I tried both an IP and a hostname for the

[2019-06-07 12:17] rummens commented on #37
Happy to help with this because having the visualization for all TFX components, is a nice and required feature.

[2019-06-07 12:27] rummens opened #216 "Metadata not working in Kubeflow Pipelines?"
# Problem
I have deployed the taxi_simple example pipeline in KFP running on K8s outside of GCP. The artefacts are shared using a PV because of the current Beam limitation for S3.

I have noticed that the metadata features are not working. For example, every time I rerun the same pipeline (no code or data changes), every component is executed again and they are recomputing everything. I assumed th

[2019-06-07 13:58] rummens commented on #185
I can confirm that it works. Both logs appear in the UI. Thank you.

[2019-06-07 14:43] raghav20 commented on #205
I see that was helpful guys thanks a lot looking forward to see if we will have any updates on this later

[2019-06-07 17:00] zhitaoli commented on #212
Thanks for the info. We recently added a continuous build for the image building process. If the license script fails more frequently, we'll look into alternative ways to do that.

cc + @neuromage

[2019-06-07 17:04] neuromage commented on #37
We have an active on-going project in KFP for achieving this functionality. I've opened https://github.com/kubeflow/pipelines/issues/1472 to track this in the KFP repo. Closing this bug in favour of that one.

[2019-06-07 17:04] #37 closed

[2019-06-07 17:16] neuromage commented on #216
@rummens This is a current limitation of how metadata is integrated in Kubeflow Pipelines. We're actively working on improving the metadata support so it's on par with the Airflow version. Currently, we record output artifacts, but we don't actually support caching using the recorded metadata. This will change very soon though. We're expecting to have metadata + caching mechanisms converge in both

[2019-06-07 18:14] #201 closed

[2019-06-07 23:06] jbx commented on #171
This is something that we'd (Spotify) be interested in using

[2019-06-08 00:39] ucdmkt commented on #38
\cc @krazyhaas

We are internally discussing to establish a design pattern to define and pass around intra-component  parameter (such as num_steps for Trainer), inter-component parameter applicable to more than one component that needed to be kept in sync  (such as @DurivetMatthias case) and pipeline-level global parameter.

[2019-06-08 07:33] rummens commented on #216
Thank you for the update. Would you be so kind and explain me how metadata works on a high level?
Every component stores a reference to its inputs/outputs in the metadata store and then when run again checks if there is an entry of itself? Then compares the entry input data with the actual one, and if they are the same stops, and the next component is started?

Or is there something else on top of

[2019-06-09 22:48] 1025KB commented on #216
each component has driver and executor, the metadata part are handled in driver, if cache hits, executor will be skipped.  For kubeflow, we don't have driver fully supported yet.

[2019-06-10 18:01] 1025KB commented on #199
could you post the issue to [metadata](https://github.com/google/ml-metadata) also?

[2019-06-10 18:09] 1025KB commented on #199
for above issue, 'MetadataStore' object has no attribute 'SerializeToString', seems your config type is MetadataStore instead of config type?

for metadata lock issue, could you check if there are multiple pipeline writing to same db? it shouldn't happen if there is only one single connection

[2019-06-10 20:12] gowtham-kp commented on #205
@raghav20 Closing this issue as it has been answered. Please add additional components and we can reopen the issue again. Thanks!

[2019-06-10 20:12] #205 closed

[2019-06-10 21:45] zhitaoli commented on #216
This is our plan about addressing this issue:

1. To support another upcoming orchestrator (local) we are going to refactor the driver/executor/publisher interaction of Airflow, so their invocation sequence does not require Airflow based operators;
2. The container in TFX/Kubeflow will become "fatter" to also run driver and publisher in the container; It will use a database connection string
3. In

[2019-06-11 07:18] rummens commented on #216
Awe some thanks for the update. Is there any ETA you can provide?
Also if there is anything I can do to help, don’t hesitate to ask ;-)

[2019-06-11 08:54] benjamintanweihao commented on #135
After many days of fighting with TFX, success!

The main thing was to use `tf.parse_example` instead of `tf.parse_single_example`.

[2019-06-11 08:54] #135 closed

[2019-06-11 11:00] AseiSugiyama opened #222 "AttributeError: module 'tfx.proto.example_gen_pb2' has no attribute 'Input'"
# Description

From [ExampleGen user guide](https://www.tensorflow.org/tfx/guide/examplegen) `example_gen_pb2` should have `Input` method

[code]

However, `example_gen_pb2` raises `AttributeError` by running following script,

[code]

[code]

# How to reproduce

Here is colab notebook : [AttributesError_example_gen_pb2.ipynb](https://gist.github.com/AseiSugiyama/923d55aa79f1937e104932145e0c11ec).

[2019-06-11 17:17] ruoyu90 commented on #222
The error is expected, due to the fact that `Input` was introduced after 0.13.0 release. If you try to install from [head](https://github.com/tensorflow/tfx/blob/master/CONTRIBUTING.md#testing-local-change) you will get the latest feature.

[2019-06-12 08:52] AseiSugiyama commented on #222
@ruoyu90
With installing TFX from head, I could find `Input`.
Thank you for your support!

[2019-06-12 08:54] #222 closed

[2019-06-12 23:10] riyersk opened #227 "Problem running the step3 notebook"
I'm trying to run the step3.ipynb in tfx/tfx/examples/workshop/notebooks/step3.ipynb.  The first cell throws the attached error.  I notice the get_metadata_store takes a path as an argument, but I don't find that path in my system, so I suspect that this is the problem, but I can't find where and how I was supposed to create that directory.  Any guidance?
![tfxStep3ErrorSet](https://user-images.gi

[2019-06-13 16:23] rummens opened #229 "AirflowDAGRunner must be important in pipeline definition file?"
# Problem
I have stumbled across a weird bug. It turns out that the class AirflowDAGRunner (in `tfx.orchestration.airflow.airflow_runner`) must be imported directly in the pipeline definition. In my current setup I have a submodule importing the module but the Airflow worker parsing the pipeline crashes (I can't find a log, so no idea why).

I can't explain why this happens, any idea? Is this an a

[2019-06-13 17:21] ruoyu90 commented on #229
You need to keep AirflowDAGRunner in your pipeline definition. Otherwise Airflow won't recognize it as an Airflow DAG. The reason is that `airflow` and `DAG` are [mandatory](https://github.com/apache/airflow/blob/master/airflow/models/dagbag.py#L176) to appear as strings in the pipeline definition file.

[2019-06-13 17:30] krazyhaas commented on #229
Yep.  As Ruoyu said, that's our workaround for an Airflow "feature."  Another explanation is https://airflow.apache.org/faq.html, bullet #2.

However, if you add this hack, Airflow should then find the pipeline:
[code]

[2019-06-13 17:30] #229 closed

[2019-06-13 17:49] rummens commented on #229
Thanks guys, helps me a lot to understand the problem 👍

[2019-06-14 08:33] rcrowe-google commented on #227
Are you following the [TFX Developer Tutorial](https://www.tensorflow.org/tfx/tutorials/tfx/workshop)?  If so, then the setup.sh script should have created a directory tree called "airflow" under your home directory, and initialized Airflow.  If you have that tree, do you have a file named metadata.db under it?

[2019-06-14 15:48] riyersk commented on #227
Yes, I am following that tutorial.  I didn't see any instruction to run a setup script, so I guess that was the issue.  After your comment, I found a setup script under tfx/tfx/workshop/examples/setup/ called setup_demo.sh.  I ran this in the terminal and then I went back and saw that there was a directory called "airflow" in my home directory.  However, I did not see a file named metadata.db unde

[2019-06-15 17:38] rcrowe-google commented on #227
Could you delete the ~airflow directory and go back to the [TFX Developer Tutorial](https://www.tensorflow.org/tfx/tutorials/tfx/workshop) and start fresh, making sure to read the instructions at each step?  Does your system meet the prerequisites?  Do you see any errors when running setup_script.sh?

[2019-06-17 10:08] benjamintanweihao opened #236 "Weird increasing batch size during Model Evaluation / Validation causing GPU allocation errors"
On CPU I can execute the entire pipeline successfully but with the GPU, I'm getting GPU allocations during Model Evaluation and Validation. I've traced the problem down to the ever-increasing batch size of the tensors getting fed into the graph. The logs would make it more clear:

[code]

Not too sure what I'm missing here. As you can see, the batch size keeps increasing. I'm not sure why that is

[2019-06-17 17:36] mdreves commented on #236
Hard to debug without a pointer to your setup. What is the format of the data being read and from where is it being read. I'm assuming the desired_batch_size is not being used (not that it should).

[2019-06-17 23:23] riyersk commented on #227
I did that.  It solved the problem, thanks!

[2019-06-17 23:23] #227 closed

[2019-06-18 00:41] riyersk opened #239 "Problem with step 4 of tutorial"
I am following [this tutorial](https://www.tensorflow.org/tfx/tutorials/tfx/workshop). I am failing at step 4.  When I trigger the taxi DAG, the pipeline does not turn all green.  Also, I tried repeatedly, and the part of the pipeline that fails varies.  Sometimes the StatisticsGen fails, resulting in the rest of the pipeline failing upstream.  Sometimes the SchemaGen fails, resulting in the Examp

[2019-06-18 06:18] benjamintanweihao commented on #236
@mdreves thanks for the pointer Mike! I managed to solve it, and for the benefit of other people who might come across the same issue:

I'm reading directly from TFRecords. The dataset is essentially images, which means that varying batch sizes on a GPU is generally not going to turn out well (i.e. GPU allocation errors).

Here's how I fixed this:

1. In `eval_input_receiver_fn`, I specified a `de

[2019-06-18 15:27] KamalAman opened #240 "Make PCollections a first class citizen"
In the current TFX architecture, the IO for each component are TF records.

This means, when creating components like StisticsGen, you are reading TF records to only convert them into a PCollection to perform processing on them.

This seems like a lot of unneeded work, and limitations are introduced early on in the pipeline such as RowToExample in big_query_example_gen. This also impacts scaleabil

[2019-06-18 17:25] mdreves commented on #236
TFMA doesn't increase the batch size. The code link mentioned above is just a counter tracking the batch size that was actually used. The batch size is chosen by beam (unless you override it using the desired_batch_size flag). You should not need to set this flag at all. It is not yet clear to me why beam is varying it.

[2019-06-18 18:44] gowtham-kp commented on #239
@riyersk Can you please share the error log as I am unable to understand what the issue is. Thanks!

[2019-06-19 07:54] Bumbleblo commented on #51
I'm interested in working on this tutorial. Is anybody already working on it?

I believe that to solve the issues mentioned by the @zhitaoli  would need to separate the installation section from the usage example. Thinking as a developer start using the application he could look for installation guide that would suit him best and then move on to the get started page. That way we could maintain the

[2019-06-19 17:04] martin-laurent opened #243 "Support more stats_options through config."
The current (0.13.0) implementation of the `StatisticsGen` component only uses the default stats_options: `stats_options = tensorflow_data_validation.statistics.stats_options.StatsOptions()`
There is a TODO statement saying that this should be configurable.
There should be a default to the current behavior.

[2019-06-19 22:25] zhitaoli commented on #51
No one is working on this so go for it.

I agree with the separation of installation and usage in tutorial doc. If
there can be a way to "smoke test" the installation it'll be even better,
but that's optional and with an pre-built docker image maybe we don't
really need it.

On Wed, Jun 19, 2019 at 12:54 AM Felipe Borges <notifications@github.com>
wrote:

--
Cheers,

Zhitao Li

[2019-06-19 22:35] zhitaoli commented on #240
@KamalAman , while making PCollection a first class citizen may help example processing, there are other issues I can see:

1) how does that work for components which are not built on top of Python Beam? Files are can handled by any components/executors written in any language, but we don't have adaptor from PCollection -> go/java/c++/etc;
2) are we going to force everything type of artifact to be

[2019-06-19 22:35] #240 closed

[2019-06-19 22:59] riyersk commented on #239
I can't.  I tried running it again to get the error log, but the DAG won't finish on airflow now.  I hit refresh and trigger, as per the instructions, but the block outlines in the graph view won't change to dark green, and it's been hours.
![tfxStep4ErrorPic1](https://user-images.githubusercontent.com/2560661/59806997-3b17f700-92ab-11e9-9a26-4d993d952400.jpg)
![tfxStep4ErrorPic2](https://user-ima

[2019-06-20 07:37] rcrowe-google commented on #51
+1 for all of the above, and thanks Felipe for stepping forward!

Robert Crowe | TensorFlow Developer Advocate | robertcrowe@google.com  |
@robert_crowe <https://twitter.com/robert_crowe>

On Thu, Jun 20, 2019 at 12:25 AM Zhitao <notifications@github.com> wrote:

[2019-06-20 23:26] zhitaoli opened #250 "Support mysql as metadata backend"
This covers both refactoring of _get_default_metadata_connection_config() and allow mysql as another metadata connection config, as well as update some of our examples to that.

[2019-06-23 08:10] Bumbleblo commented on #51
Searching in dockerhub I find that [image](https://hub.docker.com/r/tensorflow/tfx) (I believe it's official). The image is prepared to run the [run executor script](https://github.com/tensorflow/tfx/blob/master/tfx/scripts/run_executor.py). Since that is not referenced by the official documentation should I use it as a base ?

If that is not recognized as a official, it's a goal of the project ru

[2019-06-24 17:00] 1025KB commented on #239
is airflow scheduler running? for refresh, hit the refresh on right top side of the UI block, don't hit other refresh button

[2019-06-25 02:23] krazyhaas commented on #250
Dibs!

[2019-06-25 04:57] zhitaoli commented on #51
Hi @Bumbleblo,

Yes this image is the official TFX image. It currently runs the run_executor script and will later be converted to a (WIP) run_component.py which runs driver/executor/

I think it's the right thing to extend this image (through "FROM tensorflow/tfx" docker file clause), install apache-airflow/mysql/etc necessary to run the demo, and create another image (i.e, "tensorflow/tfx:latest

[2019-06-25 17:38] 1025KB commented on #243
Keep this as a feature request

[2019-06-26 16:15] riyersk commented on #239
So I tried to start airflow again to look into this, but now I get the following traceback after calling airflow webserver -p 8080 in the command line:
[2019-06-26 09:02:59,038] {__init__.py:51} INFO - Using executor SequentialExecutor
  ____________       _____________
 ____    |__( )_________  __/__  /________      __
____  /| |_  /__  ___/_  /_ __  /_  __ \_ | /| / /
___  ___ |  / _  /   _  __/

[2019-06-28 14:32] Bumbleblo commented on #51
I already create a [initial version for that image](https://hub.docker.com/r/bumbleblo/tfx) (that version is using sqlite). Now I'm trying to understand what is important in [default setup script of the workshop](https://github.com/tensorflow/tfx/blob/master/tfx/examples/workshop/setup/setup_demo.sh).

With that complete I believe I can start writing the tutorial.

[2019-06-28 16:27] zhitaoli commented on #51
Great! Can you post the Dockerfile for the initial version?

IMHI, high level things we need from the default setup script should be:
- install jupyter notebook;
- install notebook related dependencies;
- start notebook on a different port and expose that port to browser;
- make sure pipeline data and sqlite DB file is on a volume (which can be
mounted to the container);

The part of copying pytho

[2019-06-30 07:30] Bumbleblo commented on #51
Yes, that is the Initial Dockerfile

[code]

setup.sh script:

[code]

[2019-07-01 17:26] gowtham-kp commented on #239
@riyersk It seems like you are already running airflow on your server. Just kill process of this airflow webserver ( Refer to this [stack overflow question](https://stackoverflow.com/questions/39073443/how-do-i-restart-airflow-webserver) for solving problem.

[2019-07-02 05:01] YeskendirK opened #298 "Unable to feed Evaluator with custom tf.Example"
Hello!
I have trained model and dataset of images. Now I am trying to run Evaluator component of TFX:
[code]
where example is:
[code]
However I receive the following error:
[code]
I've spent a lot of time on this issue. Please help!

Thank you!

[2019-07-02 18:33] gowtham-kp commented on #298
@YeskendirK As mentioned [here ](https://www.tensorflow.org/tutorials/load_data/tf_records#data_types_for_tfexample) Byteslist doesn't accept list, it only accepts string and bytes as input.

How ever as mention [here](https://www.tensorflow.org/tutorials/load_data/tf_records#write_the_tfrecord_file), you can convert images to tf examples using this file and use those tf examples as the input to B

[2019-07-03 03:23] YeskendirK commented on #298
Thanks for the reply!
However, I face the same error message:
[code]
Here is my edited code after your suggestions:
[code]

[2019-07-03 16:04] riyersk commented on #239
Alright, so I killed the process and got airflow to start.  Now when I go to trigger the taxi, I get the following error. Please advise.

![tfxStep4ErrorPic3](https://user-images.githubusercontent.com/2560661/60607010-3ce4be80-9d71-11e9-96a5-96a24a0cce9e.jpg)
![tfxStep4ErrorPic4](https://user-images.githubusercontent.com/2560661/60607016-40784580-9d71-11e9-9254-51473027395c.jpg)

[2019-07-07 22:30] kenviku opened #310 "Adding multiple label outputs to tf estimator"
Can someone guide me to an example of using multiple outputs/labels in the tf estimator for tfx? I found some examples online for tensorflow but I am finding it hard to identify the changes required in the tfx setup. I am using the taxi pipeline as example and looking at `trainer_fn` and `_build_estimator`.

[2019-07-08 02:13] Bumbleblo commented on #51
Recently a new release of Flask broke the Dockerfile above. I already did an update on the post with the  repair

[2019-07-08 05:10] charlesccychen commented on #298
It looks like the error now is different: it refers to the line:

[code]

Can you check your implementation of `_int64_feature`?

[2019-07-08 05:27] YeskendirK commented on #298
[code]

[2019-07-08 07:27] rummens opened #311 "Best way to insert ImagePullSecret into Pipeline"
# Problem
If the base container of the pipeline is on a private registry, an ImagePullSecret is required for authentication. This cannot be inserted on a container level but must be inserted on a [argo workflow](https://github.com/kubeflow/pipelines/blob/b957a9872cda4401e243ea95940733b7eae4d662/sdk/python/kfp/dsl/_pipeline.py#L63) level, so #208 does not help here.

# Current workaround
Giving the

[2019-07-08 15:34] saifrahmed opened #313 "mock requirement for apache-beam 2.13.0"
Per the readme, I installed the following on Python 3.5:
[code]
Unfortunately there is one library which doesnt meet the apache-beam 2.13.0 requirement for mock<3.0.0

I get the following warning:

[2019-07-08 16:22] zhitaoli commented on #313
These issues often comes from different python packages bringing conflict dependencies. Can you try to force downgrade 'mock==2.0.0' in your virtualenv before installing, then try again?

If that does not work, can you report an issue with Apache Beam project by following **https://beam.apache.org/contribute/#troubleshooting**? Mock 3.0 was only released early this year so maybe they haven't caugh

[2019-07-08 17:20] pfyang commented on #163
Just to doubhle check: Did you see any error in the browser's debug console? For Chrome on Linux, press F12.

Can you please try turn on tfma.post_export_metrics.auc_plot and / or tfma.post_export_metrics.calibration_plot_and_prediction_histogram and try to visualize them using tfma.view.render_plot?

Also, could you please include the screenshots of the entire Jupyter cell for both calls of tfma.

[2019-07-09 18:32] ruoyu90 commented on #310
The [multi_head](https://www.tensorflow.org/api_docs/python/tf/contrib/estimator/multi_head) API seems to be the one you're looking for. You will also need to modify the input functions to emit multiple labels you'll use in the multi-head estimator.

[2019-07-09 19:14] krazyhaas commented on #250
Done.

https://github.com/tensorflow/tfx/pull/290

[2019-07-09 19:14] #250 closed

[2019-07-09 19:22] krazyhaas commented on #239
It looks like that issue is caused if the sqlite database is corrupted.  I found a few solutions available on Google (e.g. [1], [2]) but if you don't care about the contents of the database, it would be faster to delete the existing database and start afresh with a new database.

[1] https://techblog.dorogin.com/sqliteexception-database-disk-image-is-malformed-77e59d547c50
[2] https://www.froebe.n

[2019-07-09 21:22] ruoyu90 commented on #311
Thanks for reporting this @rummens ! This also applies to other parameters that users might only want to set during run time instead of compile time. Leaving this FR open to track run time parameter support.

[2019-07-10 00:52] kenviku commented on #310
Thank you! Although the snippet provided is pretty clear, curious if there is any tfx example available?

[2019-07-10 01:04] kenviku opened #320 "Multiple Trainer in pipeline"
I tried adding multiple trainer in the code and add it to pipeline in the following way but it did not reflect any change in the Airflow DAG and neither did I see an output generated for that model. Any example around on how to fix this or anything I am missing?

[code]

[2019-07-10 15:28] Iso-oss opened #321 "MNIST TFX Pipeline"
Hello!

First, I would like to thank you for your work. I am currently trying to create a TFX pipeline capable to train a deep learning model on MNIST data set. ImportExampleGen, StatisticGen and SchemaGen are pretty straight forward to setup with the documentation. My data are stored as tf records and images are put into tf records as bytes. I am now struggling to setup up a Transform components

[2019-07-10 16:11] rummens opened #322 "How to write custom component"
Hello,

I am trying to figure out how to write my own component but I am struggeling to understand all the abstraction concepts like Channel, ChannelParameter, ExecutionParameter, Artifact etc.

Is there any documentation on this?

In the end I just want to excute my own python function inside of TFX, basically overwritting the do function of the Executor but I cannot get the input/outputs to work

[2019-07-10 16:59] krazyhaas commented on #320
You have two trainer components, so you currently need to add a name parameter to uniquely differentiate them.  Try adding the **name** parameter to at least one:

[code]

Soon the name will be truly optional for these situations and we'll autocreate a name when a second component of the same type is added to the DAG.

[2019-07-10 17:08] zhitaoli commented on #164
Just a note in case anyone ran into this issue: if you see an error related to "TypeError: Object of type bytes is not JSON serializable" and you have ever used more than one python versions w/ airflow, clearing cookie or open the airflow webserver in an incognito page of Chrome may fix the problem.

[2019-07-10 17:39] ruoyu90 commented on #310
Chicago taxi is our current example to showcase TFX and we're working on more examples. However there is an [example multi-head trainer](https://github.com/tensorflow/model-analysis/blob/master/tensorflow_model_analysis/eval_saved_model/example_trainers/multi_head.py) in TFMA repository and feel free to take a look.

[2019-07-10 17:48] ruoyu90 commented on #322
Thanks @rummens for bringing this up! We do have an [example code](https://github.com/tensorflow/tfx/tree/master/tfx/examples/custom_components/slack) for building custom component. We're also working on documentation on steps to create one. For the time being, could you try to follow the example and see how it goes?

By looking at your code above, it seems you're trying to custom your own Example

[2019-07-10 18:11] ruoyu90 commented on #321
Hi @Iso-oss , thanks for trying out TFX :)

In transform stage, we want to use tensor operations to transform input tensors and a graph representing the transformation will be created and passed down to downstream component. You can refer to [TFT site](https://www.tensorflow.org/tfx/transform/get_started) for more information.

For you specific case, maybe [tf.image](https://www.tensorflow.org/api

[2019-07-11 09:07] rajeshkumargp opened #331 "Getting ImportError: /usr/lib/x86_64-linux-gnu/libstdc++.so.6 in Python 3.5 Ubuntu 16.04"
I am trying to replicate Taxi Data Set Analysis using TFX as in https://github.com/tensorflow/tfx/tree/master/tfx/examples/chicago_taxi_pipeline.

I am using Python3.5 in Ubuntu 16.04.
My virtual environment base path is at `/home/user/Environments/tfx_py3 `

Here is the error log while running `airflow webserver -p 8080`

[2019-07-11 14:32:01,072] {__init__.py:305} INFO - Filling up the DagBag fr

[2019-07-11 13:08] rummens commented on #322
Thanks for the hint, I will have a look at the slack component and start from there. I will report back..

[2019-07-11 14:26] rummens commented on #322
Quick questions in the meantime. What is the conceptual difference between input/output params and execution params? It seems to me that execution and input params are avaiable at the same places, so why go through the struggle of you using channel if one can just (mis)use the execution parameter? What am I not getting :-)

[2019-07-11 15:20] Iso-oss commented on #321
Thank you for your response ! With your answer I managed to transform images as I wanted. I just have one last issue about shapes. During the reshaping steps if I try to recover values for height and width from inputs with the following code :

`height = _fill_in_missing(inputs["height"])` (same _fill_in_missing function from the taxi example)
`height = tf.cast(height, tf.int32)`
`height = tf.resh

[2019-07-11 17:29] zhitaoli commented on #331
@hughmiao

[2019-07-11 17:45] ruoyu90 commented on #322
@rummens hopefully you'll find the following explanation useful :)

In TFX, we model an execution into several parts:

- Artifacts: inputs / outputs of an execution. The artifacts are things that are produced by upstream components and consumed by downstream components. e.g. an example file, a model, etc
- Execution properties: other parameters that are used by an execution. The impact of executio

[2019-07-11 18:13] ruoyu90 commented on #321
IIUC the question is about to get the shape of the input tensor instead of hardcoding the output shape when calling `tf.reshape`? You can always get the shape of the tensor by calling `tf.shape` which will give you the shape of the tensor in the format of List[int]. Note that the first element of the result is the batch size.

[2019-07-12 06:11] rummens commented on #322
Is it correct to assume that artifacts are basically some kind of files. Then the channel objects hold an tfArtifact, which contains a path/uri to these „files“, a simplified workflow could look like this:
1. Load input “file” from Channel URI
2. Manipulate the content with help of execution parameter
3. Write output “file” back to “disk” via Channel URI

[2019-07-12 17:49] rcrowe-google commented on #117
Apparently this is blocking b/123843977

[2019-07-12 22:38] ruoyu90 commented on #322
@rummens yep. One small note is that a Channel may contain more than one artifact.

[2019-07-15 01:02] Bumbleblo commented on #51
I pushed a new version of the [image](https://hub.docker.com/r/bumbleblo/tfx) with that volumes (one for user data and other with airflow data). Also I already update the dockerhub page description with a new usage command. All files used for build that image it's [here](https://github.com/Bumbleblo/tfx/tree/51-adding-docker_based-tfx-workshop/tfx/examples/docker_tutorial).

[2019-07-15 12:24] Iso-oss commented on #321
Thank you, I managed to do the whole pipeline as I wanted. Great work, keep it up !

[2019-07-15 14:30] alessiocamillo opened #335 "metadata.sqlite_metadata_connection_config"
Hi,
I'm tryng to setup "Chicago Taxi Example" following the instractions available on this url: https://github.com/tensorflow/tfx/tree/master/tfx/examples/chicago_taxi_pipeline

I installed tfx version 0.13.0 but when i try to execute "airflow initdb" command  I have the following output:

Traceback (most recent call last):
  File "/taxi_pipeline/local/lib/python2.7/site-packages/airflow/models/da

[2019-07-15 15:42] rummens commented on #322
Thanks for you help so far, I have been able to get the ExecutionParameter working but I am struggling with the Input Params.

First of all, what is the idea behind the type_name of an TfxArtifact? I get it for Channels (to create a comparison between Component Spec and the Channel) but I don't understand it in the TfxArtifcat? Must it be the same as the Channel's type_name?

<br>

Also I am strug

[2019-07-15 16:20] zhitaoli commented on #335
Hi, this function is introduced after 0.13. Can you try out the examples
from https://github.com/tensorflow/tfx/tree/r0.13 branch instead?

On Mon, Jul 15, 2019 at 7:30 AM alessiocamillo <notifications@github.com>
wrote:

--
Cheers,

Zhitao Li

[2019-07-15 17:49] ruoyu90 commented on #310
Closing this issue for now. Feel free to reopen if you have further question :)

[2019-07-15 17:49] #310 closed

[2019-07-15 18:55] ruoyu90 commented on #322
@rummens You're very welcome! Please see reply inline :)

In TFX, Channel stands for a collection of Artifacts that share the same Artifact type and (optional) other  properties. Thus, any TfxArtifact in a Channel should have the same type.

The comment does not cover the whole picture. Sorry for the confusion, we'll update the comment. The comment is true for Artifacts that are created by TFX. If

[2019-07-15 19:41] ruoyu90 commented on #321
@Iso-oss It seems TF is complaining about mixing graph mode and eager mode. I assume the trainer runs fine? Could you attach the trainer code so that we have better context?

@mdreves could you shed some light on this?

[2019-07-15 21:38] zhitaoli commented on #51
@Bumbleblo Thanks. I'll try the image out later today and provide feedback. Since I cannot comment on your branch, consider send a PR so I can comment?

@rcrowe-google

[2019-07-16 03:43] nsudhanva commented on #335
Can confirm that it works with branch r0.13. Thanks @zhitaoli

[2019-07-16 03:49] Bumbleblo commented on #51
For sure, I'll open a pull request for that docker files and link here.

[2019-07-16 05:51] mdreves commented on #321
Can you try this with TF version 1.14.

[2019-07-16 08:46] rummens commented on #322
Thanks, the driver hint was the key. Everything runs fine now :-)

Only question I have is regarding the file name for the output artifcat. I cannot figure out how you share it between different components, so I just changed the uri of the output artifact to match the filename that I have created. Is there a better way or do upstream components need to know the filename via documentation etc.?

[c

[2019-07-16 10:41] rmothukuru commented on #127
Closing the issue as it has been resolved.

[2019-07-16 10:41] #127 closed

[2019-07-16 11:02] chmod644 commented on #335
It worked well after compiling the proto files

[code]

[2019-07-16 11:22] rmothukuru commented on #239
@riyersk ,
Can you please confirm if @krazyhaas's solution worked for you.

[2019-07-16 11:36] rmothukuru commented on #298
@YeskendirK ,
Can you please provide the Error Message when you have tried the above code.

[2019-07-16 11:39] rmothukuru commented on #313
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-07-16 11:39] #313 closed

[2019-07-16 14:06] rmothukuru commented on #335
@alessiocamillo ,
Can you please confirm if it works with r0.13.

[2019-07-16 14:17] krazyhaas commented on #335
@rmothukuru : it was added after r0.13.  It's part of a r0.14 feature.  When he was installing the examples from HEAD (future-r0.14) and the code from PyPI (r0.13), he ended up with a version mismatch: r0.13 (examples) vs future-r0.14 (code).  The solution is to either use the examples from github (future-r0.14) or the examples from the r0.13 branch.

@alessiocamillo : glad to hear you're up and r

[2019-07-16 14:17] #335 closed

[2019-07-16 14:21] krazyhaas commented on #331
Hi rajeshkumargp.  You need to upgrade libstd.  Try the following commands and let me know if the issue gets resolved:

[code]

[2019-07-16 15:09] Iso-oss commented on #321
The pipeline works now :). I mixed up labels keys. Thank you for your help and keep on with TFX :)

[2019-07-16 15:09] #321 closed

[2019-07-16 16:06] zhitaoli commented on #321
Hi @Iso-oss, good to hear that things eventually work. Are you willing to publish your example pipeline, either in this repo or in your own? We are looking to expand example coverage of TFX and some of our engineers are looking at creating an image based example, but we are definitely supportive if anyone in the community wants to contribute.

Thanks in advance!

[2019-07-16 16:37] chanshah commented on #321
Hi @Iso-oss I'm glad the pipeline is working for you now. Would you be willing to publish / contribute the sample for this pipeline for more developers to benefit from this?

[2019-07-16 18:48] johnomahen79 opened #349 "Airflow initidb errors"
Started with json errors and that changed when i updated Wekzeug but now i get this error:
No module named 'werkzeug.wrappers.json'
Told me to upgrade Flask and Jinja .....so is there a list of all correct compatible versions on the github site that I missed or ? thanks

[2019-07-16 20:06] zhitaoli commented on #349
I suggest is to pin the version of airflow, Werkzueg and Flask.

See https://github.com/tensorflow/tfx/commit/711a9d899324de4b7207c04ecd905872bdcd2e9e for an example.

Please let me know if it works.

[2019-07-16 21:02] krazyhaas commented on #349
This is an issue with Airflow 1.13.0 which didn't correctly pin the version of Flask: https://issues.apache.org/jira/projects/AIRFLOW/issues/AIRFLOW-4900

If you've already installed airflow 1.13, you should be able to resolve this with
`pip install --upgrade Flask`

[2019-07-16 21:07] krazyhaas commented on #199
Hi rummens -- is this still an issue for you?

[2019-07-16 21:14] ruoyu90 commented on #322
@rummens The URI is auto-assigned by TFX through [driver](https://github.com/tensorflow/tfx/blob/master/tfx/components/base/base_driver.py#L151). If you only want to run the pipeline, you don't need to worry about the file URIs. If you want to look into the output of a specific component, you can use ML metadata API call to get the URI of the artifact produced by a component execution. You can ref

[2019-07-17 08:36] rummens commented on #199
We have actually moved away from Airflow on K8s, so I never came around to test this. I thought that you might wanna keep this around in case other people have the same problem?
But from my perspective we can close this.

[2019-07-17 08:39] rummens commented on #322
But I have to tell MLMD at some point the name of the file(s) I am writing to, right? If I don’t overwrite the URI it will only contain the path to the actual folder, but not the file. A downstream component might not know which file to use, if multiple exists.
The workaround above works fine for me but I was wondering if this is the intended way?

[2019-07-17 09:25] rajeshkumargp commented on #331
Tried these,
Still getting same error.

-->sudo apt-get install gcc-4.9
Reading package lists... Done
Building dependency tree
Reading state information... Done
gcc-4.9 is already the newest version (4.9.3-13ubuntu2).
0 upgraded, 0 newly installed, 0 to remove and 406 not upgraded.

--> sudo apt-get install --only-upgrade libstdc++6
Reading package lists... Done
Building dependency tree
Reading st

[2019-07-17 15:21] riyersk commented on #239
Hi, sorry for the delay.  I went with @krazyhaas's solution of deleting the database.  I deleted the environment, directory and everything and started from scratch.  Will provide an update by this weekend.

[2019-07-17 17:14] krazyhaas commented on #199
Thanks.  Unfortunately, we can't reproduce either issue.

[2019-07-17 17:14] #199 closed

[2019-07-17 18:29] gowtham-kp commented on #331
@rajeshkumargp Users have run into the similar issue while installing Tensorflow in the system. But there is a work around for this. Can you please refer to the following [issue](https://github.com/lhelontra/tensorflow-on-arm/issues/13) and let me know if it helps! This issues has a clear explanation and work arounds that will help you navigate through this error!

[2019-07-17 19:34] htahir1 opened #352 "ExampleGen should support custom time series splits"
Is there a way to specify a split for the ExampleGen component that splits across a 'timestamp' field? This cannot work currently as the raw data might not be sorted according to time.

[2019-07-17 21:44] gowtham-kp commented on #352
@htahir1 You can define your own split configuration [here](https://github.com/tensorflow/tfx/blob/master/tfx/proto/example_gen.proto#L44) Try splitting on time stamps using your own custom code and let me know if it works. Thanks!

[2019-07-18 03:42] htahir1 commented on #352
@gowtham-kp I've been looking at that for the last hour and I even went down to the [base_example_gen_executor](https://github.com/tensorflow/tfx/blob/6d3e777e15fd7ffe14cc803069db62dfd1fe0008/tfx/components/example_gen/base_example_gen_executor.py) level to try and understand what was happening.

Its still non-intuitive to me. In my use-case, every example has for example a field called 'timestamp

[2019-07-18 13:08] rmothukuru commented on #320
@kenviku ,
Can you please confirm if the code given by @krazyhaas has fixed your issue.

[2019-07-18 14:49] ChethanUK commented on #349
Did you try: `pip install -U Werkzeug` or try installing 0.14

[2019-07-18 14:56] ChethanUK commented on #47
@mwalenia Line: https://github.com/tensorflow/tfx/blob/942358f5b24dea49e8bde8691507c8cbc508b427/tfx/examples/chicago_taxi/trainer/task.py#L26 is giving
[code]

[2019-07-18 18:00] zhitaoli commented on #349
I would suggest try pinning related softwares to a known good version: pip
install apache-airflow==1.10.3 Flask==1.0.4 Werkzeug==0.14.1

On Thu, Jul 18, 2019 at 7:49 AM ChethanU <notifications@github.com> wrote:

--
Cheers,

Zhitao Li

[2019-07-19 01:41] krazyhaas commented on #352
Hi Hazma.  Have you taken a look yet at the second example in https://www.tensorflow.org/tfx/guide/examplegen#custom_inputoutput_split?  That has an example how to take pre-split train/eval splits and configure the ExampleGen component to receive each.  That assumes your data has been split prior to calling ExampleGen.

Another option would be to create a custom ExampleGen, shown at https://www.te

[2019-07-19 02:01] YeskendirK commented on #298
@rmothukuru @gowtham-kp @charlesccychen Thanks for your help! I solved my problem by using ImportExampleGen, even though I wanted to use only Evaluator & ModelValidator components in the beginning.

[2019-07-19 02:01] #298 closed

[2019-07-19 06:19] htahir1 commented on #352
Thanks for the reply @krazyhaas!

Pre-splitting is definitely an option but I wouldn't like to write beam code that does that just to prepare it for the main TFX pipeline. However yes it certainly is an option!

As far as the option to write a custom ExampleGen, that would mean to override both GetInputSourceToExamplePTransform and GenerateExamplesByBeam in [BaseExampleGenExecutor](https://github.

[2019-07-19 07:08] junhee-yoo commented on #203
Hi, I've written some code for this issue and made a PR: https://github.com/tensorflow/tfx/pull/361
Please check it and let me know what will be needed to improve.

Thanks!

[2019-07-19 07:16] htahir1 opened #362 "Parameterized pipelines using Kubeflow?"
hi again! As you can see im a new and very excited user of the technology and have so many questions as I want to implement TFX in our company's workflows and want to convince everyone of it as well! (P.S. if theres a way for me not to bombard this board and just ask questions on another format, I would be do that).

This time I wanted to ask about Kubeflow pipelines. In Kubeflow, it is relatively

[2019-07-19 14:55] gilbblig opened #363 "Kubeflow TFX Taxi Pipeline BigQuery missing project information"
I followed instructions of the [Jupyter Notebook](https://github.com/kubeflow/pipelines/blob/master/samples/tfx-oss/TFX%20Example.ipynb) file with minor changes (e.g. TFX 0.12 didn't yield a pipeline for me, so I used TFX 0.13) to create a pipeline. The Notebook calls [this script](https://github.com/tensorflow/tfx/blob/master/tfx/examples/chicago_taxi_pipeline/taxi_pipeline_kubeflow.py), which I

[2019-07-19 15:26] neuromage commented on #362
Thanks for the detailed request. We are planning on adding pipeline level parameters that should ideally translate to both Kubeflow and Airflow configurable runtime parameters. We will update this issue once we have a more concrete plan on how to do this.

/cc @ruoyu90

[2019-07-22 05:38] junhee-yoo commented on #203
@zhitaoli @krazyhaas @rmothukuru
Hi, May I get some comments on PR: #361?
I copied most of PrestoExampleGen codes from BigQueryExampleGen but it has dedicated spec for Presto login/connection information.
And it has own it's component so I didn't put it into custom_executors directory.

Thank you!
p.s. If I interrupted community process, I apology. Please let me know how can I contribute in this i

[2019-07-22 05:56] riyersk commented on #239
Alright, so I started over, and now I'm having issues with the first step in the DAG, with just the CSVExampleGen component.  Airflow seems to have a problem with line 70 of the taxi_pipeline_solution.py file, but I'm not sure what it is.  I've included the DAG and graph views as well as the log that was generated when I tried to run the DAG.

<img width="941" alt="tfxStep1Error" src="https://user

[2019-07-22 10:24] gilbblig commented on #321
Hi @zhitaoli , I'm also looking to apply a pipeline based on TFX and Kubeflow for image classification. Since I just started by replicating a csv-based pipeline, I wonder if there is already some code you'd be willing to share.

[2019-07-22 16:43] krazyhaas commented on #352
I'm not sure what your input dataset looks like, so I'll assume CSV solely for the purpose of easier explanation.  This workaround is a bit cumbersome right now but should suffice until we support custom time series splits:

First, create a new component that is a clone of the CsvExampleGen component.  This is the "more cumbersome than it needs to be" part.

Next, create a new partitioning functio

[2019-07-22 17:04] htahir1 commented on #363
@gilbblig I think the problem is that there is a small typo in the taxi_pipeline_kubeflow.py example in line 105 here
[code]

There is a leading comma that causes this variable to be interpreted as a tuple and not a list. I fixed it this way and it worked. I think the latest github repo doesnt have this problem though..

[2019-07-22 17:07] htahir1 commented on #352
@krazyhaas can we also do many splits at this moment? like if i was to have many timestreams in my data (lets say its IoT data and I have many different assets with different timestreams all flowing in from the CSV), can i extend the notion of splits and just send many splits downstream (not just train and eval)?

Would the rest of the components work like that or would I also have to rewrite thos

[2019-07-22 17:39] htahir1 commented on #362
Okay thanks for the update. Is there a current workaround? How do we then re-run pipelines with slight different configurations?

[2019-07-22 17:47] zhitaoli commented on #363
I believe the issue was fixed in cab43b36e9b902af1942455f2eb02283bac3f8a6.

[2019-07-22 17:47] #363 closed

[2019-07-22 17:53] zhitaoli commented on #352
@htahir1 Currently many components only work on hard-coded splits 'train' and 'eval', although we plan to support more splits in the future (tracked by #21).

[2019-07-22 18:36] 1025KB commented on #239
Seems the issue is still related to sqlite connection, did you run it locally?

can you get the logs under CsvExampleGen folder within airflow/logs/?

[2019-07-23 07:45] krazyhaas commented on #239
Can you also share your airflow.cfg?  It's usually found in ~/airflow if you've gone with the default install.

[2019-07-23 09:00] rajeshkumargp commented on #331
I did reinstalled gcc-4.9, libstdc++6, It  resolves the issue.
I did by using

sudo apt-get install --reinstall gcc-4.9

[2019-07-23 09:00] #331 closed

[2019-07-24 06:19] rummens commented on #322
Thank you very much @ruoyu90, you really helped me out. Everything is working now ;-)

[2019-07-24 09:05] Efaq commented on #182
@zhitaoli I agree with @andrewlarimer, it would be useful to get some insights from you in the meantime about how to implement something through custom components.

Thank you!

[2019-07-24 18:43] zhitaoli commented on #322
Hi @rummens, glad things worked out. If your component will end up in open source, please feel free to send us a link and we are happy to cross link it in our docs.

[2019-07-24 23:40] 1025KB commented on #362
as long as inputs are the same, component will be cached,

in our chicago taxi example, metadata is per pipeline as metadata path contains pipeline name in it, but it's not required

[2019-07-25 06:37] htahir1 commented on #362
i see. can you also please explain how the inputs are compared? So for example, if the input is a google storage bucket, will it go in and check what was in that storage bucket? or will it just see that the URL is the same and skip the whole thing

[2019-07-25 18:11] 1025KB commented on #362
for kubeflow, cache isn't enabled yet,
for airflow or beam orchestrator (in 1.14 release), we check all input artifact, exec_properties to decide whether to skip a component, details can be found [here](https://github.com/tensorflow/tfx/blob/master/tfx/orchestration/metadata.py#L388)

for input, we check URL instead of content as component input artifact is immutable, for external input of example

[2019-07-26 14:55] zhitaoli opened #388 "Footprint/checksum for caching when additional user dependency is used"
Several components of TFX takes a user defined functions (preprocessing for transform and train_fun for trainer). Currently they come from a single python file so caching is still doable, but once the component is launched with additional dependencies (pip package or multiple files).

One idea is that additional user dependency should only be supported through docker image, and use image finger pr

[2019-07-26 17:34] gowtham-kp commented on #320
Closing this issue as it has been inactive for more than a week. Please add additional comments and we can open the issue again. Thanks!

[2019-07-26 17:34] #320 closed

[2019-07-26 17:48] krazyhaas commented on #236
I'm leaving open as a future feature to control the batch size, but looks like Benjamin was able to work around the issue.

[2019-07-27 21:57] gilbblig opened #393 "input_configs for BigQueryExampleGen crashes unexpectedly"
I'm orienting myself on the official chicago_taxi examples. To avoid syntactical errors, I use the query from the example for my train as well as the eval set at this point.

My call of the function looks like this, with both queries being same:

[code]

In the Big_Query_Example_Gen component, input_config is described as follows:

I can built the pipeline, but the runner quickly produces the foll

[2019-07-29 06:35] ajit-kumar-azad opened #396 "Invalid syntax in taxi_pipeline_simple.py"
Hi There!

I am following [Chicago Taxi Pipeline](https://github.com/tensorflow/tfx/tree/master/tfx/examples/chicago_taxi_pipeline) example steps. While running `airflow webserver` I am getting following error:

[code]

[2019-07-29 07:50] rummens commented on #322
Hi @zhitaoli, my summary was hosted on our internal git but I put the intressting part on a seperate [repo](https://github.com/rummens/TFX-Custom-Component). Feel free to propose changes :-)

[2019-07-29 13:21] htahir1 commented on #396
@rmothukuru This might be that you're running beam on Python 2.7, but the code you're using in Python 3.5. Please upgrade your local virtuanenv to Python 3 and update.

Maybe the docs need to be updated?

[2019-07-29 13:27] rmothukuru commented on #396
@ajit-kumar-azad ,
Please provide details about what platform you are using (operating system, architecture). Also include your TensorFlow version. Also, did you compile from source or install a binary?

Make sure you also include the exact command if possible to produce the output included in your test case. If you are unclear what to include see the issue template displayed in [the Github new is

[2019-07-29 18:06] 1025KB commented on #393
Yep, it should be version issue, let me know if head or 0.13 works or not

[2019-07-29 20:27] Bumbleblo commented on #51
Hey @zhitaoli you can me yours feedback about the [latest version of tutorial image](https://cloud.docker.com/u/bumbleblo/repository/docker/bumbleblo/tfx) ? I make some changes to python 3 and that new version is based in the Dockerfile on master branch.

[2019-07-30 03:35] ajit-kumar-azad commented on #396
@htahir1 I am following the exact steps and version of the softwares mentioned in the example documentation. I am using Python 2.7 and here are the versions of other softwares:

- tensorflow - 1.13.1
- docker - 4.0.1
- apache-airflow - 1.10.3
- tfx - 0.13.0

Should I use Python 3? If so, what shall be the versions of other required softwares?

[2019-07-30 06:26] htahir1 commented on #396
@ajit-kumar-azad Try and switch to python 3 and use the same versions

[2019-07-31 06:36] rmothukuru commented on #396
@ajit-kumar-azad ,
Can you please try @htahir1's suggestion. If you are still facing the issue, can you please provide
1. Softwares you are using, along with versions
2. OS details
3. Exact code to reproduce the issue
4. Error Log
Thanks!

[2019-07-31 06:37] rmothukuru commented on #393
@gilbblig ,
Can you please confirm if using `head` or `0.13` resolves your issue?

[2019-07-31 06:49] rmothukuru commented on #163
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-07-31 06:49] #163 closed

[2019-07-31 08:42] rmothukuru commented on #349
@johnomahen79 ,
Can you please let us know if your issue is resolved by following the comments mentioned above.

[2019-07-31 08:46] rmothukuru commented on #239
@riyersk ,
Can you please provide the information requested by @krazyhaas anad @1025KB. Thanks!

[2019-07-31 12:08] johnomahen79 commented on #349
Sorry for the delay ...that seems to have done the trick.

[2019-07-31 12:45] rmothukuru commented on #349
Closing the issues as it has been resolved.

[2019-07-31 12:45] #349 closed

[2019-07-31 12:46] rmothukuru commented on #349
Are you satisfied with the resolution of your issue?<br> [Yes](https://docs.google.com/forms/d/e/1FAIpQLSfaP12TRhd9xSxjXZjcZFNXPGk4kc1-qMdv3gc6bEP90vY1ew/viewform?entry.85265664=Yes&entry.2137816233=349)<br> [No](https://docs.google.com/forms/d/e/1FAIpQLSfaP12TRhd9xSxjXZjcZFNXPGk4kc1-qMdv3gc6bEP90vY1ew/viewform?entry.85265664=No&entry.2137816233=349)

[2019-07-31 14:38] colson1111 commented on #396
Hi all, I've also been working through the Chicago Taxi example using Python 3 but hitting ImportErrors for Apache Beam:
[code]

It doesn't seem that the Chicago Taxi example is runnable in the tfx repo's current state.  I believe Python 2 is recommended because Apache Beam is not yet compatible with Python 3, however the type annotations that were recently added are incompatible with Python 2.

A

[2019-07-31 18:21] charlesccychen commented on #396
Hi @colson1111, it looks like we are being broken at head by differences in the API for https://github.com/tensorflow/transform.  This is a known issue and we are working on making this dependency work better.  Right now, the workaround is to build and install that package at head; you can also install the one-off nightly build here from test-pypi: https://test.pypi.org/project/tensorflow-transfor

[2019-08-01 02:44] riyersk commented on #239
log under taxi.CsvExampleGen.exec:

![tfxStep4ExampleGenExec](https://user-images.githubusercontent.com/2560661/62261632-d92ecf00-b3ca-11e9-9ebb-6ca85faca922.jpg)

log under taxi.CsvExampleGen.checkcache part 1:

![tfxStep4ExampleGenCache1](https://user-images.githubusercontent.com/2560661/62261684-05e2e680-b3cb-11e9-8324-a55dab31ae61.jpg)

log under taxi.CsvExampleGen.checkcache part 2:

![tfxSte

[2019-08-01 07:38] htahir1 opened #410 "Ability to name dataflow jobs"
Is there a way / or a plan to support custom names for job ids of dataflow jobs? right now, the components spin up something like this:

![image](https://user-images.githubusercontent.com/4792082/62274344-fd78c300-b43f-11e9-8cb5-961cdc6e8691.png)

Its very hard to distinguish between pipeline runs and its hard also to collaborate and see your runs vs other people in the company.

My suggestion wou

[2019-08-02 03:24] ahsanshah commented on #396
Has anyone been able to get this to work?  I also tried what @colson1111 suggested to remove the Python 3 type annotations and also used the nightly build suggested by @charlesccychen  but there are still a slew of issues pertaining to Python 2 vs 3 and/or Tensorflow/TFX.  Given Apache Beam does not work with Python 3, is it safe to assume this taxi pipeline example cannot actually "work"?  Any id

[2019-08-02 08:24] charlesccychen commented on #396
Hi @ahsanshah @colson1111, this works for me on Python 3.  Processing with Apache Beam on Python 3 also works just fine, though it is still not certified as stably supported in the current release.  What has worked for me is:

1. Create and enter a new Python 3 virtualenv.
2. Install TFX and Tensorflow using `pip install https://test-files.pythonhosted.org/packages/4b/02/14ef3dc3d8d05b1999721add1a

[2019-08-02 17:13] robertlugg commented on #396
The problem is the docs are "published" but versions that work aren't.

I found the same problems.  First off, use python 3.  The TFX docs say not to, BEAM gives warnings while running, but it does work.  In terms of version, as mentioned above, the online docs do not work with the 'pip' versions.  Basically use pip tf-nightly and manually install protoc.  Then install nightly tfx: `git clone http

[2019-08-02 20:15] robertlugg opened #418 "Suspicious use of split_name in example_gen/component.py"
This isn't necessarily a bug, but I am suspicious of some code. in:
https://github.com/tensorflow/tfx/blob/a412076f2d802d91511729992eedbab5c5992661/tfx/components/example_gen/component.py#L107

[code]
The variable `split_name` is used, but I don't see where it's defined, other than after its usage.

Can you confirm that the code is correct?  And, I apologize if it's just that I missed something.

[2019-08-02 20:51] robertlugg opened #419 "Add *.proto files to tfx python wheel package"
Understanding the output of [protoc](https://github.com/protocolbuffers/protobuf) is difficult.  Those files reference source.  For instance:
[code]
, yet I don't see those files in this project.

Reading the *.proto files is a lot easier than the *_pb2.py files.  Would you consider adding those files?  Or at least reference another location where they can be examined?

[2019-08-02 21:05] robertlugg commented on #419
The problem is that they **do** exist in this project:
https://github.com/tensorflow/tfx/tree/master/tfx/proto
, but aren't included after the python installation (ie after python setup.py install).  I guess it's reasonable to not have them in the install.

[2019-08-02 23:02] robertlugg opened #421 "Create a taxicab demo that runs in "Continuous Training" mode?"
In a [recent paper](https://www.usenix.org/system/files/opml19papers-baylor.pdf), I see

The Chicago taxicab example appears to be an "on-demand" pipeline.  Any change to the data directory (changing a row in the *.csv or adding a new *.csv file) triggers a complete re-run of all the rows of all the *.csv files.  From what I see, the current demo can't be run as a continuous pipeline.

Could you e

[2019-08-02 23:47] robertlugg commented on #322
Thanks @rummens.  I had a question, happy to open another issue, but its about Channel.  One is instantiated like this:
`input_channel = channel.Channel(artifacts=[input_artifact], type_name="ModelExportPath")`
My question is why must type_name be specified?  Each artifact has its type, so Channel can get it from there.  All it needs to do is make sure they all are the same.  Correct?

[2019-08-03 00:55] ahsanshah commented on #396
Thanks.  I did try the steps (or the combination of steps) outlines by @robertlugg and @charlesccychen .  The issue seems to be with Airflow. I still get errors on the Airflow side such as:

1. ERROR - Cannot use more than 1 thread when using sqlite. Setting parallelism to 1
2. File "/u00/TFX3/taxi_pipeline/lib/python3.5/abc.py", line 225, in __subclasscheck__
    for scls in cls.__subclasses__():

[2019-08-03 05:12] 1025KB commented on #418
split_name is from your input and output config[[1](https://github.com/tensorflow/tfx/blob/a412076f2d802d91511729992eedbab5c5992661/tfx/components/example_gen/component.py#L109)], which can do some custom split[[2](https://github.com/tensorflow/tfx/blob/a412076f2d802d91511729992eedbab5c5992661/docs/guide/examplegen.md#custom-inputoutput-split)], default is no input split, and output will be split

[2019-08-03 05:17] 1025KB commented on #421
currently we haven't support continuous training in TFX OSS yet, what you can do now is trigger the pipeline periodically to mimic continuous mode.

similar feature request [[1](https://github.com/tensorflow/tfx/issues/352)][[2](https://github.com/tensorflow/tfx/issues/210)], stay tuned, it's on our radar!

[2019-08-05 05:15] rmothukuru commented on #393
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-08-05 05:15] #393 closed

[2019-08-05 06:21] htahir1 commented on #210
In the meanwhile, could someone help out and expla how to mimic even one-shot batch learning with windowed data on TFX? I would like to train a lstm using my pipeline but I'm not sure where and how to put the windowing. Should it be part of transform? Should it be part trainer? Or should it be in a custom examplegen executor

[2019-08-05 17:15] zhitaoli commented on #419
We can use 'package_data' to include the protos. It's worth to include them for debugging purpose, IMO.

[2019-08-05 17:55] colson1111 commented on #396
@ahsanshah Yes, I was able to use the steps from @charlesccychen (along with the git clone + `python setup.py install` step from @robertlugg ) to get the example pipeline to run in Airflow.  I am using a python3.7 virtualenv.

[2019-08-05 18:16] charlesccychen commented on #410
Thanks, I will look into adding this functionality.

[2019-08-05 18:21] robertlugg commented on #418
Hi @1025KB, @rmothukuru.  This issue is my misunderstanding.  I will explain why I made the mistake.
The code is:
[code]
Although correct, it is confusing because there is so much going on in that single assignment.  If it was written as:
[code]
, then it would have been more understandable at first glance for me.  List comprehensions that span several lines generally make them less readable I thi

[2019-08-05 18:21] #418 closed

[2019-08-05 18:29] robertlugg commented on #419
If there is a clean way to supply them, I think library users would benefit from having them in the install.  I'll reopen for visibility but I totally understand if you don't feel a change is warranted.

[2019-08-07 12:01] valeriano-manassero opened #437 "KeyError: 'component_id'"
With a build from master latest commit https://github.com/tensorflow/tfx/commit/c9c7ecc64fa050677c33d05038f4054b558e0eef

If I run a Kubeflow pipeline I got this from modelvalidator:
[code]

It's probably a bug but I'm not sure how to fix it. Any help will be appreciated.

[2019-08-07 13:55] mfandre opened #438 "Statistics proto contains multiple datasets [TFX workshop example]"
Guys,

I try to run the TFX workshop example (https://github.com/tensorflow/tfx/tree/master/tfx/examples/workshop) but when the workflow hit the task "Example Validator" I'm getting this error "ERROR - statistics proto contains multiple datasets. Only one dataset is currently supported for validation.".

Any suggestion?

![image](https://user-images.githubusercontent.com/1164677/62628277-627d5e80-

[2019-08-07 17:09] mfandre commented on #438
My dag code:
[code]

[2019-08-07 18:05] ruoyu90 commented on #437
Thanks for bringing up the issue @valeriano-manassero ! This bug is caused by the facts:
1. Kubeflow currently bypasses driver and publisher but only invokes executor
2. Model Validator executor references to a execution property that is populated by its driver

We will have a fix soon.

[2019-08-07 18:06] gowtham-kp commented on #438
@mfandre Can you please check Statisticsgen output and let me know see if you have multiple stats files in it. Thanks!

[2019-08-08 05:14] ajit-kumar-azad commented on #396
Steps mentioned on [https://www.tensorflow.org/tfx/tutorials/tfx/workshop](https://www.tensorflow.org/tfx/tutorials/tfx/workshop) work and seems to be more up-to-date. I could get the example running.

[2019-08-08 05:14] #396 closed

[2019-08-08 13:37] bcdurak commented on #210
I am also currently trying to build up a similar pipeline which deals with time-series data. Even in the case of one-shot training as opposed to continuous training, it is necessary to integrate some form of windowing algorithm on the time domain before feeding the data into the model.

As far as I could see, TFX does not support this behavior at the moment. Even so, I believe that there are multi

[2019-08-08 15:18] sseveran commented on #182
Completely agree. If there was support for katib or preferably ray that would be great. A potential starting point might just be some docs describing how this should be implemented and we could add some support for what we are using today.

[2019-08-08 16:33] zhitaoli commented on #182
Sorry for the long delay as we have a couple of discussions with various teams (Google Cloud AI Platform, TFX internal, Keras, etc).

My current thought process on this one:

1. Given that Tensorflow is moving towards TF 2.0 and Keras, we hope to utilize this window to find a unified programming interface for hyper-parameter related business. The new [keras-tuner](https://github.com/keras-team/ker

[2019-08-08 17:30] 1025KB commented on #210
currently there are two way to use one-shot batch for multiple data span

1) prepare the data span in different paths, e.g., /tmp/YYYY-MM-DD/data,
    trigger the pipeline with a different [input_config split pattern](https://github.com/tensorflow/tfx/blob/master/docs/guide/examplegen.md#custom-inputoutput-split) (just a single split as input, output will be train/eval split)

2) just put updated

[2019-08-08 17:49] ruoyu90 commented on #437
This should be fixed by https://github.com/tensorflow/tfx/commit/6283fffb3ac81e2f213b4895fbe19623dfa9c4f5

[2019-08-08 17:49] #437 closed

[2019-08-08 18:03] sanswons commented on #438
I just tried running the same DSL as yours with the workshop setup.  It seems to be working fine. Could you try re-running your dsl with a clear env and use exactly the same set up as the workshop? Let me know if the issue still persists.

[2019-08-08 18:44] htahir1 commented on #210
@1025KB thanks for your reply! However, i think the question is still a bit unanswered: as TFX is supposed to be an end-to-end framework, the goal is to get a model at the end which can be used in production.

If we prepare the windowed (more specifically aggregated) data before running the pipeline, as you suggest, what do we do when we are getting live data in production, to serve predictions?

[2019-08-08 20:20] 1025KB commented on #210
oh, I see what you mean by windowing data

here are two separate problems

1) from raw data to tf examples (or sequence examples that we don't support yet)
2) group multiple tf examples into dataset (aka data span) for continuous training

all my comments above are talking about the second problem

the starting point (rpc request) of serving is tf.example, same as tfx pipeline components after Exa

[2019-08-09 07:37] valeriano-manassero commented on #437
@ruoyu90 I can confirm bug is fixed.

Btw, with current master, for docker image build to be succesfull, we should fix a third party license import.
I already created this: https://github.com/tensorflow/tfx/pull/426

Anyone can review it pls?

[2019-08-09 13:16] sseveran commented on #182
We would be happy with that if it also supports estimators. There are some still architectures we have not figured out how to create with Keras.

[2019-08-12 06:54] valeriano-manassero opened #457 "ImportExampleGen on Kubeflow not working"
After building tfx image on latest master, I just discovered using ImportExampleGen on Kubeflow results in:
[code]

[2019-08-12 06:58] valeriano-manassero opened #458 "Click library license"
During build of docker image, while importing third party licenses, there's an error regarding `Click package`.
This is due chenge of license url.

I submitted a very simple PR about this: https://github.com/tensorflow/tfx/pull/426

It's there for a while but never reviewed. It's considered useful or should I delete it?
Thank you for your support!

[2019-08-12 07:53] valeriano-manassero commented on #457
I proposed a quick fix for that https://github.com/tensorflow/tfx/pull/459 while waiting for b/132197968 implementation.

Do you think it's useful?

[2019-08-12 13:55] jaraco opened #463 "SCHEMA_EMPTY message in transform is truncated"
In [this code](https://github.com/tensorflow/tfx/blob/617bc5f3276700682920996e922fdd9486b857bf/tfx/components/transform/messages.py#L16-L17), the second portion of the error message is omitted from the message.

[2019-08-12 15:15] benkoller commented on #410
I took the liberty of adding a minimally-invasion attempt at mitigating this for both the orchestrator as well as the executor pipelines.

[2019-08-12 16:53] zhitaoli commented on #458
Sorry I was not able to reproduce it so it falls through the cracks. It
also seems that pypi package is case insensitive (i.e, `pip install click`
and `pip install Click` all results in the same result), so I think the
right way is to lower-case everything before comparison.

On Sun, Aug 11, 2019 at 11:58 PM Valeriano Manassero <
notifications@github.com> wrote:

--
Cheers,

Zhitao Li

[2019-08-12 18:33] gowthamkpr commented on #463
@jaraco Please create this pull request in the [tensorflow/transform](https://github.com/tensorflow/transform/pulls) repo as this PR is more suited to the Transform repo instead of TFX. Thanks!

[2019-08-12 20:02] #463 closed

[2019-08-12 20:20] sanswons commented on #458
The Click package is mentioned twice in the [tfx/tools/docker/third_party_licenses.csv](https://github.com/tensorflow/tfx/blob/master/tfx/tools/docker/third_party_licenses.csv). So you might want to remove one of them.

[2019-08-13 05:31] valeriano-manassero commented on #458
@zhitaoli The issue I have was related to click package not existent license url since it got updated.
So, it's true that pip is case insensitive and `Click` is the same of `click`.

With latest master I can build the image without issues license related so I'm going to remove my PR that is now useless.

Thank you for your support.

[2019-08-13 05:31] #458 closed

[2019-08-13 09:06] martin-laurent opened #472 "SchemaGen does not infer features' shape"
[It looks like SchemaGen's executor hard-codes the `infer_feature_shape` parameter to `False` in `tfdv.infer_schema`](https://github.com/tensorflow/tfx/blob/master/tfx/components/schema_gen/executor.py#L63)
This is the opposite from the default parameters.
This leads to all features to have no shape and consequently, the TFT function `schema_as_feature_spec` generates only `VarLenFeature` because

[2019-08-13 13:04] mfandre commented on #438
@sanswons @gowthamkpr worked cleaning up the env (delete folders from airflow processing). But I want to understand why it happens.

[2019-08-13 17:46] gowthamkpr commented on #472
@martin-laurent You can always change set  `schema_as_feature_spec ` to `True` based on your use case.  As for Why is it set to `False` by default @ruoyu90 Can you PTAL. Thanks!

[2019-08-13 19:19] krazyhaas commented on #457
+neuromage, WDYT?  How close is your CL to completing?

[2019-08-13 19:54] neuromage commented on #457
It's pretty close, but I think it's fine to merge this for now. I've gone ahead and done so.

[2019-08-13 19:59] ruoyu90 commented on #472
This is something that we're tracking. Will provide the option soon.

[2019-08-13 20:50] #457 closed

[2019-08-13 21:18] sanswons commented on #438
Well, something is definitely wrong with the statistics_gen output. But it is hard to point out why that happened. But if you could reproduce the issue or let us know steps you followed exactly earlier, it would be helpful.

[2019-08-14 02:26] mfandre commented on #438
I just changed the input CSV.

On Tue, Aug 13, 2019 at 6:18 PM Sanjana Woonna <notifications@github.com>
wrote:

--
att.
André de Mattos Ferraz

[2019-08-14 14:28] valeriano-manassero commented on #457
@krazyhaas do I need to do something more for merging or it's enough? (Sorry, these are my first steps here in tensorflow repos).

[2019-08-14 14:41] neuromage commented on #457
@valeriano-manassero sorry for the delay. We're having some issues with the automation for this. I'll get it merged by today for sure.

[2019-08-14 14:44] valeriano-manassero commented on #457
ok, ty guys!

[2019-08-14 18:22] 1025KB commented on #438
it would be good to verify the CSV to detect the issue

[2019-08-14 19:51] rummens commented on #322
That is a good question, that I stumbled across as well. I am not sure why this is but I believe the design decision was made for a reason.

Maybe @ruoyu90 can help with this?

[2019-08-15 11:48] mfandre commented on #438
Its very simple csv

A,b,c,d,e
1,10,20,1,1
2,20,40,2,2
3,30,60,3,1
4,40,80,4,2
5,50,100,5,1
6,60,120,6,2

After I changed to taxi example.

Em qua, 14 de ago de 2019 15:22, Jiayi Zhao <notifications@github.com>
escreveu:

[2019-08-15 17:50] robertlugg commented on #322
I see you can use the convenience function in the channel module:
[code]
, and that's fine.

I also believe we may be using 'upstream' and 'downstream' differently.  I consider a component which is 'downstream' to be the one which consumes some output from its 'upstream' "node".  I believe this is the more common convention.

[2019-08-16 11:24] jinnovation commented on #362
@neuromage: Thanks for the updates. I'd be eager to hear about any news that comes out of this. My team at Twitter is looking into adopting TFX for our own Airflow-based workflow product and I think a story around runtime parametrization with Airflow support will be crucial moving forward.

I see, for instance, that #373 introduces `RuntimeParameter`. Looking forward to seeing what new development

[2019-08-16 18:21] jinnovation opened #495 "Advice on migrating pre-existing Airflow operator ecosystem?"
My team at Twitter is looking to adopt TFX for our internal ML workflow product. To that effect, we have a small ecosystem of home-grown Airflow Operators that we'd like to be able to continue to use with ideally as little migration cost as possible.

Does the TFX team have any guidance/advice on ways to, say, "adapter-ize" Airflow Operators for the Component interface so that they can be used wit

[2019-08-16 18:29] zhitaoli commented on #495
Thanks for the interest, Jonathan. Really excited to hear that approach.

Before I answer the question in detail, can you please let us know what operators we need to migrate in the process? Specifically:
- Are these open-sourced operators or closed sourced;
- Do they affect control flow of Airflow (i,e, BranchPythonOperator)?
- Are their non-python code involved in these operators? If so what are

[2019-08-16 19:06] jinnovation commented on #495
Thanks @zhitaoli. Will try to answer as best I can; let me know where I can elaborate further.

We have a fleet of home-grown, closed-source Operators. These, I believe, are most commonly used, for a variety of reasons. We do not explicitly block users from using open-source "vanilla" Airflow Operators, but these, from what I understand, are used less frequently.

We have some that inherit from Br

[2019-08-16 23:33] #472 closed

[2019-08-16 23:48] zhitaoli opened #498 "Support branch/condition component"
The current data aware TFX pipeline and component does not support conditional execution or branching (consider the PythonBranchOperator in Airflow or Argo's [conditional](https://github.com/argoproj/argo/blob/master/examples/conditionals.yaml)). We should provide some support here.

@ruoyu90 @krazyhaas

[2019-08-16 23:51] zhitaoli commented on #495
Thanks for the answer, @jinnovation . cc @ruoyu90 who is also familiar with adapting TFX DSL and Airflow.

This is the current status, but @ruoyu90 etc are also considering a design to provide some kind of conditional branch support. One possible challenge is how to implement such a "component" on multiple orchestrators we support.
One possibility is to only support this on a subset of orchestrato

[2019-08-17 00:45] ruoyu90 commented on #495
Thanks @jinnovation and @zhitaoli ! I have some questions, please see inline:

If a component `C1` need to use the output `out_1` of another component `C2`, how is it realized in your system? Is it through something like xcom?

For BranchPythonOperator, my current thinking is that we might need to break it into two: one PythonOperator that handle the processing logic and one BranchPythonOperator t

[2019-08-18 18:54] JakeTheWise opened #500 "User module not found although it's properly specified"
My Transform component fails with the following error. Not sure if I'm doing something wrong or if it's a bug...

Local TFX build: https://github.com/tensorflow/tfx/commit/ef9b28b53af7d1c99bdde9dfbaab79a790429e69
TFX image used in pipeline: 0.14.0.dev20190818 from https://hub.docker.com/r/tensorflow/tfx/tags
Kubeflow: v0.5.0
Running on GKE

EDIT: The TFX image used is the release image on TFX Dock

[2019-08-19 14:12] jinnovation commented on #495
Yes, value transfer between tasks takes place via XCom. However, rather than each Operator Performing the pull within its own implementation, we implement a layer of flexibility that decouples the pull from the Operator itself, allowing for an interface very similar to that employed by TFX:

[code]

Passing such an XCom argument to our home-grown Operators in this way allows us to decouple Operato

[2019-08-19 16:45] neuromage commented on #500
@JakeTheWise thanks for the report. A few quick questions:
- were you using DataflowRunner for this?
- were you running the example chicago taxi pipeline or something else?
- did you build the image yourself from the commit, and have the pipeline point to this image? Or were you using release image on Dockerhub?

[2019-08-19 17:29] JakeTheWise commented on #500
- were you using DataflowRunner for this? No, I had trouble enabling the
   dataflow API so I was using whatever the default is. I can try dataflow
   again, though!
   - were you running the example chicago taxi pipeline or something else?
   No, I'm running a custom pipeline starting from some tfrecords with a
   custom tf.estimator.
   - did you build the image yourself from the commit, and hav

[2019-08-19 18:04] 1025KB commented on #500
Hi, It seems your transform can't access the module file (taxi_utils.py for taxi example), could you check if your module file is stored in gcp and setup correctly in python dsl

[2019-08-19 18:11] JakeTheWise commented on #500
The module file is correctly stored in GCP and is correctly getting accessed by my kubeflow pipeline. I've confirmed this by adding print statements to my `preprocessing_fn` in the module file, and I confirm these print statements appear in the kubeflow pipeline logs for the Transform component.

[2019-08-19 18:12] neuromage commented on #500
The code at a given commit is only guaranteed to be compatible with the image built from that commit. The image on dockerhub is pointing to version 0.13, and the commit you specified is nearly at HEAD, so many things have changed since. Hence I recommend building and using an image from the commit version you used. Can you try that and let us know if this problem still occurs?

[2019-08-19 18:15] 1025KB commented on #438
could you also upload the stats gen and schema gen's output files

[2019-08-19 18:20] JakeTheWise commented on #500
I'm using the `0.14.0.dev20190818` from DockerHub, which should be in sync with the TFX commit (https://github.com/tensorflow/tfx/commit/ef9b28b53af7d1c99bdde9dfbaab79a790429e69) I used to build the pipeline file, right? I'm still getting this KeyError.

[2019-08-19 21:16] JakeTheWise opened #505 "Error in StatisticsGen using Dataflow — Shuffle key too large"
My TFX pipeline on kubeflow fails at the StatisticsGen component with the following error. One of my features contains long strings potentially over 2MB, which could be the cause of the error according to StackOverflow (https://stackoverflow.com/a/49101242).

TFX docker image used: tensorflow/tfx:0.14.0.dev20190819 from https://hub.docker.com/r/tensorflow/tfx/tags
Kubeflow version: v0.5.0 on GKE
T

[2019-08-20 00:10] neuromage commented on #500
I'm not sure they're in sync. Would you mind trying the same pipeline using a later image? Say `0.14.0.dev20190819` instead?

[2019-08-20 01:03] ruoyu90 commented on #495
Thanks for the info @jinnovation ! I'd like to learn a little more details about what's been passed across components. Are those primarily URIs to resources (`artifacts` in the context of TFX) or other parameters that do not need to be materialized (`train_steps` for example)? If it's the former, do you think leveraging MLMD (which is used by TFX) is an option?

[2019-08-20 05:54] rmothukuru commented on #505
Please provide details about what platform you are using (operating system, architecture).

Make sure you also include the exact command if possible to produce the output included in your test case. If you are unclear what to include see the issue template displayed in [the Github new issue template](https://github.com/tensorflow/tensorflow/issues/new/choose).

We ask for this in the issue submiss

[2019-08-20 12:37] JakeTheWise commented on #505
@rmothukuru sure thing, sorry. So I just used a cloud kubeflow deployment using http://deploy.kubeflow.cloud so it runs on those defaults: k8s v1.11 on a two node cluster. I've listed the specific builds/images above. Is there something else you would find useful to help solve this bug?

[2019-08-20 17:39] jinnovation commented on #495
Yes, these are primarily resources to URIs. It is technically possible for somebody to pass values akin to `train_steps` from one task to the next, but this is rare and users tend to set such values via either runtime parametrization or as constants.

Absolutely.

[2019-08-20 18:25] 1025KB commented on #505
Is chicago taxi example works fine?

seems the feature are used as key and Dataflow doesn't allow a 2M size key.
I feel the feature that contain so many bits many not be good for training even you make it work with StatisticsGen, could you explain a little bit about the use case here?

[2019-08-20 23:00] jinnovation opened #513 "[Feature Request] Facilitate composition of "sub-pipelines," e.g. component collections"
I'm requesting constructs to facilitate the **composition of sub-pipelines**. This would enable platform owners using TFX to provide predefined sub-pipeline "recipes" that users can then piece together—passing relevant artifact references from one sub-pipeline to another—to form their final pipelines.

I'd be happy to contribute work towards this effort on behalf of my team if the TFX team does no

[2019-08-21 06:11] mfandre commented on #438
I don't have anymore, bcoz I delete the logs to try to run the workflow on
a "clean environment "

On Mon, Aug 19, 2019 at 3:15 PM Jiayi Zhao <notifications@github.com> wrote:

--
att.
André de Mattos Ferraz

[2019-08-21 11:47] valeriano-manassero opened #516 "Dev docker builds"
I noticed we got daily builds from master here: https://hub.docker.com/r/tensorflow/tfx/tags

Can I suggest to have _one_ tag for this automated build like `nightly` or `0.14.0.dev` or `dev` ?
This will result in not having a lot of tags that can be confusing for people not actively developing, moreover, production releases will not hide between many dev builds.

wdyt?

[2019-08-21 14:37] jinnovation commented on #182
@zhitaoli: Am I correct, then, in assuming that the current Estimator-centric Trainer Component would likely be updated in the near future to be Keras-centric instead?

[2019-08-21 16:44] zhitaoli commented on #516
This is definitely possible. @ucdmkt, do we foresee any major problem here, or do we even want to move the daily builds into a different docker image repository so it does not pollute main tags?

[2019-08-21 16:47] JakeTheWise commented on #505
I'm doing document classification, which is why the strings are so big. I thought I could use TFX/tf-transform to tokenize them, apply/compute vocabulary, and do TFIDF... maybe you can you think of a better way to accomplish this?

I tried running the chicago taxi example on the latest builds but it fails on the StatisticsGen component with the following error:
[code]

[2019-08-21 17:27] zhitaoli commented on #182
@jinnovation Yes we will provide a Keras-centric trainer too, but the actual timeline is also being worked as part of whole TF 2.0 support in TFX. We hope to communicate the phases of such support later this quarter. Please stay tuned.

[2019-08-21 17:37] 1025KB commented on #438
are you able to reproduce the error?

[2019-08-21 17:51] 1025KB commented on #505
This is due to in stats gen, we are trying to calculate the distribution and topK, what you can do is whitelist certain feature by using the [stats_options](https://github.com/tensorflow/data-validation/blob/master/tensorflow_data_validation/statistics/stats_options.py#L42) [here](https://github.com/tensorflow/tfx/blob/master/tfx/components/statistics_gen/executor.py#L70)

can this 2M string be bu

[2019-08-21 17:53] JakeTheWise commented on #500
Ok, I tried using `0.14.0.dev20190820` with 10586eff821ea972397d53461068884532917d5f (the latest commit to master on Aug 20) and got the same error.

[2019-08-21 18:19] 1025KB commented on #513
Hi, thanks for the proposal, we will discuss about this sub pipeline concept with the team

could you provide more context about your use case? based on my understanding, the 'sub-pipeline' here is not a hierarchical pipeline structure (e.g., sub-dag in airflow), it's more like part of the pipeline?

FYI, the componet_id is basically class name + optional unique name for multiple instance.

[2019-08-21 20:50] gaoning777 opened #518 "Chicago taxi pipeline fails for KFP"
I pulled the example from the 0.13.0 version and install the 0.13.0 SDK.
When I run it in the KFP(deployed Kubeflow 0.6.1), it failed with the following messages:
[code]

Looks like the e2e tests do not cover the chicago taxi pipeline for KFP.

[2019-08-21 21:54] JakeTheWise commented on #505
It's just the doc itself. I'm looking at your links to StatsOptions and the StatisticsGen Executor class. So you're saying if I pass the string column (or "doc" column rather) to `feature_whitelist`, it will solve the issue? I thought all features were whitelisted already by default.

[2019-08-21 22:31] neuromage commented on #518
@gaoning777 did you use taxi_utils.py from HEAD or from 0.13? That looks like an issue caused by taxi_utils.py version mismatch.

[2019-08-21 23:03] 1025KB commented on #505
I think you need to pass everything else to feature_whitelist to make it work based on the comment in the code.

[2019-08-22 14:29] jinnovation commented on #513
That's what I had in mind, yes. Essentially, it'd be an archetypal part of a pipeline that can be parametrized and combined with other parts to form the final, over-arching pipeline.

Happy to.

To first provide some context, my team at Twitter maintains an [internal ML-centric workflow orchestration platform](https://blog.twitter.com/engineering/en_us/topics/insights/2018/ml-workflows.html). With

[2019-08-22 16:17] zhitaoli commented on #513
Hi @jinnovation, thanks for bringing this up as a feature request.

As @1025KB pointed out, your case case seems satiable with a good pattern of flattened pipeline constructing methods. We are definitely happy to provide assistance and more helper functions to make this easier, as I think this mostly lands on pipeline-DSL compilation phase and the complexity should be controllable.

Meanwhile, the

[2019-08-22 22:31] gaoning777 commented on #518
After using the taxi_utils from 0.13, it works.

[2019-08-22 22:31] #518 closed

[2019-08-23 17:33] newtonle opened #531 "Macro/Default Variable support"
Is there any feature in TFX that provides similar functionality to Airflow Macros/Default Variables (see https://airflow.apache.org/macros.html)? We are looking at adopting TFX but our users rely on this Airflow feature. The main use case is to use it in template strings to associate a dagrun to different systems in our infra (for example, HDFS paths or experiment tracking identifiers).

If there

[2019-08-23 17:59] jinnovation commented on #513
Appreciate it. That's pretty much in line with my understanding of the scope here, so I'm glad your team also sees this as relatively manageable.

I'd say that our immediate use case would be plenty satisfied by "flattened pipeline constructing methods," as you put it. The idea of overall pipeline reuse, however, does seem to naturally follow, so I'd be interested in any related issues/proposals,

[2019-08-23 18:28] ruoyu90 commented on #495
Yep! Basically the `ChannelParameter` corresponds to *artifact* while `ExecutionParameter` corresponds to *execution properties*. You can think the former as URIs to resources that you might want to share across components. The latter is for normal parameter you would like to use within a component. In terms of outputs, we currently only support *artifact* but we're open to extend that.

Great! In

[2019-08-26 11:22] rmothukuru commented on #438
@mfandre ,
Can you please respond to @1025KB's comment so that we can work towards closure of your issue. Thanks!

[2019-08-26 19:50] mfandre commented on #438
Sorry guys, I will try to reproduce until friday.

Em qua, 21 de ago de 2019 14:37, Jiayi Zhao <notifications@github.com>
escreveu:

[2019-08-28 00:40] robertlugg opened #542 "Status of tf-nightly"
I am running tfx from git, so I installed tf-nightly.
When I imported it, I received the following message:
[code]

Is this anything to worry about?  Are their changes needed soon?

[2019-08-28 19:58] JeffersonH44 opened #552 "CsvExampleGen output to GCS"
How can I put an output to GCS using CsvExampleGen? I have the following code:

[code]

but the bucket is empty after the `CsvExampleGen` component runs (and it ends with success). Also I'm running everything on Cloud Dataflow.

I'm using:
[code]

[2019-08-29 03:04] gzpyy commented on #396
I followed the steps mentioned on  https://www.tensorflow.org/tfx/tutorials/tfx/workshop and still found the same problem. The workaround for me is to clone the r0.13 branch of tfx.
`git clone -b r0.13 https://github.com/tensorflow/tfx.git`

@charlesccychen @ajit-kumar-azad

[2019-08-29 03:33] zhitaoli commented on #396
Yes that is the right thing to do. Because we are still in 0.x versions and occasionally introduces breaking changes, we will ensure examples cloned from each released branch works with the released package version, and back port fixes if necessary.

[2019-08-29 14:37] JakeTheWise commented on #552
Probably isn't the issue but looks like you have a typo where you intend to set `eval_type`'s `uri`.

[2019-08-29 14:39] rmothukuru commented on #552
@JeffersonH44 ,
Can you please let us know if @JakeTheWise's comment helped you. Thanks!

[2019-08-29 15:02] JeffersonH44 commented on #552
@JakeTheWise yes, I tested it and is not the issue. Thanks!

[2019-08-29 21:39] wsuchy opened #560 "AttributeError: as_feature_spec: The tutorial code doesn't work"
When executing the code, here: https://github.com/tensorflow/tfx/blob/f665ff8756093afe225f948e87c7a439bf78c562/docs/tutorials/transform/census.ipynb#L646
I am getting an error:
`RAW_DATA_METADATA.schema` has no attribute / method  called `as_feature_spec()`.
You can replace that line with `RAW_DATA_FEATURE_SPEC` but it is not the point.

Why that method isn't avail anymore and what to use as a rep

[2019-08-29 23:03] robertlugg commented on #542
ok, it sounds like you are aware of the change coming in tf-nightly.  Feel free to close this issue if you are tracking the tf-nightly change elsewhere.

[2019-08-30 05:11] rmothukuru commented on #552
@JeffersonH44 ,
Can you please confirm if your issue is resolved. Thanks!

[2019-08-30 06:07] rmothukuru commented on #542
Closing the issue as it has been resolved.

[2019-08-30 06:07] #542 closed

[2019-08-30 10:38] rmothukuru commented on #560
Could reproduce this error in Google Colab.

Couldn't assign it to @mzinkevi or @charlesccychen, hence assigning to @1025KB.

[2019-08-30 11:29] JeffersonH44 commented on #552
No

[2019-08-30 12:12] rmothukuru commented on #552
Couldn't assign to @charlesccychen.

[2019-08-30 14:56] KesterTong commented on #560
See the release notes: https://github.com/tensorflow/transform/blob/master/RELEASE.md#breaking-changes-1

In most cases you can follow the examples, note that if the metadata came from TFTransformOutput.raw_metadata or transformed_metadata then you can use the corresponding methods raw_feauture_spec, raw_domains, transformed_feature_spec and transformed_domains.

You can also use schema_utils to c

[2019-08-30 15:52] mfjackson commented on #28
@zhitaoli I appreciate your work on this! However, could you explain what you mean by csv files having the same **span** and **version**? Using v0.13.0, I split the taxi data from the developer tutorial into two separate csv's, both with the same headers and schema, and attempted to load them using CsvExampleGen, but get the following `RunTimeError`:

`ERROR - Only one file per dir is supported`

[2019-08-30 22:34] charlesccychen commented on #552
Hey @JeffersonH44, we recently released version 0.14 RC 1 (see here: https://pypi.org/project/tfx/#history).  Can you install tfx==0.14.0rc1 and try again?  Also, does this work with the local Beam DirectRunner?

[2019-09-01 14:41] JakeTheWise commented on #500
@neuromage any update on this?

[2019-09-02 06:20] zhitaoli opened #571 "Support user provided schema"
In many cases, a schema file will be provided by the user. It's often the case the schema file would be created by SchemaGen, but then gets additional modification and blessing from user. The pipeline would use this user provided schema from that point.

[2019-09-03 11:20] valeriano-manassero commented on #321
@gilbblig Maybe this can be useful. I just started a collection of on premise Kubeflow TFX pipelines:
https://github.com/valeriano-manassero/tfx-kubeflow-pipelines

There's also a Cifar-10 dataset pipeline.

[2019-09-03 11:24] valeriano-manassero opened #572 "Kubeflow TFX on premise examples"
Hi,
I don't want to spam anything but I just started a repo containing a collection of Kubeflow TFX on premise pipelines: https://github.com/valeriano-manassero/tfx-kubeflow-pipelines

Actually I just have an "Iris" dataset pipeline and a "Cifar-10" one (using Keras model_to_estimator).

I will continue to add and improve pipelines while I'm experimenting them.

There's a chance this repo referenc

[2019-09-03 16:36] valeriano-manassero opened #573 "`Empty` Component"
I'm looking for a way to get an "empty" component that simply start a function from an `utils.py` file.

I'm aiming to use a component like that to download and extract data before using an `ImportExampleGen` on them, or to convert a model to Lite version after I got it pushed by a `Pusher`.

I think there can be a lot of use cases for that.
There's an easy way to achieve this or I need to write a

[2019-09-03 22:42] robertlugg commented on #421
Hi @1025KB , I was curious if you have made any progress.  Or, if you can give me a conceptual understanding of how this could be done?  For instance, the taxicab demo takes in a directory into CsvExampleGen.  Would that be change to take in individual files?  Or individual lines?

WIth the idea of line-by-line processing.  If each line operation takes a large amount of time could I also data-dist

[2019-09-04 16:15] ruoyu90 commented on #572
@valeriano-manassero Thanks! Really glad to see those examples. Feel free to send us PRs on those examples and let's discuss which examples to bring in to present new scenarios :)

[2019-09-04 17:43] robertlugg commented on #573
Could you do this by creating a "trigger", for lack of a better term?  Create a channel that doesn't move data but instead moves a boolean in and out of your component.  This would allow it to be included in your pipeline and be called at the right time.

[2019-09-05 06:38] valeriano-manassero opened #583 "Custom executor"
According to https://www.tensorflow.org/tfx/guide/examplegen
it's possible to use a custom Executor in this way:
[code]

I'm confused about that, FileBasedExampleGen doesn't accept `executor_class` as a parameter.
Maybe I should use `custom_executor_spec`?

I'm also not sure about how to import this class into the pipeline itself. AS far as I know `ExampleGen` components lack the `module_file` pro

[2019-09-05 06:40] valeriano-manassero commented on #573
I tried this solution without success so I was wondering if a custom Executor can be the solution, btw I'm still stuck ( https://github.com/tensorflow/tfx/issues/583 ).
Thank you for your support, I will investigate further.

[2019-09-05 06:44] valeriano-manassero commented on #572
@ruoyu90 since I'm currently working on Kubeflow on premise only, my examples will not cover every use case like *taxi pipeline*.
I think it'll be better to simply mention my repo in docs, maybe creating a `contrib` section.
wdyt?

[2019-09-05 16:39] hongye-sun commented on #583
@valeriano-manassero, executor_class was changed to custom_executor_spec in https://github.com/tensorflow/tfx/commit/3069981910a5011ddac86a01ad90a11d637ede5b. We will update the doc to reflect the change soon.

Instead of writing `executor_class=executor.Executor`, you need to write `custom_executor_spec=executor_spec.ExecutorClassSpec(executor.Executor)`.

Importing executor class is like importi

[2019-09-05 17:14] ruoyu90 commented on #583
@valeriano-manassero Thanks for the feedback! In addition to @hongye-sun 's point, module_file is a special thing that currently only Transform and Trainer need. The module_file contains the user logic to execute in components. IIUC your use case is to have a customized ExampleGen, in this case, overriding the executor through custom_executor_spec like @hongye-sun mentioned is the best choice. If

[2019-09-05 17:42] ruoyu90 commented on #573
@valeriano-manassero @robertlugg thanks for the feedback!

Seems this can be solved by custom executor in `ImportExampleGen` if the component interface stays the same. Otherwise, a custom component might be needed.

Assuming you'll want the Lite version model to be an output of a component? In this case, you'll need to compose a custom component to take trainer's output (model_export) and convert